n8n/utilitarios/PRD Creator - Lovable.json
{"updatedAt":"2026-03-04T14:35:15.739Z","createdAt":"2026-01-16T13:58:56.918Z","id":"qwHMa8j64Mh1hjN6","name":"PRD Creator - Lovable","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Nome do Produto - {{ $json['Nome do Produto']}}\nOverview do produto - {{ $json['Overview do Produto'] }}\nPersona - {{ $json.Personas || 'Não informado' }}\nObjetivo- {{ $json.Objetivo|| 'Não informado' }}\nRequisitos funcionais - {{ $json['Requisitos funcionais'] || 'Não informado' }}","messages":{"messageValues":[{"message":"=You are an expert product manager and technical writer.  \nYour task is to generate a clear, structured **Product Requirements Document (PRD)** in **Markdown format**.  \nThe PRD should be professional, concise, and easy to share with engineers, designers, and stakeholders and adapt for AI Vibe Coding Tools like Lovable for example.  \n\nUse Information provided by User prompt to Understand the requirement and try to go deep in filing all section.\n\n### Formatting Rules\n- Use proper Markdown headers (`#`, `##`, `###`) for sections.  \n- Use bullet points or numbered lists where appropriate.  \n- Keep language clear and action-oriented.  \n- Do not include explanations of what a PRD is.\n\n### PRD Template \nUSE COMO EXEMPLO ABAIXO - VOCÊ DEVE DEFINIR OS REQUISITOS DA MELHOR FORMA\n# PRD ESTRUTURADO - FLWOGRAMMERS\n\n## 1. Visão Geral\n\nO **Flwogrammers** é uma plataforma web completa e automatizada para criação, gestão e emissão de certificações profissionais online. A aplicação resolve um problema crítico de escala e credibilidade em processos de avaliação e certificação, que tradicionalmente são manuais, lentos e suscetíveis a erros. Empresas, instituições de ensino e profissionais independentes que precisam validar conhecimentos específicos (como proficiência em uma ferramenta de software, compliance regulatório ou competências técnicas) enfrentam dores como a logística complexa de aplicar provas presenciais, a demora na correção e emissão de certificados, a falta de um sistema centralizado para histórico dos candidatos e a dificuldade em garantir a integridade e o controle de acesso aos exames. O Flwogrammers automatiza todo esse fluxo, desde a criação da prova até o envio do certificado por e-mail, em um ambiente seguro, auditável e com experiência otimizada para ambos os lados: o administrador que gerencia o processo e o aluno que busca a certificação.\n\nA solução funciona através de um ecossistema integrado onde administradores, em um painel dedicado, podem criar certificações, elaborar provas com questões de múltipla escolha, definir critérios rígidos de aprovação e gerar vouchers com prazo de validade para controle de acesso. Os alunos, por sua vez, acessam um portal onde visualizam as certificações disponíveis, utilizam um voucher único para desbloquear uma prova, realizam o exame em uma interface controlada e recebem o resultado imediatamente. Caso aprovados, um certificado em PDF com código de verificação único é gerado e enviado automaticamente para seu e-mail, sem qualquer intervenção manual. O sistema garante imutabilidade dos resultados, validação estrita dos vouchers e um histórico permanente para ambas as partes.\n\nO público-alvo primário são **Administradores de Treinamento e Certificação** (em empresas de tecnologia, consultorias, escolas de cursos livres e associações profissionais) e **Instrutores/Conteudistas Independentes**. Eles buscam eficiência operacional, redução de custos com processos manuais e um sistema confiável que dê credibilidade às suas certificações. O público secundário são **Alunos e Profissionais** que buscam certificar suas habilidades para progressão na carreira, comprovação de conhecimentos para clientes ou cumprimento de requisitos de qualificação. Suas dores incluem a burocracia para agendar provas, a incerteza sobre prazos de recebimento do certificado e a dificuldade em gerenciar um portfólio de certificações obtidas.\n\nOs principais diferenciais do Flwogrammers são: **1. Automação de Ponta a Ponta**, eliminando etapas manuais desde a inscrição até o envio do certificado; **2. Controle Granular via Vouchers**, permitindo gestão precisa de acesso, prazos e vinculação a certificações específicas; **3. Geração e Entrega Automática de Certificados**, com código verificável, assegurando autenticidade e experiência imediata para o aprovado; **4. Arquitetura Imutável**, onde provas e resultados são registros permanentes e inalteráveis, garantindo a integridade auditável do processo; e **5. Stack Moderna e Unificada (React + Supabase)**, que oferece desenvolvimento ágil, segurança robusta nativa e baixa necessidade de manutenção, tudo sem depender de bibliotecas pagas.\n\n## 2. Funcionalidades\n\n### 2.1 Perfis de Usuário\n\n| Perfil | Registro | Permissões | Acessos Principais |\n|---|---|---|---|\n| **Administrador (Super Admin)** | E-mail corporativo e senha via Supabase Auth. | Controle total do sistema. Pode criar/gerenciar todos os recursos, usuários e acessar todos os dados. | Painel Admin completo: Dashboard, Gestão de Certificações, Criação de Provas e Questões, Gerenciamento de Vouchers, Relatórios de Aprovação/Reprovação, Histórico Completo de Alunos, Configurações do Sistema. |\n| **Aluno (Candidato)** | E-mail pessoal/profissional e senha via Supabase Auth. | Permissões restritas ao seu próprio perfil e às ações de realização de prova. | Página do Aluno: Visualização de Certificações Disponíveis, Inserção de Voucher para Acesso à Prova, Interface de Realização da Prova, Histórico Pessoal de Tentativas, Status de Aprovação/Reprovação, Download de Certificados Emitidos. |\n| **Gestor de Conteúdo (Admin Especializado)** | E-mail corporativo e senha, criado por um Super Admin. | Permissões focadas na criação e gestão de conteúdo educacional e avaliações. Não gerencia usuários ou configurações gerais do sistema. | Módulos de Criação e Edição de Certificações, Criação e Edição de Provas, Elaboração de Banco de Questões, Definição de Critérios de Aprovação, Visualização de Resultados das Provas que criou. |\n| **Auditor (Somente Leitura)** | E-mail corporativo e senha, criado por um Super Admin. | Permissões estritas de visualização (read-only) para todos os dados de certificações, provas, resultados e alunos. | Acesso a relatórios completos, listagens de aprovados/reprovados, histórico detalhado de todas as provas realizadas e detalhes de certificados emitidos. Para fins de auditoria e compliance. |\n\n### 2.2 Módulos do Sistema\n\n1.  **Módulo de Autenticação & Autorização** - Gerencia o registro, login e sessão dos usuários utilizando Supabase Auth. Define e aplica políticas de acesso baseadas em perfis (Admin/Aluno), redirecionando cada um para sua área correspondente. Inclui recuperação de senha.\n2.  **Painel de Controle Administrativo (Dashboard Admin)** - Visão geral para o administrador com KPIs em tempo real: total de certificações, provas aplicadas, taxas de aprovação/reprovação, vouchers ativos/vencidos e gráficos de atividade recente. Ponto central de monitoramento.\n3.  **Gestão de Certificações** - Módulo central para cadastro de novas certificações (título, descrição, imagem) e sua manutenção. Cada certificação é o \"produto\" final que o aluno busca obter.\n4.  **Gestão de Provas & Banco de Questões** - Permite criar provas e associá-las a uma certificação. Oferece um editor robusto para adicionar questões de múltipla escolha (texto, 4+ alternativas, marcação da correta). Funciona como um banco de questões reutilizáveis.\n5.  **Gestão de Critérios & Configurações de Prova** - Define o percentual mínimo de acerto para aprovação de cada prova. Configura regras como tempo limite (se aplicável) e número de tentativas permitidas.\n6.  **Gestão de Vouchers** - Sistema de controle de acesso onde o admin gera códigos de voucher únicos, associando-os a uma certificação específica e definindo datas de validade (início e fim). Permite listar, filtrar e invalidar vouchers.\n7.  **Módulo de Aplicação de Provas (Aluno)** - Interface segura onde o aluno, após validar um voucher, realiza a prova. Pode exibir uma questão por vez ou todas juntas. Timer e prevenção de navegação podem ser implementados.\n8.  **Sistema de Correção Automática & Cálculo de Nota** - Processa as respostas submetidas pelo aluno, compara com o gabarito armazenado, calcula a pontuação percentual e determina instantaneamente a aprovação ou reprovação com base no critério definido.\n9.  **Módulo de Emissão de Certificados** - Gera automaticamente um certificado em PDF para alunos aprovados. O documento inclui nome do aluno, certificação, data, código único de verificação e uma assinatura digital da plataforma. Integra-se ao serviço de e-mail.\n10. **Sistema de Notificação por E-mail** - Envia comunicações automáticas utilizando Resend. Notifica o aluno sobre aprovação com o certificado em anexo, reprovação, confirmação de inscrição na prova e lembretes de voucher próximo do vencimento.\n11. **Histórico & Relatórios** - Armazena de forma imutável todas as tentativas de prova (data, nota, resultado). Oferece ao admin relatórios filtrados por certificação, período ou aluno, e ao aluno uma visão do seu próprio histórico e certificados conquistados.\n12. **Página do Perfil do Aluno** - Área pessoal onde o aluno gerencia suas informações de conta, visualiza seu progresso, acessa o histórico de provas e faz o download dos certificados já emitidos para ele.\n\n### 2.3 Páginas Principais\n\n| Página | Módulo Principal | Descrição | Elementos-Chave da Interface |\n|---|---|---|---|\n| **Login / Cadastro** | Autenticação | Página de entrada única para Admin e Aluno. Formulários para login (e-mail/senha) e registro de novo usuário (tipo aluno). | Campos de e-mail e senha, botão \"Entrar\", link \"Criar conta\", link \"Esqueci minha senha\", logo da plataforma. |\n| **Dashboard Admin** | Painel Admin | Homepage do administrador após o login. Apresenta uma visão macro da saúde e atividade da plataforma. | Cards de KPIs (Total Certificações, Provas Hoje, Taxa Aprovação), gráfico de atividades recentes, lista de últimas provas realizadas, acesso rápido aos principais módulos. |\n| **Certificações (Admin)** | Gestão de Certificações | Listagem e gestão de todas as certificações criadas na plataforma. | Tabela listando certificações, botão \"Nova Certificação\", filtros, ações (Editar, Ver Detalhes, Gerenciar Provas). Modal/Formulário de criação/edição. |\n| **Criar Prova** | Gestão de Provas | Página para criação de uma nova prova ou edição de uma existente. | Seleção da certificação associada, campo para título/descrição da prova, seletor de % mínima para aprovação, seção para adicionar/gerenciar questões do banco. |\n| **Banco de Questões** | Gestão de Provas | Repositório central de todas as questões de múltipla escolha criadas. | Tabela de questões com filtros por certificação/tag, barra de busca, botão \"Nova Questão\". Editor de questão com campos para enunciado, alternativas e marcação da correta. |\n| **Gerenciar Vouchers** | Gestão de Vouchers | Painel para criação, visualização e controle dos códigos de acesso. | Botão \"Gerar Voucher\", formulário para definir certificação, quantidade e validade. Tabela listando vouchers com código, status (ativo/uso/vencido), ações (Invalidar). |\n| **Relatórios de Resultados** | Histórico & Relatórios | Página para análise de desempenho dos alunos por certificação ou prova. | Filtros avançados (data, certificação, resultado). Tabelas e gráficos com lista de aprovados/reprovados, notas médias, estatísticas. Opção de exportar dados. |\n| **Catálogo de Certificações (Aluno)** | Módulo de Provas | Página inicial do aluno, exibindo todas as certificações disponíveis para ele tentar. | Cards visuais para cada certificação (título, imagem, descrição resumida). Botão \"Saber Mais\" e \"Iniciar Prova\" (que aciona a validação por voucher). |\n| **Realizar Prova** | Módulo de Provas | Interface limpa e focada para a realização do exame. Timer visível (se aplicável). | Exibição da questão atual, alternativas de resposta (radio buttons), botões de navegação (\"Anterior\", \"Próxima\", \"Enviar Prova\"). Barra de progresso. |\n| **Meu Histórico (Aluno)** | Página do Perfil | Área onde o aluno acompanha todas as suas tentativas e certificados conquistados. | Abas ou seções para \"Provas Realizadas\" (tabela com data, certificação, nota, status) e \"Meus Certificados\" (lista com links para download do PDF). |\n\n## 3. Processos de Navegação e Fluxo\n\n**Administrador (Super Admin):**\n1.  **Login:** Acessa a página de login, insere credenciais e é autenticado via Supabase.\n2.  **Dashboard:** É redirecionado para o Dashboard Admin, onde vê um resumo das atividades.\n3.  **Configuração Inicial:** Acessa \"Certificações\" para criar a primeira certificação (ex: \"Certificação em Segurança da Informação\").\n4.  **Criação da Avaliação:** Navega para \"Criar Prova\", associa-a à certificação criada, define 70% como nota mínima e usa o \"Banco de Questões\" para adicionar 20 questões à prova.\n5.  **Controle de Acesso:** Vai para \"Gerenciar Vouchers\", gera 50 códigos válidos por 30 dias e os distribui para os candidatos.\n6.  **Monitoramento:** Durante o período de provas, monitora os \"Relatórios de Resultados\" para ver aprovados/reprovados em tempo real.\n7.  **Auditoria:** Finalmente, usa a visão de \"Histórico Completo\" para auditar qualquer tentativa de prova específica, se necessário.\n\n**Aluno (Candidato):**\n1.  **Login/Cadastro:** Cria uma conta ou faz login com seu e-mail e senha.\n2.  **Exploração:** Na sua página inicial (\"Catálogo de Certificações\"), visualiza as opções disponíveis.\n3.  **Início do Processo:** Clica em \"Iniciar Prova\" na certificação desejada. O sistema solicita o **código do voucher**.\n4.  **Validação:** Insere o código recebido. O sistema valida (existência, validade, certificação correta) e, se válido, libera o acesso.\n5.  **Realização da Prova:** É direcionado para a página \"Realizar Prova\". Responde a todas as questões e submete.\n6.  **Resultado Imediato:** A correção é automática. A página de resultado é exibida instantaneamente mostrando \"Aprovado\" ou \"Reprovado\", junto com a nota.\n7.  **Conclusão (Se Aprovado):** Recebe um e-mail automático com o certificado em PDF anexado. Pode acessar \"Meu Histórico\" a qualquer momento para baixar novamente o certificado ou ver seu registro.\n\n**Gestor de Conteúdo:**\n1.  **Login:** Acessa o sistema com suas credenciais restritas.\n2.  **Dashboard Específico:** Vê um dashboard focado no conteúdo sob sua responsabilidade.\n3.  **Gestão do Banco:** Acessa o \"Banco de Questões\" para criar novas questões ou editar existentes para suas áreas.\n4.  **Atualização de Provas:** Navega para \"Criar Prova\" para revisar e atualizar as avaliações das certificações que gerencia.\n5.  **Análise de Resultados:** Consulta relatórios filtrados apenas para as provas de seu conteúdo, analisando o desempenho dos alunos para identificar questões problemáticas ou tópicos que necessitam de melhor abordagem.\n\n═══════════════════════════════════════════════════════════\nPARTE 2A: DESIGN UI + DIAGRAMAS\n═══════════════════════════════════════════════════════════\n\n# CONTINUAÇÃO - DESIGN UI ULTRA DETALHADO\n\n## 4. Diagrama de Fluxo Completo (25 Nós)\n\n```mermaid\ngraph TD\n    A[Login/Registro] --> B{Autenticação Válida?}\n    B -->|Não| C[Exibir Erro + Retry]\n    B -->|Sim| D{Perfil Detectado}\n    \n    D -->|Admin| E[Dashboard Admin]\n    D -->|Instrutor| F[Dashboard Instrutor]\n    D -->|Aluno| G[Dashboard Aluno]\n    \n    %% FLUXO ADMIN\n    E --> H[Visão Geral Plataforma]\n    H --> I{Gerenciar}\n    I -->|Usuários| J[CRUD Usuários + Permissões]\n    I -->|Cursos| K[CRUD Cursos + Módulos]\n    I -->|Certificados| L[Modelos + Validações]\n    I -->|Financeiro| M[Transações + Relatórios]\n    J --> N[Notificações Push]\n    K --> O[Publicar/Arquivar]\n    L --> P[Emitir em Lote]\n    M --> Q[Exportar CSV/PDF]\n    \n    %% FLUXO INSTRUTOR\n    F --> R[Meus Cursos]\n    R --> S{Criar/Editar}\n    S -->|Avaliação| T[Configurar Prova]\n    S -->|Conteúdo| U[Upload Materiais]\n    T --> V[Definir Regras + Nota Corte]\n    U --> W[Organizar Módulos]\n    V --> X[Preview Certificado]\n    W --> Y[Agendar Publicação]\n    \n    %% FLUXO ALUNO\n    G --> Z[Catálogo Cursos]\n    Z --> AA[Inscrever-se]\n    AA --> AB[Área de Estudos]\n    AB --> AC{Acesso Conteúdo}\n    AC -->|Estudar| AD[Player Video/Aulas]\n    AC -->|Avaliar| AE[Realizar Prova]\n    AD --> AF[Progresso Salvo]\n    AE --> AG{Resultado}\n    AG -->|Aprovado| AH[Gerar Certificado]\n    AG -->|Reprovado| AI[Retry Policy]\n    AH --> AJ[Download/Compartilhar]\n    AI --> AK[Feedback + Retomar]\n    \n    %% SISTEMA CENTRAL\n    AH --> AL[Sistema de Emissão]\n    AL --> AM[Blockchain Registry?]\n    AM --> AN[QR Code + Validação]\n    AN --> AO[Histórico Permanente]\n    \n    %% NOTIFICAÇÕES\n    N --> AP[Email/SMS/In-App]\n    AJ --> AP\n    P --> AP\n    \n    style A fill:#2563EB,color:#fff\n    style E fill:#10B981,color:#fff\n    style F fill:#F59E0B,color:#000\n    style G fill:#8B5CF6,color:#fff\n    style AH fill:#059669,color:#fff\n```\n\n## 5. Design Interface\n\n### 5.1 Estilo Visual Expandido\n\n**Sistema de Cores Hierárquico:**\n```\nPRIMÁRIAS:\n- #2563EB (Azul corporativo) - Ações principais, brand identity\n- #1E40AF (Azul escuro) - Hover states, active elements\n- #DBEAFE (Azul claro) - Backgrounds, highlights\n\nSECUNDÁRIAS:\n- #10B981 (Verde sucesso) - Conclusões, aprovações\n- #047857 (Verde escuro) - Progress bars, status\n- #D1FAE5 (Verde claro) - Success backgrounds\n\nACENTOS:\n- #F59E0B (Laranja alerta) - Avisos, pendências\n- #DC2626 (Vermelho erro) - Falhas, reprovações\n- #8B5CF6 (Roxo premium) - Features avançadas\n\nNEUTROS (Escala completa):\n- #0F172A (Neutral-900) - Texto primário\n- #1E293B (Neutral-800) - Texto secundário\n- #334155 (Neutral-700) - Texto terciário\n- #475569 (Neutral-600) - Ícones, borders\n- #64748B (Neutral-500) - Placeholders\n- #94A3B8 (Neutral-400) - Disabled states\n- #E2E8F0 (Neutral-200) - Dividers, lines\n- #F1F5F9 (Neutral-100) - Cards background\n- #FFFFFF (Branco) - Main background\n```\n\n**Sistema Tipográfico Detalhado:**\n```\nFONTE: Inter (Google Fonts) - 300/400/500/600/700\n\nHIERARQUIA:\n- H1: 32px/1.2 (700) - Page titles\n- H2: 28px/1.3 (600) - Section headers\n- H3: 24px/1.4 (600) - Card titles\n- H4: 20px/1.4 (500) - Subsection headers\n- H5: 18px/1.5 (500) - Widget titles\n- Body Large: 18px/1.6 (400) - Lead paragraphs\n- Body: 16px/1.6 (400) - Main content\n- Body Small: 14px/1.5 (400) - Captions, metadata\n- Caption: 12px/1.4 (400) - Labels, timestamps\n\nESPECÍFICOS:\n- Button Text: 14px/1 (500) uppercase\n- Input Labels: 14px/1.4 (500)\n- Table Headers: 13px/1.3 (600) uppercase\n```\n\n**Sistema de Componentes Avançado:**\n\n```\nBOTÕES (8px border-radius):\n- Primary: bg-primary-600, hover:primary-700, 44px height\n- Secondary: bg-transparent, border-2 primary-600, hover:bg-primary-50\n- Ghost: text-primary-600, hover:bg-primary-50\n- Danger: bg-red-600, hover:red-700\n- Success: bg-green-600, hover:green-700\n- Sizes: SM(36px), MD(44px), LG(52px)\n\nCARDS (12px border-radius):\n- Elevation Levels:\n  * Level 1: shadow-sm (hover:shadow)\n  * Level 2: shadow-md (hover:shadow-lg)\n  * Level 3: shadow-lg (hover:shadow-xl)\n- Padding: 24px default, 16px condensed\n- Header: border-b, 20px padding-bottom\n\nINPUTS & FORMS:\n- Height: 44px (padrão WCAG)\n- Border: 1px neutral-300, focus:2px primary-500\n- Radius: 6px\n- States: focus/error/success/disabled\n- Labels: 14px, 4px margin-bottom\n- Help text: 12px neutral-500\n\nMODAIS & OVERLAYS:\n- Backdrop: bg-black/50 backdrop-blur-sm\n- Modal: max-w-2xl, center screen\n- Header: sticky, border-b, 24px padding\n- Body: 32px padding, scrollable\n- Footer: sticky, border-t, 20px padding\n\nNAVEGAÇÃO:\n- Sidebar: 280px width, bg-neutral-900, text-white\n- Collapsed: 72px width, icons only\n- Active State: bg-primary-600, border-l-4\n- Hover: bg-neutral-800\n- Breadcrumbs: 14px, separator: \"/\"\n\nTABELAS:\n- Header: bg-neutral-50, 13px uppercase\n- Rows: hover:bg-neutral-50\n- Striped: even:bg-neutral-25\n- Padding: 16px vertical, 24px horizontal\n- Border: 1px neutral-200\n```\n\n### 5.2 Tabela de Páginas Detalhada (12 Páginas)\n\n| Página | Módulo | UI Principal | Componentes Críticos | Interações & Micro-interações |\n|--------|--------|--------------|---------------------|-------------------------------|\n| **Dashboard Admin** | Analytics | Grid 3x3 cards, Charts, Activity feed | KPI animated counters, Quick action buttons, Real-time stats | Hover card elevation, Click drilldown, Drag to rearrange widgets, Live updates |\n| **Gerenciar Usuários** | User Management | Data table with filters, Bulk actions, User cards | Advanced filters, Role badges, Status toggles, Export dropdown | Row selection highlight, Bulk edit overlay, Quick role change, Search as you type |\n| **Criar Curso** | Course Builder | Drag-drop modules, WYSIWYG editor, Preview panel | Module cards, Content blocks, Media uploader, Timeline editor | Drag visual feedback, Auto-save indicator, Preview sync, Validation tooltips |\n| **Configurar Avaliação** | Assessment Engine | Question bank, Rule builder, Scoring matrix | Question types selector, Timer settings, Passing score slider | Drag questions, Rule validation, Score simulation, Preview certificate |\n| **Emitir Certificados** | Certificate Manager | Batch processor, Template gallery, Preview modal | Template editor, Batch selector, Status progress bar | Batch progress animation, Template live preview, Drag signature, QR code generator |\n| **Área do Aluno** | Learning Portal | Course carousel, Progress tracker, Upcoming deadlines | Progress rings, Continue watching, Achievement badges | Progress animation, Card hover effects, Quick resume, Notification dots |\n| **Player de Aula** | Content Player | Video controller, Sidebar notes, Speed controls | Transcript sync, Bookmark button, Note timestamp | Playback speed visual, Note highlight sync, Progress save indicator |\n| **Realizar Prova** | Assessment Interface | Full-screen mode, Question navigator, Timer display | Question flag, Calculator overlay, Formula helper | Timer pulse warning, Question state indicators, Auto-save answers |\n| **Resultados** | Grading System | Score breakdown, Correct answers, Certificate preview | Performance charts, Comparison metrics, Share buttons | Score reveal animation, Certificate 3D flip, Social share overlays |\n| **Financeiro** | Billing & Reports | Invoice table, Revenue charts, Payout dashboard | Invoice generator, Payout status, Tax calculator | Chart hover details, Invoice preview, Payout request animation |\n| **Configurações** | Platform Settings | Tab navigation, Toggle groups, Import/Export | Theme selector, Webhook config, API keys manager | Theme live preview, Toggle animations, API key copy feedback |\n| **Notificações** | Comms Center | Inbox interface, Template builder, Send scheduler | Notification logs, Template variables, Schedule calendar | Send preview, Schedule drag-drop, Read/unread animations |\n\n### 5.3 Responsividade Ultra-Detalhada\n\n**DESKTOP (≥1200px) - Experiência Completa:**\n```\nLayout:\n- Grid: 12 colunas, 24px gutter\n- Sidebar: 280px fixed, bg-neutral-900\n- Main: calc(100vw - 280px), 1440px max-width\n- Header: 64px sticky, shadow-sm\n\nInterações:\n- Hover states em todos elementos interativos\n- Drag & drop completo (reordenar módulos, widgets)\n- Keyboard navigation (Tab, Arrow keys, shortcuts)\n- Right-click context menus\n- Multi-select com Shift/Ctrl\n- Tooltips em hover delay 300ms\n\nPerformance:\n- Lazy loading de imagens abaixo do fold\n- Virtual scrolling para tabelas 100+ linhas\n- WebGL para gráficos complexos\n```\n\n**TABLET (768px-1199px) - Experiência Otimizada:**\n```\nLayout:\n- Grid: 8 colunas, 16px gutter\n- Sidebar: 72px collapsed (ícones only)\n- Main: calc(100vw - 72px)\n- Header: 56px, search move to drawer\n- Cards: switch para 2-col layout\n\nTouch Gestures:\n- Swipe left/right para navegar entre tabs\n- Pull-to-refresh em listas\n- Pinch zoom em gráficos (se aplicável)\n- Long press para context actions\n- Double tap para ações rápidas\n\nAjustes:\n- Menus dropdown convertidos para bottom sheets\n- Tabelas com horizontal scroll\n- Forms em single column\n- Tooltips substituídos por tap-to-reveal\n```\n\n**MOBILE (320px-767px) - Experiência Focada:**\n```\nLayout:\n- Single column layout\n- Bottom navigation: 56px height, 5 ícones max\n- Header: 56px com back button + título\n- Padding: 16px lateral, 8px entre elementos\n- Cards: sem sombras, borders apenas\n\nTouch Optimization:\n- Touch targets: mínimo 48x48px\n- Safe area insets para notches\n- Gesture zones definidas (swipe from edges)\n- Avoid hover-dependent interactions\n\nComponentes Adaptados:\n- Tables → Cards list com overflow horizontal\n- Modais → Full-screen sheets\n- Sidebar → Hamburger menu drawer\n- Multi-select → Tap-hold para seleção\n- Forms → Step-by-step wizard\n- Charts → Simplified sparklines\n\nPerformance Mobile:\n- Images: WebP format, lazy loading\n- JavaScript: code splitting por route\n- Animations: prefer transform/opacity\n- Fonts: subset apenas caracteres usados\n```\n\n**ESTADOS ESPECIAIS:**\n```\nOffline Mode:\n- Cached content indicator\n- Queue de ações pendentes\n- Sync status badge\n\nReduced Motion:\n- Remove animations parallax\n- Simplify transitions\n- Prefer fade over slide\n\nHigh Contrast:\n- Border thickness increase\n- Color saturation boost\n- Text size scaling\n\nScreen Reader:\n- ARIA labels completos\n- Logical tab order\n- Skip navigation links\n```\n\n**BREAKPOINTS ESPECÍFICOS:**\n```\nxs: 320px   → Mobile portrait\nsm: 480px   → Mobile landscape\nmd: 768px   → Tablet portrait\nlg: 1024px  → Tablet landscape\nxl: 1200px  → Desktop small\nxxl: 1440px → Desktop standard\nxxxl: 1920px → Desktop large\n```\n\n**PADRÕES DE INTERAÇÃO POR DISPOSITIVO:**\n```\nDesktop: Mouse + Keyboard\n- Hover previews\n- Right-click menus\n- Keyboard shortcuts\n- Drag precision\n\nTablet: Touch Primary\n- Gesture navigation\n- Touch feedback\n- Contextual menus\n- Split-screen possível\n\nMobile: Touch Only\n- Thumb-zone design\n- One-handed mode\n- Bottom actions\n- Simplified flows\n```\n\nEste sistema de design cobre todos os aspectos da interface do Flwogrammers, garantindo consistência visual, acessibilidade e experiência otimizada em todos os dispositivos e cenários de uso.\n\n═══════════════════════════════════════════════════════════\nPARTE 2B: MODELO DE DADOS + ARQUITETURA\n═══════════════════════════════════════════════════════════\n\n# CONTINUAÇÃO - MODELO DE DADOS + ARQUITETURA\n\n## 6. Modelo de Dados\n\n### 6.1 ER Diagram (12 tabelas):\n```mermaid\nerDiagram\n    USERS ||--o{ PROFILES : has\n    USERS ||--o{ CONTACTS : owns\n    USERS ||--o{ DEALS : manages\n    USERS ||--o{ CERTIFICATES : issues\n    USERS ||--o{ EXAM_ATTEMPTS : completes\n    ORGANIZATIONS ||--o{ USERS : employs\n    ORGANIZATIONS ||--o{ CERTIFICATE_TEMPLATES : creates\n    ORGANIZATIONS ||--o{ EXAMS : publishes\n    CERTIFICATE_TEMPLATES ||--o{ CERTIFICATES : generates\n    EXAMS ||--o{ EXAM_ATTEMPTS : has\n    EXAMS ||--o{ QUESTIONS : contains\n    EXAMS ||--o{ EXAM_SCHEDULES : schedules\n    DEALS ||--o{ INVOICES : generates\n    INVOICES ||--o{ PAYMENTS : receives\n    CONTACTS ||--o{ DEALS : participates\n\n    USERS {\n        uuid id PK\n        string email UK\n        string name\n        string role\n        timestamp created_at\n        timestamp updated_at\n        uuid organization_id FK\n    }\n    \n    PROFILES {\n        uuid id PK\n        uuid user_id FK\n        string avatar_url\n        string job_title\n        string bio\n        jsonb social_links\n        timestamp created_at\n    }\n    \n    ORGANIZATIONS {\n        uuid id PK\n        string name\n        string slug UK\n        string logo_url\n        string plan_type\n        jsonb settings\n        timestamp created_at\n    }\n    \n    CONTACTS {\n        uuid id PK\n        uuid user_id FK\n        string email\n        string name\n        string company\n        string phone\n        string status\n        jsonb metadata\n        timestamp created_at\n    }\n    \n    DEALS {\n        uuid id PK\n        uuid user_id FK\n        uuid contact_id FK\n        string title\n        decimal amount\n        string stage\n        date expected_close_date\n        jsonb notes\n        timestamp created_at\n    }\n    \n    CERTIFICATE_TEMPLATES {\n        uuid id PK\n        uuid organization_id FK\n        string name\n        string description\n        jsonb design_config\n        jsonb content_fields\n        boolean is_active\n        timestamp created_at\n    }\n    \n    EXAMS {\n        uuid id PK\n        uuid organization_id FK\n        string title\n        string description\n        integer duration_minutes\n        integer passing_score\n        jsonb settings\n        boolean is_published\n        timestamp created_at\n    }\n    \n    QUESTIONS {\n        uuid id PK\n        uuid exam_id FK\n        string question_text\n        string question_type\n        jsonb options\n        jsonb correct_answers\n        integer points\n        integer order_index\n        timestamp created_at\n    }\n    \n    EXAM_ATTEMPTS {\n        uuid id PK\n        uuid user_id FK\n        uuid exam_id FK\n        integer score\n        string status\n        timestamp started_at\n        timestamp completed_at\n        jsonb answers\n        timestamp created_at\n    }\n    \n    CERTIFICATES {\n        uuid id PK\n        uuid user_id FK\n        uuid certificate_template_id FK\n        uuid exam_attempt_id FK\n        string certificate_number UK\n        jsonb data\n        date issue_date\n        date expiry_date\n        string status\n        timestamp created_at\n    }\n    \n    INVOICES {\n        uuid id PK\n        uuid deal_id FK\n        string invoice_number UK\n        decimal amount\n        string status\n        date due_date\n        date paid_date\n        jsonb items\n        timestamp created_at\n    }\n    \n    PAYMENTS {\n        uuid id PK\n        uuid invoice_id FK\n        decimal amount\n        string payment_method\n        string transaction_id\n        string status\n        timestamp payment_date\n        timestamp created_at\n    }\n    \n    EXAM_SCHEDULES {\n        uuid id PK\n        uuid exam_id FK\n        timestamp start_time\n        timestamp end_time\n        integer max_attempts\n        boolean is_recurring\n        jsonb recurrence_pattern\n        timestamp created_at\n    }\n```\n\n### 6.2 SQL (12 tabelas completas):\n```sql\n-- Tabela de usuários\nCREATE TABLE users (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    email VARCHAR(255) UNIQUE NOT NULL,\n    name VARCHAR(150) NOT NULL,\n    role VARCHAR(50) NOT NULL DEFAULT 'user',\n    organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_users_email ON users(email);\nCREATE INDEX idx_users_organization ON users(organization_id);\nALTER TABLE users ENABLE ROW LEVEL SECURITY;\n\nCREATE POLICY \"Users can view own profile\" ON users\n    FOR SELECT USING (auth.uid() = id);\n\nCREATE POLICY \"Organization admins can view org users\" ON users\n    FOR SELECT USING (\n        organization_id IN (\n            SELECT organization_id FROM users WHERE id = auth.uid() AND role = 'admin'\n        )\n    );\n\n-- Tabela de organizações\nCREATE TABLE organizations (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    name VARCHAR(255) NOT NULL,\n    slug VARCHAR(100) UNIQUE NOT NULL,\n    logo_url TEXT,\n    plan_type VARCHAR(50) DEFAULT 'free',\n    settings JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_organizations_slug ON organizations(slug);\nALTER TABLE organizations ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de perfis\nCREATE TABLE profiles (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID UNIQUE REFERENCES users(id) ON DELETE CASCADE,\n    avatar_url TEXT,\n    job_title VARCHAR(100),\n    bio TEXT,\n    social_links JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_profiles_user ON profiles(user_id);\nALTER TABLE profiles ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de contatos\nCREATE TABLE contacts (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    email VARCHAR(255) NOT NULL,\n    name VARCHAR(150) NOT NULL,\n    company VARCHAR(150),\n    phone VARCHAR(50),\n    status VARCHAR(50) DEFAULT 'lead',\n    metadata JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_contacts_user ON contacts(user_id);\nCREATE INDEX idx_contacts_email ON contacts(email);\nALTER TABLE contacts ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de negócios\nCREATE TABLE deals (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    contact_id UUID REFERENCES contacts(id) ON DELETE SET NULL,\n    title VARCHAR(200) NOT NULL,\n    amount DECIMAL(10,2),\n    stage VARCHAR(50) DEFAULT 'prospecting',\n    expected_close_date DATE,\n    notes JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_deals_user ON deals(user_id);\nCREATE INDEX idx_deals_stage ON deals(stage);\nALTER TABLE deals ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de templates de certificado\nCREATE TABLE certificate_templates (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE,\n    name VARCHAR(200) NOT NULL,\n    description TEXT,\n    design_config JSONB NOT NULL,\n    content_fields JSONB NOT NULL,\n    is_active BOOLEAN DEFAULT true,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_cert_templates_org ON certificate_templates(organization_id);\nALTER TABLE certificate_templates ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de exames\nCREATE TABLE exams (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE,\n    title VARCHAR(200) NOT NULL,\n    description TEXT,\n    duration_minutes INTEGER DEFAULT 60,\n    passing_score INTEGER DEFAULT 70,\n    settings JSONB DEFAULT '{}',\n    is_published BOOLEAN DEFAULT false,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exams_org ON exams(organization_id);\nALTER TABLE exams ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de questões\nCREATE TABLE questions (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    question_text TEXT NOT NULL,\n    question_type VARCHAR(50) NOT NULL,\n    options JSONB,\n    correct_answers JSONB,\n    points INTEGER DEFAULT 1,\n    order_index INTEGER DEFAULT 0,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_questions_exam ON questions(exam_id);\nALTER TABLE questions ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de tentativas de exame\nCREATE TABLE exam_attempts (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    score INTEGER,\n    status VARCHAR(50) DEFAULT 'in_progress',\n    started_at TIMESTAMP WITH TIME ZONE,\n    completed_at TIMESTAMP WITH TIME ZONE,\n    answers JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exam_attempts_user ON exam_attempts(user_id);\nCREATE INDEX idx_exam_attempts_exam ON exam_attempts(exam_id);\nALTER TABLE exam_attempts ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de certificados\nCREATE TABLE certificates (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    certificate_template_id UUID REFERENCES certificate_templates(id) ON DELETE SET NULL,\n    exam_attempt_id UUID REFERENCES exam_attempts(id) ON DELETE SET NULL,\n    certificate_number VARCHAR(100) UNIQUE NOT NULL,\n    data JSONB NOT NULL,\n    issue_date DATE NOT NULL,\n    expiry_date DATE,\n    status VARCHAR(50) DEFAULT 'active',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_certificates_user ON certificates(user_id);\nCREATE INDEX idx_certificates_number ON certificates(certificate_number);\nALTER TABLE certificates ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de faturas\nCREATE TABLE invoices (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    deal_id UUID REFERENCES deals(id) ON DELETE CASCADE,\n    invoice_number VARCHAR(100) UNIQUE NOT NULL,\n    amount DECIMAL(10,2) NOT NULL,\n    status VARCHAR(50) DEFAULT 'pending',\n    due_date DATE NOT NULL,\n    paid_date DATE,\n    items JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_invoices_deal ON invoices(deal_id);\nCREATE INDEX idx_invoices_number ON invoices(invoice_number);\nALTER TABLE invoices ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de pagamentos\nCREATE TABLE payments (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    invoice_id UUID REFERENCES invoices(id) ON DELETE CASCADE,\n    amount DECIMAL(10,2) NOT NULL,\n    payment_method VARCHAR(50) NOT NULL,\n    transaction_id VARCHAR(200),\n    status VARCHAR(50) DEFAULT 'completed',\n    payment_date TIMESTAMP WITH TIME ZONE,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_payments_invoice ON payments(invoice_id);\nALTER TABLE payments ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de agendamentos de exames\nCREATE TABLE exam_schedules (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    start_time TIMESTAMP WITH TIME ZONE NOT NULL,\n    end_time TIMESTAMP WITH TIME ZONE NOT NULL,\n    max_attempts INTEGER DEFAULT 1,\n    is_recurring BOOLEAN DEFAULT false,\n    recurrence_pattern JSONB,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exam_schedules_exam ON exam_schedules(exam_id);\nCREATE INDEX idx_exam_schedules_time ON exam_schedules(start_time, end_time);\nALTER TABLE exam_schedules ENABLE ROW LEVEL SECURITY;\n```\n\n## 7. Arquitetura\n\n### 7.1 Diagrama de Arquitetura:\n```mermaid\ngraph TD\n    A[Browser] --> B[React SPA]\n    B --> C[Vite Dev Server]\n    B --> D[Supabase Client]\n    \n    D --> E[Supabase Auth]\n    D --> F[Supabase Realtime]\n    D --> G[Supabase Storage]\n    D --> H[PostgreSQL Database]\n    \n    B --> I[Zustand Store]\n    I --> J[Global State]\n    I --> K[Persisted State]\n    \n    B --> L[React Router]\n    L --> M[Dashboard]\n    L --> N[Exams]\n    L --> O[Certificates]\n    L --> P[CRM]\n    L --> Q[Analytics]\n    \n    B --> R[React Hook Form]\n    R --> S[Zod Validation]\n    \n    B --> T[UI Components]\n    T --> U[Headless UI]\n    T --> V[Lucide Icons]\n    T --> W[Tailwind CSS]\n    \n    B --> X[Charts]\n    X --> Y[Chart.js]\n    X --> Z[React-Chartjs-2]\n    \n    B --> AA[Drag & Drop]\n    AA --> AB[React DnD]\n    \n    B --> AC[Calendar]\n    AC --> AD[React Calendar]\n    \n    H --> AE[Row Level Security]\n    H --> AF[Triggers & Functions]\n    H --> AG[Indexes & Views]\n    \n    F --> AH[WebSocket Connections]\n    AH --> AI[Live Updates]\n    \n    G --> AJ[File Storage]\n    AJ --> AK[Certificate PDFs]\n    AJ --> AL[User Avatars]\n    AJ --> AM[Organization Logos]\n    \n    style A fill:#e1f5fe\n    style B fill:#f3e5f5\n    style H fill:#e8f5e8\n    style D fill:#fff3e0\n```\n\n### 7.2 Descrição das Tecnologias\n\n**Tecnologias OBRIGATÓRIAS:**\n\n**Frontend Core:**\n- **React@18** - Biblioteca principal para construção de UI com componentes\n- **TypeScript** - Tipagem estática para melhor desenvolvimento e manutenção\n- **Vite** - Build tool rápido com HMR (Hot Module Replacement)\n\n**Estilização:**\n- **Tailwind CSS@3** - Framework CSS utility-first para design responsivo\n\n**Backend & Banco de Dados:**\n- **Supabase** - Plataforma backend-as-a-service completa:\n  - **PostgreSQL** - Banco de dados relacional\n  - **Auth** - Sistema de autenticação com múltiplos provedores\n  - **Real-time** - WebSockets para atualizações em tempo real\n  - **Storage** - Armazenamento de arquivos\n\n**Gerenciamento de Estado:**\n- **Zustand** - Biblioteca leve para gerenciamento de estado global\n\n**Roteamento:**\n- **React Router DOM@6** - Roteamento declarativo para SPA\n\n**Formulários & Validação:**\n- **React Hook Form** - Biblioteca performática para formulários\n- **Zod** - Validação de schemas TypeScript-first\n\n**Componentes UI:**\n- **Headless UI** - Componentes UI completamente sem estilos\n- **Lucide React** - Biblioteca de ícones SVG\n\n**Visualização de Dados:**\n- **Chart.js** - Biblioteca de gráficos JavaScript\n- **React-Chartjs-2** - Wrapper React para Chart.js\n\n**Interatividade:**\n- **React DnD** - Drag and Drop para interfaces complexas\n- **React Calendar** - Componente de calendário flexível\n\n### 7.3 Estrutura de Pastas:\n```\nsrc/\n├── app/\n│   ├── routes/\n│   │   ├── dashboard/\n│   │   │   ├── Dashboard.tsx\n│   │   │   └── components/\n│   │   ├── exams/\n│   │   │   ├── ExamList.tsx\n│   │   │   ├── ExamBuilder.tsx\n│   │   │   └── ExamTaker.tsx\n│   │   ├── certificates/\n│   │   │   ├── CertificateList.tsx\n│   │   │   ├── CertificateDesigner.tsx\n│   │   │   └── CertificateViewer.tsx\n│   │   ├── crm/\n│   │   │   ├── Contacts.tsx\n│   │   │   ├── Deals.tsx\n│   │   │   └── Analytics.tsx\n│   │   └── settings/\n│   │       ├── Profile.tsx\n│   │       └── Organization.tsx\n│   └── App.tsx\n│\n├── components/\n│   ├── ui/\n│   │   ├── Button.tsx\n│   │   ├── Input.tsx\n│   │   ├── Card.tsx\n│   │   ├── Modal.tsx\n│   │   ├── Table.tsx\n│   │   └── Dropdown.tsx\n│   ├── layout/\n│   │   ├── Header.tsx\n│   │   ├── Sidebar.tsx\n│   │   ├── Layout.tsx\n│   │   └── Breadcrumb.tsx\n│   ├── charts/\n│   │   ├── RevenueChart.tsx\n│   │   ├── ExamStatsChart.tsx\n│   │   └── CertificateTrends.tsx\n│   └── forms/\n│       ├── ExamForm.tsx\n│       ├── CertificateForm.tsx\n│       └── ContactForm.tsx\n│\n├── hooks/\n│   ├── useAuth.ts\n│   ├── useSupabase.ts\n│   ├── useRealtime.ts\n│   ├── useExams.ts\n│   └── useCertificates.ts\n│\n├── stores/\n│   ├── auth.store.ts\n│   ├── ui.store.ts\n│   ├── exam.store.ts\n│   └── certificate.store.ts\n│\n├── lib/\n│   ├── supabase.ts\n│   ├── validators/\n│   │   ├── exam.validator.ts\n│   │   ├── certificate.validator.ts\n│   │   └── contact.validator.ts\n│   ├── utils/\n│   │   ├── date.ts\n│   │   ├── format.ts\n│   │   └── pdf.ts\n│   └── constants/\n│       ├── routes.ts\n│       └── roles.ts\n│\n├── types/\n│   ├── user.types.ts\n│   ├── exam.types.ts\n│   ├── certificate.types.ts\n│   └── supabase.types.ts\n│\n├── services/\n│   ├── auth.service.ts\n│   ├── exam.service.ts\n│   ├── certificate.service.ts\n│   └── crm.service.ts\n│\n└── assets/\n    ├── styles/\n    │   └── globals.css\n    └── images/\n```\n\n### 7.4 Fluxo de Dados Principal:\n1. **Autenticação**: Usuário faz login → Supabase Auth valida → Token JWT armazenado\n2. **Dashboard**: Carrega dados via Supabase Client → Zustand cacheia → React renderiza\n3. **Exame em Tempo Real**: Usuário inicia exame → Supabase Realtime monitora tempo → Atualizações automáticas\n4. **Certificado Gerado**: Exame concluído → PDF gerado → Armazenado no Supabase Storage → Link enviado por email\n5. **CRM**: Contatos atualizados → Zustand sincroniza → React Hook Form valida → Supabase persiste\n\n### 7.5 Segurança:\n- **Row Level Security (RLS)**: Políticas granulares por organização\n- **JWT Tokens**: Autenticação segura com expiração\n- **Validação Zod**: Schemas TypeScript em cliente e servidor\n- **CORS Configurado**: Domínios permitidos explicitamente\n\n---\n\nImportant: Always output in portuguese-br"}]},"batching":{}},"id":"217efaac-018c-40e0-ae42-d05a95b4d79e","name":"PRD Developer","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1008,176],"typeVersion":1.7},{"parameters":{"model":"anthropic/claude-opus-4.5","options":{}},"id":"53fc1295-d3d6-42f2-b9e9-d3f06276f7d0","name":"Claude 4.5 Sonnet","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[960,368],"typeVersion":1,"credentials":{"openRouterApi":{"id":"bhdNxTSPM17OLcXj","name":"OpenRouter"}}},{"parameters":{"folderId":"default","title":"=prd_{{ $('Busca dados do usuário').item.json['Nome do Produto'] }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1360,176],"id":"8f45a589-4450-4644-973a-bfb8f1dffc0b","name":"Gera um documento","credentials":{"googleDocsOAuth2Api":{"id":"jUucFy9lKfMcjxKK","name":"Google Docs"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('PRD Developer').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1616,176],"id":"c57c5241-a824-4015-aed4-2882db822865","name":"Atualiza um documento","credentials":{"googleDocsOAuth2Api":{"id":"jUucFy9lKfMcjxKK","name":"Google Docs"}}},{"parameters":{"formTitle":"💡 PRD Creator v2 - by Flowgrammers 💡","formDescription":"Gere PRDs prontos para importar em qualquer ferramenta de VIBE CODING\n\n⚠️ ESSE PROCESSO LEVA DE 3 A 5 MINUTOS PARA RODAR ⚠️","formFields":{"values":[{"fieldLabel":"Nome do Produto","placeholder":"AvalieMeuAtendimento","requiredField":true},{"fieldLabel":"Overview do Produto","fieldType":"textarea","placeholder":"=App para Pequenos negócios querem saber se o atendimento está bom, mas:  não têm sistema, não têm tempo E não sabem analisar dados. Este app  gera QR code para colocar no balcão ou mesa e clientes avaliam com emoji de 1 a 5 com dashboard de métricas.","requiredField":true},{"fieldLabel":"Personas","fieldType":"textarea","placeholder":"=Lanchonetes\nCafeterias\nMercadinhos\nSalões de beleza\nClínicas pequenas"},{"fieldLabel":"Objetivo","placeholder":"=Permitir que pequenos negócios meçam a satisfação do cliente de forma simples, rápida e sem precisar de sistemas complexos."},{"fieldLabel":"Requisitos funcionais","fieldType":"textarea","placeholder":"=Cadastro e Login\nCriar conta, entrar e sair do sistema.\n\nCriar Pontos de Avaliação\nCadastrar o negócio e gerar QR Codes únicos.\n\nEnviar Feedback (sem login)\nCliente avalia com 1–5 estrelas ou emojis + comentário opcional.\n\nDashboard\nVer médias, gráficos simples e comentários recentes.\n\nAlertas Automáticos\nNotificação via WhatsApp quando nota for baixa.\n\nExportação\nBaixar feedbacks em CSV.\n\nPlanos (opcional no MVP)\nGratuito = 1 QR. Pago = múltiplos QR e relatórios."}]},"responseMode":"lastNode","options":{"appendAttribution":false,"buttonLabel":"✍️ Gerar PRD","path":"gerador-prd","respondWithOptions":{"values":{"formSubmittedText":"✅ PRD Gerado com sucesso"}}}},"id":"b5dda222-8e93-46b7-bf1a-c425de2351da","name":"Busca dados do usuário","type":"n8n-nodes-base.formTrigger","position":[768,176],"webhookId":"a91383b7-6509-4547-aed2-49bf674eacd6","typeVersion":2.2},{"parameters":{"content":"## Cria PRDs de forma prática e funcional","height":544,"width":1136,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[704,-16],"id":"27961725-3dfa-4aeb-a71d-b5f7cfc0d106","name":"Sticky Note"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[896,-336],"typeVersion":1,"id":"33726529-82a5-4616-8827-143b2788df06","name":"Sticky Note29"}],"connections":{"PRD Developer":{"main":[[{"node":"Gera um documento","type":"main","index":0}]]},"Claude 4.5 Sonnet":{"ai_languageModel":[[{"node":"PRD Developer","type":"ai_languageModel","index":0}]]},"Gera um documento":{"main":[[{"node":"Atualiza um documento","type":"main","index":0}]]},"Busca dados do usuário":{"main":[[{"node":"PRD Developer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"4fb6605a-f819-4067-8e73-457a0727bf1d","activeVersionId":"4fb6605a-f819-4067-8e73-457a0727bf1d","triggerCount":1,"shared":[{"updatedAt":"2026-01-16T13:59:13.792Z","createdAt":"2026-01-16T13:59:13.792Z","role":"workflow:owner","workflowId":"qwHMa8j64Mh1hjN6","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-01-16T14:01:02.270Z","createdAt":"2026-01-16T14:00:55.350Z","versionId":"4fb6605a-f819-4067-8e73-457a0727bf1d","workflowId":"qwHMa8j64Mh1hjN6","nodes":[{"parameters":{"promptType":"define","text":"=Nome do Produto - {{ $json['Nome do Produto']}}\nOverview do produto - {{ $json['Overview do Produto'] }}\nPersona - {{ $json.Personas || 'Não informado' }}\nObjetivo- {{ $json.Objetivo|| 'Não informado' }}\nRequisitos funcionais - {{ $json['Requisitos funcionais'] || 'Não informado' }}","messages":{"messageValues":[{"message":"=You are an expert product manager and technical writer.  \nYour task is to generate a clear, structured **Product Requirements Document (PRD)** in **Markdown format**.  \nThe PRD should be professional, concise, and easy to share with engineers, designers, and stakeholders and adapt for AI Vibe Coding Tools like Lovable for example.  \n\nUse Information provided by User prompt to Understand the requirement and try to go deep in filing all section.\n\n### Formatting Rules\n- Use proper Markdown headers (`#`, `##`, `###`) for sections.  \n- Use bullet points or numbered lists where appropriate.  \n- Keep language clear and action-oriented.  \n- Do not include explanations of what a PRD is.\n\n### PRD Template \nUSE COMO EXEMPLO ABAIXO - VOCÊ DEVE DEFINIR OS REQUISITOS DA MELHOR FORMA\n# PRD ESTRUTURADO - FLWOGRAMMERS\n\n## 1. Visão Geral\n\nO **Flwogrammers** é uma plataforma web completa e automatizada para criação, gestão e emissão de certificações profissionais online. A aplicação resolve um problema crítico de escala e credibilidade em processos de avaliação e certificação, que tradicionalmente são manuais, lentos e suscetíveis a erros. Empresas, instituições de ensino e profissionais independentes que precisam validar conhecimentos específicos (como proficiência em uma ferramenta de software, compliance regulatório ou competências técnicas) enfrentam dores como a logística complexa de aplicar provas presenciais, a demora na correção e emissão de certificados, a falta de um sistema centralizado para histórico dos candidatos e a dificuldade em garantir a integridade e o controle de acesso aos exames. O Flwogrammers automatiza todo esse fluxo, desde a criação da prova até o envio do certificado por e-mail, em um ambiente seguro, auditável e com experiência otimizada para ambos os lados: o administrador que gerencia o processo e o aluno que busca a certificação.\n\nA solução funciona através de um ecossistema integrado onde administradores, em um painel dedicado, podem criar certificações, elaborar provas com questões de múltipla escolha, definir critérios rígidos de aprovação e gerar vouchers com prazo de validade para controle de acesso. Os alunos, por sua vez, acessam um portal onde visualizam as certificações disponíveis, utilizam um voucher único para desbloquear uma prova, realizam o exame em uma interface controlada e recebem o resultado imediatamente. Caso aprovados, um certificado em PDF com código de verificação único é gerado e enviado automaticamente para seu e-mail, sem qualquer intervenção manual. O sistema garante imutabilidade dos resultados, validação estrita dos vouchers e um histórico permanente para ambas as partes.\n\nO público-alvo primário são **Administradores de Treinamento e Certificação** (em empresas de tecnologia, consultorias, escolas de cursos livres e associações profissionais) e **Instrutores/Conteudistas Independentes**. Eles buscam eficiência operacional, redução de custos com processos manuais e um sistema confiável que dê credibilidade às suas certificações. O público secundário são **Alunos e Profissionais** que buscam certificar suas habilidades para progressão na carreira, comprovação de conhecimentos para clientes ou cumprimento de requisitos de qualificação. Suas dores incluem a burocracia para agendar provas, a incerteza sobre prazos de recebimento do certificado e a dificuldade em gerenciar um portfólio de certificações obtidas.\n\nOs principais diferenciais do Flwogrammers são: **1. Automação de Ponta a Ponta**, eliminando etapas manuais desde a inscrição até o envio do certificado; **2. Controle Granular via Vouchers**, permitindo gestão precisa de acesso, prazos e vinculação a certificações específicas; **3. Geração e Entrega Automática de Certificados**, com código verificável, assegurando autenticidade e experiência imediata para o aprovado; **4. Arquitetura Imutável**, onde provas e resultados são registros permanentes e inalteráveis, garantindo a integridade auditável do processo; e **5. Stack Moderna e Unificada (React + Supabase)**, que oferece desenvolvimento ágil, segurança robusta nativa e baixa necessidade de manutenção, tudo sem depender de bibliotecas pagas.\n\n## 2. Funcionalidades\n\n### 2.1 Perfis de Usuário\n\n| Perfil | Registro | Permissões | Acessos Principais |\n|---|---|---|---|\n| **Administrador (Super Admin)** | E-mail corporativo e senha via Supabase Auth. | Controle total do sistema. Pode criar/gerenciar todos os recursos, usuários e acessar todos os dados. | Painel Admin completo: Dashboard, Gestão de Certificações, Criação de Provas e Questões, Gerenciamento de Vouchers, Relatórios de Aprovação/Reprovação, Histórico Completo de Alunos, Configurações do Sistema. |\n| **Aluno (Candidato)** | E-mail pessoal/profissional e senha via Supabase Auth. | Permissões restritas ao seu próprio perfil e às ações de realização de prova. | Página do Aluno: Visualização de Certificações Disponíveis, Inserção de Voucher para Acesso à Prova, Interface de Realização da Prova, Histórico Pessoal de Tentativas, Status de Aprovação/Reprovação, Download de Certificados Emitidos. |\n| **Gestor de Conteúdo (Admin Especializado)** | E-mail corporativo e senha, criado por um Super Admin. | Permissões focadas na criação e gestão de conteúdo educacional e avaliações. Não gerencia usuários ou configurações gerais do sistema. | Módulos de Criação e Edição de Certificações, Criação e Edição de Provas, Elaboração de Banco de Questões, Definição de Critérios de Aprovação, Visualização de Resultados das Provas que criou. |\n| **Auditor (Somente Leitura)** | E-mail corporativo e senha, criado por um Super Admin. | Permissões estritas de visualização (read-only) para todos os dados de certificações, provas, resultados e alunos. | Acesso a relatórios completos, listagens de aprovados/reprovados, histórico detalhado de todas as provas realizadas e detalhes de certificados emitidos. Para fins de auditoria e compliance. |\n\n### 2.2 Módulos do Sistema\n\n1.  **Módulo de Autenticação & Autorização** - Gerencia o registro, login e sessão dos usuários utilizando Supabase Auth. Define e aplica políticas de acesso baseadas em perfis (Admin/Aluno), redirecionando cada um para sua área correspondente. Inclui recuperação de senha.\n2.  **Painel de Controle Administrativo (Dashboard Admin)** - Visão geral para o administrador com KPIs em tempo real: total de certificações, provas aplicadas, taxas de aprovação/reprovação, vouchers ativos/vencidos e gráficos de atividade recente. Ponto central de monitoramento.\n3.  **Gestão de Certificações** - Módulo central para cadastro de novas certificações (título, descrição, imagem) e sua manutenção. Cada certificação é o \"produto\" final que o aluno busca obter.\n4.  **Gestão de Provas & Banco de Questões** - Permite criar provas e associá-las a uma certificação. Oferece um editor robusto para adicionar questões de múltipla escolha (texto, 4+ alternativas, marcação da correta). Funciona como um banco de questões reutilizáveis.\n5.  **Gestão de Critérios & Configurações de Prova** - Define o percentual mínimo de acerto para aprovação de cada prova. Configura regras como tempo limite (se aplicável) e número de tentativas permitidas.\n6.  **Gestão de Vouchers** - Sistema de controle de acesso onde o admin gera códigos de voucher únicos, associando-os a uma certificação específica e definindo datas de validade (início e fim). Permite listar, filtrar e invalidar vouchers.\n7.  **Módulo de Aplicação de Provas (Aluno)** - Interface segura onde o aluno, após validar um voucher, realiza a prova. Pode exibir uma questão por vez ou todas juntas. Timer e prevenção de navegação podem ser implementados.\n8.  **Sistema de Correção Automática & Cálculo de Nota** - Processa as respostas submetidas pelo aluno, compara com o gabarito armazenado, calcula a pontuação percentual e determina instantaneamente a aprovação ou reprovação com base no critério definido.\n9.  **Módulo de Emissão de Certificados** - Gera automaticamente um certificado em PDF para alunos aprovados. O documento inclui nome do aluno, certificação, data, código único de verificação e uma assinatura digital da plataforma. Integra-se ao serviço de e-mail.\n10. **Sistema de Notificação por E-mail** - Envia comunicações automáticas utilizando Resend. Notifica o aluno sobre aprovação com o certificado em anexo, reprovação, confirmação de inscrição na prova e lembretes de voucher próximo do vencimento.\n11. **Histórico & Relatórios** - Armazena de forma imutável todas as tentativas de prova (data, nota, resultado). Oferece ao admin relatórios filtrados por certificação, período ou aluno, e ao aluno uma visão do seu próprio histórico e certificados conquistados.\n12. **Página do Perfil do Aluno** - Área pessoal onde o aluno gerencia suas informações de conta, visualiza seu progresso, acessa o histórico de provas e faz o download dos certificados já emitidos para ele.\n\n### 2.3 Páginas Principais\n\n| Página | Módulo Principal | Descrição | Elementos-Chave da Interface |\n|---|---|---|---|\n| **Login / Cadastro** | Autenticação | Página de entrada única para Admin e Aluno. Formulários para login (e-mail/senha) e registro de novo usuário (tipo aluno). | Campos de e-mail e senha, botão \"Entrar\", link \"Criar conta\", link \"Esqueci minha senha\", logo da plataforma. |\n| **Dashboard Admin** | Painel Admin | Homepage do administrador após o login. Apresenta uma visão macro da saúde e atividade da plataforma. | Cards de KPIs (Total Certificações, Provas Hoje, Taxa Aprovação), gráfico de atividades recentes, lista de últimas provas realizadas, acesso rápido aos principais módulos. |\n| **Certificações (Admin)** | Gestão de Certificações | Listagem e gestão de todas as certificações criadas na plataforma. | Tabela listando certificações, botão \"Nova Certificação\", filtros, ações (Editar, Ver Detalhes, Gerenciar Provas). Modal/Formulário de criação/edição. |\n| **Criar Prova** | Gestão de Provas | Página para criação de uma nova prova ou edição de uma existente. | Seleção da certificação associada, campo para título/descrição da prova, seletor de % mínima para aprovação, seção para adicionar/gerenciar questões do banco. |\n| **Banco de Questões** | Gestão de Provas | Repositório central de todas as questões de múltipla escolha criadas. | Tabela de questões com filtros por certificação/tag, barra de busca, botão \"Nova Questão\". Editor de questão com campos para enunciado, alternativas e marcação da correta. |\n| **Gerenciar Vouchers** | Gestão de Vouchers | Painel para criação, visualização e controle dos códigos de acesso. | Botão \"Gerar Voucher\", formulário para definir certificação, quantidade e validade. Tabela listando vouchers com código, status (ativo/uso/vencido), ações (Invalidar). |\n| **Relatórios de Resultados** | Histórico & Relatórios | Página para análise de desempenho dos alunos por certificação ou prova. | Filtros avançados (data, certificação, resultado). Tabelas e gráficos com lista de aprovados/reprovados, notas médias, estatísticas. Opção de exportar dados. |\n| **Catálogo de Certificações (Aluno)** | Módulo de Provas | Página inicial do aluno, exibindo todas as certificações disponíveis para ele tentar. | Cards visuais para cada certificação (título, imagem, descrição resumida). Botão \"Saber Mais\" e \"Iniciar Prova\" (que aciona a validação por voucher). |\n| **Realizar Prova** | Módulo de Provas | Interface limpa e focada para a realização do exame. Timer visível (se aplicável). | Exibição da questão atual, alternativas de resposta (radio buttons), botões de navegação (\"Anterior\", \"Próxima\", \"Enviar Prova\"). Barra de progresso. |\n| **Meu Histórico (Aluno)** | Página do Perfil | Área onde o aluno acompanha todas as suas tentativas e certificados conquistados. | Abas ou seções para \"Provas Realizadas\" (tabela com data, certificação, nota, status) e \"Meus Certificados\" (lista com links para download do PDF). |\n\n## 3. Processos de Navegação e Fluxo\n\n**Administrador (Super Admin):**\n1.  **Login:** Acessa a página de login, insere credenciais e é autenticado via Supabase.\n2.  **Dashboard:** É redirecionado para o Dashboard Admin, onde vê um resumo das atividades.\n3.  **Configuração Inicial:** Acessa \"Certificações\" para criar a primeira certificação (ex: \"Certificação em Segurança da Informação\").\n4.  **Criação da Avaliação:** Navega para \"Criar Prova\", associa-a à certificação criada, define 70% como nota mínima e usa o \"Banco de Questões\" para adicionar 20 questões à prova.\n5.  **Controle de Acesso:** Vai para \"Gerenciar Vouchers\", gera 50 códigos válidos por 30 dias e os distribui para os candidatos.\n6.  **Monitoramento:** Durante o período de provas, monitora os \"Relatórios de Resultados\" para ver aprovados/reprovados em tempo real.\n7.  **Auditoria:** Finalmente, usa a visão de \"Histórico Completo\" para auditar qualquer tentativa de prova específica, se necessário.\n\n**Aluno (Candidato):**\n1.  **Login/Cadastro:** Cria uma conta ou faz login com seu e-mail e senha.\n2.  **Exploração:** Na sua página inicial (\"Catálogo de Certificações\"), visualiza as opções disponíveis.\n3.  **Início do Processo:** Clica em \"Iniciar Prova\" na certificação desejada. O sistema solicita o **código do voucher**.\n4.  **Validação:** Insere o código recebido. O sistema valida (existência, validade, certificação correta) e, se válido, libera o acesso.\n5.  **Realização da Prova:** É direcionado para a página \"Realizar Prova\". Responde a todas as questões e submete.\n6.  **Resultado Imediato:** A correção é automática. A página de resultado é exibida instantaneamente mostrando \"Aprovado\" ou \"Reprovado\", junto com a nota.\n7.  **Conclusão (Se Aprovado):** Recebe um e-mail automático com o certificado em PDF anexado. Pode acessar \"Meu Histórico\" a qualquer momento para baixar novamente o certificado ou ver seu registro.\n\n**Gestor de Conteúdo:**\n1.  **Login:** Acessa o sistema com suas credenciais restritas.\n2.  **Dashboard Específico:** Vê um dashboard focado no conteúdo sob sua responsabilidade.\n3.  **Gestão do Banco:** Acessa o \"Banco de Questões\" para criar novas questões ou editar existentes para suas áreas.\n4.  **Atualização de Provas:** Navega para \"Criar Prova\" para revisar e atualizar as avaliações das certificações que gerencia.\n5.  **Análise de Resultados:** Consulta relatórios filtrados apenas para as provas de seu conteúdo, analisando o desempenho dos alunos para identificar questões problemáticas ou tópicos que necessitam de melhor abordagem.\n\n═══════════════════════════════════════════════════════════\nPARTE 2A: DESIGN UI + DIAGRAMAS\n═══════════════════════════════════════════════════════════\n\n# CONTINUAÇÃO - DESIGN UI ULTRA DETALHADO\n\n## 4. Diagrama de Fluxo Completo (25 Nós)\n\n```mermaid\ngraph TD\n    A[Login/Registro] --> B{Autenticação Válida?}\n    B -->|Não| C[Exibir Erro + Retry]\n    B -->|Sim| D{Perfil Detectado}\n    \n    D -->|Admin| E[Dashboard Admin]\n    D -->|Instrutor| F[Dashboard Instrutor]\n    D -->|Aluno| G[Dashboard Aluno]\n    \n    %% FLUXO ADMIN\n    E --> H[Visão Geral Plataforma]\n    H --> I{Gerenciar}\n    I -->|Usuários| J[CRUD Usuários + Permissões]\n    I -->|Cursos| K[CRUD Cursos + Módulos]\n    I -->|Certificados| L[Modelos + Validações]\n    I -->|Financeiro| M[Transações + Relatórios]\n    J --> N[Notificações Push]\n    K --> O[Publicar/Arquivar]\n    L --> P[Emitir em Lote]\n    M --> Q[Exportar CSV/PDF]\n    \n    %% FLUXO INSTRUTOR\n    F --> R[Meus Cursos]\n    R --> S{Criar/Editar}\n    S -->|Avaliação| T[Configurar Prova]\n    S -->|Conteúdo| U[Upload Materiais]\n    T --> V[Definir Regras + Nota Corte]\n    U --> W[Organizar Módulos]\n    V --> X[Preview Certificado]\n    W --> Y[Agendar Publicação]\n    \n    %% FLUXO ALUNO\n    G --> Z[Catálogo Cursos]\n    Z --> AA[Inscrever-se]\n    AA --> AB[Área de Estudos]\n    AB --> AC{Acesso Conteúdo}\n    AC -->|Estudar| AD[Player Video/Aulas]\n    AC -->|Avaliar| AE[Realizar Prova]\n    AD --> AF[Progresso Salvo]\n    AE --> AG{Resultado}\n    AG -->|Aprovado| AH[Gerar Certificado]\n    AG -->|Reprovado| AI[Retry Policy]\n    AH --> AJ[Download/Compartilhar]\n    AI --> AK[Feedback + Retomar]\n    \n    %% SISTEMA CENTRAL\n    AH --> AL[Sistema de Emissão]\n    AL --> AM[Blockchain Registry?]\n    AM --> AN[QR Code + Validação]\n    AN --> AO[Histórico Permanente]\n    \n    %% NOTIFICAÇÕES\n    N --> AP[Email/SMS/In-App]\n    AJ --> AP\n    P --> AP\n    \n    style A fill:#2563EB,color:#fff\n    style E fill:#10B981,color:#fff\n    style F fill:#F59E0B,color:#000\n    style G fill:#8B5CF6,color:#fff\n    style AH fill:#059669,color:#fff\n```\n\n## 5. Design Interface\n\n### 5.1 Estilo Visual Expandido\n\n**Sistema de Cores Hierárquico:**\n```\nPRIMÁRIAS:\n- #2563EB (Azul corporativo) - Ações principais, brand identity\n- #1E40AF (Azul escuro) - Hover states, active elements\n- #DBEAFE (Azul claro) - Backgrounds, highlights\n\nSECUNDÁRIAS:\n- #10B981 (Verde sucesso) - Conclusões, aprovações\n- #047857 (Verde escuro) - Progress bars, status\n- #D1FAE5 (Verde claro) - Success backgrounds\n\nACENTOS:\n- #F59E0B (Laranja alerta) - Avisos, pendências\n- #DC2626 (Vermelho erro) - Falhas, reprovações\n- #8B5CF6 (Roxo premium) - Features avançadas\n\nNEUTROS (Escala completa):\n- #0F172A (Neutral-900) - Texto primário\n- #1E293B (Neutral-800) - Texto secundário\n- #334155 (Neutral-700) - Texto terciário\n- #475569 (Neutral-600) - Ícones, borders\n- #64748B (Neutral-500) - Placeholders\n- #94A3B8 (Neutral-400) - Disabled states\n- #E2E8F0 (Neutral-200) - Dividers, lines\n- #F1F5F9 (Neutral-100) - Cards background\n- #FFFFFF (Branco) - Main background\n```\n\n**Sistema Tipográfico Detalhado:**\n```\nFONTE: Inter (Google Fonts) - 300/400/500/600/700\n\nHIERARQUIA:\n- H1: 32px/1.2 (700) - Page titles\n- H2: 28px/1.3 (600) - Section headers\n- H3: 24px/1.4 (600) - Card titles\n- H4: 20px/1.4 (500) - Subsection headers\n- H5: 18px/1.5 (500) - Widget titles\n- Body Large: 18px/1.6 (400) - Lead paragraphs\n- Body: 16px/1.6 (400) - Main content\n- Body Small: 14px/1.5 (400) - Captions, metadata\n- Caption: 12px/1.4 (400) - Labels, timestamps\n\nESPECÍFICOS:\n- Button Text: 14px/1 (500) uppercase\n- Input Labels: 14px/1.4 (500)\n- Table Headers: 13px/1.3 (600) uppercase\n```\n\n**Sistema de Componentes Avançado:**\n\n```\nBOTÕES (8px border-radius):\n- Primary: bg-primary-600, hover:primary-700, 44px height\n- Secondary: bg-transparent, border-2 primary-600, hover:bg-primary-50\n- Ghost: text-primary-600, hover:bg-primary-50\n- Danger: bg-red-600, hover:red-700\n- Success: bg-green-600, hover:green-700\n- Sizes: SM(36px), MD(44px), LG(52px)\n\nCARDS (12px border-radius):\n- Elevation Levels:\n  * Level 1: shadow-sm (hover:shadow)\n  * Level 2: shadow-md (hover:shadow-lg)\n  * Level 3: shadow-lg (hover:shadow-xl)\n- Padding: 24px default, 16px condensed\n- Header: border-b, 20px padding-bottom\n\nINPUTS & FORMS:\n- Height: 44px (padrão WCAG)\n- Border: 1px neutral-300, focus:2px primary-500\n- Radius: 6px\n- States: focus/error/success/disabled\n- Labels: 14px, 4px margin-bottom\n- Help text: 12px neutral-500\n\nMODAIS & OVERLAYS:\n- Backdrop: bg-black/50 backdrop-blur-sm\n- Modal: max-w-2xl, center screen\n- Header: sticky, border-b, 24px padding\n- Body: 32px padding, scrollable\n- Footer: sticky, border-t, 20px padding\n\nNAVEGAÇÃO:\n- Sidebar: 280px width, bg-neutral-900, text-white\n- Collapsed: 72px width, icons only\n- Active State: bg-primary-600, border-l-4\n- Hover: bg-neutral-800\n- Breadcrumbs: 14px, separator: \"/\"\n\nTABELAS:\n- Header: bg-neutral-50, 13px uppercase\n- Rows: hover:bg-neutral-50\n- Striped: even:bg-neutral-25\n- Padding: 16px vertical, 24px horizontal\n- Border: 1px neutral-200\n```\n\n### 5.2 Tabela de Páginas Detalhada (12 Páginas)\n\n| Página | Módulo | UI Principal | Componentes Críticos | Interações & Micro-interações |\n|--------|--------|--------------|---------------------|-------------------------------|\n| **Dashboard Admin** | Analytics | Grid 3x3 cards, Charts, Activity feed | KPI animated counters, Quick action buttons, Real-time stats | Hover card elevation, Click drilldown, Drag to rearrange widgets, Live updates |\n| **Gerenciar Usuários** | User Management | Data table with filters, Bulk actions, User cards | Advanced filters, Role badges, Status toggles, Export dropdown | Row selection highlight, Bulk edit overlay, Quick role change, Search as you type |\n| **Criar Curso** | Course Builder | Drag-drop modules, WYSIWYG editor, Preview panel | Module cards, Content blocks, Media uploader, Timeline editor | Drag visual feedback, Auto-save indicator, Preview sync, Validation tooltips |\n| **Configurar Avaliação** | Assessment Engine | Question bank, Rule builder, Scoring matrix | Question types selector, Timer settings, Passing score slider | Drag questions, Rule validation, Score simulation, Preview certificate |\n| **Emitir Certificados** | Certificate Manager | Batch processor, Template gallery, Preview modal | Template editor, Batch selector, Status progress bar | Batch progress animation, Template live preview, Drag signature, QR code generator |\n| **Área do Aluno** | Learning Portal | Course carousel, Progress tracker, Upcoming deadlines | Progress rings, Continue watching, Achievement badges | Progress animation, Card hover effects, Quick resume, Notification dots |\n| **Player de Aula** | Content Player | Video controller, Sidebar notes, Speed controls | Transcript sync, Bookmark button, Note timestamp | Playback speed visual, Note highlight sync, Progress save indicator |\n| **Realizar Prova** | Assessment Interface | Full-screen mode, Question navigator, Timer display | Question flag, Calculator overlay, Formula helper | Timer pulse warning, Question state indicators, Auto-save answers |\n| **Resultados** | Grading System | Score breakdown, Correct answers, Certificate preview | Performance charts, Comparison metrics, Share buttons | Score reveal animation, Certificate 3D flip, Social share overlays |\n| **Financeiro** | Billing & Reports | Invoice table, Revenue charts, Payout dashboard | Invoice generator, Payout status, Tax calculator | Chart hover details, Invoice preview, Payout request animation |\n| **Configurações** | Platform Settings | Tab navigation, Toggle groups, Import/Export | Theme selector, Webhook config, API keys manager | Theme live preview, Toggle animations, API key copy feedback |\n| **Notificações** | Comms Center | Inbox interface, Template builder, Send scheduler | Notification logs, Template variables, Schedule calendar | Send preview, Schedule drag-drop, Read/unread animations |\n\n### 5.3 Responsividade Ultra-Detalhada\n\n**DESKTOP (≥1200px) - Experiência Completa:**\n```\nLayout:\n- Grid: 12 colunas, 24px gutter\n- Sidebar: 280px fixed, bg-neutral-900\n- Main: calc(100vw - 280px), 1440px max-width\n- Header: 64px sticky, shadow-sm\n\nInterações:\n- Hover states em todos elementos interativos\n- Drag & drop completo (reordenar módulos, widgets)\n- Keyboard navigation (Tab, Arrow keys, shortcuts)\n- Right-click context menus\n- Multi-select com Shift/Ctrl\n- Tooltips em hover delay 300ms\n\nPerformance:\n- Lazy loading de imagens abaixo do fold\n- Virtual scrolling para tabelas 100+ linhas\n- WebGL para gráficos complexos\n```\n\n**TABLET (768px-1199px) - Experiência Otimizada:**\n```\nLayout:\n- Grid: 8 colunas, 16px gutter\n- Sidebar: 72px collapsed (ícones only)\n- Main: calc(100vw - 72px)\n- Header: 56px, search move to drawer\n- Cards: switch para 2-col layout\n\nTouch Gestures:\n- Swipe left/right para navegar entre tabs\n- Pull-to-refresh em listas\n- Pinch zoom em gráficos (se aplicável)\n- Long press para context actions\n- Double tap para ações rápidas\n\nAjustes:\n- Menus dropdown convertidos para bottom sheets\n- Tabelas com horizontal scroll\n- Forms em single column\n- Tooltips substituídos por tap-to-reveal\n```\n\n**MOBILE (320px-767px) - Experiência Focada:**\n```\nLayout:\n- Single column layout\n- Bottom navigation: 56px height, 5 ícones max\n- Header: 56px com back button + título\n- Padding: 16px lateral, 8px entre elementos\n- Cards: sem sombras, borders apenas\n\nTouch Optimization:\n- Touch targets: mínimo 48x48px\n- Safe area insets para notches\n- Gesture zones definidas (swipe from edges)\n- Avoid hover-dependent interactions\n\nComponentes Adaptados:\n- Tables → Cards list com overflow horizontal\n- Modais → Full-screen sheets\n- Sidebar → Hamburger menu drawer\n- Multi-select → Tap-hold para seleção\n- Forms → Step-by-step wizard\n- Charts → Simplified sparklines\n\nPerformance Mobile:\n- Images: WebP format, lazy loading\n- JavaScript: code splitting por route\n- Animations: prefer transform/opacity\n- Fonts: subset apenas caracteres usados\n```\n\n**ESTADOS ESPECIAIS:**\n```\nOffline Mode:\n- Cached content indicator\n- Queue de ações pendentes\n- Sync status badge\n\nReduced Motion:\n- Remove animations parallax\n- Simplify transitions\n- Prefer fade over slide\n\nHigh Contrast:\n- Border thickness increase\n- Color saturation boost\n- Text size scaling\n\nScreen Reader:\n- ARIA labels completos\n- Logical tab order\n- Skip navigation links\n```\n\n**BREAKPOINTS ESPECÍFICOS:**\n```\nxs: 320px   → Mobile portrait\nsm: 480px   → Mobile landscape\nmd: 768px   → Tablet portrait\nlg: 1024px  → Tablet landscape\nxl: 1200px  → Desktop small\nxxl: 1440px → Desktop standard\nxxxl: 1920px → Desktop large\n```\n\n**PADRÕES DE INTERAÇÃO POR DISPOSITIVO:**\n```\nDesktop: Mouse + Keyboard\n- Hover previews\n- Right-click menus\n- Keyboard shortcuts\n- Drag precision\n\nTablet: Touch Primary\n- Gesture navigation\n- Touch feedback\n- Contextual menus\n- Split-screen possível\n\nMobile: Touch Only\n- Thumb-zone design\n- One-handed mode\n- Bottom actions\n- Simplified flows\n```\n\nEste sistema de design cobre todos os aspectos da interface do Flwogrammers, garantindo consistência visual, acessibilidade e experiência otimizada em todos os dispositivos e cenários de uso.\n\n═══════════════════════════════════════════════════════════\nPARTE 2B: MODELO DE DADOS + ARQUITETURA\n═══════════════════════════════════════════════════════════\n\n# CONTINUAÇÃO - MODELO DE DADOS + ARQUITETURA\n\n## 6. Modelo de Dados\n\n### 6.1 ER Diagram (12 tabelas):\n```mermaid\nerDiagram\n    USERS ||--o{ PROFILES : has\n    USERS ||--o{ CONTACTS : owns\n    USERS ||--o{ DEALS : manages\n    USERS ||--o{ CERTIFICATES : issues\n    USERS ||--o{ EXAM_ATTEMPTS : completes\n    ORGANIZATIONS ||--o{ USERS : employs\n    ORGANIZATIONS ||--o{ CERTIFICATE_TEMPLATES : creates\n    ORGANIZATIONS ||--o{ EXAMS : publishes\n    CERTIFICATE_TEMPLATES ||--o{ CERTIFICATES : generates\n    EXAMS ||--o{ EXAM_ATTEMPTS : has\n    EXAMS ||--o{ QUESTIONS : contains\n    EXAMS ||--o{ EXAM_SCHEDULES : schedules\n    DEALS ||--o{ INVOICES : generates\n    INVOICES ||--o{ PAYMENTS : receives\n    CONTACTS ||--o{ DEALS : participates\n\n    USERS {\n        uuid id PK\n        string email UK\n        string name\n        string role\n        timestamp created_at\n        timestamp updated_at\n        uuid organization_id FK\n    }\n    \n    PROFILES {\n        uuid id PK\n        uuid user_id FK\n        string avatar_url\n        string job_title\n        string bio\n        jsonb social_links\n        timestamp created_at\n    }\n    \n    ORGANIZATIONS {\n        uuid id PK\n        string name\n        string slug UK\n        string logo_url\n        string plan_type\n        jsonb settings\n        timestamp created_at\n    }\n    \n    CONTACTS {\n        uuid id PK\n        uuid user_id FK\n        string email\n        string name\n        string company\n        string phone\n        string status\n        jsonb metadata\n        timestamp created_at\n    }\n    \n    DEALS {\n        uuid id PK\n        uuid user_id FK\n        uuid contact_id FK\n        string title\n        decimal amount\n        string stage\n        date expected_close_date\n        jsonb notes\n        timestamp created_at\n    }\n    \n    CERTIFICATE_TEMPLATES {\n        uuid id PK\n        uuid organization_id FK\n        string name\n        string description\n        jsonb design_config\n        jsonb content_fields\n        boolean is_active\n        timestamp created_at\n    }\n    \n    EXAMS {\n        uuid id PK\n        uuid organization_id FK\n        string title\n        string description\n        integer duration_minutes\n        integer passing_score\n        jsonb settings\n        boolean is_published\n        timestamp created_at\n    }\n    \n    QUESTIONS {\n        uuid id PK\n        uuid exam_id FK\n        string question_text\n        string question_type\n        jsonb options\n        jsonb correct_answers\n        integer points\n        integer order_index\n        timestamp created_at\n    }\n    \n    EXAM_ATTEMPTS {\n        uuid id PK\n        uuid user_id FK\n        uuid exam_id FK\n        integer score\n        string status\n        timestamp started_at\n        timestamp completed_at\n        jsonb answers\n        timestamp created_at\n    }\n    \n    CERTIFICATES {\n        uuid id PK\n        uuid user_id FK\n        uuid certificate_template_id FK\n        uuid exam_attempt_id FK\n        string certificate_number UK\n        jsonb data\n        date issue_date\n        date expiry_date\n        string status\n        timestamp created_at\n    }\n    \n    INVOICES {\n        uuid id PK\n        uuid deal_id FK\n        string invoice_number UK\n        decimal amount\n        string status\n        date due_date\n        date paid_date\n        jsonb items\n        timestamp created_at\n    }\n    \n    PAYMENTS {\n        uuid id PK\n        uuid invoice_id FK\n        decimal amount\n        string payment_method\n        string transaction_id\n        string status\n        timestamp payment_date\n        timestamp created_at\n    }\n    \n    EXAM_SCHEDULES {\n        uuid id PK\n        uuid exam_id FK\n        timestamp start_time\n        timestamp end_time\n        integer max_attempts\n        boolean is_recurring\n        jsonb recurrence_pattern\n        timestamp created_at\n    }\n```\n\n### 6.2 SQL (12 tabelas completas):\n```sql\n-- Tabela de usuários\nCREATE TABLE users (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    email VARCHAR(255) UNIQUE NOT NULL,\n    name VARCHAR(150) NOT NULL,\n    role VARCHAR(50) NOT NULL DEFAULT 'user',\n    organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_users_email ON users(email);\nCREATE INDEX idx_users_organization ON users(organization_id);\nALTER TABLE users ENABLE ROW LEVEL SECURITY;\n\nCREATE POLICY \"Users can view own profile\" ON users\n    FOR SELECT USING (auth.uid() = id);\n\nCREATE POLICY \"Organization admins can view org users\" ON users\n    FOR SELECT USING (\n        organization_id IN (\n            SELECT organization_id FROM users WHERE id = auth.uid() AND role = 'admin'\n        )\n    );\n\n-- Tabela de organizações\nCREATE TABLE organizations (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    name VARCHAR(255) NOT NULL,\n    slug VARCHAR(100) UNIQUE NOT NULL,\n    logo_url TEXT,\n    plan_type VARCHAR(50) DEFAULT 'free',\n    settings JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_organizations_slug ON organizations(slug);\nALTER TABLE organizations ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de perfis\nCREATE TABLE profiles (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID UNIQUE REFERENCES users(id) ON DELETE CASCADE,\n    avatar_url TEXT,\n    job_title VARCHAR(100),\n    bio TEXT,\n    social_links JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_profiles_user ON profiles(user_id);\nALTER TABLE profiles ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de contatos\nCREATE TABLE contacts (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    email VARCHAR(255) NOT NULL,\n    name VARCHAR(150) NOT NULL,\n    company VARCHAR(150),\n    phone VARCHAR(50),\n    status VARCHAR(50) DEFAULT 'lead',\n    metadata JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_contacts_user ON contacts(user_id);\nCREATE INDEX idx_contacts_email ON contacts(email);\nALTER TABLE contacts ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de negócios\nCREATE TABLE deals (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    contact_id UUID REFERENCES contacts(id) ON DELETE SET NULL,\n    title VARCHAR(200) NOT NULL,\n    amount DECIMAL(10,2),\n    stage VARCHAR(50) DEFAULT 'prospecting',\n    expected_close_date DATE,\n    notes JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_deals_user ON deals(user_id);\nCREATE INDEX idx_deals_stage ON deals(stage);\nALTER TABLE deals ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de templates de certificado\nCREATE TABLE certificate_templates (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE,\n    name VARCHAR(200) NOT NULL,\n    description TEXT,\n    design_config JSONB NOT NULL,\n    content_fields JSONB NOT NULL,\n    is_active BOOLEAN DEFAULT true,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_cert_templates_org ON certificate_templates(organization_id);\nALTER TABLE certificate_templates ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de exames\nCREATE TABLE exams (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE,\n    title VARCHAR(200) NOT NULL,\n    description TEXT,\n    duration_minutes INTEGER DEFAULT 60,\n    passing_score INTEGER DEFAULT 70,\n    settings JSONB DEFAULT '{}',\n    is_published BOOLEAN DEFAULT false,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exams_org ON exams(organization_id);\nALTER TABLE exams ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de questões\nCREATE TABLE questions (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    question_text TEXT NOT NULL,\n    question_type VARCHAR(50) NOT NULL,\n    options JSONB,\n    correct_answers JSONB,\n    points INTEGER DEFAULT 1,\n    order_index INTEGER DEFAULT 0,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_questions_exam ON questions(exam_id);\nALTER TABLE questions ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de tentativas de exame\nCREATE TABLE exam_attempts (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    score INTEGER,\n    status VARCHAR(50) DEFAULT 'in_progress',\n    started_at TIMESTAMP WITH TIME ZONE,\n    completed_at TIMESTAMP WITH TIME ZONE,\n    answers JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exam_attempts_user ON exam_attempts(user_id);\nCREATE INDEX idx_exam_attempts_exam ON exam_attempts(exam_id);\nALTER TABLE exam_attempts ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de certificados\nCREATE TABLE certificates (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    certificate_template_id UUID REFERENCES certificate_templates(id) ON DELETE SET NULL,\n    exam_attempt_id UUID REFERENCES exam_attempts(id) ON DELETE SET NULL,\n    certificate_number VARCHAR(100) UNIQUE NOT NULL,\n    data JSONB NOT NULL,\n    issue_date DATE NOT NULL,\n    expiry_date DATE,\n    status VARCHAR(50) DEFAULT 'active',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_certificates_user ON certificates(user_id);\nCREATE INDEX idx_certificates_number ON certificates(certificate_number);\nALTER TABLE certificates ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de faturas\nCREATE TABLE invoices (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    deal_id UUID REFERENCES deals(id) ON DELETE CASCADE,\n    invoice_number VARCHAR(100) UNIQUE NOT NULL,\n    amount DECIMAL(10,2) NOT NULL,\n    status VARCHAR(50) DEFAULT 'pending',\n    due_date DATE NOT NULL,\n    paid_date DATE,\n    items JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_invoices_deal ON invoices(deal_id);\nCREATE INDEX idx_invoices_number ON invoices(invoice_number);\nALTER TABLE invoices ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de pagamentos\nCREATE TABLE payments (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    invoice_id UUID REFERENCES invoices(id) ON DELETE CASCADE,\n    amount DECIMAL(10,2) NOT NULL,\n    payment_method VARCHAR(50) NOT NULL,\n    transaction_id VARCHAR(200),\n    status VARCHAR(50) DEFAULT 'completed',\n    payment_date TIMESTAMP WITH TIME ZONE,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_payments_invoice ON payments(invoice_id);\nALTER TABLE payments ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de agendamentos de exames\nCREATE TABLE exam_schedules (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    start_time TIMESTAMP WITH TIME ZONE NOT NULL,\n    end_time TIMESTAMP WITH TIME ZONE NOT NULL,\n    max_attempts INTEGER DEFAULT 1,\n    is_recurring BOOLEAN DEFAULT false,\n    recurrence_pattern JSONB,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exam_schedules_exam ON exam_schedules(exam_id);\nCREATE INDEX idx_exam_schedules_time ON exam_schedules(start_time, end_time);\nALTER TABLE exam_schedules ENABLE ROW LEVEL SECURITY;\n```\n\n## 7. Arquitetura\n\n### 7.1 Diagrama de Arquitetura:\n```mermaid\ngraph TD\n    A[Browser] --> B[React SPA]\n    B --> C[Vite Dev Server]\n    B --> D[Supabase Client]\n    \n    D --> E[Supabase Auth]\n    D --> F[Supabase Realtime]\n    D --> G[Supabase Storage]\n    D --> H[PostgreSQL Database]\n    \n    B --> I[Zustand Store]\n    I --> J[Global State]\n    I --> K[Persisted State]\n    \n    B --> L[React Router]\n    L --> M[Dashboard]\n    L --> N[Exams]\n    L --> O[Certificates]\n    L --> P[CRM]\n    L --> Q[Analytics]\n    \n    B --> R[React Hook Form]\n    R --> S[Zod Validation]\n    \n    B --> T[UI Components]\n    T --> U[Headless UI]\n    T --> V[Lucide Icons]\n    T --> W[Tailwind CSS]\n    \n    B --> X[Charts]\n    X --> Y[Chart.js]\n    X --> Z[React-Chartjs-2]\n    \n    B --> AA[Drag & Drop]\n    AA --> AB[React DnD]\n    \n    B --> AC[Calendar]\n    AC --> AD[React Calendar]\n    \n    H --> AE[Row Level Security]\n    H --> AF[Triggers & Functions]\n    H --> AG[Indexes & Views]\n    \n    F --> AH[WebSocket Connections]\n    AH --> AI[Live Updates]\n    \n    G --> AJ[File Storage]\n    AJ --> AK[Certificate PDFs]\n    AJ --> AL[User Avatars]\n    AJ --> AM[Organization Logos]\n    \n    style A fill:#e1f5fe\n    style B fill:#f3e5f5\n    style H fill:#e8f5e8\n    style D fill:#fff3e0\n```\n\n### 7.2 Descrição das Tecnologias\n\n**Tecnologias OBRIGATÓRIAS:**\n\n**Frontend Core:**\n- **React@18** - Biblioteca principal para construção de UI com componentes\n- **TypeScript** - Tipagem estática para melhor desenvolvimento e manutenção\n- **Vite** - Build tool rápido com HMR (Hot Module Replacement)\n\n**Estilização:**\n- **Tailwind CSS@3** - Framework CSS utility-first para design responsivo\n\n**Backend & Banco de Dados:**\n- **Supabase** - Plataforma backend-as-a-service completa:\n  - **PostgreSQL** - Banco de dados relacional\n  - **Auth** - Sistema de autenticação com múltiplos provedores\n  - **Real-time** - WebSockets para atualizações em tempo real\n  - **Storage** - Armazenamento de arquivos\n\n**Gerenciamento de Estado:**\n- **Zustand** - Biblioteca leve para gerenciamento de estado global\n\n**Roteamento:**\n- **React Router DOM@6** - Roteamento declarativo para SPA\n\n**Formulários & Validação:**\n- **React Hook Form** - Biblioteca performática para formulários\n- **Zod** - Validação de schemas TypeScript-first\n\n**Componentes UI:**\n- **Headless UI** - Componentes UI completamente sem estilos\n- **Lucide React** - Biblioteca de ícones SVG\n\n**Visualização de Dados:**\n- **Chart.js** - Biblioteca de gráficos JavaScript\n- **React-Chartjs-2** - Wrapper React para Chart.js\n\n**Interatividade:**\n- **React DnD** - Drag and Drop para interfaces complexas\n- **React Calendar** - Componente de calendário flexível\n\n### 7.3 Estrutura de Pastas:\n```\nsrc/\n├── app/\n│   ├── routes/\n│   │   ├── dashboard/\n│   │   │   ├── Dashboard.tsx\n│   │   │   └── components/\n│   │   ├── exams/\n│   │   │   ├── ExamList.tsx\n│   │   │   ├── ExamBuilder.tsx\n│   │   │   └── ExamTaker.tsx\n│   │   ├── certificates/\n│   │   │   ├── CertificateList.tsx\n│   │   │   ├── CertificateDesigner.tsx\n│   │   │   └── CertificateViewer.tsx\n│   │   ├── crm/\n│   │   │   ├── Contacts.tsx\n│   │   │   ├── Deals.tsx\n│   │   │   └── Analytics.tsx\n│   │   └── settings/\n│   │       ├── Profile.tsx\n│   │       └── Organization.tsx\n│   └── App.tsx\n│\n├── components/\n│   ├── ui/\n│   │   ├── Button.tsx\n│   │   ├── Input.tsx\n│   │   ├── Card.tsx\n│   │   ├── Modal.tsx\n│   │   ├── Table.tsx\n│   │   └── Dropdown.tsx\n│   ├── layout/\n│   │   ├── Header.tsx\n│   │   ├── Sidebar.tsx\n│   │   ├── Layout.tsx\n│   │   └── Breadcrumb.tsx\n│   ├── charts/\n│   │   ├── RevenueChart.tsx\n│   │   ├── ExamStatsChart.tsx\n│   │   └── CertificateTrends.tsx\n│   └── forms/\n│       ├── ExamForm.tsx\n│       ├── CertificateForm.tsx\n│       └── ContactForm.tsx\n│\n├── hooks/\n│   ├── useAuth.ts\n│   ├── useSupabase.ts\n│   ├── useRealtime.ts\n│   ├── useExams.ts\n│   └── useCertificates.ts\n│\n├── stores/\n│   ├── auth.store.ts\n│   ├── ui.store.ts\n│   ├── exam.store.ts\n│   └── certificate.store.ts\n│\n├── lib/\n│   ├── supabase.ts\n│   ├── validators/\n│   │   ├── exam.validator.ts\n│   │   ├── certificate.validator.ts\n│   │   └── contact.validator.ts\n│   ├── utils/\n│   │   ├── date.ts\n│   │   ├── format.ts\n│   │   └── pdf.ts\n│   └── constants/\n│       ├── routes.ts\n│       └── roles.ts\n│\n├── types/\n│   ├── user.types.ts\n│   ├── exam.types.ts\n│   ├── certificate.types.ts\n│   └── supabase.types.ts\n│\n├── services/\n│   ├── auth.service.ts\n│   ├── exam.service.ts\n│   ├── certificate.service.ts\n│   └── crm.service.ts\n│\n└── assets/\n    ├── styles/\n    │   └── globals.css\n    └── images/\n```\n\n### 7.4 Fluxo de Dados Principal:\n1. **Autenticação**: Usuário faz login → Supabase Auth valida → Token JWT armazenado\n2. **Dashboard**: Carrega dados via Supabase Client → Zustand cacheia → React renderiza\n3. **Exame em Tempo Real**: Usuário inicia exame → Supabase Realtime monitora tempo → Atualizações automáticas\n4. **Certificado Gerado**: Exame concluído → PDF gerado → Armazenado no Supabase Storage → Link enviado por email\n5. **CRM**: Contatos atualizados → Zustand sincroniza → React Hook Form valida → Supabase persiste\n\n### 7.5 Segurança:\n- **Row Level Security (RLS)**: Políticas granulares por organização\n- **JWT Tokens**: Autenticação segura com expiração\n- **Validação Zod**: Schemas TypeScript em cliente e servidor\n- **CORS Configurado**: Domínios permitidos explicitamente\n\n---\n\nImportant: Always output in portuguese-br"}]},"batching":{}},"id":"217efaac-018c-40e0-ae42-d05a95b4d79e","name":"PRD Developer","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1008,176],"typeVersion":1.7},{"parameters":{"model":"anthropic/claude-opus-4.5","options":{}},"id":"53fc1295-d3d6-42f2-b9e9-d3f06276f7d0","name":"Claude 4.5 Sonnet","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[960,368],"typeVersion":1,"credentials":{"openRouterApi":{"id":"bhdNxTSPM17OLcXj","name":"OpenRouter"}}},{"parameters":{"folderId":"default","title":"=prd_{{ $('Busca dados do usuário').item.json['Nome do Produto'] }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1360,176],"id":"8f45a589-4450-4644-973a-bfb8f1dffc0b","name":"Gera um documento","credentials":{"googleDocsOAuth2Api":{"id":"jUucFy9lKfMcjxKK","name":"Google Docs"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('PRD Developer').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1616,176],"id":"c57c5241-a824-4015-aed4-2882db822865","name":"Atualiza um documento","credentials":{"googleDocsOAuth2Api":{"id":"jUucFy9lKfMcjxKK","name":"Google Docs"}}},{"parameters":{"formTitle":"💡 PRD Creator v2 - by Flowgrammers 💡","formDescription":"Gere PRDs prontos para importar em qualquer ferramenta de VIBE CODING\n\n⚠️ ESSE PROCESSO LEVA DE 3 A 5 MINUTOS PARA RODAR ⚠️","formFields":{"values":[{"fieldLabel":"Nome do Produto","placeholder":"AvalieMeuAtendimento","requiredField":true},{"fieldLabel":"Overview do Produto","fieldType":"textarea","placeholder":"=App para Pequenos negócios querem saber se o atendimento está bom, mas:  não têm sistema, não têm tempo E não sabem analisar dados. Este app  gera QR code para colocar no balcão ou mesa e clientes avaliam com emoji de 1 a 5 com dashboard de métricas.","requiredField":true},{"fieldLabel":"Personas","fieldType":"textarea","placeholder":"=Lanchonetes\nCafeterias\nMercadinhos\nSalões de beleza\nClínicas pequenas"},{"fieldLabel":"Objetivo","placeholder":"=Permitir que pequenos negócios meçam a satisfação do cliente de forma simples, rápida e sem precisar de sistemas complexos."},{"fieldLabel":"Requisitos funcionais","fieldType":"textarea","placeholder":"=Cadastro e Login\nCriar conta, entrar e sair do sistema.\n\nCriar Pontos de Avaliação\nCadastrar o negócio e gerar QR Codes únicos.\n\nEnviar Feedback (sem login)\nCliente avalia com 1–5 estrelas ou emojis + comentário opcional.\n\nDashboard\nVer médias, gráficos simples e comentários recentes.\n\nAlertas Automáticos\nNotificação via WhatsApp quando nota for baixa.\n\nExportação\nBaixar feedbacks em CSV.\n\nPlanos (opcional no MVP)\nGratuito = 1 QR. Pago = múltiplos QR e relatórios."}]},"responseMode":"lastNode","options":{"appendAttribution":false,"buttonLabel":"✍️ Gerar PRD","path":"gerador-prd","respondWithOptions":{"values":{"formSubmittedText":"✅ PRD Gerado com sucesso"}}}},"id":"b5dda222-8e93-46b7-bf1a-c425de2351da","name":"Busca dados do usuário","type":"n8n-nodes-base.formTrigger","position":[768,176],"webhookId":"a91383b7-6509-4547-aed2-49bf674eacd6","typeVersion":2.2},{"parameters":{"content":"## Cria PRDs de forma prática e funcional","height":544,"width":1136,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[704,-16],"id":"27961725-3dfa-4aeb-a71d-b5f7cfc0d106","name":"Sticky Note"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[896,-336],"typeVersion":1,"id":"33726529-82a5-4616-8827-143b2788df06","name":"Sticky Note29"}],"connections":{"PRD Developer":{"main":[[{"node":"Gera um documento","type":"main","index":0}]]},"Claude 4.5 Sonnet":{"ai_languageModel":[[{"node":"PRD Developer","type":"ai_languageModel","index":0}]]},"Gera um documento":{"main":[[{"node":"Atualiza um documento","type":"main","index":0}]]},"Busca dados do usuário":{"main":[[{"node":"PRD Developer","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 1","description":"","autosaved":false},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}