n8n/apis/agenda/criarAgendaAPI.json
{"updatedAt":"2026-03-05T23:18:18.538Z","createdAt":"2026-01-13T13:34:16.575Z","id":"21ZxcsWBIut7nFf8","name":"criarAgendaAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":176,"width":448,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1504,208],"typeVersion":1,"id":"552a0432-6b26-484a-a21f-6c52ef572b85","name":"Sticky Note29"},{"parameters":{"content":"## Comunica o lead que o agendamento foi realizado\nCria agenda via Saas","height":304,"width":1168,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,400],"id":"5290b6ea-8716-4413-993f-4145462550e2","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"criar-agenda","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1440,480],"id":"7ddc99af-cddf-4821-a479-c169744890cd","name":"webhookCriarAgenda","webhookId":"eec4f643-ac6b-4cc7-a4e6-187901339a0f"},{"parameters":{"operation":"get","tableId":"organizacoes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.body.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1200,480],"id":"62b047ed-05e4-476a-ab11-35a1286b824f","name":"buscarDadosOrganizacao","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"instancias_whatsapp","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-992,480],"id":"1637536b-4f38-495f-9e18-12dea41fc2b8","name":"buscarInstanciaWhatsappOrganizacao","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('webhookCriarAgenda').item.json.body.contact_phone }}"},{"name":"text","value":"=🗓️ Agendamento realizado com sucesso para o dia {{ $('webhookCriarAgenda').item.json.body.inicio.toDateTime().format('dd/LL/yyyy HH:mm') }}."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,480],"id":"a90a9ea0-b28a-414d-bdc3-0adfbe883a28","name":"enviarMensagemDeAgendamento"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-560,480],"id":"f330ffe9-e835-41d6-9009-be338d5d97c2","name":"responderParaWebhook"}],"connections":{"webhookCriarAgenda":{"main":[[{"node":"buscarDadosOrganizacao","type":"main","index":0}]]},"buscarDadosOrganizacao":{"main":[[{"node":"buscarInstanciaWhatsappOrganizacao","type":"main","index":0}]]},"buscarInstanciaWhatsappOrganizacao":{"main":[[{"node":"enviarMensagemDeAgendamento","type":"main","index":0}]]},"enviarMensagemDeAgendamento":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"e1fc5ee0-e904-4077-b0d5-804f0b467b11","activeVersionId":"e1fc5ee0-e904-4077-b0d5-804f0b467b11","triggerCount":1,"shared":[{"updatedAt":"2026-01-13T13:34:16.575Z","createdAt":"2026-01-13T13:34:16.575Z","role":"workflow:owner","workflowId":"21ZxcsWBIut7nFf8","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-05T23:18:22.139Z","createdAt":"2026-03-05T23:18:18.539Z","versionId":"e1fc5ee0-e904-4077-b0d5-804f0b467b11","workflowId":"21ZxcsWBIut7nFf8","nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":176,"width":448,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1504,208],"typeVersion":1,"id":"552a0432-6b26-484a-a21f-6c52ef572b85","name":"Sticky Note29"},{"parameters":{"content":"## Comunica o lead que o agendamento foi realizado\nCria agenda via Saas","height":304,"width":1168,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,400],"id":"5290b6ea-8716-4413-993f-4145462550e2","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"criar-agenda","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1440,480],"id":"7ddc99af-cddf-4821-a479-c169744890cd","name":"webhookCriarAgenda","webhookId":"eec4f643-ac6b-4cc7-a4e6-187901339a0f"},{"parameters":{"operation":"get","tableId":"organizacoes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.body.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1200,480],"id":"62b047ed-05e4-476a-ab11-35a1286b824f","name":"buscarDadosOrganizacao","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"instancias_whatsapp","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-992,480],"id":"1637536b-4f38-495f-9e18-12dea41fc2b8","name":"buscarInstanciaWhatsappOrganizacao","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('webhookCriarAgenda').item.json.body.contact_phone }}"},{"name":"text","value":"=🗓️ Agendamento realizado com sucesso para o dia {{ $('webhookCriarAgenda').item.json.body.inicio.toDateTime().format('dd/LL/yyyy HH:mm') }}."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,480],"id":"a90a9ea0-b28a-414d-bdc3-0adfbe883a28","name":"enviarMensagemDeAgendamento"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-560,480],"id":"f330ffe9-e835-41d6-9009-be338d5d97c2","name":"responderParaWebhook"}],"connections":{"webhookCriarAgenda":{"main":[[{"node":"buscarDadosOrganizacao","type":"main","index":0}]]},"buscarDadosOrganizacao":{"main":[[{"node":"buscarInstanciaWhatsappOrganizacao","type":"main","index":0}]]},"buscarInstanciaWhatsappOrganizacao":{"main":[[{"node":"enviarMensagemDeAgendamento","type":"main","index":0}]]},"enviarMensagemDeAgendamento":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version e1fc5ee0","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}