n8n/apis/agenda/gestaoAgendaAPI.json
{"updatedAt":"2026-03-07T02:20:31.214Z","createdAt":"2026-01-05T19:40:05.661Z","id":"f2fbe7kGz9eD7C4GwCDZF","name":"gestaoAgendaAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.tipo }}","rightValue":"consulta_horario","operator":{"type":"string","operation":"equals"},"id":"705f955b-121c-43c0-8a77-2cce07ac21df"}],"combinator":"and"},"renameOutput":true,"outputKey":"Consultar Horário do Médico"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44aec236-3f37-450a-9957-dcd90dc68ced","leftValue":"={{ $json.body.tipo }}","rightValue":"consulta_disponibilidade","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Consulta Disponibilidade de Horário"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"544cfdc2-44b3-4860-998c-12376d7aa75a","leftValue":"={{ $json.body.tipo }}","rightValue":"cadastro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cadastro Lead"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"271caf11-b57f-417e-8fd1-58e35f5738c9","leftValue":"={{ $json.body.tipo }}","rightValue":"agendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agendar Consulta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"448640f6-0e98-4f11-8e5a-35ae2e475a46","leftValue":"={{ $json.body.tipo }}","rightValue":"reagendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reagendar Consulta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe8c5096-dc5c-4165-b98b-855a5e856cca","leftValue":"={{ $json.body.tipo }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelar Consulta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16da284c-526e-4735-95f3-126a1d7fdc61","leftValue":"={{ $json.body.tipo }}","rightValue":"atualizar_kanban","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar Kanban"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1264,528],"id":"9e328302-cbfa-4832-9132-26164d0e1434","name":"Roteador de Tipos de Operacao"},{"parameters":{"operation":"update","tableId":"agendamentos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('buscarDadosDeAgendamentos').item.json.id }}"},{"keyName":"id_contato","condition":"eq","keyValue":"={{ $('buscarClienteReagendamento').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"data","fieldValue":"={{ $json.new_date }}"},{"fieldId":"hora","fieldValue":"={{ $json.new_time }}"},{"fieldId":"inicio","fieldValue":"={{ $json.new_start }}"},{"fieldId":"fim","fieldValue":"={{ $json.new_end }}"},{"fieldId":"observacoes","fieldValue":"={{ $('webhookAgendas').item.json.body.observacoes }}"}]}},"id":"b9b3e9e9-ef9f-4f1c-af94-7a9cf35f2a43","name":"Atualiza o agendamento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[304,1088],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"content":"## Roteador de operaçòes","height":480,"width":832},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1728,416],"id":"a4d8457b-6874-4084-8dae-a8bea4e48229","name":"Sticky Note"},{"parameters":{"content":"## Consulta de horários de trabalho dos funcionários","height":480,"width":944,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,-944],"id":"c3df5e0c-6326-478a-a2de-b4b3cc2d9d92","name":"Sticky Note1"},{"parameters":{"content":"## Consulta de horários disponíveis na agenda","height":480,"width":1136,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,-416],"id":"0dfdbf10-22d4-4acc-882d-6865f4954a44","name":"Sticky Note2"},{"parameters":{"content":"## Cadastra/Atualiza dados dos do cliente","height":336,"width":784,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,96],"id":"2c7a1dad-4081-4cf1-8514-217747e67405","name":"Sticky Note3"},{"parameters":{"content":"## Agenda Consulta do paciente","height":464,"width":3056,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,464],"id":"2096e248-5b58-4fe3-837f-31b09ed29a96","name":"Sticky Note4"},{"parameters":{"content":"## Reagenda Consulta do paciente","height":432,"width":1856,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,960],"id":"3b9a4cb9-df38-41fb-9eda-9baa006fade2","name":"Sticky Note5"},{"parameters":{"content":"## Cancela Consulta do paciente","height":464,"width":1440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,1424],"id":"eae73f99-6801-4648-83c1-41af27de0e8f","name":"Sticky Note6"},{"parameters":{"content":"## Atualiza dados no CRM","height":464,"width":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,1920],"id":"f1596508-2c9a-4f0b-b3cf-f1e52bc6c1b1","name":"Sticky Note7"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":176,"width":448,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1552,112],"typeVersion":1,"id":"9751a82f-d311-4d75-b908-c7c81351ba2a","name":"Sticky Note29"},{"parameters":{"httpMethod":"POST","path":"gestao-agenda","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1632,608],"id":"822a902f-ae1b-4c91-90e7-3d8921cc9407","name":"webhookAgendas","webhookId":"cd379b71-9c78-4df8-b33c-b8a8fb93fde4"},{"parameters":{"operation":"getAll","tableId":"horarios_trabalho","returnAll":true,"filters":{"conditions":[{"keyName":"id_organizacao","condition":"eq","keyValue":"={{ $json.body.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-544,-768],"id":"5291139e-7715-4c2c-be6e-a34c82dcaa0d","name":"buscarHorariosDeTrabalho","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"// Entrada\nconst input = $('webhookAgendas').first().json.body;\nconst config = $('buscarHorariosDeTrabalho').item.json;\n\nconst date = new Date(input.data_e_hora);\n\n// mapeamento de dias\nconst daysMap = [\n  \"domingo\",\n  \"segunda\",\n  \"terca\",\n  \"quarta\",\n  \"quinta\",\n  \"sexta\",\n  \"sabado\"\n];\n\nconst dayIndex = date.getDay();\nconst day = daysMap[dayIndex];\n\nconst formattedDate = date.toLocaleDateString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\",\n});\n\nconst hour = input.data_e_hora.split(\"T\")[1].slice(0, 5);\n\nconst isActive = config[`${day}_ativo`];\nconst start = config[`${day}_inicio_trabalho`];\nconst end = config[`${day}_fim_trabalho`];\nconst lunchStart = config[`${day}_inicio_almoco`];\nconst lunchEnd = config[`${day}_fim_almoco`];\n\nconst base = {\n  date: formattedDate,\n  hour,\n  weekday: day,\n};\n\n// ------- função de achar próximo dia válido -------\nfunction getNextAvailableDay() {\n  for (let i = 1; i <= 7; i++) {\n    const nextDate = new Date(date);\n    nextDate.setDate(date.getDate() + i);\n\n    const nextDayIndex = nextDate.getDay();\n    const nextDayName = daysMap[nextDayIndex];\n\n    if (config[`${nextDayName}_is_active`]) {\n      const nextStart = config[`${nextDayName}_inicio_trabalho`];\n\n      return {\n        nextAvailableDate: nextDate.toLocaleDateString(\"pt-BR\", {\n          timeZone: \"America/Sao_Paulo\",\n        }),\n        nextAvailableWeekday: nextDayName,\n        nextAvailableHour: nextStart\n      };\n    }\n  }\n  return null;\n}\n\n\n// ---------- VALIDAÇÕES ----------\n\nif (!isActive) {\n  return [{\n    json: {\n      valid: false,\n      reason: \"Dia não possui expediente.\",\n      ...base,\n      ...getNextAvailableDay()\n    }\n  }];\n}\n\nif (hour < start || hour >= end) {\n  return [{\n    json: {\n      valid: false,\n      reason: \"Fora do horário de atendimento.\",\n      ...base,\n      ...getNextAvailableDay()\n    }\n  }];\n}\n\nif (lunchStart && lunchEnd && hour >= lunchStart && hour < lunchEnd) {\n  return [{\n    json: {\n      valid: false,\n      reason: \"Horário de almoço.\",\n      ...base,\n      ...getNextAvailableDay()\n    }\n  }];\n}\n\n\n// ---------- Se deu bom ----------\nreturn [{\n  json: {\n    valid: true,\n    reason: \"Horário dentro do expediente.\",\n    ...base\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,-768],"id":"4adaf702-f9a9-4165-80aa-103226ee1677","name":"buscarDisponibilidades"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc57353b-cec9-48f8-8662-32a2c8575ecf","leftValue":"={{ $json.valid }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-112,-768],"id":"205c10ad-10b6-4318-bcdd-041e299d6cf5","name":"verificaSeEValido"},{"parameters":{"assignments":{"assignments":[{"id":"2e1852d1-4b9c-44bf-9412-3b526f625df3","name":"response","value":"=Infelizmente dia {{ $json.date }} as {{ $json.hour }} não possuímos expediente, porém na {{ $json.nextAvailableWeekday }} dia {{ $json.nextAvailableDate }} temos expediente a partir das {{ $json.nextAvailableHour }}. Quer que eu verifique algum horario nesse dia pra você?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-848],"id":"cbc55ef4-9026-4567-a77d-80081aea3994","name":"mensagemHorarioNaoValido"},{"parameters":{"assignments":{"assignments":[{"id":"62b76789-1bd6-4fe7-81dc-f91ba79a6acd","name":"response","value":"=temos a disponibilidade, pra confirmar o agendamento, vou preciso fazer o seu cadastro, tudo bem?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-640],"id":"df65a612-e0dd-415c-b2bb-208ffd307383","name":"mensagemHorarioDisponivel"},{"parameters":{"operation":"get","tableId":"horarios_trabalho","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $('webhookAgendas').item.json.body.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,-256],"id":"85223d1b-f687-4bdb-a939-047ee33016d1","name":"buscarHorariosDeTrabalho1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"getAll","tableId":"agendamentos","returnAll":true,"filters":{"conditions":[{"keyName":"id_organizacao","condition":"eq","keyValue":"={{ $('Roteador de Tipos de Operacao').item.json.body.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-368,-256],"id":"02c24bc5-1399-4ace-948f-35b9d984674e","name":"buscarAgendamentos","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6901c1fc-d06a-4feb-a087-87185d64cf47","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,-256],"id":"f81df1d6-9ab6-4364-ade6-56f03a56372e","name":"verificaSeEstaLivre"},{"parameters":{"assignments":{"assignments":[{"id":"62b76789-1bd6-4fe7-81dc-f91ba79a6acd","name":"response","value":"=temos a disponibilidade, posso confirmar o agendamento?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-336],"id":"9fe1dc12-a1d9-4324-a830-86d3f56e43b9","name":"setarDisponibilidade"},{"parameters":{"jsCode":"// -------- 1. CONFIGURAÇÃO E DURAÇÃO -------- //\nconst request = $('webhookAgendas').first().json.body;\nconst requestedISO = request.data_e_hora; // \"2025-12-20T14:01:00\"\n\n// Tenta pegar a duração da tabela work_schedules\nlet duration = 30; // Minutos padrão\ntry {\n  const scheduleConfig = $('buscarHorariosDeTrabalho1').first().json;\n  if (scheduleConfig && scheduleConfig.duracao_atendimento) {\n    duration = parseInt(scheduleConfig.duracao_atendimento, 10);\n  }\n} catch (e) {}\n\n// Pega os agendamentos existentes\nconst scheduled = $items(\"buscarAgendamentos\").map(e => e.json);\n\n// -------- 2. PREPARAR DADOS DO PEDIDO (Novo Agendamento) -------- //\nconst reqDate = new Date(requestedISO);\nconst reqStartMs = reqDate.getTime();\nconst reqEndMs = reqStartMs + (duration * 60 * 1000); // Soma duração em milissegundos\n\n// Strings para retorno\nconst requestedDate = requestedISO.slice(0, 10);\nconst requestedTime = requestedISO.slice(11, 16);\n\n// -------- 3. VERIFICAR CONFLITO DE INTERVALO (OVERLAP) -------- //\n// A regra de ouro de conflito é: (InicioA < FimB) && (FimA > InicioB)\n\nlet conflict = null;\n\nfor (const ev of scheduled) {\n  const evStart = new Date(ev.start_datetime).getTime();\n  const evEnd = new Date(ev.end_datetime).getTime();\n\n  // Verifica se encavala\n  if (reqStartMs < evEnd && reqEndMs > evStart) {\n    conflict = ev; // Achou um conflito!\n    break; // Para de procurar\n  }\n}\n\n// -------- 4. SE NÃO TIVER CONFLITO -------- //\nif (!conflict) {\n  return [{\n    json: {\n      available: true,\n      status: \"livre\",\n      requested_date: requestedDate,\n      requested_time: requestedTime,\n      requested_iso: requestedISO,\n      duration_minutes: duration\n    }\n  }];\n}\n\n// -------- 5. SE ESTIVER OCUPADO -> BUSCAR PRÓXIMO SLOT -------- //\n// Aqui mantemos a lógica de procurar um espaço livre após o conflito\n// Começamos a busca a partir do final do agendamento que gerou o conflito\n\n// Pega a hora que termina o conflito para sugerir como início\nconst conflictEnd = new Date(conflict.end_datetime);\nlet nextStartMs = conflictEnd.getTime();\nconst endOfDayLimitMs = new Date(requestedDate + \"T23:00:00\").getTime();\n\nlet nextFree = null;\nlet attempts = 0;\n\n// Tenta achar um buraco nos próximos horários\nwhile (nextStartMs < endOfDayLimitMs && attempts < 20) {\n  attempts++;\n  \n  const potentialEndMs = nextStartMs + (duration * 60 * 1000);\n  let isBlocked = false;\n\n  // Verifica se esse \"novo horário sugerido\" bate com algum outro agendamento\n  for (const ev of scheduled) {\n    const evStart = new Date(ev.start_datetime).getTime();\n    const evEnd = new Date(ev.end_datetime).getTime();\n    \n    if (nextStartMs < evEnd && potentialEndMs > evStart) {\n      isBlocked = true;\n      // Se bateu, pula para o fim desse agendamento impeditivo\n      nextStartMs = evEnd; \n      break; \n    }\n  }\n\n  if (!isBlocked) {\n    // Achamos um horário livre!\n    const freeDate = new Date(nextStartMs);\n    // Ajuste fuso horário simples para exibir HH:mm (Gambi segura para BRT se o server for UTC)\n    // O ideal é usar .toISOString() e pegar o pedaço, mas ajustando o offset -3h\n    const freeDateBR = new Date(nextStartMs - (3 * 60 * 60 * 1000)); \n    \n    const h = String(freeDateBR.getUTCHours()).padStart(2, '0');\n    const m = String(freeDateBR.getUTCMinutes()).padStart(2, '0');\n    nextFree = `${h}:${m}`;\n    break;\n  }\n}\n\n// -------- 6. RETORNO DE OCUPADO -------- //\nif (nextFree) {\n  return [{\n    json: {\n      available: false,\n      status: \"ocupado\",\n      requested_date: requestedDate,\n      requested_time: requestedTime,\n      next_available_date: requestedDate,\n      next_available_time: nextFree,\n      next_available_iso: requestedDate + \"T\" + nextFree + \":00\",\n      conflict: conflict,\n      duration: duration + \" min\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    available: false,\n    status: \"ocupado\",\n    requested_date: requestedDate,\n    requested_time: requestedTime,\n    reason: \"Sem horários disponíveis hoje\",\n    conflict: conflict,\n    duration: duration + \" min\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-176],"id":"827352d4-5dd5-41bc-b234-f2a669a38ab9","name":"buscarSlots"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08ea01ba-1e08-49d5-88a8-31a3a7634b38","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,-176],"id":"2e1ed06c-66d6-4e2c-9c00-743deaaf99cc","name":"verificaDisponibilidade"},{"parameters":{"assignments":{"assignments":[{"id":"62b76789-1bd6-4fe7-81dc-f91ba79a6acd","name":"response","value":"o horário está livre, posso confirmar {{nome}} ?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-304],"id":"fff129b4-7ada-46d3-9b7b-989e64e9e683","name":"realizarConfirmacao"},{"parameters":{"assignments":{"assignments":[{"id":"62b76789-1bd6-4fe7-81dc-f91ba79a6acd","name":"response","value":"=o {data e hora} solicitado esta ocupado, porém o proximo horário disponível é as {{ $json.next_available_iso }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-112],"id":"1a16453c-5a6d-423b-a82a-b569bb4c2ea1","name":"sugerirProximoHorario"},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,224],"id":"56a9de3d-936f-4046-9501-a3190c5eb649","name":"buscarClientes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('webhookAgendas').item.json.body.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"email","fieldValue":"={{ $json.email }}"},{"fieldId":"id_organizacao","fieldValue":"={{ $('webhookAgendas').item.json.body.id_organizacao }}"},{"fieldId":"status_kanban","fieldValue":"agendado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-336,224],"id":"d383c1da-5132-4420-8324-292c852f3d74","name":"atualizarCliente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"assignments":{"assignments":[{"id":"c4aad85f-1829-4dd0-b159-568c5ae9fe0e","name":"response","value":"Cliente atualizado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,224],"id":"2e0fbec7-9501-49e6-9f13-e2b4a10cda13","name":"setarMensagemClienteAtualizado"},{"parameters":{"operation":"getAll","tableId":"agendamentos","returnAll":true,"filters":{"conditions":[{"keyName":"id_organizacao","condition":"eq","keyValue":"={{ $json.body.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,608],"id":"6b3217dc-d63f-42ac-9fe2-c10bfefe3d8b","name":"buscarAgendamentos1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6901c1fc-d06a-4feb-a087-87185d64cf47","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,608],"id":"e14cf767-330a-492f-a983-85512c0a6a6d","name":"verificaSeExiste"},{"parameters":{"jsCode":"// -------- INPUTS REAIS -------- //\n\nconst request = $('webhookAgendas').first().json.body;\nconst requestedISO = request.data_e_hora;    // ex: \"2025-12-04T10:00:00\"\n\nconst scheduled = $items(\"buscarAgendamentos1\").map(e => e.json);\n\n\n// -------- PARSE DO HORARIO SOLICITADO (SEM TIMEZONE) -------- //\n\nconst requestedDate = requestedISO.slice(0, 10);   // \"2025-12-04\"\nconst requestedTime = requestedISO.slice(11, 16);  // \"10:00\"\n\nconst requestedKey = requestedDate + \" \" + requestedTime;\n\n\n// -------- MAPA DE OCUPAÇÃO -------- //\n\nconst busy = {};\n\n// transforma cada evento em chave uniforme\nfor (const ev of scheduled) {\n\n  const d = ev.inicio.slice(0, 10);\n  const t = ev.inicio.slice(11, 16);\n\n  const key = d + \" \" + t;\n\n  busy[key] = ev;\n}\n\n\n// -------- CHECAR CONFLITO -------- //\n\nconst conflict = busy[requestedKey] || null;\n\nif (!conflict) {\n  return [\n    {\n      json: {\n        available: true,\n        status: \"livre\",\n        requested_date: requestedDate,\n        requested_time: requestedTime,\n        requested_iso: requestedISO\n      }\n    }\n  ];\n}\n\n\n// -------- SE ESTÁ OCUPADO → PROCURAR PROX HORARIO -------- //\n\nlet [h, m] = requestedTime.split(\":\");\nlet hour = parseInt(h, 10);\n\nlet nextFree = null;\n\nfor (let i = 1; i <= 12; i++) {\n\n  hour++;\n\n  if (hour >= 24) break;\n\n  const nextTime = String(hour).padStart(2, \"0\") + \":\" + m;\n\n  const key = requestedDate + \" \" + nextTime;\n\n  if (!busy[key]) {\n    nextFree = nextTime;\n    break;\n  }\n}\n\n\n// -------- RETORNO FINAL -------- //\n\nif (nextFree) {\n  return [\n    {\n      json: {\n        available: false,\n        status: \"ocupado\",\n        requested_date: requestedDate,\n        requested_time: requestedTime,\n        next_available_date: requestedDate,\n        next_available_time: nextFree,\n        next_available_iso: requestedDate + \"T\" + nextFree + \":00\",\n        conflict: conflict,\n        duration: \"1h\"\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      available: false,\n      status: \"ocupado\",\n      requested_date: requestedDate,\n      requested_time: requestedTime,\n      reason: \"Sem horários disponíveis no mesmo dia\",\n      conflict: conflict,\n      duration: \"1h\"\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,672],"id":"882274e4-ea14-4f9f-aefd-f9625e32bfcb","name":"verificaHorariosDisponiveis"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08ea01ba-1e08-49d5-88a8-31a3a7634b38","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,672],"id":"b6314cc3-90b6-4d0f-b43e-077b5b62b616","name":"validaDisponibilidade"},{"parameters":{"assignments":{"assignments":[{"id":"36475117-b4e1-4eb1-b864-67346ab26b13","name":"response","value":"=Esse horário acabou de ser agendado por outro cliente, porém temos as {{ $json.next_available_time }}, o que acha?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,752],"id":"64453a63-9519-4353-a9c7-7e9796edea55","name":"setaMensagemIndisponivel"},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('webhookAgendas').last().json.body.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,592],"id":"58950100-10a2-47e3-9bed-2f555c82dcbc","name":"buscarDadosCliente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"horarios_trabalho","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $('webhookAgendas').last().json.body.id_organizacao }}"}]}},"id":"c5cdc641-6b06-402f-a128-6c14bde3458f","name":"buscarDadosHorariosDeTrabalho","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,592],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"// -------- 1. RECUPERAR DADOS -------- //\nconst body = $('webhookAgendas').first().json.body;\nconst rawISO = body.data_e_hora;\n\n// Tenta pegar a duração do nó anterior (Get Organization Config)\nlet duration = 30; // Valor padrão de segurança\n\ntry {\n  // Pega o valor do banco. Se vier nulo, usa 30.\n  const dbDuration = $('buscarDadosHorariosDeTrabalho').first().json.duracao_atendimento;\n  if (dbDuration) {\n    duration = parseInt(dbDuration, 10);\n  }\n} catch (error) {\n  console.log(\"Não foi possível ler a duração do banco, usando 30min.\");\n}\n\n// -------- 2. CÁLCULO DE DATA/HORA -------- //\nconst datePart = rawISO.split('T')[0];\nconst timePart = rawISO.split('T')[1].substring(0, 5);\n\nconst [h, m] = timePart.split(':').map(Number);\n\n// Criamos uma data base para somar os minutos\nconst dateObj = new Date(2000, 0, 1, h, m, 0);\ndateObj.setMinutes(dateObj.getMinutes() + duration);\n\n// Formatar Hora Final (HH:mm)\nconst endH = String(dateObj.getHours()).padStart(2, '0');\nconst endM = String(dateObj.getMinutes()).padStart(2, '0');\nconst endTimePart = `${endH}:${endM}:00`;\n\n// -------- 3. MONTAR RETORNO -------- //\nreturn [{\n  json: {\n    organization_id: body.id_organizacao,\n    id_sessao: body.id_sessao,\n    nome: body.nome,\n    type: body.tipo_atendimento,\n    email: body.email,\n    phone: body.telefone,\n    observacoes: body[\"observacoes\"],\n    \n    date: datePart,\n    time: timePart,\n    \n    // ISOs calculados com a duração dinâmica\n    start_datetime: `${datePart}T${timePart}:00-03:00`,\n    end_datetime: `${datePart}T${endTimePart}-03:00`,\n    \n    duration_used: duration // Para você conferir se pegou 120\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,592],"id":"f2248552-e2e5-498f-9ec1-f5da4e1a3cd4","name":"formatarAgendamento"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[944,592],"id":"b9698903-12ee-446d-b0ab-29e37414944a","name":"limitarEm1"},{"parameters":{"tableId":"agendamentos","fieldsUi":{"fieldValues":[{"fieldId":"id_organizacao","fieldValue":"={{ $('webhookAgendas').last().json.body.id_organizacao }}"},{"fieldId":"data","fieldValue":"={{ $json.date }}"},{"fieldId":"hora","fieldValue":"={{ $json.time }}"},{"fieldId":"id_contato","fieldValue":"={{ $('webhookAgendas').last().json.body.id_sessao }}"},{"fieldId":"nome_contato","fieldValue":"={{ $json.nome }}"},{"fieldId":"tipo","fieldValue":"={{ $('webhookAgendas').last().json.body.tipo_atendimento }}"},{"fieldId":"inicio","fieldValue":"={{ $json.start_datetime }}"},{"fieldId":"fim","fieldValue":"={{ $json.end_datetime }}"},{"fieldId":"observacoes","fieldValue":"={{ $json.observacoes }}"},{"fieldId":"situacao","fieldValue":"confirmado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,592],"id":"25ef6ca0-70f8-4569-9350-4706ef6644f1","name":"inserirAgendamento","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('webhookAgendas').last().json.body.id_sessao }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_kanban","fieldValue":"agendado"},{"fieldId":"email","fieldValue":"={{ $('webhookAgendas').last().json.body.email }}"},{"fieldId":"nome","fieldValue":"={{ $('webhookAgendas').last().json.body.nome }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1312,592],"id":"d3439a34-7cf4-4841-8b55-75ef89d10a2a","name":"atualizarEmailENomeCliente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"organizacoes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1520,592],"id":"9d2b9dc2-17b4-4f84-ba2b-6421c61ca2e1","name":"buscarInfosOrganizacao","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"fromEmail":"={{$vars.emailSender}}","toEmail":"={{ $('atualizarEmailENomeCliente').last().json.email }}","subject":"={{ $('inserirAgendamento').last().json.tipo }} Agendado(a)","html":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            color: #555;\n        }\n        .container {\n            width: 100%;\n            max-width: 600px;\n            margin: auto;\n        }\n        .header {\n            background-color: #f8f9fa;\n            color: white;\n            padding: 10px;\n            text-align: center;\n        }\n        .appointment-details {\n            background-color: #f8f9fa;\n            border: 1px solid #dee2e6;\n            padding: 20px;\n            margin: 10px 0;\n        }\n        .footer {\n            background-color: #28a745;\n            color: white;\n            text-align: center;\n            padding: 10px;\n            margin-top: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Confirmação de Agendamento</h1>\n        </div>\n        \n        <p>Olá {{ $('atualizarEmailENomeCliente').item.json.nome }},</p>\n\n        <p>Estamos escrevendo para confirmar seu agendamento na {{ $('buscarInfosOrganizacao').item.json.nome }}.</p>\n\n        <div class=\"appointment-details\">\n            <p><strong>Data:</strong> {{ $('inserirAgendamento').item.json.data.split('-').reverse().join('/') }}\n</p>\n            <p><strong>Hora:</strong> {{ $('inserirAgendamento').item.json.hora }}</p>\n        </div>\n\n        <p>Se você precisar fazer qualquer alteração, entre em contato conosco o mais rápido possível.</p>\n\n        <p>Estamos ansiosos para receber você.</p>\n\n        <p>Atenciosamente,</p>\n        <p>Equipe {{ $('buscarInfosOrganizacao').item.json.nome }}</p>\n\n        <div class=\"footer\">\n            <p></p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"replyTo":"r.nevesbraga@gmail.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1712,592],"id":"7da0f86e-bbda-42a5-8eae-478b8efdf18e","name":"enviarEmailAgendado","webhookId":"8aa5e85b-e170-4e92-9f51-4e0936ce1ee6","retryOnFail":true,"credentials":{"smtp":{"id":"bqMde2VzrltfQ8Z2","name":"SMTP Flowgrammers"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"resp_reschedule","name":"response","value":"Agendado com sucesso!","type":"string"}]},"options":{}},"id":"27c1ebd6-859e-4a3a-b7e6-51ae3f3633ef","name":"responderAgendamentoSucesso","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,496]},{"parameters":{"assignments":{"assignments":[{"id":"resp_reschedule","name":"response","value":"email incorreto","type":"string"}]},"options":{}},"id":"4830e73d-e240-4b39-919c-fe6c599b84eb","name":"responderAgendamentoErro","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,672]},{"parameters":{"operation":"getAll","tableId":"agendamentos","limit":1,"filters":{"conditions":[{"keyName":"id_organizacao","condition":"eq","keyValue":"={{ $json.organization_id }}"}]}},"id":"a366cd23-08f8-4bac-8062-d48f2bd1d305","name":"buscarDadosDeAgendamentos","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-352,1088],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"horarios_trabalho","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $json.organization_id }}"}]}},"id":"48700aaf-245d-446b-9dba-82cd5083db5d","name":"buscarDadosDeHorarioDeTrabalho","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,1088],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"// -------- 1. DADOS DE ENTRADA -------- //\nconst inputISO = $('webhookAgendas').first().json.body.data_e_hora;\n// Ex: 2025-12-05T15:00:00\n\n// -------- 2. PEGAR DURAÇÃO DINÂMICA -------- //\nlet duration = 30; // Padrão de segurança\n\ntry {\n  // Tenta ler do nó anterior que acabamos de adicionar\n  const orgData = $('buscarDadosDeHorarioDeTrabalho').first().json;\n  if (orgData && orgData.duracao_atendimento) {\n    duration = parseInt(orgData.duracao_atendimento, 10);\n  }\n} catch (e) {\n  // Mantém 30 se falhar\n}\n\n// -------- 3. CÁLCULO MATEMÁTICO (SEM LUXON) -------- //\nconst datePart = inputISO.split('T')[0];\nconst timePart = inputISO.split('T')[1].substring(0, 5);\n\nconst [h, m] = timePart.split(':').map(Number);\n\n// Criar objeto data base para somar minutos\nconst dateObj = new Date(2000, 0, 1, h, m, 0);\ndateObj.setMinutes(dateObj.getMinutes() + duration);\n\n// Formata Hora de Término\nconst endH = String(dateObj.getHours()).padStart(2, '0');\nconst endM = String(dateObj.getMinutes()).padStart(2, '0');\nconst endTimeStr = `${endH}:${endM}:00`;\n\n// -------- 4. MONTAR DATAS FINAIS -------- //\n// Adiciona timezone -03:00 fixo para o Supabase\nconst newStart = `${datePart}T${timePart}:00-03:00`;\nconst newEnd = `${datePart}T${endTimeStr}-03:00`;\n\nreturn [{\n  json: {\n    new_date: datePart,\n    new_time: timePart,\n    new_start: newStart,\n    new_end: newEnd,\n    duration_applied: duration // Para debug\n  }\n}]"},"id":"7fb745d2-4c7d-4e7a-a241-f72ffaea85b4","name":"calcularNovasDatas","type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1088]},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.body.telefone }}"}]}},"id":"ea579b40-dd9d-47c3-8001-d11dfec4940c","name":"buscarClienteReagendamento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-544,1088],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"organizacoes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.organization_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,1088],"id":"b39058c4-4491-4749-b85a-1a938dd15349","name":"buscaDadosOrganizacao","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('buscarClienteReagendamento').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"situacao","fieldValue":"agendado"},{"fieldId":"observacoes","fieldValue":"=Cliente reagendou a consulta em {{$now.format('dd/LL/yyyy hh:mm:ss')}} para o dia: {{ $('Atualiza o agendamento').item.json.date.split('-').reverse().join('/') }} as {{ $('Atualiza o agendamento').item.json.time }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[736,1216],"id":"0bda468b-6e4a-4344-93da-baf30f677105","name":"atualizarKanbanEObservacoes","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"fromEmail":"={{$vars.emailSender}}","toEmail":"={{ $('buscarClienteReagendamento').last().json.email }}","subject":"={{ $('inserirAgendamento').last().json.tipo }} Re-Agendado(a)","html":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            color: #555;\n        }\n        .container {\n            width: 100%;\n            max-width: 600px;\n            margin: auto;\n        }\n        .header {\n            background-color: #f8f9fa;\n            color: #000;\n            padding: 10px;\n            text-align: center;\n        }\n        .appointment-details {\n            background-color: #f8f9fa;\n            border: 1px solid #dee2e6;\n            padding: 20px;\n            margin: 10px 0;\n        }\n        .footer {\n            background-color: #17a2b8;\n            color: white;\n            text-align: center;\n            padding: 10px;\n            margin-top: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Reagendamento Confirmado</h1>\n        </div>\n        \n        <p>Olá {{ $('Atualiza o agendamento').item.json.nome }},</p>\n\n        <p>Seu Agendamento na {{ $json.nome }} foi reagendada com sucesso.</p>\n\n        <div class=\"appointment-details\">\n            <p><strong>Nova Data:</strong> {{ $('Atualiza o agendamento').item.json.new_date.split('-').reverse().join('/') }}</p>\n            <p><strong>Novo Horário:</strong> {{ $('Atualiza o agendamento').item.json.new_time }}</p>\n        </div>\n\n        <p>Qualquer imprevisto, estamos à disposição para te ajudar!</p>\n\n        <p>Continuamos ansiosos para te receber 😊</p>\n\n        <p>Atenciosamente,</p>\n        <p>Equipe {{ $json.nome }}</p>\n\n        <div class=\"footer\">\n            <p></p>\n        </div>\n    </div>\n</body>\n</html>\n","options":{"appendAttribution":false,"replyTo":"r.nevesbraga@gmail.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[736,1008],"id":"8591f2b8-876f-462b-9062-7d8d7eb07845","name":"enviarEmailReagendamento","webhookId":"8aa5e85b-e170-4e92-9f51-4e0936ce1ee6","retryOnFail":true,"credentials":{"smtp":{"id":"bqMde2VzrltfQ8Z2","name":"SMTP Flowgrammers"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"resp_reschedule","name":"response","value":"Agendamento reagendado com sucesso!","type":"string"}]},"options":{}},"id":"97bc055d-8af3-46d9-a3a0-2212f96fe8bf","name":"enviarRepostaReagendamentoComSucesso","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,992]},{"parameters":{"assignments":{"assignments":[{"id":"resp_reschedule","name":"response","value":"email incorreto","type":"string"}]},"options":{}},"id":"4e967ced-908c-4635-8d74-355fabf72068","name":"respondeComErro","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,1184]},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.body.id_sessao }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_kanban","fieldValue":"={{ $('webhookAgendas').item.json.body.status }}"},{"fieldId":"nome","fieldValue":"={{ $('webhookAgendas').item.json.body.nome }}"},{"fieldId":"email","fieldValue":"={{ $('webhookAgendas').item.json.body.email }}"},{"fieldId":"observacoes","fieldValue":"={{ $('webhookAgendas').item.json.body.observacoes}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-528,2096],"id":"5bc957b6-c116-4042-b963-6becaab1e57c","name":"atualizarDadosGerais","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.body.phone }}"}]}},"id":"b7f10d16-a326-4258-81ab-562a4da3e81f","name":"buscarClienteCancelamento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,1552],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"getAll","tableId":"agendamentos","returnAll":true,"filters":{"conditions":[{"keyName":"id_organizacao","condition":"eq","keyValue":"={{ $json.id_organizacao }}"}]}},"id":"70bda496-58ac-486d-af94-d33917236c76","name":"buscarDadosDoAgendamento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-352,1552],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"delete","tableId":"agendamentos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"d961792c-c5e6-4f90-b1e8-a3b1e1af1765","name":"excluirAgendamento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-160,1552],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"organizacoes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,1552],"id":"a78dcb6c-d9c9-4a73-9d51-abdfbb670f6a","name":"buscarInfosOrganizacao1","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('excluirAgendamento').item.json.id_contato }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"situacao","fieldValue":"cancelado"},{"fieldId":"observacoes","fieldValue":"=Cliente cancelou o agendamento em {{$now.format('dd/LL/yyyy hh:mm:ss')}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,1552],"id":"5edcc1e0-330d-4e9b-8f9b-dc7dab53e5f9","name":"atualizarKanban","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"fromEmail":"={{$vars.emailSender}}","toEmail":"={{ $('buscarClienteReagendamento').last().json.email }}","subject":"=Agendamento Cancelado","html":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            color: #555;\n        }\n        .container {\n            width: 100%;\n            max-width: 600px;\n            margin: auto;\n        }\n        .header {\n            background-color: #f8f9fa;\n            color: white;\n            padding: 10px;\n            text-align: center;\n        }\n        .appointment-details {\n            background-color: #f8f9fa;\n            border: 1px solid #dee2e6;\n            padding: 20px;\n            margin: 10px 0;\n        }\n        .footer {\n            background-color: #6c757d;\n            color: white;\n            text-align: center;\n            padding: 10px;\n            margin-top: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Agendamento Cancelado</h1>\n        </div>\n        \n        <p>Olá {{ $('excluirAgendamento').item.json.nome }},</p>\n\n        <p>Seu Agendamento na {{ $json.nome }} foi cancelado conforme solicitado.</p>\n\n        <div class=\"appointment-details\">\n            <p><strong>Data original:</strong> {{ new Date($('excluirAgendamento').item.json.data).toLocaleDateString('pt-BR')}}</p>\n            <p><strong>Horário:</strong> {{ $('excluirAgendamento').item.json.data.split('-').reverse().join('/') }}</p>\n        </div>\n\n        <p>Se desejar marcar um novo agendamento, estaremos aqui para ajudar! 💙</p>\n\n        <p>Qualquer dúvida, nos envie uma mensagem.</p>\n\n        <p>Atenciosamente,</p>\n        <p>Equipe {{ $json.nome }}</p>\n\n        <div class=\"footer\">\n            <p></p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"replyTo":"r.nevesbraga@gmail.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[400,1552],"id":"faf97ed6-79c5-4983-9d51-e8f544bdba60","name":"enviarEmailReagendamento1","webhookId":"8aa5e85b-e170-4e92-9f51-4e0936ce1ee6","retryOnFail":true,"credentials":{"smtp":{"id":"bqMde2VzrltfQ8Z2","name":"SMTP Flowgrammers"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"resp_cancel","name":"response","value":"Seu agendamento foi cancelado com sucesso.","type":"string"}]},"options":{}},"id":"44df8f3c-8eb2-48c2-90ea-d1ba83bfece3","name":"responderCancelamentoComSucesso","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,1488]},{"parameters":{"assignments":{"assignments":[{"id":"resp_reschedule","name":"response","value":"email incorreto","type":"string"}]},"options":{}},"id":"f5fc221d-ba77-49ca-b3e1-2ba6307816e3","name":"responderCancelamentoComErro","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,1680]}],"connections":{"Roteador de Tipos de Operacao":{"main":[[{"node":"buscarHorariosDeTrabalho","type":"main","index":0}],[{"node":"buscarHorariosDeTrabalho1","type":"main","index":0}],[{"node":"buscarClientes","type":"main","index":0}],[{"node":"buscarAgendamentos1","type":"main","index":0}],[{"node":"buscarClienteReagendamento","type":"main","index":0}],[{"node":"buscarClienteCancelamento","type":"main","index":0}],[{"node":"atualizarDadosGerais","type":"main","index":0}]]},"Atualiza o agendamento":{"main":[[{"node":"buscaDadosOrganizacao","type":"main","index":0}]]},"webhookAgendas":{"main":[[{"node":"Roteador de Tipos de Operacao","type":"main","index":0}]]},"buscarHorariosDeTrabalho":{"main":[[{"node":"buscarDisponibilidades","type":"main","index":0}]]},"buscarDisponibilidades":{"main":[[{"node":"verificaSeEValido","type":"main","index":0}]]},"verificaSeEValido":{"main":[[{"node":"mensagemHorarioNaoValido","type":"main","index":0}],[{"node":"mensagemHorarioDisponivel","type":"main","index":0}]]},"buscarHorariosDeTrabalho1":{"main":[[{"node":"buscarAgendamentos","type":"main","index":0}]]},"buscarAgendamentos":{"main":[[{"node":"verificaSeEstaLivre","type":"main","index":0}]]},"verificaSeEstaLivre":{"main":[[{"node":"setarDisponibilidade","type":"main","index":0}],[{"node":"buscarSlots","type":"main","index":0}]]},"buscarSlots":{"main":[[{"node":"verificaDisponibilidade","type":"main","index":0}]]},"verificaDisponibilidade":{"main":[[{"node":"realizarConfirmacao","type":"main","index":0}],[{"node":"sugerirProximoHorario","type":"main","index":0}]]},"buscarClientes":{"main":[[{"node":"atualizarCliente","type":"main","index":0}]]},"atualizarCliente":{"main":[[{"node":"setarMensagemClienteAtualizado","type":"main","index":0}]]},"buscarAgendamentos1":{"main":[[{"node":"verificaSeExiste","type":"main","index":0}]]},"verificaSeExiste":{"main":[[{"node":"buscarDadosCliente","type":"main","index":0}],[{"node":"verificaHorariosDisponiveis","type":"main","index":0}]]},"verificaHorariosDisponiveis":{"main":[[{"node":"validaDisponibilidade","type":"main","index":0}]]},"validaDisponibilidade":{"main":[[{"node":"buscarDadosCliente","type":"main","index":0}],[{"node":"setaMensagemIndisponivel","type":"main","index":0}]]},"buscarDadosCliente":{"main":[[{"node":"buscarDadosHorariosDeTrabalho","type":"main","index":0}]]},"buscarDadosHorariosDeTrabalho":{"main":[[{"node":"formatarAgendamento","type":"main","index":0}]]},"formatarAgendamento":{"main":[[{"node":"limitarEm1","type":"main","index":0}]]},"limitarEm1":{"main":[[{"node":"inserirAgendamento","type":"main","index":0}]]},"inserirAgendamento":{"main":[[{"node":"atualizarEmailENomeCliente","type":"main","index":0}]]},"atualizarEmailENomeCliente":{"main":[[{"node":"buscarInfosOrganizacao","type":"main","index":0}]]},"buscarInfosOrganizacao":{"main":[[{"node":"enviarEmailAgendado","type":"main","index":0}]]},"enviarEmailAgendado":{"main":[[{"node":"responderAgendamentoSucesso","type":"main","index":0}],[{"node":"responderAgendamentoErro","type":"main","index":0}]]},"responderAgendamentoSucesso":{"main":[[]]},"buscarDadosDeAgendamentos":{"main":[[{"node":"buscarDadosDeHorarioDeTrabalho","type":"main","index":0}]]},"buscarDadosDeHorarioDeTrabalho":{"main":[[{"node":"calcularNovasDatas","type":"main","index":0}]]},"calcularNovasDatas":{"main":[[{"node":"Atualiza o agendamento","type":"main","index":0}]]},"buscarClienteReagendamento":{"main":[[{"node":"buscarDadosDeAgendamentos","type":"main","index":0}]]},"buscaDadosOrganizacao":{"main":[[{"node":"atualizarKanbanEObservacoes","type":"main","index":0},{"node":"enviarEmailReagendamento","type":"main","index":0}]]},"enviarEmailReagendamento":{"main":[[{"node":"enviarRepostaReagendamentoComSucesso","type":"main","index":0}],[{"node":"respondeComErro","type":"main","index":0}]]},"buscarClienteCancelamento":{"main":[[{"node":"buscarDadosDoAgendamento","type":"main","index":0}]]},"buscarDadosDoAgendamento":{"main":[[{"node":"excluirAgendamento","type":"main","index":0}]]},"excluirAgendamento":{"main":[[{"node":"buscarInfosOrganizacao1","type":"main","index":0}]]},"buscarInfosOrganizacao1":{"main":[[{"node":"atualizarKanban","type":"main","index":0}]]},"atualizarKanban":{"main":[[{"node":"enviarEmailReagendamento1","type":"main","index":0}]]},"enviarEmailReagendamento1":{"main":[[{"node":"responderCancelamentoComSucesso","type":"main","index":0}],[{"node":"responderCancelamentoComErro","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Y9lBbeWF7diBSsTX"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"1beb6cee-39dd-4faf-ad3d-115cab641fd9","activeVersionId":"1beb6cee-39dd-4faf-ad3d-115cab641fd9","triggerCount":1,"shared":[{"updatedAt":"2026-01-05T19:40:05.661Z","createdAt":"2026-01-05T19:40:05.661Z","role":"workflow:owner","workflowId":"f2fbe7kGz9eD7C4GwCDZF","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-07T02:20:45.854Z","createdAt":"2026-03-07T02:20:31.216Z","versionId":"1beb6cee-39dd-4faf-ad3d-115cab641fd9","workflowId":"f2fbe7kGz9eD7C4GwCDZF","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.tipo }}","rightValue":"consulta_horario","operator":{"type":"string","operation":"equals"},"id":"705f955b-121c-43c0-8a77-2cce07ac21df"}],"combinator":"and"},"renameOutput":true,"outputKey":"Consultar Horário do Médico"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44aec236-3f37-450a-9957-dcd90dc68ced","leftValue":"={{ $json.body.tipo }}","rightValue":"consulta_disponibilidade","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Consulta Disponibilidade de Horário"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"544cfdc2-44b3-4860-998c-12376d7aa75a","leftValue":"={{ $json.body.tipo }}","rightValue":"cadastro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cadastro Lead"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"271caf11-b57f-417e-8fd1-58e35f5738c9","leftValue":"={{ $json.body.tipo }}","rightValue":"agendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agendar Consulta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"448640f6-0e98-4f11-8e5a-35ae2e475a46","leftValue":"={{ $json.body.tipo }}","rightValue":"reagendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reagendar Consulta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe8c5096-dc5c-4165-b98b-855a5e856cca","leftValue":"={{ $json.body.tipo }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelar Consulta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16da284c-526e-4735-95f3-126a1d7fdc61","leftValue":"={{ $json.body.tipo }}","rightValue":"atualizar_kanban","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar Kanban"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1264,528],"id":"9e328302-cbfa-4832-9132-26164d0e1434","name":"Roteador de Tipos de Operacao"},{"parameters":{"operation":"update","tableId":"agendamentos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('buscarDadosDeAgendamentos').item.json.id }}"},{"keyName":"id_contato","condition":"eq","keyValue":"={{ $('buscarClienteReagendamento').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"data","fieldValue":"={{ $json.new_date }}"},{"fieldId":"hora","fieldValue":"={{ $json.new_time }}"},{"fieldId":"inicio","fieldValue":"={{ $json.new_start }}"},{"fieldId":"fim","fieldValue":"={{ $json.new_end }}"},{"fieldId":"observacoes","fieldValue":"={{ $('webhookAgendas').item.json.body.observacoes }}"}]}},"id":"b9b3e9e9-ef9f-4f1c-af94-7a9cf35f2a43","name":"Atualiza o agendamento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[304,1088],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"content":"## Roteador de operaçòes","height":480,"width":832},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1728,416],"id":"a4d8457b-6874-4084-8dae-a8bea4e48229","name":"Sticky Note"},{"parameters":{"content":"## Consulta de horários de trabalho dos funcionários","height":480,"width":944,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,-944],"id":"c3df5e0c-6326-478a-a2de-b4b3cc2d9d92","name":"Sticky Note1"},{"parameters":{"content":"## Consulta de horários disponíveis na agenda","height":480,"width":1136,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,-416],"id":"0dfdbf10-22d4-4acc-882d-6865f4954a44","name":"Sticky Note2"},{"parameters":{"content":"## Cadastra/Atualiza dados dos do cliente","height":336,"width":784,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,96],"id":"2c7a1dad-4081-4cf1-8514-217747e67405","name":"Sticky Note3"},{"parameters":{"content":"## Agenda Consulta do paciente","height":464,"width":3056,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,464],"id":"2096e248-5b58-4fe3-837f-31b09ed29a96","name":"Sticky Note4"},{"parameters":{"content":"## Reagenda Consulta do paciente","height":432,"width":1856,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,960],"id":"3b9a4cb9-df38-41fb-9eda-9baa006fade2","name":"Sticky Note5"},{"parameters":{"content":"## Cancela Consulta do paciente","height":464,"width":1440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,1424],"id":"eae73f99-6801-4648-83c1-41af27de0e8f","name":"Sticky Note6"},{"parameters":{"content":"## Atualiza dados no CRM","height":464,"width":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,1920],"id":"f1596508-2c9a-4f0b-b3cf-f1e52bc6c1b1","name":"Sticky Note7"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":176,"width":448,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1552,112],"typeVersion":1,"id":"9751a82f-d311-4d75-b908-c7c81351ba2a","name":"Sticky Note29"},{"parameters":{"httpMethod":"POST","path":"gestao-agenda","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1632,608],"id":"822a902f-ae1b-4c91-90e7-3d8921cc9407","name":"webhookAgendas","webhookId":"cd379b71-9c78-4df8-b33c-b8a8fb93fde4"},{"parameters":{"operation":"getAll","tableId":"horarios_trabalho","returnAll":true,"filters":{"conditions":[{"keyName":"id_organizacao","condition":"eq","keyValue":"={{ $json.body.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-544,-768],"id":"5291139e-7715-4c2c-be6e-a34c82dcaa0d","name":"buscarHorariosDeTrabalho","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"// Entrada\nconst input = $('webhookAgendas').first().json.body;\nconst config = $('buscarHorariosDeTrabalho').item.json;\n\nconst date = new Date(input.data_e_hora);\n\n// mapeamento de dias\nconst daysMap = [\n  \"domingo\",\n  \"segunda\",\n  \"terca\",\n  \"quarta\",\n  \"quinta\",\n  \"sexta\",\n  \"sabado\"\n];\n\nconst dayIndex = date.getDay();\nconst day = daysMap[dayIndex];\n\nconst formattedDate = date.toLocaleDateString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\",\n});\n\nconst hour = input.data_e_hora.split(\"T\")[1].slice(0, 5);\n\nconst isActive = config[`${day}_ativo`];\nconst start = config[`${day}_inicio_trabalho`];\nconst end = config[`${day}_fim_trabalho`];\nconst lunchStart = config[`${day}_inicio_almoco`];\nconst lunchEnd = config[`${day}_fim_almoco`];\n\nconst base = {\n  date: formattedDate,\n  hour,\n  weekday: day,\n};\n\n// ------- função de achar próximo dia válido -------\nfunction getNextAvailableDay() {\n  for (let i = 1; i <= 7; i++) {\n    const nextDate = new Date(date);\n    nextDate.setDate(date.getDate() + i);\n\n    const nextDayIndex = nextDate.getDay();\n    const nextDayName = daysMap[nextDayIndex];\n\n    if (config[`${nextDayName}_is_active`]) {\n      const nextStart = config[`${nextDayName}_inicio_trabalho`];\n\n      return {\n        nextAvailableDate: nextDate.toLocaleDateString(\"pt-BR\", {\n          timeZone: \"America/Sao_Paulo\",\n        }),\n        nextAvailableWeekday: nextDayName,\n        nextAvailableHour: nextStart\n      };\n    }\n  }\n  return null;\n}\n\n\n// ---------- VALIDAÇÕES ----------\n\nif (!isActive) {\n  return [{\n    json: {\n      valid: false,\n      reason: \"Dia não possui expediente.\",\n      ...base,\n      ...getNextAvailableDay()\n    }\n  }];\n}\n\nif (hour < start || hour >= end) {\n  return [{\n    json: {\n      valid: false,\n      reason: \"Fora do horário de atendimento.\",\n      ...base,\n      ...getNextAvailableDay()\n    }\n  }];\n}\n\nif (lunchStart && lunchEnd && hour >= lunchStart && hour < lunchEnd) {\n  return [{\n    json: {\n      valid: false,\n      reason: \"Horário de almoço.\",\n      ...base,\n      ...getNextAvailableDay()\n    }\n  }];\n}\n\n\n// ---------- Se deu bom ----------\nreturn [{\n  json: {\n    valid: true,\n    reason: \"Horário dentro do expediente.\",\n    ...base\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,-768],"id":"4adaf702-f9a9-4165-80aa-103226ee1677","name":"buscarDisponibilidades"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc57353b-cec9-48f8-8662-32a2c8575ecf","leftValue":"={{ $json.valid }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-112,-768],"id":"205c10ad-10b6-4318-bcdd-041e299d6cf5","name":"verificaSeEValido"},{"parameters":{"assignments":{"assignments":[{"id":"2e1852d1-4b9c-44bf-9412-3b526f625df3","name":"response","value":"=Infelizmente dia {{ $json.date }} as {{ $json.hour }} não possuímos expediente, porém na {{ $json.nextAvailableWeekday }} dia {{ $json.nextAvailableDate }} temos expediente a partir das {{ $json.nextAvailableHour }}. Quer que eu verifique algum horario nesse dia pra você?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-848],"id":"cbc55ef4-9026-4567-a77d-80081aea3994","name":"mensagemHorarioNaoValido"},{"parameters":{"assignments":{"assignments":[{"id":"62b76789-1bd6-4fe7-81dc-f91ba79a6acd","name":"response","value":"=temos a disponibilidade, pra confirmar o agendamento, vou preciso fazer o seu cadastro, tudo bem?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-640],"id":"df65a612-e0dd-415c-b2bb-208ffd307383","name":"mensagemHorarioDisponivel"},{"parameters":{"operation":"get","tableId":"horarios_trabalho","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $('webhookAgendas').item.json.body.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,-256],"id":"85223d1b-f687-4bdb-a939-047ee33016d1","name":"buscarHorariosDeTrabalho1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"getAll","tableId":"agendamentos","returnAll":true,"filters":{"conditions":[{"keyName":"id_organizacao","condition":"eq","keyValue":"={{ $('Roteador de Tipos de Operacao').item.json.body.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-368,-256],"id":"02c24bc5-1399-4ace-948f-35b9d984674e","name":"buscarAgendamentos","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6901c1fc-d06a-4feb-a087-87185d64cf47","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,-256],"id":"f81df1d6-9ab6-4364-ade6-56f03a56372e","name":"verificaSeEstaLivre"},{"parameters":{"assignments":{"assignments":[{"id":"62b76789-1bd6-4fe7-81dc-f91ba79a6acd","name":"response","value":"=temos a disponibilidade, posso confirmar o agendamento?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-336],"id":"9fe1dc12-a1d9-4324-a830-86d3f56e43b9","name":"setarDisponibilidade"},{"parameters":{"jsCode":"// -------- 1. CONFIGURAÇÃO E DURAÇÃO -------- //\nconst request = $('webhookAgendas').first().json.body;\nconst requestedISO = request.data_e_hora; // \"2025-12-20T14:01:00\"\n\n// Tenta pegar a duração da tabela work_schedules\nlet duration = 30; // Minutos padrão\ntry {\n  const scheduleConfig = $('buscarHorariosDeTrabalho1').first().json;\n  if (scheduleConfig && scheduleConfig.duracao_atendimento) {\n    duration = parseInt(scheduleConfig.duracao_atendimento, 10);\n  }\n} catch (e) {}\n\n// Pega os agendamentos existentes\nconst scheduled = $items(\"buscarAgendamentos\").map(e => e.json);\n\n// -------- 2. PREPARAR DADOS DO PEDIDO (Novo Agendamento) -------- //\nconst reqDate = new Date(requestedISO);\nconst reqStartMs = reqDate.getTime();\nconst reqEndMs = reqStartMs + (duration * 60 * 1000); // Soma duração em milissegundos\n\n// Strings para retorno\nconst requestedDate = requestedISO.slice(0, 10);\nconst requestedTime = requestedISO.slice(11, 16);\n\n// -------- 3. VERIFICAR CONFLITO DE INTERVALO (OVERLAP) -------- //\n// A regra de ouro de conflito é: (InicioA < FimB) && (FimA > InicioB)\n\nlet conflict = null;\n\nfor (const ev of scheduled) {\n  const evStart = new Date(ev.start_datetime).getTime();\n  const evEnd = new Date(ev.end_datetime).getTime();\n\n  // Verifica se encavala\n  if (reqStartMs < evEnd && reqEndMs > evStart) {\n    conflict = ev; // Achou um conflito!\n    break; // Para de procurar\n  }\n}\n\n// -------- 4. SE NÃO TIVER CONFLITO -------- //\nif (!conflict) {\n  return [{\n    json: {\n      available: true,\n      status: \"livre\",\n      requested_date: requestedDate,\n      requested_time: requestedTime,\n      requested_iso: requestedISO,\n      duration_minutes: duration\n    }\n  }];\n}\n\n// -------- 5. SE ESTIVER OCUPADO -> BUSCAR PRÓXIMO SLOT -------- //\n// Aqui mantemos a lógica de procurar um espaço livre após o conflito\n// Começamos a busca a partir do final do agendamento que gerou o conflito\n\n// Pega a hora que termina o conflito para sugerir como início\nconst conflictEnd = new Date(conflict.end_datetime);\nlet nextStartMs = conflictEnd.getTime();\nconst endOfDayLimitMs = new Date(requestedDate + \"T23:00:00\").getTime();\n\nlet nextFree = null;\nlet attempts = 0;\n\n// Tenta achar um buraco nos próximos horários\nwhile (nextStartMs < endOfDayLimitMs && attempts < 20) {\n  attempts++;\n  \n  const potentialEndMs = nextStartMs + (duration * 60 * 1000);\n  let isBlocked = false;\n\n  // Verifica se esse \"novo horário sugerido\" bate com algum outro agendamento\n  for (const ev of scheduled) {\n    const evStart = new Date(ev.start_datetime).getTime();\n    const evEnd = new Date(ev.end_datetime).getTime();\n    \n    if (nextStartMs < evEnd && potentialEndMs > evStart) {\n      isBlocked = true;\n      // Se bateu, pula para o fim desse agendamento impeditivo\n      nextStartMs = evEnd; \n      break; \n    }\n  }\n\n  if (!isBlocked) {\n    // Achamos um horário livre!\n    const freeDate = new Date(nextStartMs);\n    // Ajuste fuso horário simples para exibir HH:mm (Gambi segura para BRT se o server for UTC)\n    // O ideal é usar .toISOString() e pegar o pedaço, mas ajustando o offset -3h\n    const freeDateBR = new Date(nextStartMs - (3 * 60 * 60 * 1000)); \n    \n    const h = String(freeDateBR.getUTCHours()).padStart(2, '0');\n    const m = String(freeDateBR.getUTCMinutes()).padStart(2, '0');\n    nextFree = `${h}:${m}`;\n    break;\n  }\n}\n\n// -------- 6. RETORNO DE OCUPADO -------- //\nif (nextFree) {\n  return [{\n    json: {\n      available: false,\n      status: \"ocupado\",\n      requested_date: requestedDate,\n      requested_time: requestedTime,\n      next_available_date: requestedDate,\n      next_available_time: nextFree,\n      next_available_iso: requestedDate + \"T\" + nextFree + \":00\",\n      conflict: conflict,\n      duration: duration + \" min\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    available: false,\n    status: \"ocupado\",\n    requested_date: requestedDate,\n    requested_time: requestedTime,\n    reason: \"Sem horários disponíveis hoje\",\n    conflict: conflict,\n    duration: duration + \" min\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-176],"id":"827352d4-5dd5-41bc-b234-f2a669a38ab9","name":"buscarSlots"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08ea01ba-1e08-49d5-88a8-31a3a7634b38","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,-176],"id":"2e1ed06c-66d6-4e2c-9c00-743deaaf99cc","name":"verificaDisponibilidade"},{"parameters":{"assignments":{"assignments":[{"id":"62b76789-1bd6-4fe7-81dc-f91ba79a6acd","name":"response","value":"o horário está livre, posso confirmar {{nome}} ?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-304],"id":"fff129b4-7ada-46d3-9b7b-989e64e9e683","name":"realizarConfirmacao"},{"parameters":{"assignments":{"assignments":[{"id":"62b76789-1bd6-4fe7-81dc-f91ba79a6acd","name":"response","value":"=o {data e hora} solicitado esta ocupado, porém o proximo horário disponível é as {{ $json.next_available_iso }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-112],"id":"1a16453c-5a6d-423b-a82a-b569bb4c2ea1","name":"sugerirProximoHorario"},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,224],"id":"56a9de3d-936f-4046-9501-a3190c5eb649","name":"buscarClientes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('webhookAgendas').item.json.body.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"email","fieldValue":"={{ $json.email }}"},{"fieldId":"id_organizacao","fieldValue":"={{ $('webhookAgendas').item.json.body.id_organizacao }}"},{"fieldId":"status_kanban","fieldValue":"agendado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-336,224],"id":"d383c1da-5132-4420-8324-292c852f3d74","name":"atualizarCliente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"assignments":{"assignments":[{"id":"c4aad85f-1829-4dd0-b159-568c5ae9fe0e","name":"response","value":"Cliente atualizado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,224],"id":"2e0fbec7-9501-49e6-9f13-e2b4a10cda13","name":"setarMensagemClienteAtualizado"},{"parameters":{"operation":"getAll","tableId":"agendamentos","returnAll":true,"filters":{"conditions":[{"keyName":"id_organizacao","condition":"eq","keyValue":"={{ $json.body.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,608],"id":"6b3217dc-d63f-42ac-9fe2-c10bfefe3d8b","name":"buscarAgendamentos1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6901c1fc-d06a-4feb-a087-87185d64cf47","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,608],"id":"e14cf767-330a-492f-a983-85512c0a6a6d","name":"verificaSeExiste"},{"parameters":{"jsCode":"// -------- INPUTS REAIS -------- //\n\nconst request = $('webhookAgendas').first().json.body;\nconst requestedISO = request.data_e_hora;    // ex: \"2025-12-04T10:00:00\"\n\nconst scheduled = $items(\"buscarAgendamentos1\").map(e => e.json);\n\n\n// -------- PARSE DO HORARIO SOLICITADO (SEM TIMEZONE) -------- //\n\nconst requestedDate = requestedISO.slice(0, 10);   // \"2025-12-04\"\nconst requestedTime = requestedISO.slice(11, 16);  // \"10:00\"\n\nconst requestedKey = requestedDate + \" \" + requestedTime;\n\n\n// -------- MAPA DE OCUPAÇÃO -------- //\n\nconst busy = {};\n\n// transforma cada evento em chave uniforme\nfor (const ev of scheduled) {\n\n  const d = ev.inicio.slice(0, 10);\n  const t = ev.inicio.slice(11, 16);\n\n  const key = d + \" \" + t;\n\n  busy[key] = ev;\n}\n\n\n// -------- CHECAR CONFLITO -------- //\n\nconst conflict = busy[requestedKey] || null;\n\nif (!conflict) {\n  return [\n    {\n      json: {\n        available: true,\n        status: \"livre\",\n        requested_date: requestedDate,\n        requested_time: requestedTime,\n        requested_iso: requestedISO\n      }\n    }\n  ];\n}\n\n\n// -------- SE ESTÁ OCUPADO → PROCURAR PROX HORARIO -------- //\n\nlet [h, m] = requestedTime.split(\":\");\nlet hour = parseInt(h, 10);\n\nlet nextFree = null;\n\nfor (let i = 1; i <= 12; i++) {\n\n  hour++;\n\n  if (hour >= 24) break;\n\n  const nextTime = String(hour).padStart(2, \"0\") + \":\" + m;\n\n  const key = requestedDate + \" \" + nextTime;\n\n  if (!busy[key]) {\n    nextFree = nextTime;\n    break;\n  }\n}\n\n\n// -------- RETORNO FINAL -------- //\n\nif (nextFree) {\n  return [\n    {\n      json: {\n        available: false,\n        status: \"ocupado\",\n        requested_date: requestedDate,\n        requested_time: requestedTime,\n        next_available_date: requestedDate,\n        next_available_time: nextFree,\n        next_available_iso: requestedDate + \"T\" + nextFree + \":00\",\n        conflict: conflict,\n        duration: \"1h\"\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      available: false,\n      status: \"ocupado\",\n      requested_date: requestedDate,\n      requested_time: requestedTime,\n      reason: \"Sem horários disponíveis no mesmo dia\",\n      conflict: conflict,\n      duration: \"1h\"\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,672],"id":"882274e4-ea14-4f9f-aefd-f9625e32bfcb","name":"verificaHorariosDisponiveis"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08ea01ba-1e08-49d5-88a8-31a3a7634b38","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,672],"id":"b6314cc3-90b6-4d0f-b43e-077b5b62b616","name":"validaDisponibilidade"},{"parameters":{"assignments":{"assignments":[{"id":"36475117-b4e1-4eb1-b864-67346ab26b13","name":"response","value":"=Esse horário acabou de ser agendado por outro cliente, porém temos as {{ $json.next_available_time }}, o que acha?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,752],"id":"64453a63-9519-4353-a9c7-7e9796edea55","name":"setaMensagemIndisponivel"},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('webhookAgendas').last().json.body.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,592],"id":"58950100-10a2-47e3-9bed-2f555c82dcbc","name":"buscarDadosCliente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"horarios_trabalho","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $('webhookAgendas').last().json.body.id_organizacao }}"}]}},"id":"c5cdc641-6b06-402f-a128-6c14bde3458f","name":"buscarDadosHorariosDeTrabalho","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,592],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"// -------- 1. RECUPERAR DADOS -------- //\nconst body = $('webhookAgendas').first().json.body;\nconst rawISO = body.data_e_hora;\n\n// Tenta pegar a duração do nó anterior (Get Organization Config)\nlet duration = 30; // Valor padrão de segurança\n\ntry {\n  // Pega o valor do banco. Se vier nulo, usa 30.\n  const dbDuration = $('buscarDadosHorariosDeTrabalho').first().json.duracao_atendimento;\n  if (dbDuration) {\n    duration = parseInt(dbDuration, 10);\n  }\n} catch (error) {\n  console.log(\"Não foi possível ler a duração do banco, usando 30min.\");\n}\n\n// -------- 2. CÁLCULO DE DATA/HORA -------- //\nconst datePart = rawISO.split('T')[0];\nconst timePart = rawISO.split('T')[1].substring(0, 5);\n\nconst [h, m] = timePart.split(':').map(Number);\n\n// Criamos uma data base para somar os minutos\nconst dateObj = new Date(2000, 0, 1, h, m, 0);\ndateObj.setMinutes(dateObj.getMinutes() + duration);\n\n// Formatar Hora Final (HH:mm)\nconst endH = String(dateObj.getHours()).padStart(2, '0');\nconst endM = String(dateObj.getMinutes()).padStart(2, '0');\nconst endTimePart = `${endH}:${endM}:00`;\n\n// -------- 3. MONTAR RETORNO -------- //\nreturn [{\n  json: {\n    organization_id: body.id_organizacao,\n    id_sessao: body.id_sessao,\n    nome: body.nome,\n    type: body.tipo_atendimento,\n    email: body.email,\n    phone: body.telefone,\n    observacoes: body[\"observacoes\"],\n    \n    date: datePart,\n    time: timePart,\n    \n    // ISOs calculados com a duração dinâmica\n    start_datetime: `${datePart}T${timePart}:00-03:00`,\n    end_datetime: `${datePart}T${endTimePart}-03:00`,\n    \n    duration_used: duration // Para você conferir se pegou 120\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,592],"id":"f2248552-e2e5-498f-9ec1-f5da4e1a3cd4","name":"formatarAgendamento"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[944,592],"id":"b9698903-12ee-446d-b0ab-29e37414944a","name":"limitarEm1"},{"parameters":{"tableId":"agendamentos","fieldsUi":{"fieldValues":[{"fieldId":"id_organizacao","fieldValue":"={{ $('webhookAgendas').last().json.body.id_organizacao }}"},{"fieldId":"data","fieldValue":"={{ $json.date }}"},{"fieldId":"hora","fieldValue":"={{ $json.time }}"},{"fieldId":"id_contato","fieldValue":"={{ $('webhookAgendas').last().json.body.id_sessao }}"},{"fieldId":"nome_contato","fieldValue":"={{ $json.nome }}"},{"fieldId":"tipo","fieldValue":"={{ $('webhookAgendas').last().json.body.tipo_atendimento }}"},{"fieldId":"inicio","fieldValue":"={{ $json.start_datetime }}"},{"fieldId":"fim","fieldValue":"={{ $json.end_datetime }}"},{"fieldId":"observacoes","fieldValue":"={{ $json.observacoes }}"},{"fieldId":"situacao","fieldValue":"confirmado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,592],"id":"25ef6ca0-70f8-4569-9350-4706ef6644f1","name":"inserirAgendamento","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('webhookAgendas').last().json.body.id_sessao }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_kanban","fieldValue":"agendado"},{"fieldId":"email","fieldValue":"={{ $('webhookAgendas').last().json.body.email }}"},{"fieldId":"nome","fieldValue":"={{ $('webhookAgendas').last().json.body.nome }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1312,592],"id":"d3439a34-7cf4-4841-8b55-75ef89d10a2a","name":"atualizarEmailENomeCliente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"organizacoes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1520,592],"id":"9d2b9dc2-17b4-4f84-ba2b-6421c61ca2e1","name":"buscarInfosOrganizacao","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"fromEmail":"={{$vars.emailSender}}","toEmail":"={{ $('atualizarEmailENomeCliente').last().json.email }}","subject":"={{ $('inserirAgendamento').last().json.tipo }} Agendado(a)","html":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            color: #555;\n        }\n        .container {\n            width: 100%;\n            max-width: 600px;\n            margin: auto;\n        }\n        .header {\n            background-color: #f8f9fa;\n            color: white;\n            padding: 10px;\n            text-align: center;\n        }\n        .appointment-details {\n            background-color: #f8f9fa;\n            border: 1px solid #dee2e6;\n            padding: 20px;\n            margin: 10px 0;\n        }\n        .footer {\n            background-color: #28a745;\n            color: white;\n            text-align: center;\n            padding: 10px;\n            margin-top: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Confirmação de Agendamento</h1>\n        </div>\n        \n        <p>Olá {{ $('atualizarEmailENomeCliente').item.json.nome }},</p>\n\n        <p>Estamos escrevendo para confirmar seu agendamento na {{ $('buscarInfosOrganizacao').item.json.nome }}.</p>\n\n        <div class=\"appointment-details\">\n            <p><strong>Data:</strong> {{ $('inserirAgendamento').item.json.data.split('-').reverse().join('/') }}\n</p>\n            <p><strong>Hora:</strong> {{ $('inserirAgendamento').item.json.hora }}</p>\n        </div>\n\n        <p>Se você precisar fazer qualquer alteração, entre em contato conosco o mais rápido possível.</p>\n\n        <p>Estamos ansiosos para receber você.</p>\n\n        <p>Atenciosamente,</p>\n        <p>Equipe {{ $('buscarInfosOrganizacao').item.json.nome }}</p>\n\n        <div class=\"footer\">\n            <p></p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"replyTo":"r.nevesbraga@gmail.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1712,592],"id":"7da0f86e-bbda-42a5-8eae-478b8efdf18e","name":"enviarEmailAgendado","webhookId":"8aa5e85b-e170-4e92-9f51-4e0936ce1ee6","retryOnFail":true,"credentials":{"smtp":{"id":"bqMde2VzrltfQ8Z2","name":"SMTP Flowgrammers"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"resp_reschedule","name":"response","value":"Agendado com sucesso!","type":"string"}]},"options":{}},"id":"27c1ebd6-859e-4a3a-b7e6-51ae3f3633ef","name":"responderAgendamentoSucesso","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,496]},{"parameters":{"assignments":{"assignments":[{"id":"resp_reschedule","name":"response","value":"email incorreto","type":"string"}]},"options":{}},"id":"4830e73d-e240-4b39-919c-fe6c599b84eb","name":"responderAgendamentoErro","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,672]},{"parameters":{"operation":"getAll","tableId":"agendamentos","limit":1,"filters":{"conditions":[{"keyName":"id_organizacao","condition":"eq","keyValue":"={{ $json.organization_id }}"}]}},"id":"a366cd23-08f8-4bac-8062-d48f2bd1d305","name":"buscarDadosDeAgendamentos","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-352,1088],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"horarios_trabalho","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $json.organization_id }}"}]}},"id":"48700aaf-245d-446b-9dba-82cd5083db5d","name":"buscarDadosDeHorarioDeTrabalho","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,1088],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"// -------- 1. DADOS DE ENTRADA -------- //\nconst inputISO = $('webhookAgendas').first().json.body.data_e_hora;\n// Ex: 2025-12-05T15:00:00\n\n// -------- 2. PEGAR DURAÇÃO DINÂMICA -------- //\nlet duration = 30; // Padrão de segurança\n\ntry {\n  // Tenta ler do nó anterior que acabamos de adicionar\n  const orgData = $('buscarDadosDeHorarioDeTrabalho').first().json;\n  if (orgData && orgData.duracao_atendimento) {\n    duration = parseInt(orgData.duracao_atendimento, 10);\n  }\n} catch (e) {\n  // Mantém 30 se falhar\n}\n\n// -------- 3. CÁLCULO MATEMÁTICO (SEM LUXON) -------- //\nconst datePart = inputISO.split('T')[0];\nconst timePart = inputISO.split('T')[1].substring(0, 5);\n\nconst [h, m] = timePart.split(':').map(Number);\n\n// Criar objeto data base para somar minutos\nconst dateObj = new Date(2000, 0, 1, h, m, 0);\ndateObj.setMinutes(dateObj.getMinutes() + duration);\n\n// Formata Hora de Término\nconst endH = String(dateObj.getHours()).padStart(2, '0');\nconst endM = String(dateObj.getMinutes()).padStart(2, '0');\nconst endTimeStr = `${endH}:${endM}:00`;\n\n// -------- 4. MONTAR DATAS FINAIS -------- //\n// Adiciona timezone -03:00 fixo para o Supabase\nconst newStart = `${datePart}T${timePart}:00-03:00`;\nconst newEnd = `${datePart}T${endTimeStr}-03:00`;\n\nreturn [{\n  json: {\n    new_date: datePart,\n    new_time: timePart,\n    new_start: newStart,\n    new_end: newEnd,\n    duration_applied: duration // Para debug\n  }\n}]"},"id":"7fb745d2-4c7d-4e7a-a241-f72ffaea85b4","name":"calcularNovasDatas","type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1088]},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.body.telefone }}"}]}},"id":"ea579b40-dd9d-47c3-8001-d11dfec4940c","name":"buscarClienteReagendamento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-544,1088],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"organizacoes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.organization_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,1088],"id":"b39058c4-4491-4749-b85a-1a938dd15349","name":"buscaDadosOrganizacao","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('buscarClienteReagendamento').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"situacao","fieldValue":"agendado"},{"fieldId":"observacoes","fieldValue":"=Cliente reagendou a consulta em {{$now.format('dd/LL/yyyy hh:mm:ss')}} para o dia: {{ $('Atualiza o agendamento').item.json.date.split('-').reverse().join('/') }} as {{ $('Atualiza o agendamento').item.json.time }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[736,1216],"id":"0bda468b-6e4a-4344-93da-baf30f677105","name":"atualizarKanbanEObservacoes","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"fromEmail":"={{$vars.emailSender}}","toEmail":"={{ $('buscarClienteReagendamento').last().json.email }}","subject":"={{ $('inserirAgendamento').last().json.tipo }} Re-Agendado(a)","html":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            color: #555;\n        }\n        .container {\n            width: 100%;\n            max-width: 600px;\n            margin: auto;\n        }\n        .header {\n            background-color: #f8f9fa;\n            color: #000;\n            padding: 10px;\n            text-align: center;\n        }\n        .appointment-details {\n            background-color: #f8f9fa;\n            border: 1px solid #dee2e6;\n            padding: 20px;\n            margin: 10px 0;\n        }\n        .footer {\n            background-color: #17a2b8;\n            color: white;\n            text-align: center;\n            padding: 10px;\n            margin-top: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Reagendamento Confirmado</h1>\n        </div>\n        \n        <p>Olá {{ $('Atualiza o agendamento').item.json.nome }},</p>\n\n        <p>Seu Agendamento na {{ $json.nome }} foi reagendada com sucesso.</p>\n\n        <div class=\"appointment-details\">\n            <p><strong>Nova Data:</strong> {{ $('Atualiza o agendamento').item.json.new_date.split('-').reverse().join('/') }}</p>\n            <p><strong>Novo Horário:</strong> {{ $('Atualiza o agendamento').item.json.new_time }}</p>\n        </div>\n\n        <p>Qualquer imprevisto, estamos à disposição para te ajudar!</p>\n\n        <p>Continuamos ansiosos para te receber 😊</p>\n\n        <p>Atenciosamente,</p>\n        <p>Equipe {{ $json.nome }}</p>\n\n        <div class=\"footer\">\n            <p></p>\n        </div>\n    </div>\n</body>\n</html>\n","options":{"appendAttribution":false,"replyTo":"r.nevesbraga@gmail.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[736,1008],"id":"8591f2b8-876f-462b-9062-7d8d7eb07845","name":"enviarEmailReagendamento","webhookId":"8aa5e85b-e170-4e92-9f51-4e0936ce1ee6","retryOnFail":true,"credentials":{"smtp":{"id":"bqMde2VzrltfQ8Z2","name":"SMTP Flowgrammers"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"resp_reschedule","name":"response","value":"Agendamento reagendado com sucesso!","type":"string"}]},"options":{}},"id":"97bc055d-8af3-46d9-a3a0-2212f96fe8bf","name":"enviarRepostaReagendamentoComSucesso","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,992]},{"parameters":{"assignments":{"assignments":[{"id":"resp_reschedule","name":"response","value":"email incorreto","type":"string"}]},"options":{}},"id":"4e967ced-908c-4635-8d74-355fabf72068","name":"respondeComErro","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,1184]},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.body.id_sessao }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_kanban","fieldValue":"={{ $('webhookAgendas').item.json.body.status }}"},{"fieldId":"nome","fieldValue":"={{ $('webhookAgendas').item.json.body.nome }}"},{"fieldId":"email","fieldValue":"={{ $('webhookAgendas').item.json.body.email }}"},{"fieldId":"observacoes","fieldValue":"={{ $('webhookAgendas').item.json.body.observacoes}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-528,2096],"id":"5bc957b6-c116-4042-b963-6becaab1e57c","name":"atualizarDadosGerais","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.body.phone }}"}]}},"id":"b7f10d16-a326-4258-81ab-562a4da3e81f","name":"buscarClienteCancelamento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,1552],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"getAll","tableId":"agendamentos","returnAll":true,"filters":{"conditions":[{"keyName":"id_organizacao","condition":"eq","keyValue":"={{ $json.id_organizacao }}"}]}},"id":"70bda496-58ac-486d-af94-d33917236c76","name":"buscarDadosDoAgendamento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-352,1552],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"delete","tableId":"agendamentos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]}},"id":"d961792c-c5e6-4f90-b1e8-a3b1e1af1765","name":"excluirAgendamento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-160,1552],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"organizacoes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,1552],"id":"a78dcb6c-d9c9-4a73-9d51-abdfbb670f6a","name":"buscarInfosOrganizacao1","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('excluirAgendamento').item.json.id_contato }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"situacao","fieldValue":"cancelado"},{"fieldId":"observacoes","fieldValue":"=Cliente cancelou o agendamento em {{$now.format('dd/LL/yyyy hh:mm:ss')}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,1552],"id":"5edcc1e0-330d-4e9b-8f9b-dc7dab53e5f9","name":"atualizarKanban","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"fromEmail":"={{$vars.emailSender}}","toEmail":"={{ $('buscarClienteReagendamento').last().json.email }}","subject":"=Agendamento Cancelado","html":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            color: #555;\n        }\n        .container {\n            width: 100%;\n            max-width: 600px;\n            margin: auto;\n        }\n        .header {\n            background-color: #f8f9fa;\n            color: white;\n            padding: 10px;\n            text-align: center;\n        }\n        .appointment-details {\n            background-color: #f8f9fa;\n            border: 1px solid #dee2e6;\n            padding: 20px;\n            margin: 10px 0;\n        }\n        .footer {\n            background-color: #6c757d;\n            color: white;\n            text-align: center;\n            padding: 10px;\n            margin-top: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Agendamento Cancelado</h1>\n        </div>\n        \n        <p>Olá {{ $('excluirAgendamento').item.json.nome }},</p>\n\n        <p>Seu Agendamento na {{ $json.nome }} foi cancelado conforme solicitado.</p>\n\n        <div class=\"appointment-details\">\n            <p><strong>Data original:</strong> {{ new Date($('excluirAgendamento').item.json.data).toLocaleDateString('pt-BR')}}</p>\n            <p><strong>Horário:</strong> {{ $('excluirAgendamento').item.json.data.split('-').reverse().join('/') }}</p>\n        </div>\n\n        <p>Se desejar marcar um novo agendamento, estaremos aqui para ajudar! 💙</p>\n\n        <p>Qualquer dúvida, nos envie uma mensagem.</p>\n\n        <p>Atenciosamente,</p>\n        <p>Equipe {{ $json.nome }}</p>\n\n        <div class=\"footer\">\n            <p></p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"replyTo":"r.nevesbraga@gmail.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[400,1552],"id":"faf97ed6-79c5-4983-9d51-e8f544bdba60","name":"enviarEmailReagendamento1","webhookId":"8aa5e85b-e170-4e92-9f51-4e0936ce1ee6","retryOnFail":true,"credentials":{"smtp":{"id":"bqMde2VzrltfQ8Z2","name":"SMTP Flowgrammers"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"resp_cancel","name":"response","value":"Seu agendamento foi cancelado com sucesso.","type":"string"}]},"options":{}},"id":"44df8f3c-8eb2-48c2-90ea-d1ba83bfece3","name":"responderCancelamentoComSucesso","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,1488]},{"parameters":{"assignments":{"assignments":[{"id":"resp_reschedule","name":"response","value":"email incorreto","type":"string"}]},"options":{}},"id":"f5fc221d-ba77-49ca-b3e1-2ba6307816e3","name":"responderCancelamentoComErro","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,1680]}],"connections":{"Roteador de Tipos de Operacao":{"main":[[{"node":"buscarHorariosDeTrabalho","type":"main","index":0}],[{"node":"buscarHorariosDeTrabalho1","type":"main","index":0}],[{"node":"buscarClientes","type":"main","index":0}],[{"node":"buscarAgendamentos1","type":"main","index":0}],[{"node":"buscarClienteReagendamento","type":"main","index":0}],[{"node":"buscarClienteCancelamento","type":"main","index":0}],[{"node":"atualizarDadosGerais","type":"main","index":0}]]},"Atualiza o agendamento":{"main":[[{"node":"buscaDadosOrganizacao","type":"main","index":0}]]},"webhookAgendas":{"main":[[{"node":"Roteador de Tipos de Operacao","type":"main","index":0}]]},"buscarHorariosDeTrabalho":{"main":[[{"node":"buscarDisponibilidades","type":"main","index":0}]]},"buscarDisponibilidades":{"main":[[{"node":"verificaSeEValido","type":"main","index":0}]]},"verificaSeEValido":{"main":[[{"node":"mensagemHorarioNaoValido","type":"main","index":0}],[{"node":"mensagemHorarioDisponivel","type":"main","index":0}]]},"buscarHorariosDeTrabalho1":{"main":[[{"node":"buscarAgendamentos","type":"main","index":0}]]},"buscarAgendamentos":{"main":[[{"node":"verificaSeEstaLivre","type":"main","index":0}]]},"verificaSeEstaLivre":{"main":[[{"node":"setarDisponibilidade","type":"main","index":0}],[{"node":"buscarSlots","type":"main","index":0}]]},"buscarSlots":{"main":[[{"node":"verificaDisponibilidade","type":"main","index":0}]]},"verificaDisponibilidade":{"main":[[{"node":"realizarConfirmacao","type":"main","index":0}],[{"node":"sugerirProximoHorario","type":"main","index":0}]]},"buscarClientes":{"main":[[{"node":"atualizarCliente","type":"main","index":0}]]},"atualizarCliente":{"main":[[{"node":"setarMensagemClienteAtualizado","type":"main","index":0}]]},"buscarAgendamentos1":{"main":[[{"node":"verificaSeExiste","type":"main","index":0}]]},"verificaSeExiste":{"main":[[{"node":"buscarDadosCliente","type":"main","index":0}],[{"node":"verificaHorariosDisponiveis","type":"main","index":0}]]},"verificaHorariosDisponiveis":{"main":[[{"node":"validaDisponibilidade","type":"main","index":0}]]},"validaDisponibilidade":{"main":[[{"node":"buscarDadosCliente","type":"main","index":0}],[{"node":"setaMensagemIndisponivel","type":"main","index":0}]]},"buscarDadosCliente":{"main":[[{"node":"buscarDadosHorariosDeTrabalho","type":"main","index":0}]]},"buscarDadosHorariosDeTrabalho":{"main":[[{"node":"formatarAgendamento","type":"main","index":0}]]},"formatarAgendamento":{"main":[[{"node":"limitarEm1","type":"main","index":0}]]},"limitarEm1":{"main":[[{"node":"inserirAgendamento","type":"main","index":0}]]},"inserirAgendamento":{"main":[[{"node":"atualizarEmailENomeCliente","type":"main","index":0}]]},"atualizarEmailENomeCliente":{"main":[[{"node":"buscarInfosOrganizacao","type":"main","index":0}]]},"buscarInfosOrganizacao":{"main":[[{"node":"enviarEmailAgendado","type":"main","index":0}]]},"enviarEmailAgendado":{"main":[[{"node":"responderAgendamentoSucesso","type":"main","index":0}],[{"node":"responderAgendamentoErro","type":"main","index":0}]]},"responderAgendamentoSucesso":{"main":[[]]},"buscarDadosDeAgendamentos":{"main":[[{"node":"buscarDadosDeHorarioDeTrabalho","type":"main","index":0}]]},"buscarDadosDeHorarioDeTrabalho":{"main":[[{"node":"calcularNovasDatas","type":"main","index":0}]]},"calcularNovasDatas":{"main":[[{"node":"Atualiza o agendamento","type":"main","index":0}]]},"buscarClienteReagendamento":{"main":[[{"node":"buscarDadosDeAgendamentos","type":"main","index":0}]]},"buscaDadosOrganizacao":{"main":[[{"node":"atualizarKanbanEObservacoes","type":"main","index":0},{"node":"enviarEmailReagendamento","type":"main","index":0}]]},"enviarEmailReagendamento":{"main":[[{"node":"enviarRepostaReagendamentoComSucesso","type":"main","index":0}],[{"node":"respondeComErro","type":"main","index":0}]]},"buscarClienteCancelamento":{"main":[[{"node":"buscarDadosDoAgendamento","type":"main","index":0}]]},"buscarDadosDoAgendamento":{"main":[[{"node":"excluirAgendamento","type":"main","index":0}]]},"excluirAgendamento":{"main":[[{"node":"buscarInfosOrganizacao1","type":"main","index":0}]]},"buscarInfosOrganizacao1":{"main":[[{"node":"atualizarKanban","type":"main","index":0}]]},"atualizarKanban":{"main":[[{"node":"enviarEmailReagendamento1","type":"main","index":0}]]},"enviarEmailReagendamento1":{"main":[[{"node":"responderCancelamentoComSucesso","type":"main","index":0}],[{"node":"responderCancelamentoComErro","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 1beb6cee","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}