n8n/Criar Agenda.json
{
  "updatedAt": "2026-01-21T02:50:03.827Z",
  "createdAt": "2026-01-13T13:34:16.575Z",
  "id": "21ZxcsWBIut7nFf8",
  "name": "Criar Agenda",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -560,
        480
      ],
      "id": "f330ffe9-e835-41d6-9009-be338d5d97c2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "organizacoes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.id_organizacao }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1200,
        480
      ],
      "id": "62b047ed-05e4-476a-ab11-35a1286b824f",
      "name": "Busca os dados da organização",
      "credentials": {
        "supabaseApi": {
          "id": "GW9MBPeXxgW9VKzF",
          "name": "Supabase Flow Clinic"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "instancias_whatsapp",
        "filters": {
          "conditions": [
            {
              "keyName": "id_organizacao",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -992,
        480
      ],
      "id": "1637536b-4f38-495f-9e18-12dea41fc2b8",
      "name": "Busca instancias do WhatsApp",
      "credentials": {
        "supabaseApi": {
          "id": "GW9MBPeXxgW9VKzF",
          "name": "Supabase Flow Clinic"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook - Criar Agenda').item.json.body.contact_phone }}"
            },
            {
              "name": "text",
              "value": "=Agendamento realizado com sucesso para o dia {{ $('Webhook - Criar Agenda').item.json.body.inicio.toDateTime().format('dd/LL/yyyy HH:mm') }}."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        480
      ],
      "id": "a90a9ea0-b28a-414d-bdc3-0adfbe883a28",
      "name": "Envia mensagem para o cliente dizendo que foi agendado"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criar-agenda",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1440,
        480
      ],
      "id": "7ddc99af-cddf-4821-a479-c169744890cd",
      "name": "Webhook - Criar Agenda",
      "webhookId": "eec4f643-ac6b-4cc7-a4e6-187901339a0f"
    },
    {
      "parameters": {
        "content": "![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n",
        "height": 176,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        208
      ],
      "typeVersion": 1,
      "id": "552a0432-6b26-484a-a21f-6c52ef572b85",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "## Comunica o paciente que o agendamento foi realizado\nCria agenda via Saas",
        "height": 304,
        "width": 1168,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        400
      ],
      "id": "5290b6ea-8716-4413-993f-4145462550e2",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Busca os dados da organização": {
      "main": [
        [
          {
            "node": "Busca instancias do WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca instancias do WhatsApp": {
      "main": [
        [
          {
            "node": "Envia mensagem para o cliente dizendo que foi agendado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem para o cliente dizendo que foi agendado": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Criar Agenda": {
      "main": [
        [
          {
            "node": "Busca os dados da organização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook - Criar Agenda": [
      {
        "json": {
          "headers": {
            "host": "webhook.agentes-n8n.com.br",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "489",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-US;q=0.7",
            "content-type": "application/json",
            "origin": "http://localhost:8080",
            "priority": "u=1, i",
            "referer": "http://localhost:8080/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "143.202.51.80",
            "x-forwarded-host": "webhook.agentes-n8n.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "fa64cd99b179",
            "x-real-ip": "143.202.51.80"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "3c8a827b-6981-4de6-a937-9b5afe7702f4",
            "id_organizacao": "e88b2f3e-480b-466e-9426-926232f98f8d",
            "inicio": "2026-01-14T09:00:00-03:00",
            "fim": "2026-01-14T10:00:00-03:00",
            "id_contato": "dadb0b0c-6896-4612-b207-278992e4c7a5",
            "nome_contato": "Richard Snows",
            "email_contato": "preciso do seu e-mail para concluir o agendamento.",
            "contact_phone": "551152863018@s.whatsapp.net",
            "type": "Retorno",
            "status": "confirmed",
            "observations": "Teste",
            "criado_em": "2026-01-13T13:58:00.039Z"
          },
          "webhookUrl": "https://webhook.agentes-n8n.com.br/webhook/criar-agenda",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "f2733377-e0d2-46d5-88c3-3b9312ae6b68",
  "activeVersionId": "5bca7a66-839d-46cd-bce5-04c8dcf86b44",
  "versionCounter": 95,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-13T13:34:16.575Z",
      "createdAt": "2026-01-13T13:34:16.575Z",
      "role": "workflow:owner",
      "workflowId": "21ZxcsWBIut7nFf8",
      "projectId": "sXNN8zKIunLvXNly",
      "project": {
        "updatedAt": "2026-01-13T15:20:09.820Z",
        "createdAt": "2026-01-05T19:33:48.715Z",
        "id": "sXNN8zKIunLvXNly",
        "name": "Imersao",
        "type": "team",
        "icon": {
          "type": "emoji",
          "value": "🔥"
        },
        "description": "Projeto de imersão",
        "creatorId": "37c5e92b-9604-4346-8167-cb09d89f1846"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-04T18:13:18.649Z",
      "createdAt": "2025-11-04T18:13:18.649Z",
      "id": "ur1maN6bsjwttizq",
      "name": "💗 flowgrammers"
    },
    {
      "updatedAt": "2026-01-14T14:33:00.763Z",
      "createdAt": "2026-01-14T14:33:00.763Z",
      "id": "TtVOsKCOOd2YXmo1",
      "name": "🔥imersao-n8n-enteprise"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-13T14:11:03.884Z",
    "createdAt": "2026-01-13T14:10:49.101Z",
    "versionId": "5bca7a66-839d-46cd-bce5-04c8dcf86b44",
    "workflowId": "21ZxcsWBIut7nFf8",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -560,
          480
        ],
        "id": "f330ffe9-e835-41d6-9009-be338d5d97c2",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "organizacoes",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.body.id_organizacao }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1200,
          480
        ],
        "id": "62b047ed-05e4-476a-ab11-35a1286b824f",
        "name": "Busca os dados da organização",
        "credentials": {
          "supabaseApi": {
            "id": "GW9MBPeXxgW9VKzF",
            "name": "Supabase Flow Clinic"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "instancias_whatsapp",
          "filters": {
            "conditions": [
              {
                "keyName": "id_organizacao",
                "keyValue": "={{ $json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -992,
          480
        ],
        "id": "1637536b-4f38-495f-9e18-12dea41fc2b8",
        "name": "Busca instancias do WhatsApp",
        "credentials": {
          "supabaseApi": {
            "id": "GW9MBPeXxgW9VKzF",
            "name": "Supabase Flow Clinic"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "token",
                "value": "={{ $json.token }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $('Webhook - Criar Agenda').item.json.body.contact_phone }}"
              },
              {
                "name": "text",
                "value": "=Agendamento realizado com sucesso para o dia {{ $('Webhook - Criar Agenda').item.json.body.inicio.toDateTime().format('dd/LL/yyyy HH:mm') }}."
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -784,
          480
        ],
        "id": "a90a9ea0-b28a-414d-bdc3-0adfbe883a28",
        "name": "Envia mensagem para o cliente dizendo que foi agendado"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "criar-agenda",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1440,
          480
        ],
        "id": "7ddc99af-cddf-4821-a479-c169744890cd",
        "name": "Webhook - Criar Agenda",
        "webhookId": "eec4f643-ac6b-4cc7-a4e6-187901339a0f"
      },
      {
        "parameters": {
          "content": "![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n",
          "height": 176,
          "width": 448,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1504,
          208
        ],
        "typeVersion": 1,
        "id": "552a0432-6b26-484a-a21f-6c52ef572b85",
        "name": "Sticky Note29"
      },
      {
        "parameters": {
          "content": "## Comunica o paciente que o agendamento foi realizado",
          "height": 304,
          "width": 1168,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1504,
          400
        ],
        "id": "5290b6ea-8716-4413-993f-4145462550e2",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "Busca os dados da organização": {
        "main": [
          [
            {
              "node": "Busca instancias do WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca instancias do WhatsApp": {
        "main": [
          [
            {
              "node": "Envia mensagem para o cliente dizendo que foi agendado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia mensagem para o cliente dizendo que foi agendado": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Criar Agenda": {
        "main": [
          [
            {
              "node": "Busca os dados da organização",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ricardo Neves",
    "name": "Version 3",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-13T14:11:03.864Z",
        "id": 192,
        "workflowId": "21ZxcsWBIut7nFf8",
        "versionId": "5bca7a66-839d-46cd-bce5-04c8dcf86b44",
        "event": "activated",
        "userId": "37c5e92b-9604-4346-8167-cb09d89f1846"
      }
    ]
  }
}