n8n/Disparo de Follow Up.json
{
  "updatedAt": "2026-01-14T14:36:24.125Z",
  "createdAt": "2026-01-08T21:03:31.596Z",
  "id": "CjtDu_tlmFldPaUO_ebOs",
  "name": "Disparo de Follow Up",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2192,
        -208
      ],
      "id": "a02442fe-74f7-48de-8dba-d013cdd4f3b9",
      "name": "Sem FUP"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2192,
        912
      ],
      "id": "7f89f73f-8b4d-4bfc-9463-6daaf3e21c4e",
      "name": "Encerrado"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nome do Paciente: {{ $json.nome }}\nWhatsApp do Paciente: {{ $json.numero }}\nÚltima interação: {{ $json.ultima_atividade}}\nFollow Up: {{ $json.followup }}",
        "options": {
          "systemMessage": "=Você é um assistente de follow-up automatizado que deve enviar mensagens personalizadas baseadas no nome do cliente e no número de follow-up.\n\nAqui estão os detalhes da interação:\n- Nome do Cliente: {{ $json.nome }}\n\nRegras para sua ação:\n1. Envie **apenas uma mensagem** de follow-up, com base no número de follow-up fornecido.\n2. Personalize a mensagem considerando o tempo de inatividade (quanto maior o número do follow-up, mais tempo sem resposta).\n3. O follow-up 3 é o último estágio. Use um tom amigável, mas finalize a interação gentilmente.\n\nMensagens exemplo:\n- **Follow-Up 3 (após 3 dias):** Finalize com um tom gentil, deixando claro que está à disposição.\n\nAgora, crie a mensagem apropriada com base no nome e no número de follow-up fornecidos. Certifique-se de que a mensagem seja amigável e útil.\n\nVocê fará uma breve análise do que foi conversado. E com base nisso formulará um follow-up personalizado com as últimas conversas.\n\n## atenção para elaborar apenas a mensagem de follow-up, nada além disso, você não deve informar o usuário o que está pensando/fazendo.\n## atenção para elaborar uma mensagem humanizada, nada exagerado, você se inspirar em diálogos realistas. Não escreva demais, as pessoas não escrevem tanto.\n\nPara ter uma formatação melhor, utilize:\n\n*negrito*\n_italico_\n`destaques`\n> Citação.\n\nAqui estão exemplos de mensagens de follow-up para 3 dias, sendo naturais e personalizadas com base no contexto da última conversa:\n\nFollow-Up de 3 Dias:\n\nObjetivo: Finalizar o contato, deixando a porta aberta para retorno futuro.\n• Mensagem:\n“Oi, [Nome]! Passando para agradecer pela nossa conversa sobre [contexto da última conversa]. Espero que as informações tenham ajudado e que você veja valor em [solução ou benefício discutido]. Se precisar de mais detalhes ou quiser continuar a conversa, estarei por aqui! 😊”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2464,
        672
      ],
      "id": "c93d0c07-8fd9-4c2e-af52-a94823dfe3d3",
      "name": "Follow-Up3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nome do Paciente: {{ $json.nome }}\nWhatsApp do Paciente: {{ $json.numero }}\nÚltima interação: {{ $json.ultima_atividade}}\nFollow Up: {{ $json.followup }}",
        "options": {
          "systemMessage": "=Você é um assistente de follow-up automatizado que deve enviar mensagens personalizadas baseadas no nome do cliente e no número de follow-up.\n\nAqui estão os detalhes da interação:\n- Nome do Cliente: {{ $json.nome }}\n\nRegras para sua ação:\n1. Envie **apenas uma mensagem** de follow-up, com base no número de follow-up fornecido.\n2. Personalize a mensagem considerando o tempo de inatividade (quanto maior o número do follow-up, mais tempo sem resposta).\n3. O follow-up 2 é o último estágio. Use um tom amigável, mas finalize a interação gentilmente.\n\nMensagens exemplo:\n- **Follow-Up 2 (após 2 horas):** Reforce sua disponibilidade e ofereça ajuda.\n\nAgora, crie a mensagem apropriada com base no nome e no número de follow-up fornecidos. Certifique-se de que a mensagem seja amigável e útil.\n\nVocê fará uma breve análise do que foi conversado. E com base nisso formulará um follow-up personalizado com as últimas conversas.\n\n## atenção para elaborar apenas a mensagem de follow-up, nada além disso, você não deve informar o usuário o que está pensando/fazendo.\n## atenção para elaborar uma mensagem humanizada, nada exagerado, você se inspirar em diálogos realistas. Não escreva demais, as pessoas não escrevem tanto.\n\nPara ter uma formatação melhor, utilize:\n\n*negrito*\n_italico_\n`destaques`\n> Citação.\n\nAqui estão exemplos de mensagens de follow-up para 2 horas, sendo naturais e personalizadas com base no contexto da última conversa:\n\nFollow-Up de 2 Horas:\n\nObjetivo: Apresentar valor adicional, reforçando o benefício discutido anteriormente.\n• Mensagem:\n“Olá, {{ $json.nome }}! Sei que pode estar com a agenda cheia, mas estive pensando no que falamos sobre [contexto da última conversa] e me lembrei de um ponto que pode ser útil: [dica ou informação relevante]. Que tal conversarmos um pouco mais sobre isso?”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2464,
        320
      ],
      "id": "543f72f0-db0c-4733-b980-701e22efa255",
      "name": "Follow-Up2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nome do Paciente: {{ $json.nome }}\nWhatsApp do Paciente: {{ $json.numero }}\nÚltima interação: {{ $json.ultima_atividade}}\nFollow Up: {{ $json.followup }}",
        "options": {
          "systemMessage": "=Você é um assistente de follow-up automatizado que deve enviar mensagens personalizadas baseadas no nome do cliente e no número de follow-up.\n\nAqui estão os detalhes da interação:\n- Nome do Cliente: {{ $json.nome }}\n\nRegras para sua ação:\n1. Envie **apenas uma mensagem** de follow-up, com base no número de follow-up fornecido.\n2. Personalize a mensagem considerando o tempo de inatividade (quanto maior o número do follow-up, mais tempo sem resposta).\n3. O follow-up 3 é o último estágio. Use um tom amigável, mas finalize a interação gentilmente.\n\nMensagens exemplo:\n- **Follow-Up 1 (após 5 minutos):** Incentive uma resposta de forma leve e rápida.\n\nAgora, crie a mensagem apropriada com base no nome e no número de follow-up fornecidos. Certifique-se de que a mensagem seja amigável e útil.\n\nVocê fará uma breve análise do que foi conversado. E com base nisso formulará um follow-up personalizado com as últimas conversas.\n\n## atenção para elaborar apenas a mensagem de follow-up, nada além disso, você não deve informar o usuário o que está pensando/fazendo.\n## atenção para elaborar uma mensagem humanizada, nada exagerado, você se inspirar em diálogos realistas. Não escreva demais, as pessoas não escrevem tanto.\n\n\nAqui estão exemplos de mensagens de follow-up para 5 minutos, sendo naturais e personalizadas com base no contexto da última conversa:\n\nFollow-Up de 5 Minutos:\n\nObjetivo: Relembrar a conversa e verificar se o cliente ainda está disponível.\n• Mensagem:\n“Oi, {{ $json.nome }}! Percebi que talvez você tenha se ocupado agora. Só queria confirmar se conseguiu pensar um pouco sobre o que conversamos sobre [contexto da última conversa]. Posso te ajudar com mais alguma coisa?”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2448,
        0
      ],
      "id": "5dee51bc-69be-4697-a380-0bc582418d3a",
      "name": "Follow-Up1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clientes_followup",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id_organizacao",
              "condition": "eq",
              "keyValue": "={{ $json.id_organizacao }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        320
      ],
      "id": "10de1acb-3fa8-498d-b3b0-7451fd676001",
      "name": "Retorna os Pacientes",
      "credentials": {
        "supabaseApi": {
          "id": "GW9MBPeXxgW9VKzF",
          "name": "Supabase Flow Clinic"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "config_agente_ia",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id_organizacao",
              "condition": "eq",
              "keyValue": "={{ $('Busca as organizações').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        320
      ],
      "id": "89de35ca-a832-4f17-9b44-927a559679f2",
      "name": "Retorna Config de FUP",
      "credentials": {
        "supabaseApi": {
          "id": "GW9MBPeXxgW9VKzF",
          "name": "Supabase Flow Clinic"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtém os tempos configurados para cada follow-up (em minutos)\nconst tempos = $('Formatar').first().json;\nconst tempoFollowUp1 = parseInt(tempos.tempo_followUp1, 10);\nconst tempoFollowUp2 = parseInt(tempos.tempo_followUp2, 10);\nconst tempoFollowUp3 = parseInt(tempos.tempo_followUp3, 10);\n\n// Captura o timestamp do nó 'Schedule Trigger'\nconst scheduleTrigger = $('Executa Fluxo').first().json;\nconst now = new Date(scheduleTrigger.timestamp);\n\n// Função utilitária para calcular diferença em minutos entre duas datas\nconst calcularDiferencaMinutos = (dataInicio, dataFim) => {\n  return Math.floor((dataFim - dataInicio) / (1000 * 60));\n};\n\n// Processa os clientes do nó 'Retorna os Pacientes'\nconst clientes = $('Retorna os Pacientes').all();\nconst resultado = clientes.map((item) => {\n  const cliente = item.json;\n\n  // Validações iniciais (Nome e Número obrigatórios)\n  if (!cliente.nome || !cliente.numero) {\n    return {\n      ...cliente,\n      followup: 0\n    };\n  }\n\n  // Verifica se a última atividade está presente e válida\n  const ultimaAtividade = new Date(cliente[\"ultima_atividade\"]);\n  if (isNaN(ultimaAtividade.getTime())) {\n    return {\n      ...cliente,\n      followup: 0\n    };\n  }\n\n  // Calcula o tempo de inatividade em minutos\n  const inactivityMinutes = calcularDiferencaMinutos(ultimaAtividade, now);\n\n  // --- LÓGICA DE HIERARQUIA DE FOLLOW-UPS ---\n  \n  // 1. Se ainda não deu o tempo do primeiro follow-up\n  if (inactivityMinutes < tempoFollowUp1) {\n    return { ...cliente, followup: 0 };\n  }\n\n  // 2. Zona do Follow-up 1\n  if (inactivityMinutes >= tempoFollowUp1 && inactivityMinutes < tempoFollowUp2) {\n    // Verifica se JÁ FOI enviado (lê a coluna 'followup1' do banco)\n    if (cliente[\"followup1\"] === \"sim\") {\n      return { ...cliente, followup: 0 };\n    }\n    // Marca como sim para passar para o próximo node atualizar o banco\n    cliente[\"followup1\"] = \"sim\";\n    return { ...cliente, followup: 1 };\n  }\n\n  // 3. Zona do Follow-up 2\n  if (inactivityMinutes >= tempoFollowUp2 && inactivityMinutes < tempoFollowUp3) {\n    // Verifica se JÁ FOI enviado (lê a coluna 'followup2' do banco)\n    if (cliente[\"followup2\"] === \"sim\") {\n      return { ...cliente, followup: 0 };\n    }\n    // Marca como sim para passar para o próximo node atualizar o banco\n    cliente[\"followup2\"] = \"sim\";\n    return { ...cliente, followup: 2 };\n  }\n\n  // 4. Zona do Follow-up 3 (Final)\n  if (inactivityMinutes >= tempoFollowUp3) {\n    // Verifica se JÁ FOI enviado (lê a coluna 'followup3' do banco)\n    if (cliente[\"followup3\"] === \"sim\") {\n      return { ...cliente, followup: 0 };\n    }\n    // Marca como sim para passar para o próximo node atualizar o banco\n    cliente[\"followup3\"] = \"sim\";\n    return { ...cliente, followup: 3 };\n  }\n\n  // Caso nenhum follow-up seja aplicável (ex: erro de cálculo ou fora das faixas)\n  return { ...cliente, followup: 0 };\n});\n\n// Retorna o resultado final\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        304
      ],
      "id": "33d2e879-7f0c-447f-a55f-54e307556a2f",
      "name": "Retorna Qual FUP"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ $('Busca as instancias').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Itera sobre os itens').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2768,
        0
      ],
      "id": "7c2a81e0-6516-4879-82c8-5d16adfdd954",
      "name": "Envia FUP1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clientes_followup",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionid",
              "condition": "eq",
              "keyValue": "={{ $('Itera sobre os itens').item.json.sessionid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "followup1",
              "fieldValue": "={{ $('Itera sobre os itens').item.json.followup1 }}"
            },
            {
              "fieldId": "data_envio1",
              "fieldValue": "={{ $now.format('dd-LLL-yyyy hh:mm:ss') }}"
            },
            {
              "fieldId": "mensagem1",
              "fieldValue": "={{ $('Follow-Up1').item.json.output }}"
            },
            {
              "fieldId": "situacao",
              "fieldValue": "Follow Up 1 Enviado"
            },
            {
              "fieldId": "followup",
              "fieldValue": "={{ $('Itera sobre os itens').item.json.followup }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2992,
        0
      ],
      "id": "ba696ea8-9161-4b1d-8b63-c614bfa5e475",
      "name": "Atualiza FUP1",
      "credentials": {
        "supabaseApi": {
          "id": "GW9MBPeXxgW9VKzF",
          "name": "Supabase Flow Clinic"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "978ebafe-2ee0-4578-8b6a-5a59c19c059b",
              "name": "nomeCliente",
              "value": "={{ $('Retorna os Pacientes').last().json.nome }}",
              "type": "string"
            },
            {
              "id": "0a70e313-f59b-4f74-9b14-b73a51f5dd9d",
              "name": "whatsapp",
              "value": "={{ $('Retorna os Pacientes').last().json.numero }}",
              "type": "string"
            },
            {
              "id": "c71fe35f-eb7b-4efa-83ed-e8909d6408e9",
              "name": "ultimaAtividade",
              "value": "={{ $('Retorna os Pacientes').last().json.ultima_atividade }}",
              "type": "string"
            },
            {
              "id": "9953c7ad-9fc0-4ebc-ad98-4a176c4031a9",
              "name": "followup",
              "value": "={{ $('Retorna os Pacientes').last().json.followup }}",
              "type": "string"
            },
            {
              "id": "91b40c04-6205-46da-ac5b-9e202bea2131",
              "name": "tempo_followUp1",
              "value": "={{ $('Retorna Config de FUP').last().json.followup_1_minutos }}",
              "type": "string"
            },
            {
              "id": "c32d7f98-d2a0-4b10-a845-9b22b7fe6cab",
              "name": "tempo_followUp2",
              "value": "={{ $('Retorna Config de FUP').last().json.followup_2_minutos }}",
              "type": "string"
            },
            {
              "id": "05d99ca0-d374-4d62-a5a0-eb273d12aa87",
              "name": "tempo_followUp3",
              "value": "={{ $('Retorna Config de FUP').last().json.followup_3_minutos }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        304
      ],
      "id": "122f837c-7fb7-454d-bb6e-cbbeae93e2bc",
      "name": "Formatar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ $('Busca as instancias').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Itera sobre os itens 2').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2784,
        320
      ],
      "id": "7c44ee8d-bed8-4251-a9ad-db8554fadb7f",
      "name": "Envia FUP"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clientes_followup",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionid",
              "condition": "eq",
              "keyValue": "={{ $('Itera sobre os itens 2').item.json.sessionid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "followup2",
              "fieldValue": "={{ $('Itera sobre os itens 2').item.json.followup1 }}"
            },
            {
              "fieldId": "data_envio2",
              "fieldValue": "={{ $now.format('dd-LLL-yyyy hh:mm:ss') }}"
            },
            {
              "fieldId": "mensagem2",
              "fieldValue": "={{ $('Follow-Up2').item.json.output }}"
            },
            {
              "fieldId": "situacao",
              "fieldValue": "Follow Up 2 Enviado"
            },
            {
              "fieldId": "followup",
              "fieldValue": "={{ $('Itera sobre os itens 2').item.json.followup }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3008,
        320
      ],
      "id": "04d18965-b01f-4d7d-8d9d-40064ec29353",
      "name": "Atualiza FUP",
      "credentials": {
        "supabaseApi": {
          "id": "GW9MBPeXxgW9VKzF",
          "name": "Supabase Flow Clinic"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ $('Busca as instancias').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Itera sobre os itens 3').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2784,
        672
      ],
      "id": "90fe0cc7-78db-4137-af50-cf77e0fd7715",
      "name": "Envia FUP4"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "clientes_followup",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionid",
              "condition": "eq",
              "keyValue": "={{ $('Itera sobre os itens 3').item.json.sessionid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3008,
        672
      ],
      "id": "a15075d6-6791-4bf5-becd-cbbf513b2b08",
      "name": "Atualiza FUP4",
      "credentials": {
        "supabaseApi": {
          "id": "GW9MBPeXxgW9VKzF",
          "name": "Supabase Flow Clinic"
        }
      }
    },
    {
      "parameters": {
        "content": "# Fluxo de Follow Up",
        "height": 1504,
        "width": 4064,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -416
      ],
      "typeVersion": 1,
      "id": "00ade61c-2978-4442-a8b0-a357b2ed9ce7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "instancias_whatsapp",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id_organizacao",
              "condition": "eq",
              "keyValue": "={{ $json.id_organizacao }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        320
      ],
      "id": "8b059eed-f97e-41d1-a8ca-90cd3b26f36b",
      "name": "Retorna as configs das instancias de WhatsApp",
      "credentials": {
        "supabaseApi": {
          "id": "GW9MBPeXxgW9VKzF",
          "name": "Supabase Flow Clinic"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "organizacoes",
        "filters": {
          "conditions": [
            {
              "keyName": "identificador",
              "keyValue": "={{ $json.workflow_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -80,
        320
      ],
      "id": "a363ad3c-6aea-4872-8d95-ae1a31fc86ff",
      "name": "Busca as organizações",
      "credentials": {
        "supabaseApi": {
          "id": "GW9MBPeXxgW9VKzF",
          "name": "Supabase Flow Clinic"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "instancias_whatsapp",
        "filters": {
          "conditions": [
            {
              "keyName": "id_organizacao",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        320
      ],
      "id": "922826ba-b80a-4576-b4a4-b07d5b244a9e",
      "name": "Busca as instancias",
      "credentials": {
        "supabaseApi": {
          "id": "GW9MBPeXxgW9VKzF",
          "name": "Supabase Flow Clinic"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $('Retorna os Pacientes').item.json.numero }}_block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        976,
        320
      ],
      "id": "0dcc60b6-19e4-4190-9182-16a04e90d307",
      "name": "Verifica a pausa para o atendente humano",
      "credentials": {
        "redis": {
          "id": "mG96KO4qIJc2Z5cp",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "49f8c1b6-986a-4093-abf3-6bd34bc6994b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agent ON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ae0ef791-4137-4f44-9c16-871f5e8757c7",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agent OFF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1200,
        320
      ],
      "id": "9f0f8eb7-43f6-483a-af62-63b2c8fb2819",
      "name": "Roteia conforme a pausa"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.followup.toString() }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "75c43a68-541f-496b-8ef3-4c21aa818436"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sem FUP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "524920f9-8b37-4faf-9b51-91d27a4ce439",
                    "leftValue": "={{ $json.followup.toString() }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Follow Up {{ $('Formatar').item.json.tempo_followUp1 }} minutos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5057fdfd-1ce9-4518-b875-89176a57d23b",
                    "leftValue": "={{ $json.followup.toString() }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Follow Up {{ $('Formatar').item.json.tempo_followUp2 }} minutos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e410d3e-ff2d-4499-b986-3a7915bd7584",
                    "leftValue": "={{ $json.followup.toString() }}",
                    "rightValue": "=3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Follow Up {{ $('Formatar').item.json.tempo_followUp3 }} minutos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fd54e723-3946-4244-ab04-3bbb83b78844",
                    "leftValue": "={{ $json.followup.toString() }}",
                    "rightValue": "encerrado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Encerrado"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1808,
        256
      ],
      "id": "f158ce85-9767-4fb2-9b4e-63cd79961f87",
      "name": "Roteia para o tipo de fup"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflow_name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        320
      ],
      "id": "8e86dc2a-f4ad-4271-ab67-940987e7f9fc",
      "name": "Executa Fluxo"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0eEfoRSnYdzVajZ5",
          "mode": "list",
          "cachedResultUrl": "/workflow/0eEfoRSnYdzVajZ5",
          "cachedResultName": "Imersao — Gestao de Tokens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "=Nome do Paciente: {{ $json.nome }}\nWhatsApp do Paciente: {{ $json.numero }}\nÚltima interação: {{ $json.ultima_atividade}}\nFollow Up: {{ $json.followup }}",
            "id_organizacao": "={{ $('Itera sobre os itens').item.json.id_organizacao }}",
            "output": "={{$json.output}}",
            "llmModel": "gpt-4.1-mini"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_organizacao",
              "displayName": "id_organizacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "llmModel",
              "displayName": "llmModel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2912,
        -304
      ],
      "id": "c0d9ceaf-d5ff-4f7c-a70a-3e044d74fb15",
      "name": "Gestao De Tokens"
    },
    {
      "parameters": {
        "content": "## Gestão de Tokens",
        "height": 256,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2816,
        -368
      ],
      "id": "b5680375-10e7-4127-a361-fd18a7000dc2",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2192,
        -16
      ],
      "id": "ac3b488a-6457-495a-99e8-6edfc5bd0a51",
      "name": "Itera sobre os itens"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2176,
        304
      ],
      "id": "7aaedffd-6d31-4a12-a84e-a58e836a3fe2",
      "name": "Itera sobre os itens 2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2192,
        656
      ],
      "id": "969435f3-7994-4868-8a6a-f2096fea1897",
      "name": "Itera sobre os itens 3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0eEfoRSnYdzVajZ5",
          "mode": "list",
          "cachedResultUrl": "/workflow/0eEfoRSnYdzVajZ5",
          "cachedResultName": "Imersao — Gestao de Tokens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "=Nome do Paciente: {{ $json.nome }}\nWhatsApp do Paciente: {{ $json.numero }}\nÚltima interação: {{ $json.ultima_atividade}}\nFollow Up: {{ $json.followup }}",
            "id_organizacao": "={{ $('Itera sobre os itens 2').item.json.id_organizacao }}",
            "output": "={{$json.output}}",
            "llmModel": "gpt-4.1-mini"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_organizacao",
              "displayName": "id_organizacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "llmModel",
              "displayName": "llmModel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3360,
        96
      ],
      "id": "0e283655-7e42-4c03-88eb-bd14fe1ab23b",
      "name": "Gestao De Tokens1"
    },
    {
      "parameters": {
        "content": "## Gestão de Tokens",
        "height": 256,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3264,
        32
      ],
      "id": "ce1dc382-d6c0-4e8e-b76a-f9747b716c0c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0eEfoRSnYdzVajZ5",
          "mode": "list",
          "cachedResultUrl": "/workflow/0eEfoRSnYdzVajZ5",
          "cachedResultName": "Imersao — Gestao de Tokens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "=Nome do Paciente: {{ $json.nome }}\nWhatsApp do Paciente: {{ $json.numero }}\nÚltima interação: {{ $json.ultima_atividade}}\nFollow Up: {{ $json.followup }}",
            "id_organizacao": "={{ $('Itera sobre os itens 3').item.json.id_organizacao }}",
            "output": "={{$json.output}}",
            "llmModel": "gpt-4.1-mini"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_organizacao",
              "displayName": "id_organizacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "llmModel",
              "displayName": "llmModel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3360,
        720
      ],
      "id": "d03834bb-16e6-4ac5-b4ff-91d0178ddb5e",
      "name": "Gestao De Tokens2"
    },
    {
      "parameters": {
        "content": "## Gestão de Tokens",
        "height": 256,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3264,
        656
      ],
      "id": "6e8829ae-fdaa-4e52-9a88-a4cef67cbebc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3296,
        416
      ],
      "id": "f5edb84e-27c2-4b31-acfb-5033ae7c2e88",
      "name": "GPT4.1mini",
      "credentials": {
        "openAiApi": {
          "id": "TNvVwiRTTnV3NVM1",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Itera sobre os itens').item.json.sessionid }}",
        "tableName": "={{ $('Busca as instancias').item.json.nome_instancia.replace(/-/g, '_').toLowerCase() }}_chats",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3440,
        416
      ],
      "id": "90ea128b-26b1-4bde-ae16-52137d2e3e23",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "sdVOFX9ZZ85bA3Cm",
          "name": "Postgres FlowClinic"
        }
      }
    },
    {
      "parameters": {
        "content": "## Memória e LLMs",
        "height": 256,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3264,
        320
      ],
      "id": "c4fdb1d4-6291-491d-b108-e5b392431303",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n",
        "height": 272,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -208
      ],
      "typeVersion": 1,
      "id": "f3de0a14-f63d-43e0-b795-1b22035a2201",
      "name": "Sticky Note29"
    }
  ],
  "connections": {
    "Follow-Up3": {
      "main": [
        [
          {
            "node": "Envia FUP4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gestao De Tokens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-Up2": {
      "main": [
        [
          {
            "node": "Envia FUP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gestao De Tokens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-Up1": {
      "main": [
        [
          {
            "node": "Envia FUP1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gestao De Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna os Pacientes": {
      "main": [
        [
          {
            "node": "Retorna Config de FUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Config de FUP": {
      "main": [
        [
          {
            "node": "Retorna as configs das instancias de WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Qual FUP": {
      "main": [
        [
          {
            "node": "Roteia para o tipo de fup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia FUP1": {
      "main": [
        [
          {
            "node": "Atualiza FUP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza FUP1": {
      "main": [
        [
          {
            "node": "Itera sobre os itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar": {
      "main": [
        [
          {
            "node": "Retorna Qual FUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia FUP": {
      "main": [
        [
          {
            "node": "Atualiza FUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza FUP": {
      "main": [
        [
          {
            "node": "Itera sobre os itens 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia FUP4": {
      "main": [
        [
          {
            "node": "Atualiza FUP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza FUP4": {
      "main": [
        [
          {
            "node": "Itera sobre os itens 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna as configs das instancias de WhatsApp": {
      "main": [
        [
          {
            "node": "Verifica a pausa para o atendente humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca as organizações": {
      "main": [
        [
          {
            "node": "Busca as instancias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca as instancias": {
      "main": [
        [
          {
            "node": "Retorna os Pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica a pausa para o atendente humano": {
      "main": [
        [
          {
            "node": "Roteia conforme a pausa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteia conforme a pausa": {
      "main": [
        [
          {
            "node": "Formatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteia para o tipo de fup": {
      "main": [
        [
          {
            "node": "Sem FUP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Itera sobre os itens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Itera sobre os itens 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Itera sobre os itens 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encerrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executa Fluxo": {
      "main": [
        [
          {
            "node": "Busca as organizações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Itera sobre os itens": {
      "main": [
        [],
        [
          {
            "node": "Follow-Up1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Itera sobre os itens 2": {
      "main": [
        [],
        [
          {
            "node": "Follow-Up2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Itera sobre os itens 3": {
      "main": [
        [],
        [
          {
            "node": "Follow-Up3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT4.1mini": {
      "ai_languageModel": [
        [
          {
            "node": "Follow-Up3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Follow-Up2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Follow-Up1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Follow-Up1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Follow-Up3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Executa Fluxo": [
      {
        "json": {
          "workflow_name": "clinica-flowgrammers-1767796678599"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "d69aaad4-f87d-440b-9c1a-7f07bf5047f6",
  "activeVersionId": null,
  "versionCounter": 19,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-08T21:03:31.596Z",
      "createdAt": "2026-01-08T21:03:31.596Z",
      "role": "workflow:owner",
      "workflowId": "CjtDu_tlmFldPaUO_ebOs",
      "projectId": "sXNN8zKIunLvXNly",
      "project": {
        "updatedAt": "2026-01-13T15:20:09.820Z",
        "createdAt": "2026-01-05T19:33:48.715Z",
        "id": "sXNN8zKIunLvXNly",
        "name": "Imersao",
        "type": "team",
        "icon": {
          "type": "emoji",
          "value": "🔥"
        },
        "description": "Projeto de imersão",
        "creatorId": "37c5e92b-9604-4346-8167-cb09d89f1846"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-04T18:13:18.649Z",
      "createdAt": "2025-11-04T18:13:18.649Z",
      "id": "ur1maN6bsjwttizq",
      "name": "💗 flowgrammers"
    },
    {
      "updatedAt": "2026-01-14T14:33:00.763Z",
      "createdAt": "2026-01-14T14:33:00.763Z",
      "id": "TtVOsKCOOd2YXmo1",
      "name": "🔥imersao-n8n-enteprise"
    }
  ],
  "activeVersion": null
}