n8n/Error - Gestao VPS.json
{
  "updatedAt": "2026-02-20T01:54:02.897Z",
  "createdAt": "2026-02-20T01:53:52.751Z",
  "id": "kUV8GfDn4IVzixWG",
  "name": "Error - Gestao VPS",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "77c24dfc-aa90-4ce8-ac53-71c8869f9961",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -464,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "732da136-33e9-47fa-9729-65afd9670f4d",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.execution.mode }}",
              "rightValue": "manual"
            }
          ]
        },
        "options": {}
      },
      "id": "5e304b7d-11f3-4c3f-a1f4-d6a0ec1103b9",
      "name": "If not manual exec",
      "type": "n8n-nodes-base.if",
      "position": [
        -240,
        16
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "flowgrammers",
        "remoteJid": "5511982561489",
        "messageText": "=❌ Falha na Execução!\n{{ $now.format(\"dd/MM/yyyy HH:mm:ss\") }}\n\n\nWorkflow: \n{{ $json.workflow.name }}\n\nExecution Id:\n{{ $json.execution.id }}\n\nNode: \n{{ $json.execution.lastNodeExecuted }}\n\nError: \n{{ $json.execution.error.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b32f54d9-e539-4dcd-9e5c-5df13f3cbd5b",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "kdNj8VYS0ShcLu35",
          "name": "Evolution Flowgrammers"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "If not manual exec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not manual exec": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "18015efa-a921-46e5-9640-b66f1953a336",
  "activeVersionId": "18015efa-a921-46e5-9640-b66f1953a336",
  "versionCounter": 7,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-20T01:53:52.751Z",
      "createdAt": "2026-02-20T01:53:52.751Z",
      "role": "workflow:owner",
      "workflowId": "kUV8GfDn4IVzixWG",
      "projectId": "sXNN8zKIunLvXNly",
      "project": {
        "updatedAt": "2026-01-13T15:20:09.820Z",
        "createdAt": "2026-01-05T19:33:48.715Z",
        "id": "sXNN8zKIunLvXNly",
        "name": "Imersao",
        "type": "team",
        "icon": {
          "type": "emoji",
          "value": "🔥"
        },
        "description": "Projeto de imersão",
        "creatorId": "37c5e92b-9604-4346-8167-cb09d89f1846"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-04T18:13:18.649Z",
      "createdAt": "2025-11-04T18:13:18.649Z",
      "id": "ur1maN6bsjwttizq",
      "name": "💗 flowgrammers"
    },
    {
      "updatedAt": "2026-01-14T14:33:00.763Z",
      "createdAt": "2026-01-14T14:33:00.763Z",
      "id": "TtVOsKCOOd2YXmo1",
      "name": "🔥imersao-n8n-enteprise"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-20T01:54:06.213Z",
    "createdAt": "2026-02-20T01:53:52.751Z",
    "versionId": "18015efa-a921-46e5-9640-b66f1953a336",
    "workflowId": "kUV8GfDn4IVzixWG",
    "nodes": [
      {
        "parameters": {},
        "id": "77c24dfc-aa90-4ce8-ac53-71c8869f9961",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "position": [
          -464,
          16
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "732da136-33e9-47fa-9729-65afd9670f4d",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                },
                "leftValue": "={{ $json.execution.mode }}",
                "rightValue": "manual"
              }
            ]
          },
          "options": {}
        },
        "id": "5e304b7d-11f3-4c3f-a1f4-d6a0ec1103b9",
        "name": "If not manual exec",
        "type": "n8n-nodes-base.if",
        "position": [
          -240,
          16
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "flowgrammers",
          "remoteJid": "5511982561489",
          "messageText": "=❌ Falha na Execução!\n{{ $now.format(\"dd/MM/yyyy HH:mm:ss\") }}\n\n\nWorkflow: \n{{ $json.workflow.name }}\n\nExecution Id:\n{{ $json.execution.id }}\n\nNode: \n{{ $json.execution.lastNodeExecuted }}\n\nError: \n{{ $json.execution.error.message }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "b32f54d9-e539-4dcd-9e5c-5df13f3cbd5b",
        "name": "Enviar texto1",
        "credentials": {
          "evolutionApi": {
            "id": "kdNj8VYS0ShcLu35",
            "name": "Evolution Flowgrammers"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "If not manual exec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If not manual exec": {
        "main": [
          [
            {
              "node": "Enviar texto1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ricardo Neves",
    "name": "Version 1",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-20T01:54:06.208Z",
        "id": 455,
        "workflowId": "kUV8GfDn4IVzixWG",
        "versionId": "18015efa-a921-46e5-9640-b66f1953a336",
        "event": "activated",
        "userId": "37c5e92b-9604-4346-8167-cb09d89f1846"
      }
    ]
  }
}