n8n/Gestao VPS - COMPLETA.json
{
  "name": "Gestao VPS - COMPLETA",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce8eebdd-c313-4444-a1bd-dcde56619a0d",
              "name": "command",
              "type": "string",
              "value": "={{\n  $json.message.text\n    .toLowerCase()\n    .replace(/^\\//, '')\n    .split(/ (.+)/)[0]\n  || ''\n}}"
            },
            {
              "id": "834f7369-52f1-4df3-bfcb-754be0bb11e0",
              "name": "arg1",
              "type": "string",
              "value": "={{\n  $json.message.text\n    .toLowerCase()\n    .replace(/^\\//, '')\n    .split(/ (.+)/)[1]\n  || ''\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "670e87a7-bc9a-4c2e-8891-71db0d695c22",
      "name": "Cmd Parse",
      "type": "n8n-nodes-base.set",
      "position": [
        -800,
        624
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b1dfbc98-aac0-483c-a386-79180e96d0bb",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Cmd Parse').item.json.command }}",
                    "rightValue": "cleanup"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cleanup"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2524d410-a971-4a1f-b8a1-c30d363c6be6",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Cmd Parse').item.json.command }}",
                    "rightValue": "workflows"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "workflows"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "a27bd761-d2d6-4768-9449-ca5380db38ce",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Cmd Parse').item.json.command }}",
                    "rightValue": "execute"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "execute"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "593d46f5-40ce-468a-b834-c2376dca1684",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Cmd Parse').item.json.command }}",
                    "rightValue": "activate"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "activate"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0ff85afd-02f8-42ad-b892-59b3dcf025a9",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Cmd Parse').item.json.command }}",
                    "rightValue": "deactivate"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "deactivate"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5dee847-2c55-427f-a1f9-3f038f19e30e",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Cmd Parse').item.json.command }}",
                    "rightValue": "executions"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "executions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4237582a-3f2b-41e0-89f9-f3fa60817ff6",
                    "leftValue": "={{ $('Cmd Parse').item.json.command }}",
                    "rightValue": "backup",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "backup"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true,
          "renameFallbackOutput": "Error"
        }
      },
      "id": "c89826f9-2ece-4ba0-9683-04020e8968d0",
      "name": "Cmd Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -624,
        496
      ],
      "executeOnce": false,
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d760c8fa-65bc-4ef5-a0b0-9bf1ef711db6",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Cmd Parse').item.json.arg1 }}",
              "rightValue": "="
            }
          ]
        },
        "options": {}
      },
      "id": "7ef14952-32b5-463c-a30a-657a47403df4",
      "name": "Execute Arg",
      "type": "n8n-nodes-base.if",
      "position": [
        -272,
        656
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "activate",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "72784dec-4253-4bcd-a822-54df5c32467f",
      "name": "Activate Workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1328,
        848
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "deactivate",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "requestOptions": {}
      },
      "id": "a84c7097-124e-4784-abd6-0d89c3f3630f",
      "name": "Deactivate Workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1328,
        1024
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d760c8fa-65bc-4ef5-a0b0-9bf1ef711db6",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Cmd Parse').item.json.arg1 }}",
              "rightValue": "="
            }
          ]
        },
        "options": {}
      },
      "id": "2cac4461-b655-4a8c-8a81-9610fa9ba177",
      "name": "Activate Arg",
      "type": "n8n-nodes-base.if",
      "position": [
        -272,
        848
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d760c8fa-65bc-4ef5-a0b0-9bf1ef711db6",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Cmd Parse').item.json.arg1 }}",
              "rightValue": "="
            }
          ]
        },
        "options": {}
      },
      "id": "e1a2780d-8cde-4045-bdd4-6af6a5af8f86",
      "name": "Deactivate Arg",
      "type": "n8n-nodes-base.if",
      "position": [
        -272,
        1024
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "7ea8dc77-b9e7-449a-9543-c50639b08ffc",
      "name": "List Workflows 1",
      "type": "n8n-nodes-base.n8n",
      "position": [
        32,
        656
      ],
      "executeOnce": true,
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "dd5cce82-d62f-4b8d-98ff-efa54c3cbb14",
      "name": "List Workflows 2",
      "type": "n8n-nodes-base.n8n",
      "position": [
        32,
        848
      ],
      "executeOnce": true,
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "8e32e741-a4f0-4a41-b677-14e5197bb60a",
      "name": "List Workflows 3",
      "type": "n8n-nodes-base.n8n",
      "position": [
        32,
        1024
      ],
      "executeOnce": true,
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "43882ae1-cf25-46d2-9702-7035590b517c",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.active }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "bbc6c2ed-58b3-4856-8131-cca105066b04",
      "name": "If Inactive",
      "type": "n8n-nodes-base.if",
      "position": [
        816,
        848
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "43882ae1-cf25-46d2-9702-7035590b517c",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.active }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ae6711ae-cf1c-46a8-8f34-9534e87476b4",
      "name": "If Active",
      "type": "n8n-nodes-base.if",
      "position": [
        816,
        1024
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "c977f100-354a-42dc-9171-a5ffc1e06d7d",
      "name": "List Workflows ",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -272,
        480
      ],
      "executeOnce": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43a779d0-acf5-49d8-920a-590af435b7d1",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "09a74ca9-26fe-490f-b4db-c9c40200e2a5",
              "name": "active",
              "type": "boolean",
              "value": "={{ $json.active }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c13d376-3134-4f20-a482-67ba7ebc84fc",
      "name": "Workflow List",
      "type": "n8n-nodes-base.set",
      "position": [
        272,
        480
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "18dab2ca-c722-4d2f-8d91-f24a12e28d91",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "dce466b8-6c5a-4eb0-99c7-445c8173d625",
      "name": "Workflow Found 1",
      "type": "n8n-nodes-base.if",
      "position": [
        512,
        656
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "18dab2ca-c722-4d2f-8d91-f24a12e28d91",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "8d93a985-66c4-4309-9815-f72c4d2c187f",
      "name": "Workflow Found 2",
      "type": "n8n-nodes-base.if",
      "position": [
        512,
        848
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "18dab2ca-c722-4d2f-8d91-f24a12e28d91",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "1333f8a6-115b-4bfb-8259-db85b951e02d",
      "name": "Workflow Found 3",
      "type": "n8n-nodes-base.if",
      "position": [
        512,
        1024
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "075dd1e2-2580-4016-ba11-3b271049a718",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ae017255-9350-41f3-a0d1-a98cd6e54876",
      "name": "Not Archived",
      "type": "n8n-nodes-base.filter",
      "position": [
        32,
        480
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "278fa2d1-3d8a-48b3-b898-0d81779bcb11",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.name.toLowerCase() }}",
              "rightValue": "={{ $('Execute Arg').item.json.arg1 }}"
            },
            {
              "id": "83bc1669-a58f-45c9-a6f3-4d3a94d72fa5",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "b0aa1f85-3316-47d4-a3bb-ddd069d3a5b3",
      "name": "Find Workflow 1",
      "type": "n8n-nodes-base.filter",
      "position": [
        272,
        656
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "278fa2d1-3d8a-48b3-b898-0d81779bcb11",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.name.toLowerCase() }}",
              "rightValue": "={{ $('Activate Arg').item.json.arg1 }}"
            },
            {
              "id": "ca761ff5-d7ac-4c11-b844-c10d34062fc4",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "0bee492d-581b-4f83-b753-07079a9129cc",
      "name": "Find Workflow 2",
      "type": "n8n-nodes-base.filter",
      "position": [
        272,
        848
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "278fa2d1-3d8a-48b3-b898-0d81779bcb11",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.name.toLowerCase() }}",
              "rightValue": "={{ $('Deactivate Arg').item.json.arg1 }}"
            },
            {
              "id": "6eec9d79-2ad2-40af-8baf-38ab772f6f0b",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "4dd96614-d63e-450a-992e-b66522378fab",
      "name": "Find Workflow 3",
      "type": "n8n-nodes-base.filter",
      "position": [
        272,
        1024
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d760c8fa-65bc-4ef5-a0b0-9bf1ef711db6",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Cmd Parse').item.json.arg1 }}",
              "rightValue": "="
            }
          ]
        },
        "options": {}
      },
      "id": "eff40144-118b-47a2-a00a-e79e63458ebf",
      "name": "Executions Arg",
      "type": "n8n-nodes-base.if",
      "position": [
        -272,
        1200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "aef73f47-4978-4b01-b94f-4455106ee447",
      "name": "List Workflows 4",
      "type": "n8n-nodes-base.n8n",
      "position": [
        32,
        1200
      ],
      "executeOnce": true,
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "278fa2d1-3d8a-48b3-b898-0d81779bcb11",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.name.toLowerCase() }}",
              "rightValue": "={{ $('Executions Arg').item.json.arg1 }}"
            },
            {
              "id": "6eec9d79-2ad2-40af-8baf-38ab772f6f0b",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "c63f37c0-0bc5-40e1-abba-cf223e9b3ce6",
      "name": "Find Workflow 4",
      "type": "n8n-nodes-base.filter",
      "position": [
        272,
        1200
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "18dab2ca-c722-4d2f-8d91-f24a12e28d91",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "0c593ece-40ff-4f60-8892-491c681b4902",
      "name": "Workflow Found 4",
      "type": "n8n-nodes-base.if",
      "position": [
        512,
        1200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "execution",
        "limit": 50,
        "filters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          }
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "8fc12fd7-d39c-4851-992b-1072a08b484f",
      "name": "List Workflow Executions",
      "type": "n8n-nodes-base.n8n",
      "position": [
        816,
        1200
      ],
      "executeOnce": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ec10b59-a57e-4b6d-a13a-9d2674fb39b3",
              "name": "id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "18038ae8-3a18-4c6b-b97a-1f222bbe2547",
              "name": "mode",
              "type": "string",
              "value": "={{ $json.mode }}"
            },
            {
              "id": "90484316-e73a-41ff-9cb0-dbdfeaf6da11",
              "name": "started",
              "type": "string",
              "value": "={{ $json.startedAt?.toDateTime().toLocal().format(\"dd/MM/yyyy HH:mm\") }}"
            },
            {
              "id": "a56880cb-3c81-48fc-bd96-ec018e43ec5e",
              "name": "workflow",
              "type": "string",
              "value": "={{ $('Workflow Found 4').item.json.name }}"
            },
            {
              "id": "d89a11d0-2abd-4fad-ba64-510e9d922158",
              "name": "finished",
              "type": "boolean",
              "value": "={{ $json.finished }}"
            }
          ]
        },
        "options": {}
      },
      "id": "42c9b201-143e-47e4-9574-427b2580c3ec",
      "name": "Executions Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1104,
        1200
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "let msg = \"Executions:\\n\\n\"\nif ($input.first().json.id === null) {\n  return {\n    json: {\n      msg: \"No executions.\"\n    }\n  }\n}\nfor (const item of $input.all()) {\n  let status = item.json.finished ? '✅' : '❌'\n  let mode = item.json.mode === 'manual' ? ' (manual)' : ''\n  msg = msg + (status + \" \" + item.json.workflow + \" - \" + item.json.id + \" - \" + item.json.started + mode + \"\\n\")\n}\nreturn {\n  json: {\n    msg: msg\n  }\n}"
      },
      "id": "9e73b7bd-e768-49e3-9453-51005b27e103",
      "name": "Executions Message",
      "type": "n8n-nodes-base.code",
      "position": [
        1328,
        1200
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet msg = \"Workflows:\\n\\n\";\nconst workflows = [];\nif (items.length === 0 || items[0].json.name === null) {\n  return { json: { retorno: \"No workflows.\", workflows: [] } };\n}\nfor (const item of items) {\n  const name = item.json.name || '';\n  const active = !!item.json.active;\n  workflows.push({ name, active });\n  msg = msg + (active ? '🟢' : '⚫') + \"  \" + name + \"\\n\";\n}\nreturn { json: { retorno: msg, workflows } };"
      },
      "id": "cf9300b1-691a-48f3-b30d-6a1c8ef422eb",
      "name": "Workflows Message",
      "type": "n8n-nodes-base.code",
      "position": [
        1328,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}",
          "cachedResultName": "={{ $json.id }}"
        },
        "workflowInputs": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "37b5af3e-3900-43dc-928e-1a86c3b92a78",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1328,
        656
      ],
      "typeVersion": 1.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false
        },
        "requestOptions": {}
      },
      "id": "2f855f75-4750-4d7c-9a3f-a68dc33a06a7",
      "name": "List Archived",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -272,
        304
      ],
      "executeOnce": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "075dd1e2-2580-4016-ba11-3b271049a718",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "68237967-f33e-4fa4-b10f-ebf9b792ebb4",
      "name": "Only Archived",
      "type": "n8n-nodes-base.filter",
      "position": [
        32,
        304
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "let msg = \"Archived Workflows Deleted:\\n\\n\"\nif ($('Archived List').first().json.name === null) {\n  return {\n    json: {\n      msg: \"No archived workflows.\"\n    }\n  }\n}\nfor (const item of $('Archived List').all()) {\n  msg = msg + (\"🗑\" + \"  \" + item.json.name + \"\\n\")\n}\nreturn {\n  json: {\n    msg: msg\n  }\n}"
      },
      "id": "d226a5ae-5b6f-4609-b1a7-370d70212656",
      "name": "Archived Message",
      "type": "n8n-nodes-base.code",
      "position": [
        1328,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0da97ee-d423-48a7-8c79-58c43969a539",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "cba865ac-9909-4a1a-a6ae-58958135920c",
              "name": "id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "49341fa4-7360-4f22-9f28-526ff5883ab8",
      "name": "Archived List",
      "type": "n8n-nodes-base.set",
      "position": [
        272,
        304
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "delete",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Archived List').item.json.id }}"
        },
        "requestOptions": {}
      },
      "id": "f156f7c3-2033-4268-8b56-2a4383d16bf5",
      "name": "Delete Archived",
      "type": "n8n-nodes-base.n8n",
      "position": [
        512,
        304
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "n8n export:workflow --backup --output=/home/node/backup/workflows"
      },
      "id": "69179a3a-35e6-40b9-8e3f-a0f8869b3b6f",
      "name": "Backup Workflows",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -272,
        128
      ],
      "typeVersion": 1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "n8n export:credentials --backup --decrypted --output=/home/node/backup/credentials"
      },
      "id": "2beccffd-12f0-49c8-9d1f-de535d49db9f",
      "name": "Backup Credentials",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        32,
        128
      ],
      "typeVersion": 1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "tar -czf /home/node/backup.tar.gz -C /home/node/backup workflows credentials"
      },
      "id": "c5270087-1749-45b9-8e2a-5e98ce6501f6",
      "name": "Backup Tarball",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        272,
        128
      ],
      "typeVersion": 1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "rm -rf /home/node/backup /home/node/backup.tar.gz"
      },
      "id": "4d285cf6-c75e-407a-b5d7-d1fbbca0bf34",
      "name": "Cleanup Files",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        1632,
        -32
      ],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/backup.tar.gz",
        "options": {}
      },
      "id": "4b407d81-1a83-439d-b570-e29dc7da896d",
      "name": "Read File",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        1328,
        128
      ],
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "51b03e28-fbbc-491a-806f-ec668873b5d2",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -272,
        1840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "732da136-33e9-47fa-9729-65afd9670f4d",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.execution.mode }}",
              "rightValue": "manual"
            }
          ]
        },
        "options": {}
      },
      "id": "dd32d2b9-ca78-46d5-bd68-f1949e71888f",
      "name": "If not manual exec",
      "type": "n8n-nodes-base.if",
      "position": [
        -48,
        1840
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "events": [
          "init"
        ]
      },
      "id": "3f3136e5-fd9e-4617-8953-c7a349272efb",
      "name": "n8n Started Trigger",
      "type": "n8n-nodes-base.n8nTrigger",
      "position": [
        -272,
        2016
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "=flowgframmers",
        "remoteJid": "5511982561489",
        "messageText": "=❗ Instancia Iniciada!\n{{ $now.format(\"dd/MM/yyyy HH:mm:ss\") }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -48,
        2016
      ],
      "id": "e8d2f475-9b6e-4436-9a30-d53864186ad3",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "kdNj8VYS0ShcLu35",
          "name": "Evolution Flowgrammers"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "flowgrammers",
        "remoteJid": "5511982561489",
        "messageText": "=❌ Falha na Execução!\n{{ $now.format(\"dd/MM/yyyy HH:mm:ss\") }}\n\n\nWorkflow: \n{{ $json.workflow.name }}\n\nExecution Id:\n{{ $json.execution.id }}\n\nNode: \n{{ $json.execution.lastNodeExecuted }}\n\nError: \n{{ $json.execution.error.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        192,
        1824
      ],
      "id": "6ff7eeee-40ee-45fd-99d6-63e15897d080",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "kdNj8VYS0ShcLu35",
          "name": "Evolution Flowgrammers"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gestao-vps-completa",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        624
      ],
      "id": "db25ea86-2d26-4338-9eaa-df94da178e51",
      "name": "Webhook",
      "webhookId": "98918216-a2e5-4e1f-b3e0-4aea88dad2e5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"retorno\": \"erro\",\n  \"erroType\": \"InvalidInput\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -320,
        1520
      ],
      "id": "9158e39c-e0d7-4005-adc5-4827f1667838",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"retorno\": \"❌ Esse Comando necessita de um argumento!\",\n  \"erroType\": \"Message\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16,
        1456
      ],
      "id": "2aae3b67-43d9-4ccc-a601-a1f197825023",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"retorno\": \"❌ Não encontrei o workflow com esse nome!\",\n  \"erroType\": \"Message\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        1392
      ],
      "id": "313fc79e-89ce-49ee-8a72-e5c7d78cd9d5",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"retorno\": \"❌ O Workflow já está ativo!\",\n  \"erroType\": \"Message\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1104,
        1376
      ],
      "id": "a8eb46c1-6882-430c-9201-9d5f2292fe00",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"retorno\": \"❌ O workflow já está desativado!\",\n  \"erroType\": \"Message\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1104,
        1728
      ],
      "id": "8f53142a-d877-4733-a7ec-070fc73c31ca",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1648,
        144
      ],
      "id": "fef12640-30ae-482b-9756-72a27a4177ef",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"retorno\": \"{{ $('Archived Message').item.json.msg }}\",\n  \"erroType\": \"Message\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1648,
        320
      ],
      "id": "4fda0f36-7488-454a-80a1-12aefe65d1ee",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1664,
        480
      ],
      "id": "439437c6-664a-4abf-bdec-5498313e1c0d",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"retorno\": \"✅ Fluxo Executado.\",\n  \"erroType\": \"Message\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1632,
        656
      ],
      "id": "033be72d-34a1-4f11-9fd7-219908b711ff",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"retorno\": \"✅ Fluxo ativo.\",\n  \"erroType\": \"Message\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1632,
        832
      ],
      "id": "e1c6ff3a-1ba1-4fda-9e6d-9000248fd230",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"retorno\": \"✅ Fluxo desativado.\",\n  \"erroType\": \"Message\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1632,
        1008
      ],
      "id": "dd76c5a8-592b-4cd1-9261-7d2a41f33649",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"retorno\": \"{{ $json.msg }}\",\n  \"erroType\": \"Message\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1632,
        1200
      ],
      "id": "5635565d-b56f-4cde-ae59-2655e3b8b15f",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"retorno\": \"❌ Falha no Backup!\",\n  \"erroType\": \"Error\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1632,
        1376
      ],
      "id": "1eb22d0c-ca62-4d6c-8493-ee75e9a35652",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"retorno\": \"❌ A execução falhou!\",\n  \"erroType\": \"Error\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1632,
        1536
      ],
      "id": "ee2fa499-d652-4d27-ac84-3035450be760",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"retorno\": \"❌ Não foi possível ativar o fluxo! \",\n  \"erroType\": \"Error\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1648,
        1712
      ],
      "id": "916e66d9-a2a0-42c9-a640-b80ecf4d794f",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"retorno\": \"❌ Não foi possível desativar o fluxo!\",\n  \"erroType\": \"Error\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1632,
        1888
      ],
      "id": "a4496e4d-96e1-4f5a-b866-dfc9871639c5",
      "name": "Respond to Webhook15"
    }
  ],
  "pinData": {},
  "connections": {
    "Cmd Parse": {
      "main": [
        [
          {
            "node": "Cmd Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cmd Switch": {
      "main": [
        [
          {
            "node": "List Archived",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Workflows ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Arg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Activate Arg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deactivate Arg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Executions Arg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backup Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Arg": {
      "main": [
        [
          {
            "node": "List Workflows 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deactivate Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Arg": {
      "main": [
        [
          {
            "node": "List Workflows 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deactivate Arg": {
      "main": [
        [
          {
            "node": "List Workflows 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflows 1": {
      "main": [
        [
          {
            "node": "Find Workflow 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflows 2": {
      "main": [
        [
          {
            "node": "Find Workflow 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflows 3": {
      "main": [
        [
          {
            "node": "Find Workflow 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Inactive": {
      "main": [
        [
          {
            "node": "Activate Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Active": {
      "main": [
        [
          {
            "node": "Deactivate Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflows ": {
      "main": [
        [
          {
            "node": "Not Archived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow List": {
      "main": [
        [
          {
            "node": "Workflows Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Found 1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Found 2": {
      "main": [
        [
          {
            "node": "If Inactive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Found 3": {
      "main": [
        [
          {
            "node": "If Active",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Archived": {
      "main": [
        [
          {
            "node": "Workflow List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Workflow 1": {
      "main": [
        [
          {
            "node": "Workflow Found 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Workflow 2": {
      "main": [
        [
          {
            "node": "Workflow Found 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Workflow 3": {
      "main": [
        [
          {
            "node": "Workflow Found 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executions Arg": {
      "main": [
        [
          {
            "node": "List Workflows 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflows 4": {
      "main": [
        [
          {
            "node": "Find Workflow 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Workflow 4": {
      "main": [
        [
          {
            "node": "Workflow Found 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Found 4": {
      "main": [
        [
          {
            "node": "List Workflow Executions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflow Executions": {
      "main": [
        [
          {
            "node": "Executions Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executions Fields": {
      "main": [
        [
          {
            "node": "Executions Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executions Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflows Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Archived": {
      "main": [
        [
          {
            "node": "Only Archived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Archived": {
      "main": [
        [
          {
            "node": "Archived List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archived Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archived List": {
      "main": [
        [
          {
            "node": "Delete Archived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Archived": {
      "main": [
        [
          {
            "node": "Archived Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Cleanup Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "If not manual exec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not manual exec": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Started Trigger": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Cmd Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup Workflows": {
      "main": [
        [
          {
            "node": "Backup Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup Credentials": {
      "main": [
        [
          {
            "node": "Backup Tarball",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup Tarball": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3f864924-34b0-4364-95ff-08470cfd4cf7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8125e227058f92fdce9ece7d059bc1433ced99d24a7edc65b549aaa2538e2b97"
  },
  "id": "AGXOp02kJRA9z9ie",
  "tags": []
}