n8n/Insights API (Workflows + Executions).json
{
  "updatedAt": "2026-02-18T04:08:14.405Z",
  "createdAt": "2026-02-18T03:56:35.463Z",
  "id": "qTUrZl0Zf0zV8aml",
  "name": "Insights API (Workflows + Executions)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "insights",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bda7fff2-7579-454b-9e8b-d8c2df85c862",
      "name": "Webhook GET Insights",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -272,
        -224
      ],
      "webhookId": "insights-api"
    },
    {
      "parameters": {
        "url": "={{$vars.urlN8N}}api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "projectId",
              "value": "={{ $vars.projectId }}"
            },
            {
              "name": "limit",
              "value": "250"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "fdfeac25-31e1-4209-9f5b-47036aaefa80",
      "name": "Listar Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -336
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2MR7jAggig6NCSB6",
          "name": "Uazapi"
        },
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      },
      "continueOnFail": true,
      "notes": "Credential: Header Auth com Name='X-N8N-API-KEY' e Value=sua API key"
    },
    {
      "parameters": {
        "url": "={{$vars.urlN8N}}api/v1/executions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "projectId",
              "value": "={{ $vars.projectId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "db09d7a2-fa69-4532-b524-1a22156a1c78",
      "name": "Listar Execuções",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -80
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2MR7jAggig6NCSB6",
          "name": "Uazapi"
        },
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      },
      "continueOnFail": true,
      "notes": "Traz as últimas 250 execuções. Aumente o limit se precisar."
    },
    {
      "parameters": {
        "jsCode": "const wfItem = $('Listar Workflows').first();\nconst exItem = $('Listar Execuções').first();\n\nconst workflows = (wfItem.json?.data || []).map(w => ({\n  id: w.id,\n  name: w.name,\n  active: w.active,\n  createdAt: w.createdAt,\n  updatedAt: w.updatedAt,\n  tags: (w.tags || []).map(t => t.name || t),\n}));\n\nconst executions = (exItem.json?.data || []).map(e => ({\n  id: e.id,\n  workflowId: e.workflowId || e.workflowData?.id,\n  workflowName: e.workflowData?.name || '',\n  status: e.situacao,\n  startedAt: e.startedAt,\n  stoppedAt: e.stoppedAt,\n  finished: e.finished,\n}));\n\n// Compute per-workflow stats\nconst wfMap = {};\nworkflows.forEach(w => {\n  wfMap[w.id] = { ...w, totalExec: 0, failedExec: 0, successExec: 0, runningExec: 0, waitingExec: 0, totalRuntimeMs: 0, execCount: 0 };\n});\n\nexecutions.forEach(e => {\n  const wId = String(e.workflowId);\n  if (!wfMap[wId]) {\n    wfMap[wId] = { id: wId, name: e.workflowName || `Workflow ${wId}`, active: false, tags: [], totalExec: 0, failedExec: 0, successExec: 0, runningExec: 0, waitingExec: 0, totalRuntimeMs: 0, execCount: 0 };\n  }\n  const wf = wfMap[wId];\n  wf.totalExec++;\n  if (e.situacao === 'error' || e.situacao === 'failed' || e.situacao === 'crashed') wf.failedExec++;\n  else if (e.situacao === 'success') wf.successExec++;\n  else if (e.situacao === 'running') wf.runningExec++;\n  else if (e.situacao === 'waiting') wf.waitingExec++;\n  if (e.startedAt && e.stoppedAt) {\n    const ms = new Date(e.stoppedAt).getTime() - new Date(e.startedAt).getTime();\n    if (ms > 0) { wf.totalRuntimeMs += ms; wf.execCount++; }\n  }\n});\n\nconst workflowStats = Object.values(wfMap).map(w => ({\n  id: w.id,\n  name: w.name,\n  active: w.active,\n  tags: w.tags,\n  totalExec: w.totalExec,\n  successExec: w.successExec,\n  failedExec: w.failedExec,\n  runningExec: w.runningExec,\n  waitingExec: w.waitingExec,\n  failureRate: w.totalExec > 0 ? Math.round((w.failedExec / w.totalExec) * 10000) / 100 : 0,\n  avgRuntimeMs: w.execCount > 0 ? Math.round(w.totalRuntimeMs / w.execCount) : 0,\n  avgRuntimeSec: w.execCount > 0 ? Math.round((w.totalRuntimeMs / w.execCount) / 10) / 100 : 0,\n})).sort((a, b) => b.totalExec - a.totalExec);\n\nconst totalExec = executions.length;\nconst successExec = executions.filter(e => e.situacao === 'success').length;\nconst failedExec = executions.filter(e => e.situacao === 'error' || e.situacao === 'failed' || e.situacao === 'crashed').length;\nconst runningExec = executions.filter(e => e.situacao === 'running').length;\n\nlet totalRt = 0, rtCount = 0;\nexecutions.forEach(e => {\n  if (e.startedAt && e.stoppedAt) {\n    const ms = new Date(e.stoppedAt).getTime() - new Date(e.startedAt).getTime();\n    if (ms > 0) { totalRt += ms; rtCount++; }\n  }\n});\nconst avgRuntimeSec = rtCount > 0 ? Math.round((totalRt / rtCount) / 10) / 100 : 0;\n\nreturn [{ json: {\n  summary: { totalExec, successExec, failedExec, runningExec, avgRuntimeSec, totalWorkflows: workflows.length },\n  workflows: workflowStats,\n  executions: executions,\n} }];"
      },
      "id": "99c04d99-630a-40d6-93ca-ada6176b504c",
      "name": "Gerar Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "356d9aa0-b33d-4902-8e63-c2d872bf0feb",
      "name": "Responder com JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        752,
        -192
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        -192
      ],
      "id": "0723af92-f871-45e1-8dd7-2143da174c73",
      "name": "Merge"
    }
  ],
  "connections": {
    "Webhook GET Insights": {
      "main": [
        [
          {
            "node": "Listar Workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listar Execuções",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Workflows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Execuções": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gerar Insights": {
      "main": [
        [
          {
            "node": "Responder com JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gerar Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook GET Insights": [
      {
        "json": {
          "headers": {
            "host": "webhook.agentes-n8n.com.br",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "accept": "application/json",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-US;q=0.7",
            "origin": "http://localhost:8080",
            "priority": "u=1, i",
            "referer": "http://localhost:8080/",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "170.79.81.194",
            "x-forwarded-host": "webhook.agentes-n8n.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2d53984a436a",
            "x-real-ip": "170.79.81.194"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://webhook.agentes-n8n.com.br/webhook/insights",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "a31ece12-4505-4ca4-afb6-c115b8d7e939",
  "activeVersionId": "4eb3dc49-b69f-4652-8cb3-91aec9beaf49",
  "versionCounter": 60,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-18T03:56:35.463Z",
      "createdAt": "2026-02-18T03:56:35.463Z",
      "role": "workflow:owner",
      "workflowId": "qTUrZl0Zf0zV8aml",
      "projectId": "sXNN8zKIunLvXNly",
      "project": {
        "updatedAt": "2026-01-13T15:20:09.820Z",
        "createdAt": "2026-01-05T19:33:48.715Z",
        "id": "sXNN8zKIunLvXNly",
        "name": "Imersao",
        "type": "team",
        "icon": {
          "type": "emoji",
          "value": "🔥"
        },
        "description": "Projeto de imersão",
        "creatorId": "37c5e92b-9604-4346-8167-cb09d89f1846"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-04T18:13:18.649Z",
      "createdAt": "2025-11-04T18:13:18.649Z",
      "id": "ur1maN6bsjwttizq",
      "name": "💗 flowgrammers"
    },
    {
      "updatedAt": "2026-01-14T14:33:00.763Z",
      "createdAt": "2026-01-14T14:33:00.763Z",
      "id": "TtVOsKCOOd2YXmo1",
      "name": "🔥imersao-n8n-enteprise"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-18T04:06:31.539Z",
    "createdAt": "2026-02-18T04:06:25.306Z",
    "versionId": "4eb3dc49-b69f-4652-8cb3-91aec9beaf49",
    "workflowId": "qTUrZl0Zf0zV8aml",
    "nodes": [
      {
        "parameters": {
          "path": "insights",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "bda7fff2-7579-454b-9e8b-d8c2df85c862",
        "name": "Webhook GET Insights",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -256,
          -240
        ],
        "webhookId": "insights-api"
      },
      {
        "parameters": {
          "url": "={{$vars.urlN8N}}api/v1/workflows",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "n8nApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "projectId",
                "value": "={{ $vars.projectId }}"
              },
              {
                "name": "limit",
                "value": "250"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "fdfeac25-31e1-4209-9f5b-47036aaefa80",
        "name": "Listar Workflows",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -32,
          -336
        ],
        "notesInFlow": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "2MR7jAggig6NCSB6",
            "name": "Uazapi"
          },
          "n8nApi": {
            "id": "EwAdtN2nOSMsPM5y",
            "name": "n8n"
          }
        },
        "continueOnFail": true,
        "notes": "Credential: Header Auth com Name='X-N8N-API-KEY' e Value=sua API key"
      },
      {
        "parameters": {
          "url": "={{$vars.urlN8N}}api/v1/executions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "n8nApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "limit",
                "value": "250"
              },
              {
                "name": "projectId",
                "value": "={{ $vars.projectId }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "db09d7a2-fa69-4532-b524-1a22156a1c78",
        "name": "Listar Execuções",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -32,
          -80
        ],
        "notesInFlow": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "2MR7jAggig6NCSB6",
            "name": "Uazapi"
          },
          "n8nApi": {
            "id": "EwAdtN2nOSMsPM5y",
            "name": "n8n"
          }
        },
        "continueOnFail": true,
        "notes": "Traz as últimas 250 execuções. Aumente o limit se precisar."
      },
      {
        "parameters": {
          "jsCode": "const wfItem = $('Listar Workflows').first();\nconst exItem = $('Listar Execuções').first();\n\nconst workflows = (wfItem.json?.data || []).map(w => ({\n  id: w.id,\n  name: w.name,\n  active: w.active,\n  createdAt: w.createdAt,\n  updatedAt: w.updatedAt,\n  tags: (w.tags || []).map(t => t.name || t),\n}));\n\nconst executions = (exItem.json?.data || []).map(e => ({\n  id: e.id,\n  workflowId: e.workflowId || e.workflowData?.id,\n  workflowName: e.workflowData?.name || '',\n  status: e.situacao,\n  startedAt: e.startedAt,\n  stoppedAt: e.stoppedAt,\n  finished: e.finished,\n}));\n\n// Compute per-workflow stats\nconst wfMap = {};\nworkflows.forEach(w => {\n  wfMap[w.id] = { ...w, totalExec: 0, failedExec: 0, successExec: 0, runningExec: 0, waitingExec: 0, totalRuntimeMs: 0, execCount: 0 };\n});\n\nexecutions.forEach(e => {\n  const wId = String(e.workflowId);\n  if (!wfMap[wId]) {\n    wfMap[wId] = { id: wId, name: e.workflowName || `Workflow ${wId}`, active: false, tags: [], totalExec: 0, failedExec: 0, successExec: 0, runningExec: 0, waitingExec: 0, totalRuntimeMs: 0, execCount: 0 };\n  }\n  const wf = wfMap[wId];\n  wf.totalExec++;\n  if (e.situacao === 'error' || e.situacao === 'failed' || e.situacao === 'crashed') wf.failedExec++;\n  else if (e.situacao === 'success') wf.successExec++;\n  else if (e.situacao === 'running') wf.runningExec++;\n  else if (e.situacao === 'waiting') wf.waitingExec++;\n  if (e.startedAt && e.stoppedAt) {\n    const ms = new Date(e.stoppedAt).getTime() - new Date(e.startedAt).getTime();\n    if (ms > 0) { wf.totalRuntimeMs += ms; wf.execCount++; }\n  }\n});\n\nconst workflowStats = Object.values(wfMap).map(w => ({\n  id: w.id,\n  name: w.name,\n  active: w.active,\n  tags: w.tags,\n  totalExec: w.totalExec,\n  successExec: w.successExec,\n  failedExec: w.failedExec,\n  runningExec: w.runningExec,\n  waitingExec: w.waitingExec,\n  failureRate: w.totalExec > 0 ? Math.round((w.failedExec / w.totalExec) * 10000) / 100 : 0,\n  avgRuntimeMs: w.execCount > 0 ? Math.round(w.totalRuntimeMs / w.execCount) : 0,\n  avgRuntimeSec: w.execCount > 0 ? Math.round((w.totalRuntimeMs / w.execCount) / 10) / 100 : 0,\n})).sort((a, b) => b.totalExec - a.totalExec);\n\nconst totalExec = executions.length;\nconst successExec = executions.filter(e => e.situacao === 'success').length;\nconst failedExec = executions.filter(e => e.situacao === 'error' || e.situacao === 'failed' || e.situacao === 'crashed').length;\nconst runningExec = executions.filter(e => e.situacao === 'running').length;\n\nlet totalRt = 0, rtCount = 0;\nexecutions.forEach(e => {\n  if (e.startedAt && e.stoppedAt) {\n    const ms = new Date(e.stoppedAt).getTime() - new Date(e.startedAt).getTime();\n    if (ms > 0) { totalRt += ms; rtCount++; }\n  }\n});\nconst avgRuntimeSec = rtCount > 0 ? Math.round((totalRt / rtCount) / 10) / 100 : 0;\n\nreturn [{ json: {\n  summary: { totalExec, successExec, failedExec, runningExec, avgRuntimeSec, totalWorkflows: workflows.length },\n  workflows: workflowStats,\n  executions: executions,\n} }];"
        },
        "id": "99c04d99-630a-40d6-93ca-ada6176b504c",
        "name": "Gerar Insights",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          -192
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "356d9aa0-b33d-4902-8e63-c2d872bf0feb",
        "name": "Responder com JSON",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          752,
          -192
        ]
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          320,
          -192
        ],
        "id": "0723af92-f871-45e1-8dd7-2143da174c73",
        "name": "Merge"
      }
    ],
    "connections": {
      "Webhook GET Insights": {
        "main": [
          [
            {
              "node": "Listar Workflows",
              "type": "main",
              "index": 0
            },
            {
              "node": "Listar Execuções",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Listar Workflows": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Listar Execuções": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Gerar Insights": {
        "main": [
          [
            {
              "node": "Responder com JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Gerar Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ricardo Neves",
    "name": "Version 3",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-18T04:06:31.536Z",
        "id": 425,
        "workflowId": "qTUrZl0Zf0zV8aml",
        "versionId": "4eb3dc49-b69f-4652-8cb3-91aec9beaf49",
        "event": "activated",
        "userId": "37c5e92b-9604-4346-8167-cb09d89f1846"
      }
    ]
  }
}