n8n/Observability API (standalone - Execute Command + n8n Workers).json
{
  "name": "Observability API (standalone - Execute Command + n8n Workers)",
  "nodes": [
    {
      "parameters": {
        "command": "node -e \"\nvar os=require('os');\nvar ce=require('child_process').execSync;\nvar http=require('http');\nvar fs=require('fs');\nfunction dget(p){return new Promise(function(ok){var r=http.request({socketPath:'/var/run/docker.sock',path:p,method:'GET'},function(res){var d='';res.on('data',function(c){d+=c});res.on('end',function(){try{ok(JSON.parse(d))}catch(e){ok(null)}})});r.on('error',function(){ok(null)});r.setTimeout(8000,function(){r.destroy();ok(null)});r.end()})}\nasync function main(){\nvar n=os.cpus().length;\nvar load=os.loadavg();\nvar cpu=Math.min(100,Math.round((load[0]/n)*100));\nvar t=os.totalmem();\nvar f=os.freemem();\nvar usedMb=Math.round((t-f)/1048576);\nvar totalMb=Math.round(t/1048576);\nvar memPct=Math.round(((t-f)/t)*100);\nvar disk={usedGb:0,totalGb:0,percent:0};\ntry{var o=ce('df -k /').toString();var lines=o.trim().split(String.fromCharCode(10));if(lines[1]){var P=lines[1].split(/\\\\s+/);var totalK=parseInt(P[1],10);var usedK=parseInt(P[2],10);disk={usedGb:Math.round((usedK/1048576)*100)/100,totalGb:Math.round((totalK/1048576)*100)/100,percent:totalK>0?Math.round((usedK/totalK)*100):0}}}catch(e){}\nvar workers=[];\nvar hasSock=false;\ntry{fs.accessSync('/var/run/docker.sock');hasSock=true}catch(e){}\nif(hasSock){\ntry{\nvar cs=await dget('/containers/json?all=false');\nif(Array.isArray(cs)){\nvar wcs=cs.filter(function(c){var nm=(c.Names||[]).join(' ').toLowerCase();var img=(c.Image||'').toLowerCase();return (img.includes('n8n')&&nm.includes('worker'))||(nm.includes('n8n')&&nm.includes('worker'))});\nvar sts=await Promise.all(wcs.map(function(c){return dget('/containers/'+c.Id+'/stats?stream=false')}));\nfor(var i=0;i<wcs.length;i++){\nvar c=wcs[i];\nvar cid=c.Id.substring(0,12);\nvar cname=(c.Names[0]||'/unknown').substring(1);\nvar wcpu=0,wmem=0,wlimit=0,wpct=0;\nvar st=sts[i];\nif(st&&st.cpu_stats&&st.precpu_stats){var cd2=st.cpu_stats.cpu_usage.total_usage-st.precpu_stats.cpu_usage.total_usage;var sd=st.cpu_stats.system_cpu_usage-st.precpu_stats.system_cpu_usage;var nc=st.cpu_stats.online_cpus||1;if(sd>0)wcpu=Math.round((cd2/sd)*nc*100);wmem=Math.round((st.memory_stats.usage||0)/1048576);wlimit=Math.round((st.memory_stats.limit||0)/1048576);if(wlimit>0)wpct=Math.round((wmem/wlimit)*100)}\nvar wfree=Math.max(0,Math.round(((wlimit-wmem)/1024)*100)/100);\nvar wtotal=Math.round((wlimit/1024)*100)/100;\nworkers.push({name:cname,id:cid,status:'online',averageLoad:0,freeMemoryGb:wfree,totalMemoryGb:wtotal,uptime:'',arch:os.arch()+' ('+os.platform()+')',n8nVersion:'',currentJobs:0,cpuUsage:wcpu,memoryUsage:wpct,hostMemory:{totalGb:wtotal,freeGb:wfree},processMemory:{rss:wmem,heapTotal:0,heapUsed:0},networkInterfaces:[]})\n}}}catch(de){}}\nif(workers.length===0){\nvar hn=os.hostname();\nvar fgb=Math.round((f/1073741824)*100)/100;\nvar tgb=Math.round((t/1073741824)*100)/100;\nworkers.push({name:hn,id:hn,status:'online',averageLoad:Math.round(load[0]*100)/100,freeMemoryGb:fgb,totalMemoryGb:tgb,uptime:'',arch:os.arch()+' ('+os.platform()+')',n8nVersion:'',currentJobs:0,cpuUsage:cpu,memoryUsage:memPct,hostMemory:{totalGb:tgb,freeGb:fgb},processMemory:{rss:0,heapTotal:0,heapUsed:0},networkInterfaces:[]})\n}\nvar result={metrics:{cpu:{percent:cpu},memory:{usedMb:usedMb,totalMb:totalMb,percent:memPct},disk:disk,n8nWorkers:{active:0,idle:0,busy:0,total:workers.length}},workers:workers,history:[]};\nconsole.log(JSON.stringify(result));\n}\nmain().catch(function(){console.log('{}')});\n\""
      },
      "id": "378850b2-b44e-445d-9a56-b1979cd6c0a8",
      "name": "Coletar métricas do servidor",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        96,
        -752
      ],
      "notesInFlow": true,
      "notes": "Coleta CPU, RAM, disco via Node.js + descobre workers n8n via Docker socket (/var/run/docker.sock). Requer volume bind do Docker socket no container n8n."
    },
    {
      "parameters": {
        "url": "={{$vars.urlN8N}}api/v1/executions?status=running&limit=20",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 5000
        }
      },
      "id": "de164a9c-05e1-44ee-85a3-6325100f2302",
      "name": "Buscar execuções n8n (running)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        -512
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2MR7jAggig6NCSB6",
          "name": "Uazapi"
        },
        "n8nApi": {
          "id": "EwAdtN2nOSMsPM5y",
          "name": "n8n"
        }
      },
      "continueOnFail": true,
      "notes": "Credential: Header Auth com Name='X-N8N-API-KEY' e Value=sua API key do n8n. Ajuste a URL se precisar."
    },
    {
      "parameters": {
        "jsCode": "const serverItem = $('Coletar métricas do servidor').first();\nconst execItem = $('Buscar execuções n8n (running)').first();\n\nlet serverData;\ntry {\n  const raw = serverItem.json.stdout || '';\n  serverData = JSON.parse(raw.trim());\n} catch (e) {\n  serverData = { metrics: { cpu: { percent: 0 }, memory: { usedMb: 0, totalMb: 0, percent: 0 }, disk: { usedGb: 0, totalGb: 0, percent: 0 }, n8nWorkers: { active: 0, idle: 0, busy: 0, total: 0 } }, workers: [], history: [] };\n}\n\nlet runningExecs = [];\ntry {\n  const execData = execItem.json;\n  if (execData && execData.data && Array.isArray(execData.data)) {\n    runningExecs = execData.data.filter(e => e.status === 'running');\n  }\n} catch (e) {}\n\nconst runningCount = runningExecs.length;\nconst workerCount = (serverData.workers || []).length || 1;\n\nserverData.metrics.n8nWorkers = {\n  active: workerCount,\n  idle: runningCount > 0 ? Math.max(0, workerCount - runningCount) : workerCount,\n  busy: Math.min(runningCount, workerCount),\n  total: workerCount\n};\n\nif (serverData.workers && serverData.workers.length > 0) {\n  const jobsPerWorker = Math.floor(runningCount / workerCount);\n  const remainder = runningCount % workerCount;\n  for (let i = 0; i < serverData.workers.length; i++) {\n    serverData.workers[i].currentJobs = jobsPerWorker + (i < remainder ? 1 : 0);\n  }\n}\n\nreturn [{ json: serverData }];"
      },
      "id": "ce86c382-710d-45dc-9560-7fe3e2c747ca",
      "name": "Combinar métricas + workers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -608
      ]
    },
    {
      "parameters": {
        "path": "observability-standalone",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4c36b5c0-1990-4222-8bad-1e8b21f7d842",
      "name": "Webhook GET1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        -608
      ],
      "webhookId": "observability-standalone"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "61ff26a2-bda5-4e56-a16f-6a91427caf82",
      "name": "Responder com JSON1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        768,
        -608
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        -608
      ],
      "id": "d1592032-aa79-4bbb-939e-483f31c843ed",
      "name": "Junta SERVIDOR E WORKERS"
    }
  ],
  "pinData": {},
  "connections": {
    "Coletar métricas do servidor": {
      "main": [
        [
          {
            "node": "Junta SERVIDOR E WORKERS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar execuções n8n (running)": {
      "main": [
        [
          {
            "node": "Junta SERVIDOR E WORKERS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar métricas + workers": {
      "main": [
        [
          {
            "node": "Responder com JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET1": {
      "main": [
        [
          {
            "node": "Coletar métricas do servidor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar execuções n8n (running)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junta SERVIDOR E WORKERS": {
      "main": [
        [
          {
            "node": "Combinar métricas + workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "c9b194b6-bc80-47ce-afbc-a05bc05459f7",
  "meta": {
    "instanceId": "8125e227058f92fdce9ece7d059bc1433ced99d24a7edc65b549aaa2538e2b97"
  },
  "id": "8njeWlOdLTvHLAjD",
  "tags": []
}
