n8n/Observability API (Webhook).json
{
  "updatedAt": "2026-02-18T02:58:37.616Z",
  "createdAt": "2026-02-18T02:58:27.608Z",
  "id": "tdsTBU61xAfinYFp",
  "name": "Observability API (Webhook)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "observability",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "48e8032f-eaff-4504-9012-7576d4569654",
      "name": "Webhook GET Observability",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        -144
      ],
      "webhookId": "observability-api"
    },
    {
      "parameters": {
        "url": "=http://observability-api:3001/api/observability",
        "options": {
          "timeout": 10000
        }
      },
      "id": "5ba25be1-dfef-4e40-89b7-134d7f0b06cd",
      "name": "Chamar API Observability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -144
      ],
      "notesInFlow": true,
      "notes": "Ajuste a URL: use o host do container da observability-api (ex: http://observability-api:3001 ou http://host.docker.internal:3001)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "db6e4a73-fcbd-4981-bbbd-cbd054395c97",
      "name": "Responder com JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        208,
        -144
      ]
    }
  ],
  "connections": {
    "Webhook GET Observability": {
      "main": [
        [
          {
            "node": "Chamar API Observability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar API Observability": {
      "main": [
        [
          {
            "node": "Responder com JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8d87b32c-1949-40de-9bda-cb2cb7b5f418",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-18T02:58:27.608Z",
      "createdAt": "2026-02-18T02:58:27.608Z",
      "role": "workflow:owner",
      "workflowId": "tdsTBU61xAfinYFp",
      "projectId": "sXNN8zKIunLvXNly",
      "project": {
        "updatedAt": "2026-01-13T15:20:09.820Z",
        "createdAt": "2026-01-05T19:33:48.715Z",
        "id": "sXNN8zKIunLvXNly",
        "name": "Imersao",
        "type": "team",
        "icon": {
          "type": "emoji",
          "value": "🔥"
        },
        "description": "Projeto de imersão",
        "creatorId": "37c5e92b-9604-4346-8167-cb09d89f1846"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-04T18:13:18.649Z",
      "createdAt": "2025-11-04T18:13:18.649Z",
      "id": "ur1maN6bsjwttizq",
      "name": "💗 flowgrammers"
    },
    {
      "updatedAt": "2026-01-14T14:33:00.763Z",
      "createdAt": "2026-01-14T14:33:00.763Z",
      "id": "TtVOsKCOOd2YXmo1",
      "name": "🔥imersao-n8n-enteprise"
    }
  ],
  "activeVersion": null
}