n8n/observability-webhook-standalone.json
{
  "name": "Observability API (standalone - Execute Command + n8n Workers)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "observability-standalone",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-observability-standalone",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "observability-standalone"
    },
    {
      "parameters": {
        "command": "node -e \"\nconst os = require('os');\nconst { execSync } = require('child_process');\n\nconst n = os.cpus().length;\nconst load = os.loadavg();\nconst cpu = Math.min(100, Math.round((load[0] / n) * 100));\n\nconst t = os.totalmem();\nconst f = os.freemem();\nconst usedMb = Math.round((t - f) / 1024 / 1024);\nconst totalMb = Math.round(t / 1024 / 1024);\nconst memPct = Math.round(((t - f) / t) * 100);\n\nlet disk = { usedGb: 0, totalGb: 0, percent: 0 };\ntry {\n  const o = execSync('df -k /').toString();\n  const lines = o.trim().split(String.fromCharCode(10));\n  if (lines[1]) {\n    const P = lines[1].split(/\\\\s+/);\n    const totalK = parseInt(P[1], 10);\n    const usedK = parseInt(P[2], 10);\n    disk = {\n      usedGb: Math.round((usedK / 1024 / 1024) * 100) / 100,\n      totalGb: Math.round((totalK / 1024 / 1024) * 100) / 100,\n      percent: totalK > 0 ? Math.round((usedK / totalK) * 100) : 0\n    };\n  }\n} catch (e) {}\n\nconst upSec = os.uptime();\nconst days = Math.floor(upSec / 86400);\nconst hrs = Math.floor((upSec % 86400) / 3600);\nconst mins = Math.floor((upSec % 3600) / 60);\nconst secs = Math.floor(upSec % 60);\nconst uptime = days + 'd ' + hrs + 'h ' + mins + 'm ' + secs + 's';\n\nconst hostname = os.hostname();\nconst arch = os.arch() + ' (' + os.platform() + ')';\nconst freeMem = os.freemem();\nconst freeMemGb = Math.round((freeMem / 1024 / 1024 / 1024) * 100) / 100;\nconst totalMemGb = Math.round((t / 1024 / 1024 / 1024) * 100) / 100;\n\nconst result = {\n  metrics: {\n    cpu: { percent: cpu },\n    memory: { usedMb, totalMb, percent: memPct },\n    disk: disk,\n    n8nWorkers: { active: 0, idle: 0, busy: 0, total: 0 }\n  },\n  workers: [{\n    name: hostname,\n    id: hostname,\n    status: 'online',\n    averageLoad: Math.round(load[0] * 100) / 100,\n    freeMemoryGb: freeMemGb,\n    totalMemoryGb: totalMemGb,\n    uptime: uptime,\n    arch: arch,\n    n8nVersion: '',\n    currentJobs: 0,\n    cpuUsage: cpu,\n    memoryUsage: memPct,\n    hostMemory: {\n      totalGb: totalMemGb,\n      freeGb: freeMemGb\n    },\n    processMemory: {\n      rss: 0,\n      heapTotal: 0,\n      heapUsed: 0\n    },\n    networkInterfaces: []\n  }],\n  history: []\n};\n\nconsole.log(JSON.stringify(result));\n\"",
        "executeOnce": true
      },
      "id": "exec-metrics",
      "name": "Coletar métricas do servidor",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 200],
      "notesInFlow": true,
      "notes": "Coleta CPU, RAM, disco e info do host via Node.js"
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_API_URL || 'http://localhost:5678' }}/api/v1/executions?status=running&limit=20",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "http-n8n-executions",
      "name": "Buscar execuções n8n (running)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 450],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_AQUI",
          "name": "n8n API Key"
        }
      },
      "continueOnFail": true,
      "notesInFlow": true,
      "notes": "Credential: Header Auth com Name='X-N8N-API-KEY' e Value=sua API key do n8n. Ajuste a URL se precisar."
    },
    {
      "parameters": {
        "jsCode": "const serverItem = $('Coletar métricas do servidor').first();\nconst execItem = $('Buscar execuções n8n (running)').first();\n\n// Parse server metrics from stdout\nlet serverData;\ntry {\n  const raw = serverItem.json.stdout || '';\n  serverData = JSON.parse(raw.trim());\n} catch (e) {\n  serverData = { metrics: { cpu: { percent: 0 }, memory: { usedMb: 0, totalMb: 0, percent: 0 }, disk: { usedGb: 0, totalGb: 0, percent: 0 }, n8nWorkers: { active: 0, idle: 0, busy: 0, total: 0 } }, workers: [], history: [] };\n}\n\n// Parse n8n executions\nlet runningCount = 0;\ntry {\n  const execData = execItem.json;\n  if (execData && execData.data && Array.isArray(execData.data)) {\n    runningCount = execData.data.filter(e => e.status === 'running').length;\n  }\n} catch (e) {}\n\n// Update workers info\nserverData.metrics.n8nWorkers = {\n  active: runningCount > 0 ? 1 : 1,\n  idle: runningCount > 0 ? 0 : 1,\n  busy: runningCount > 0 ? 1 : 0,\n  total: 1\n};\n\n// Update worker currentJobs\nif (serverData.workers && serverData.workers.length > 0) {\n  serverData.workers[0].currentJobs = runningCount;\n  serverData.workers[0].n8nVersion = $env.N8N_VERSION || '';\n}\n\nreturn [{ json: serverData }];"
      },
      "id": "code-merge",
      "name": "Combinar métricas + workers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook-standalone",
      "name": "Responder com JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Coletar métricas do servidor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar execuções n8n (running)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar métricas do servidor": {
      "main": [
        [
          {
            "node": "Combinar métricas + workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar execuções n8n (running)": {
      "main": [
        [
          {
            "node": "Combinar métricas + workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar métricas + workers": {
      "main": [
        [
          {
            "node": "Responder com JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCreds": {}
  }
}
