n8n/PRD Creator - Lovable.json
{
  "updatedAt": "2026-01-16T14:00:55.348Z",
  "createdAt": "2026-01-16T13:58:56.918Z",
  "id": "qwHMa8j64Mh1hjN6",
  "name": "PRD Creator - Lovable",
  "description": "",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nome do Produto - {{ $json['Nome do Produto']}}\nOverview do produto - {{ $json['Overview do Produto'] }}\nPersona - {{ $json.Personas || 'NГЈo informado' }}\nObjetivo- {{ $json.Objetivo|| 'NГЈo informado' }}\nRequisitos funcionais - {{ $json['Requisitos funcionais'] || 'NГЈo informado' }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert product manager and technical writer.  \nYour task is to generate a clear, structured **Product Requirements Document (PRD)** in **Markdown format**.  \nThe PRD should be professional, concise, and easy to share with engineers, designers, and stakeholders and adapt for AI Vibe Coding Tools like Lovable for example.  \n\nUse Information provided by User prompt to Understand the requirement and try to go deep in filing all section.\n\n### Formatting Rules\n- Use proper Markdown headers (`#`, `##`, `###`) for sections.  \n- Use bullet points or numbered lists where appropriate.  \n- Keep language clear and action-oriented.  \n- Do not include explanations of what a PRD is.\n\n### PRD Template \nUSE COMO EXEMPLO ABAIXO - VOCГЉ DEVE DEFINIR OS REQUISITOS DA MELHOR FORMA\n# PRD ESTRUTURADO - FLWOGRAMMERS\n\n## 1. VisГЈo Geral\n\nO **Flwogrammers** Г© uma plataforma web completa e automatizada para criaГ§ГЈo, gestГЈo e emissГЈo de certificaГ§Гµes profissionais online. A aplicaГ§ГЈo resolve um problema crГ­tico de escala e credibilidade em processos de avaliaГ§ГЈo e certificaГ§ГЈo, que tradicionalmente sГЈo manuais, lentos e suscetГ­veis a erros. Empresas, instituiГ§Гµes de ensino e profissionais independentes que precisam validar conhecimentos especГ­ficos (como proficiГЄncia em uma ferramenta de software, compliance regulatГіrio ou competГЄncias tГ©cnicas) enfrentam dores como a logГ­stica complexa de aplicar provas presenciais, a demora na correГ§ГЈo e emissГЈo de certificados, a falta de um sistema centralizado para histГіrico dos candidatos e a dificuldade em garantir a integridade e o controle de acesso aos exames. O Flwogrammers automatiza todo esse fluxo, desde a criaГ§ГЈo da prova atГ© o envio do certificado por e-mail, em um ambiente seguro, auditГЎvel e com experiГЄncia otimizada para ambos os lados: o administrador que gerencia o processo e o aluno que busca a certificaГ§ГЈo.\n\nA soluГ§ГЈo funciona atravГ©s de um ecossistema integrado onde administradores, em um painel dedicado, podem criar certificaГ§Гµes, elaborar provas com questГµes de mГєltipla escolha, definir critГ©rios rГ­gidos de aprovaГ§ГЈo e gerar vouchers com prazo de validade para controle de acesso. Os alunos, por sua vez, acessam um portal onde visualizam as certificaГ§Гµes disponГ­veis, utilizam um voucher Гєnico para desbloquear uma prova, realizam o exame em uma interface controlada e recebem o resultado imediatamente. Caso aprovados, um certificado em PDF com cГіdigo de verificaГ§ГЈo Гєnico Г© gerado e enviado automaticamente para seu e-mail, sem qualquer intervenГ§ГЈo manual. O sistema garante imutabilidade dos resultados, validaГ§ГЈo estrita dos vouchers e um histГіrico permanente para ambas as partes.\n\nO pГєblico-alvo primГЎrio sГЈo **Administradores de Treinamento e CertificaГ§ГЈo** (em empresas de tecnologia, consultorias, escolas de cursos livres e associaГ§Гµes profissionais) e **Instrutores/Conteudistas Independentes**. Eles buscam eficiГЄncia operacional, reduГ§ГЈo de custos com processos manuais e um sistema confiГЎvel que dГЄ credibilidade Г s suas certificaГ§Гµes. O pГєblico secundГЎrio sГЈo **Alunos e Profissionais** que buscam certificar suas habilidades para progressГЈo na carreira, comprovaГ§ГЈo de conhecimentos para clientes ou cumprimento de requisitos de qualificaГ§ГЈo. Suas dores incluem a burocracia para agendar provas, a incerteza sobre prazos de recebimento do certificado e a dificuldade em gerenciar um portfГіlio de certificaГ§Гµes obtidas.\n\nOs principais diferenciais do Flwogrammers sГЈo: **1. AutomaГ§ГЈo de Ponta a Ponta**, eliminando etapas manuais desde a inscriГ§ГЈo atГ© o envio do certificado; **2. Controle Granular via Vouchers**, permitindo gestГЈo precisa de acesso, prazos e vinculaГ§ГЈo a certificaГ§Гµes especГ­ficas; **3. GeraГ§ГЈo e Entrega AutomГЎtica de Certificados**, com cГіdigo verificГЎvel, assegurando autenticidade e experiГЄncia imediata para o aprovado; **4. Arquitetura ImutГЎvel**, onde provas e resultados sГЈo registros permanentes e inalterГЎveis, garantindo a integridade auditГЎvel do processo; e **5. Stack Moderna e Unificada (React + Supabase)**, que oferece desenvolvimento ГЎgil, seguranГ§a robusta nativa e baixa necessidade de manutenГ§ГЈo, tudo sem depender de bibliotecas pagas.\n\n## 2. Funcionalidades\n\n### 2.1 Perfis de UsuГЎrio\n\n| Perfil | Registro | PermissГµes | Acessos Principais |\n|---|---|---|---|\n| **Administrador (Super Admin)** | E-mail corporativo e senha via Supabase Auth. | Controle total do sistema. Pode criar/gerenciar todos os recursos, usuГЎrios e acessar todos os dados. | Painel Admin completo: Dashboard, GestГЈo de CertificaГ§Гµes, CriaГ§ГЈo de Provas e QuestГµes, Gerenciamento de Vouchers, RelatГіrios de AprovaГ§ГЈo/ReprovaГ§ГЈo, HistГіrico Completo de Alunos, ConfiguraГ§Гµes do Sistema. |\n| **Aluno (Candidato)** | E-mail pessoal/profissional e senha via Supabase Auth. | PermissГµes restritas ao seu prГіprio perfil e Г s aГ§Гµes de realizaГ§ГЈo de prova. | PГЎgina do Aluno: VisualizaГ§ГЈo de CertificaГ§Гµes DisponГ­veis, InserГ§ГЈo de Voucher para Acesso Г  Prova, Interface de RealizaГ§ГЈo da Prova, HistГіrico Pessoal de Tentativas, Status de AprovaГ§ГЈo/ReprovaГ§ГЈo, Download de Certificados Emitidos. |\n| **Gestor de ConteГєdo (Admin Especializado)** | E-mail corporativo e senha, criado por um Super Admin. | PermissГµes focadas na criaГ§ГЈo e gestГЈo de conteГєdo educacional e avaliaГ§Гµes. NГЈo gerencia usuГЎrios ou configuraГ§Гµes gerais do sistema. | MГіdulos de CriaГ§ГЈo e EdiГ§ГЈo de CertificaГ§Гµes, CriaГ§ГЈo e EdiГ§ГЈo de Provas, ElaboraГ§ГЈo de Banco de QuestГµes, DefiniГ§ГЈo de CritГ©rios de AprovaГ§ГЈo, VisualizaГ§ГЈo de Resultados das Provas que criou. |\n| **Auditor (Somente Leitura)** | E-mail corporativo e senha, criado por um Super Admin. | PermissГµes estritas de visualizaГ§ГЈo (read-only) para todos os dados de certificaГ§Гµes, provas, resultados e alunos. | Acesso a relatГіrios completos, listagens de aprovados/reprovados, histГіrico detalhado de todas as provas realizadas e detalhes de certificados emitidos. Para fins de auditoria e compliance. |\n\n### 2.2 MГіdulos do Sistema\n\n1.  **MГіdulo de AutenticaГ§ГЈo & AutorizaГ§ГЈo** - Gerencia o registro, login e sessГЈo dos usuГЎrios utilizando Supabase Auth. Define e aplica polГ­ticas de acesso baseadas em perfis (Admin/Aluno), redirecionando cada um para sua ГЎrea correspondente. Inclui recuperaГ§ГЈo de senha.\n2.  **Painel de Controle Administrativo (Dashboard Admin)** - VisГЈo geral para o administrador com KPIs em tempo real: total de certificaГ§Гµes, provas aplicadas, taxas de aprovaГ§ГЈo/reprovaГ§ГЈo, vouchers ativos/vencidos e grГЎficos de atividade recente. Ponto central de monitoramento.\n3.  **GestГЈo de CertificaГ§Гµes** - MГіdulo central para cadastro de novas certificaГ§Гµes (tГ­tulo, descriГ§ГЈo, imagem) e sua manutenГ§ГЈo. Cada certificaГ§ГЈo Г© o \"produto\" final que o aluno busca obter.\n4.  **GestГЈo de Provas & Banco de QuestГµes** - Permite criar provas e associГЎ-las a uma certificaГ§ГЈo. Oferece um editor robusto para adicionar questГµes de mГєltipla escolha (texto, 4+ alternativas, marcaГ§ГЈo da correta). Funciona como um banco de questГµes reutilizГЎveis.\n5.  **GestГЈo de CritГ©rios & ConfiguraГ§Гµes de Prova** - Define o percentual mГ­nimo de acerto para aprovaГ§ГЈo de cada prova. Configura regras como tempo limite (se aplicГЎvel) e nГєmero de tentativas permitidas.\n6.  **GestГЈo de Vouchers** - Sistema de controle de acesso onde o admin gera cГіdigos de voucher Гєnicos, associando-os a uma certificaГ§ГЈo especГ­fica e definindo datas de validade (inГ­cio e fim). Permite listar, filtrar e invalidar vouchers.\n7.  **MГіdulo de AplicaГ§ГЈo de Provas (Aluno)** - Interface segura onde o aluno, apГіs validar um voucher, realiza a prova. Pode exibir uma questГЈo por vez ou todas juntas. Timer e prevenГ§ГЈo de navegaГ§ГЈo podem ser implementados.\n8.  **Sistema de CorreГ§ГЈo AutomГЎtica & CГЎlculo de Nota** - Processa as respostas submetidas pelo aluno, compara com o gabarito armazenado, calcula a pontuaГ§ГЈo percentual e determina instantaneamente a aprovaГ§ГЈo ou reprovaГ§ГЈo com base no critГ©rio definido.\n9.  **MГіdulo de EmissГЈo de Certificados** - Gera automaticamente um certificado em PDF para alunos aprovados. O documento inclui nome do aluno, certificaГ§ГЈo, data, cГіdigo Гєnico de verificaГ§ГЈo e uma assinatura digital da plataforma. Integra-se ao serviГ§o de e-mail.\n10. **Sistema de NotificaГ§ГЈo por E-mail** - Envia comunicaГ§Гµes automГЎticas utilizando Resend. Notifica o aluno sobre aprovaГ§ГЈo com o certificado em anexo, reprovaГ§ГЈo, confirmaГ§ГЈo de inscriГ§ГЈo na prova e lembretes de voucher prГіximo do vencimento.\n11. **HistГіrico & RelatГіrios** - Armazena de forma imutГЎvel todas as tentativas de prova (data, nota, resultado). Oferece ao admin relatГіrios filtrados por certificaГ§ГЈo, perГ­odo ou aluno, e ao aluno uma visГЈo do seu prГіprio histГіrico e certificados conquistados.\n12. **PГЎgina do Perfil do Aluno** - ГЃrea pessoal onde o aluno gerencia suas informaГ§Гµes de conta, visualiza seu progresso, acessa o histГіrico de provas e faz o download dos certificados jГЎ emitidos para ele.\n\n### 2.3 PГЎginas Principais\n\n| PГЎgina | MГіdulo Principal | DescriГ§ГЈo | Elementos-Chave da Interface |\n|---|---|---|---|\n| **Login / Cadastro** | AutenticaГ§ГЈo | PГЎgina de entrada Гєnica para Admin e Aluno. FormulГЎrios para login (e-mail/senha) e registro de novo usuГЎrio (tipo aluno). | Campos de e-mail e senha, botГЈo \"Entrar\", link \"Criar conta\", link \"Esqueci minha senha\", logo da plataforma. |\n| **Dashboard Admin** | Painel Admin | Homepage do administrador apГіs o login. Apresenta uma visГЈo macro da saГєde e atividade da plataforma. | Cards de KPIs (Total CertificaГ§Гµes, Provas Hoje, Taxa AprovaГ§ГЈo), grГЎfico de atividades recentes, lista de Гєltimas provas realizadas, acesso rГЎpido aos principais mГіdulos. |\n| **CertificaГ§Гµes (Admin)** | GestГЈo de CertificaГ§Гµes | Listagem e gestГЈo de todas as certificaГ§Гµes criadas na plataforma. | Tabela listando certificaГ§Гµes, botГЈo \"Nova CertificaГ§ГЈo\", filtros, aГ§Гµes (Editar, Ver Detalhes, Gerenciar Provas). Modal/FormulГЎrio de criaГ§ГЈo/ediГ§ГЈo. |\n| **Criar Prova** | GestГЈo de Provas | PГЎgina para criaГ§ГЈo de uma nova prova ou ediГ§ГЈo de uma existente. | SeleГ§ГЈo da certificaГ§ГЈo associada, campo para tГ­tulo/descriГ§ГЈo da prova, seletor de % mГ­nima para aprovaГ§ГЈo, seГ§ГЈo para adicionar/gerenciar questГµes do banco. |\n| **Banco de QuestГµes** | GestГЈo de Provas | RepositГіrio central de todas as questГµes de mГєltipla escolha criadas. | Tabela de questГµes com filtros por certificaГ§ГЈo/tag, barra de busca, botГЈo \"Nova QuestГЈo\". Editor de questГЈo com campos para enunciado, alternativas e marcaГ§ГЈo da correta. |\n| **Gerenciar Vouchers** | GestГЈo de Vouchers | Painel para criaГ§ГЈo, visualizaГ§ГЈo e controle dos cГіdigos de acesso. | BotГЈo \"Gerar Voucher\", formulГЎrio para definir certificaГ§ГЈo, quantidade e validade. Tabela listando vouchers com cГіdigo, status (ativo/uso/vencido), aГ§Гµes (Invalidar). |\n| **RelatГіrios de Resultados** | HistГіrico & RelatГіrios | PГЎgina para anГЎlise de desempenho dos alunos por certificaГ§ГЈo ou prova. | Filtros avanГ§ados (data, certificaГ§ГЈo, resultado). Tabelas e grГЎficos com lista de aprovados/reprovados, notas mГ©dias, estatГ­sticas. OpГ§ГЈo de exportar dados. |\n| **CatГЎlogo de CertificaГ§Гµes (Aluno)** | MГіdulo de Provas | PГЎgina inicial do aluno, exibindo todas as certificaГ§Гµes disponГ­veis para ele tentar. | Cards visuais para cada certificaГ§ГЈo (tГ­tulo, imagem, descriГ§ГЈo resumida). BotГЈo \"Saber Mais\" e \"Iniciar Prova\" (que aciona a validaГ§ГЈo por voucher). |\n| **Realizar Prova** | MГіdulo de Provas | Interface limpa e focada para a realizaГ§ГЈo do exame. Timer visГ­vel (se aplicГЎvel). | ExibiГ§ГЈo da questГЈo atual, alternativas de resposta (radio buttons), botГµes de navegaГ§ГЈo (\"Anterior\", \"PrГіxima\", \"Enviar Prova\"). Barra de progresso. |\n| **Meu HistГіrico (Aluno)** | PГЎgina do Perfil | ГЃrea onde o aluno acompanha todas as suas tentativas e certificados conquistados. | Abas ou seГ§Гµes para \"Provas Realizadas\" (tabela com data, certificaГ§ГЈo, nota, status) e \"Meus Certificados\" (lista com links para download do PDF). |\n\n## 3. Processos de NavegaГ§ГЈo e Fluxo\n\n**Administrador (Super Admin):**\n1.  **Login:** Acessa a pГЎgina de login, insere credenciais e Г© autenticado via Supabase.\n2.  **Dashboard:** Г‰ redirecionado para o Dashboard Admin, onde vГЄ um resumo das atividades.\n3.  **ConfiguraГ§ГЈo Inicial:** Acessa \"CertificaГ§Гµes\" para criar a primeira certificaГ§ГЈo (ex: \"CertificaГ§ГЈo em SeguranГ§a da InformaГ§ГЈo\").\n4.  **CriaГ§ГЈo da AvaliaГ§ГЈo:** Navega para \"Criar Prova\", associa-a Г  certificaГ§ГЈo criada, define 70% como nota mГ­nima e usa o \"Banco de QuestГµes\" para adicionar 20 questГµes Г  prova.\n5.  **Controle de Acesso:** Vai para \"Gerenciar Vouchers\", gera 50 cГіdigos vГЎlidos por 30 dias e os distribui para os candidatos.\n6.  **Monitoramento:** Durante o perГ­odo de provas, monitora os \"RelatГіrios de Resultados\" para ver aprovados/reprovados em tempo real.\n7.  **Auditoria:** Finalmente, usa a visГЈo de \"HistГіrico Completo\" para auditar qualquer tentativa de prova especГ­fica, se necessГЎrio.\n\n**Aluno (Candidato):**\n1.  **Login/Cadastro:** Cria uma conta ou faz login com seu e-mail e senha.\n2.  **ExploraГ§ГЈo:** Na sua pГЎgina inicial (\"CatГЎlogo de CertificaГ§Гµes\"), visualiza as opГ§Гµes disponГ­veis.\n3.  **InГ­cio do Processo:** Clica em \"Iniciar Prova\" na certificaГ§ГЈo desejada. O sistema solicita o **cГіdigo do voucher**.\n4.  **ValidaГ§ГЈo:** Insere o cГіdigo recebido. O sistema valida (existГЄncia, validade, certificaГ§ГЈo correta) e, se vГЎlido, libera o acesso.\n5.  **RealizaГ§ГЈo da Prova:** Г‰ direcionado para a pГЎgina \"Realizar Prova\". Responde a todas as questГµes e submete.\n6.  **Resultado Imediato:** A correГ§ГЈo Г© automГЎtica. A pГЎgina de resultado Г© exibida instantaneamente mostrando \"Aprovado\" ou \"Reprovado\", junto com a nota.\n7.  **ConclusГЈo (Se Aprovado):** Recebe um e-mail automГЎtico com o certificado em PDF anexado. Pode acessar \"Meu HistГіrico\" a qualquer momento para baixar novamente o certificado ou ver seu registro.\n\n**Gestor de ConteГєdo:**\n1.  **Login:** Acessa o sistema com suas credenciais restritas.\n2.  **Dashboard EspecГ­fico:** VГЄ um dashboard focado no conteГєdo sob sua responsabilidade.\n3.  **GestГЈo do Banco:** Acessa o \"Banco de QuestГµes\" para criar novas questГµes ou editar existentes para suas ГЎreas.\n4.  **AtualizaГ§ГЈo de Provas:** Navega para \"Criar Prova\" para revisar e atualizar as avaliaГ§Гµes das certificaГ§Гµes que gerencia.\n5.  **AnГЎlise de Resultados:** Consulta relatГіrios filtrados apenas para as provas de seu conteГєdo, analisando o desempenho dos alunos para identificar questГµes problemГЎticas ou tГіpicos que necessitam de melhor abordagem.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nPARTE 2A: DESIGN UI + DIAGRAMAS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n# CONTINUAГ‡ГѓO - DESIGN UI ULTRA DETALHADO\n\n## 4. Diagrama de Fluxo Completo (25 NГіs)\n\n```mermaid\ngraph TD\n    A[Login/Registro] --> B{AutenticaГ§ГЈo VГЎlida?}\n    B -->|NГЈo| C[Exibir Erro + Retry]\n    B -->|Sim| D{Perfil Detectado}\n    \n    D -->|Admin| E[Dashboard Admin]\n    D -->|Instrutor| F[Dashboard Instrutor]\n    D -->|Aluno| G[Dashboard Aluno]\n    \n    %% FLUXO ADMIN\n    E --> H[VisГЈo Geral Plataforma]\n    H --> I{Gerenciar}\n    I -->|UsuГЎrios| J[CRUD UsuГЎrios + PermissГµes]\n    I -->|Cursos| K[CRUD Cursos + MГіdulos]\n    I -->|Certificados| L[Modelos + ValidaГ§Гµes]\n    I -->|Financeiro| M[TransaГ§Гµes + RelatГіrios]\n    J --> N[NotificaГ§Гµes Push]\n    K --> O[Publicar/Arquivar]\n    L --> P[Emitir em Lote]\n    M --> Q[Exportar CSV/PDF]\n    \n    %% FLUXO INSTRUTOR\n    F --> R[Meus Cursos]\n    R --> S{Criar/Editar}\n    S -->|AvaliaГ§ГЈo| T[Configurar Prova]\n    S -->|ConteГєdo| U[Upload Materiais]\n    T --> V[Definir Regras + Nota Corte]\n    U --> W[Organizar MГіdulos]\n    V --> X[Preview Certificado]\n    W --> Y[Agendar PublicaГ§ГЈo]\n    \n    %% FLUXO ALUNO\n    G --> Z[CatГЎlogo Cursos]\n    Z --> AA[Inscrever-se]\n    AA --> AB[ГЃrea de Estudos]\n    AB --> AC{Acesso ConteГєdo}\n    AC -->|Estudar| AD[Player Video/Aulas]\n    AC -->|Avaliar| AE[Realizar Prova]\n    AD --> AF[Progresso Salvo]\n    AE --> AG{Resultado}\n    AG -->|Aprovado| AH[Gerar Certificado]\n    AG -->|Reprovado| AI[Retry Policy]\n    AH --> AJ[Download/Compartilhar]\n    AI --> AK[Feedback + Retomar]\n    \n    %% SISTEMA CENTRAL\n    AH --> AL[Sistema de EmissГЈo]\n    AL --> AM[Blockchain Registry?]\n    AM --> AN[QR Code + ValidaГ§ГЈo]\n    AN --> AO[HistГіrico Permanente]\n    \n    %% NOTIFICAГ‡Г•ES\n    N --> AP[Email/SMS/In-App]\n    AJ --> AP\n    P --> AP\n    \n    style A fill:#2563EB,color:#fff\n    style E fill:#10B981,color:#fff\n    style F fill:#F59E0B,color:#000\n    style G fill:#8B5CF6,color:#fff\n    style AH fill:#059669,color:#fff\n```\n\n## 5. Design Interface\n\n### 5.1 Estilo Visual Expandido\n\n**Sistema de Cores HierГЎrquico:**\n```\nPRIMГЃRIAS:\n- #2563EB (Azul corporativo) - AГ§Гµes principais, brand identity\n- #1E40AF (Azul escuro) - Hover states, active elements\n- #DBEAFE (Azul claro) - Backgrounds, highlights\n\nSECUNDГЃRIAS:\n- #10B981 (Verde sucesso) - ConclusГµes, aprovaГ§Гµes\n- #047857 (Verde escuro) - Progress bars, status\n- #D1FAE5 (Verde claro) - Success backgrounds\n\nACENTOS:\n- #F59E0B (Laranja alerta) - Avisos, pendГЄncias\n- #DC2626 (Vermelho erro) - Falhas, reprovaГ§Гµes\n- #8B5CF6 (Roxo premium) - Features avanГ§adas\n\nNEUTROS (Escala completa):\n- #0F172A (Neutral-900) - Texto primГЎrio\n- #1E293B (Neutral-800) - Texto secundГЎrio\n- #334155 (Neutral-700) - Texto terciГЎrio\n- #475569 (Neutral-600) - ГЌcones, borders\n- #64748B (Neutral-500) - Placeholders\n- #94A3B8 (Neutral-400) - Disabled states\n- #E2E8F0 (Neutral-200) - Dividers, lines\n- #F1F5F9 (Neutral-100) - Cards background\n- #FFFFFF (Branco) - Main background\n```\n\n**Sistema TipogrГЎfico Detalhado:**\n```\nFONTE: Inter (Google Fonts) - 300/400/500/600/700\n\nHIERARQUIA:\n- H1: 32px/1.2 (700) - Page titles\n- H2: 28px/1.3 (600) - Section headers\n- H3: 24px/1.4 (600) - Card titles\n- H4: 20px/1.4 (500) - Subsection headers\n- H5: 18px/1.5 (500) - Widget titles\n- Body Large: 18px/1.6 (400) - Lead paragraphs\n- Body: 16px/1.6 (400) - Main content\n- Body Small: 14px/1.5 (400) - Captions, metadata\n- Caption: 12px/1.4 (400) - Labels, timestamps\n\nESPECГЌFICOS:\n- Button Text: 14px/1 (500) uppercase\n- Input Labels: 14px/1.4 (500)\n- Table Headers: 13px/1.3 (600) uppercase\n```\n\n**Sistema de Componentes AvanГ§ado:**\n\n```\nBOTГ•ES (8px border-radius):\n- Primary: bg-primary-600, hover:primary-700, 44px height\n- Secondary: bg-transparent, border-2 primary-600, hover:bg-primary-50\n- Ghost: text-primary-600, hover:bg-primary-50\n- Danger: bg-red-600, hover:red-700\n- Success: bg-green-600, hover:green-700\n- Sizes: SM(36px), MD(44px), LG(52px)\n\nCARDS (12px border-radius):\n- Elevation Levels:\n  * Level 1: shadow-sm (hover:shadow)\n  * Level 2: shadow-md (hover:shadow-lg)\n  * Level 3: shadow-lg (hover:shadow-xl)\n- Padding: 24px default, 16px condensed\n- Header: border-b, 20px padding-bottom\n\nINPUTS & FORMS:\n- Height: 44px (padrГЈo WCAG)\n- Border: 1px neutral-300, focus:2px primary-500\n- Radius: 6px\n- States: focus/error/success/disabled\n- Labels: 14px, 4px margin-bottom\n- Help text: 12px neutral-500\n\nMODAIS & OVERLAYS:\n- Backdrop: bg-black/50 backdrop-blur-sm\n- Modal: max-w-2xl, center screen\n- Header: sticky, border-b, 24px padding\n- Body: 32px padding, scrollable\n- Footer: sticky, border-t, 20px padding\n\nNAVEGAГ‡ГѓO:\n- Sidebar: 280px width, bg-neutral-900, text-white\n- Collapsed: 72px width, icons only\n- Active State: bg-primary-600, border-l-4\n- Hover: bg-neutral-800\n- Breadcrumbs: 14px, separator: \"/\"\n\nTABELAS:\n- Header: bg-neutral-50, 13px uppercase\n- Rows: hover:bg-neutral-50\n- Striped: even:bg-neutral-25\n- Padding: 16px vertical, 24px horizontal\n- Border: 1px neutral-200\n```\n\n### 5.2 Tabela de PГЎginas Detalhada (12 PГЎginas)\n\n| PГЎgina | MГіdulo | UI Principal | Componentes CrГ­ticos | InteraГ§Гµes & Micro-interaГ§Гµes |\n|--------|--------|--------------|---------------------|-------------------------------|\n| **Dashboard Admin** | Analytics | Grid 3x3 cards, Charts, Activity feed | KPI animated counters, Quick action buttons, Real-time stats | Hover card elevation, Click drilldown, Drag to rearrange widgets, Live updates |\n| **Gerenciar UsuГЎrios** | User Management | Data table with filters, Bulk actions, User cards | Advanced filters, Role badges, Status toggles, Export dropdown | Row selection highlight, Bulk edit overlay, Quick role change, Search as you type |\n| **Criar Curso** | Course Builder | Drag-drop modules, WYSIWYG editor, Preview panel | Module cards, Content blocks, Media uploader, Timeline editor | Drag visual feedback, Auto-save indicator, Preview sync, Validation tooltips |\n| **Configurar AvaliaГ§ГЈo** | Assessment Engine | Question bank, Rule builder, Scoring matrix | Question types selector, Timer settings, Passing score slider | Drag questions, Rule validation, Score simulation, Preview certificate |\n| **Emitir Certificados** | Certificate Manager | Batch processor, Template gallery, Preview modal | Template editor, Batch selector, Status progress bar | Batch progress animation, Template live preview, Drag signature, QR code generator |\n| **ГЃrea do Aluno** | Learning Portal | Course carousel, Progress tracker, Upcoming deadlines | Progress rings, Continue watching, Achievement badges | Progress animation, Card hover effects, Quick resume, Notification dots |\n| **Player de Aula** | Content Player | Video controller, Sidebar notes, Speed controls | Transcript sync, Bookmark button, Note timestamp | Playback speed visual, Note highlight sync, Progress save indicator |\n| **Realizar Prova** | Assessment Interface | Full-screen mode, Question navigator, Timer display | Question flag, Calculator overlay, Formula helper | Timer pulse warning, Question state indicators, Auto-save answers |\n| **Resultados** | Grading System | Score breakdown, Correct answers, Certificate preview | Performance charts, Comparison metrics, Share buttons | Score reveal animation, Certificate 3D flip, Social share overlays |\n| **Financeiro** | Billing & Reports | Invoice table, Revenue charts, Payout dashboard | Invoice generator, Payout status, Tax calculator | Chart hover details, Invoice preview, Payout request animation |\n| **ConfiguraГ§Гµes** | Platform Settings | Tab navigation, Toggle groups, Import/Export | Theme selector, Webhook config, API keys manager | Theme live preview, Toggle animations, API key copy feedback |\n| **NotificaГ§Гµes** | Comms Center | Inbox interface, Template builder, Send scheduler | Notification logs, Template variables, Schedule calendar | Send preview, Schedule drag-drop, Read/unread animations |\n\n### 5.3 Responsividade Ultra-Detalhada\n\n**DESKTOP (в‰Ґ1200px) - ExperiГЄncia Completa:**\n```\nLayout:\n- Grid: 12 colunas, 24px gutter\n- Sidebar: 280px fixed, bg-neutral-900\n- Main: calc(100vw - 280px), 1440px max-width\n- Header: 64px sticky, shadow-sm\n\nInteraГ§Гµes:\n- Hover states em todos elementos interativos\n- Drag & drop completo (reordenar mГіdulos, widgets)\n- Keyboard navigation (Tab, Arrow keys, shortcuts)\n- Right-click context menus\n- Multi-select com Shift/Ctrl\n- Tooltips em hover delay 300ms\n\nPerformance:\n- Lazy loading de imagens abaixo do fold\n- Virtual scrolling para tabelas 100+ linhas\n- WebGL para grГЎficos complexos\n```\n\n**TABLET (768px-1199px) - ExperiГЄncia Otimizada:**\n```\nLayout:\n- Grid: 8 colunas, 16px gutter\n- Sidebar: 72px collapsed (Г­cones only)\n- Main: calc(100vw - 72px)\n- Header: 56px, search move to drawer\n- Cards: switch para 2-col layout\n\nTouch Gestures:\n- Swipe left/right para navegar entre tabs\n- Pull-to-refresh em listas\n- Pinch zoom em grГЎficos (se aplicГЎvel)\n- Long press para context actions\n- Double tap para aГ§Гµes rГЎpidas\n\nAjustes:\n- Menus dropdown convertidos para bottom sheets\n- Tabelas com horizontal scroll\n- Forms em single column\n- Tooltips substituГ­dos por tap-to-reveal\n```\n\n**MOBILE (320px-767px) - ExperiГЄncia Focada:**\n```\nLayout:\n- Single column layout\n- Bottom navigation: 56px height, 5 Г­cones max\n- Header: 56px com back button + tГ­tulo\n- Padding: 16px lateral, 8px entre elementos\n- Cards: sem sombras, borders apenas\n\nTouch Optimization:\n- Touch targets: mГ­nimo 48x48px\n- Safe area insets para notches\n- Gesture zones definidas (swipe from edges)\n- Avoid hover-dependent interactions\n\nComponentes Adaptados:\n- Tables в†’ Cards list com overflow horizontal\n- Modais в†’ Full-screen sheets\n- Sidebar в†’ Hamburger menu drawer\n- Multi-select в†’ Tap-hold para seleГ§ГЈo\n- Forms в†’ Step-by-step wizard\n- Charts в†’ Simplified sparklines\n\nPerformance Mobile:\n- Images: WebP format, lazy loading\n- JavaScript: code splitting por route\n- Animations: prefer transform/opacity\n- Fonts: subset apenas caracteres usados\n```\n\n**ESTADOS ESPECIAIS:**\n```\nOffline Mode:\n- Cached content indicator\n- Queue de aГ§Гµes pendentes\n- Sync status badge\n\nReduced Motion:\n- Remove animations parallax\n- Simplify transitions\n- Prefer fade over slide\n\nHigh Contrast:\n- Border thickness increase\n- Color saturation boost\n- Text size scaling\n\nScreen Reader:\n- ARIA labels completos\n- Logical tab order\n- Skip navigation links\n```\n\n**BREAKPOINTS ESPECГЌFICOS:**\n```\nxs: 320px   в†’ Mobile portrait\nsm: 480px   в†’ Mobile landscape\nmd: 768px   в†’ Tablet portrait\nlg: 1024px  в†’ Tablet landscape\nxl: 1200px  в†’ Desktop small\nxxl: 1440px в†’ Desktop standard\nxxxl: 1920px в†’ Desktop large\n```\n\n**PADRГ•ES DE INTERAГ‡ГѓO POR DISPOSITIVO:**\n```\nDesktop: Mouse + Keyboard\n- Hover previews\n- Right-click menus\n- Keyboard shortcuts\n- Drag precision\n\nTablet: Touch Primary\n- Gesture navigation\n- Touch feedback\n- Contextual menus\n- Split-screen possГ­vel\n\nMobile: Touch Only\n- Thumb-zone design\n- One-handed mode\n- Bottom actions\n- Simplified flows\n```\n\nEste sistema de design cobre todos os aspectos da interface do Flwogrammers, garantindo consistГЄncia visual, acessibilidade e experiГЄncia otimizada em todos os dispositivos e cenГЎrios de uso.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nPARTE 2B: MODELO DE DADOS + ARQUITETURA\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n# CONTINUAГ‡ГѓO - MODELO DE DADOS + ARQUITETURA\n\n## 6. Modelo de Dados\n\n### 6.1 ER Diagram (12 tabelas):\n```mermaid\nerDiagram\n    USERS ||--o{ PROFILES : has\n    USERS ||--o{ CONTACTS : owns\n    USERS ||--o{ DEALS : manages\n    USERS ||--o{ CERTIFICATES : issues\n    USERS ||--o{ EXAM_ATTEMPTS : completes\n    ORGANIZATIONS ||--o{ USERS : employs\n    ORGANIZATIONS ||--o{ CERTIFICATE_TEMPLATES : creates\n    ORGANIZATIONS ||--o{ EXAMS : publishes\n    CERTIFICATE_TEMPLATES ||--o{ CERTIFICATES : generates\n    EXAMS ||--o{ EXAM_ATTEMPTS : has\n    EXAMS ||--o{ QUESTIONS : contains\n    EXAMS ||--o{ EXAM_SCHEDULES : schedules\n    DEALS ||--o{ INVOICES : generates\n    INVOICES ||--o{ PAYMENTS : receives\n    CONTACTS ||--o{ DEALS : participates\n\n    USERS {\n        uuid id PK\n        string email UK\n        string name\n        string role\n        timestamp created_at\n        timestamp updated_at\n        uuid organization_id FK\n    }\n    \n    PROFILES {\n        uuid id PK\n        uuid user_id FK\n        string avatar_url\n        string job_title\n        string bio\n        jsonb social_links\n        timestamp created_at\n    }\n    \n    ORGANIZATIONS {\n        uuid id PK\n        string name\n        string slug UK\n        string logo_url\n        string plan_type\n        jsonb settings\n        timestamp created_at\n    }\n    \n    CONTACTS {\n        uuid id PK\n        uuid user_id FK\n        string email\n        string name\n        string company\n        string phone\n        string status\n        jsonb metadata\n        timestamp created_at\n    }\n    \n    DEALS {\n        uuid id PK\n        uuid user_id FK\n        uuid contact_id FK\n        string title\n        decimal amount\n        string stage\n        date expected_close_date\n        jsonb notes\n        timestamp created_at\n    }\n    \n    CERTIFICATE_TEMPLATES {\n        uuid id PK\n        uuid organization_id FK\n        string name\n        string description\n        jsonb design_config\n        jsonb content_fields\n        boolean is_active\n        timestamp created_at\n    }\n    \n    EXAMS {\n        uuid id PK\n        uuid organization_id FK\n        string title\n        string description\n        integer duration_minutes\n        integer passing_score\n        jsonb settings\n        boolean is_published\n        timestamp created_at\n    }\n    \n    QUESTIONS {\n        uuid id PK\n        uuid exam_id FK\n        string question_text\n        string question_type\n        jsonb options\n        jsonb correct_answers\n        integer points\n        integer order_index\n        timestamp created_at\n    }\n    \n    EXAM_ATTEMPTS {\n        uuid id PK\n        uuid user_id FK\n        uuid exam_id FK\n        integer score\n        string status\n        timestamp started_at\n        timestamp completed_at\n        jsonb answers\n        timestamp created_at\n    }\n    \n    CERTIFICATES {\n        uuid id PK\n        uuid user_id FK\n        uuid certificate_template_id FK\n        uuid exam_attempt_id FK\n        string certificate_number UK\n        jsonb data\n        date issue_date\n        date expiry_date\n        string status\n        timestamp created_at\n    }\n    \n    INVOICES {\n        uuid id PK\n        uuid deal_id FK\n        string invoice_number UK\n        decimal amount\n        string status\n        date due_date\n        date paid_date\n        jsonb items\n        timestamp created_at\n    }\n    \n    PAYMENTS {\n        uuid id PK\n        uuid invoice_id FK\n        decimal amount\n        string payment_method\n        string transaction_id\n        string status\n        timestamp payment_date\n        timestamp created_at\n    }\n    \n    EXAM_SCHEDULES {\n        uuid id PK\n        uuid exam_id FK\n        timestamp start_time\n        timestamp end_time\n        integer max_attempts\n        boolean is_recurring\n        jsonb recurrence_pattern\n        timestamp created_at\n    }\n```\n\n### 6.2 SQL (12 tabelas completas):\n```sql\n-- Tabela de usuГЎrios\nCREATE TABLE users (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    email VARCHAR(255) UNIQUE NOT NULL,\n    name VARCHAR(150) NOT NULL,\n    role VARCHAR(50) NOT NULL DEFAULT 'user',\n    organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_users_email ON users(email);\nCREATE INDEX idx_users_organization ON users(organization_id);\nALTER TABLE users ENABLE ROW LEVEL SECURITY;\n\nCREATE POLICY \"Users can view own profile\" ON users\n    FOR SELECT USING (auth.uid() = id);\n\nCREATE POLICY \"Organization admins can view org users\" ON users\n    FOR SELECT USING (\n        organization_id IN (\n            SELECT organization_id FROM users WHERE id = auth.uid() AND role = 'admin'\n        )\n    );\n\n-- Tabela de organizaГ§Гµes\nCREATE TABLE organizations (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    name VARCHAR(255) NOT NULL,\n    slug VARCHAR(100) UNIQUE NOT NULL,\n    logo_url TEXT,\n    plan_type VARCHAR(50) DEFAULT 'free',\n    settings JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_organizations_slug ON organizations(slug);\nALTER TABLE organizations ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de perfis\nCREATE TABLE profiles (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID UNIQUE REFERENCES users(id) ON DELETE CASCADE,\n    avatar_url TEXT,\n    job_title VARCHAR(100),\n    bio TEXT,\n    social_links JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_profiles_user ON profiles(user_id);\nALTER TABLE profiles ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de contatos\nCREATE TABLE contacts (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    email VARCHAR(255) NOT NULL,\n    name VARCHAR(150) NOT NULL,\n    company VARCHAR(150),\n    phone VARCHAR(50),\n    status VARCHAR(50) DEFAULT 'lead',\n    metadata JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_contacts_user ON contacts(user_id);\nCREATE INDEX idx_contacts_email ON contacts(email);\nALTER TABLE contacts ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de negГіcios\nCREATE TABLE deals (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    contact_id UUID REFERENCES contacts(id) ON DELETE SET NULL,\n    title VARCHAR(200) NOT NULL,\n    amount DECIMAL(10,2),\n    stage VARCHAR(50) DEFAULT 'prospecting',\n    expected_close_date DATE,\n    notes JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_deals_user ON deals(user_id);\nCREATE INDEX idx_deals_stage ON deals(stage);\nALTER TABLE deals ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de templates de certificado\nCREATE TABLE certificate_templates (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE,\n    name VARCHAR(200) NOT NULL,\n    description TEXT,\n    design_config JSONB NOT NULL,\n    content_fields JSONB NOT NULL,\n    is_active BOOLEAN DEFAULT true,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_cert_templates_org ON certificate_templates(organization_id);\nALTER TABLE certificate_templates ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de exames\nCREATE TABLE exams (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE,\n    title VARCHAR(200) NOT NULL,\n    description TEXT,\n    duration_minutes INTEGER DEFAULT 60,\n    passing_score INTEGER DEFAULT 70,\n    settings JSONB DEFAULT '{}',\n    is_published BOOLEAN DEFAULT false,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exams_org ON exams(organization_id);\nALTER TABLE exams ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de questГµes\nCREATE TABLE questions (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    question_text TEXT NOT NULL,\n    question_type VARCHAR(50) NOT NULL,\n    options JSONB,\n    correct_answers JSONB,\n    points INTEGER DEFAULT 1,\n    order_index INTEGER DEFAULT 0,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_questions_exam ON questions(exam_id);\nALTER TABLE questions ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de tentativas de exame\nCREATE TABLE exam_attempts (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    score INTEGER,\n    status VARCHAR(50) DEFAULT 'in_progress',\n    started_at TIMESTAMP WITH TIME ZONE,\n    completed_at TIMESTAMP WITH TIME ZONE,\n    answers JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exam_attempts_user ON exam_attempts(user_id);\nCREATE INDEX idx_exam_attempts_exam ON exam_attempts(exam_id);\nALTER TABLE exam_attempts ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de certificados\nCREATE TABLE certificates (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    certificate_template_id UUID REFERENCES certificate_templates(id) ON DELETE SET NULL,\n    exam_attempt_id UUID REFERENCES exam_attempts(id) ON DELETE SET NULL,\n    certificate_number VARCHAR(100) UNIQUE NOT NULL,\n    data JSONB NOT NULL,\n    issue_date DATE NOT NULL,\n    expiry_date DATE,\n    status VARCHAR(50) DEFAULT 'ativo',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_certificates_user ON certificates(user_id);\nCREATE INDEX idx_certificates_number ON certificates(certificate_number);\nALTER TABLE certificates ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de faturas\nCREATE TABLE invoices (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    deal_id UUID REFERENCES deals(id) ON DELETE CASCADE,\n    invoice_number VARCHAR(100) UNIQUE NOT NULL,\n    amount DECIMAL(10,2) NOT NULL,\n    status VARCHAR(50) DEFAULT 'pendente',\n    due_date DATE NOT NULL,\n    paid_date DATE,\n    items JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_invoices_deal ON invoices(deal_id);\nCREATE INDEX idx_invoices_number ON invoices(invoice_number);\nALTER TABLE invoices ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de pagamentos\nCREATE TABLE payments (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    invoice_id UUID REFERENCES invoices(id) ON DELETE CASCADE,\n    amount DECIMAL(10,2) NOT NULL,\n    payment_method VARCHAR(50) NOT NULL,\n    transaction_id VARCHAR(200),\n    status VARCHAR(50) DEFAULT 'concluido',\n    payment_date TIMESTAMP WITH TIME ZONE,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_payments_invoice ON payments(invoice_id);\nALTER TABLE payments ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de agendamentos de exames\nCREATE TABLE exam_schedules (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    start_time TIMESTAMP WITH TIME ZONE NOT NULL,\n    end_time TIMESTAMP WITH TIME ZONE NOT NULL,\n    max_attempts INTEGER DEFAULT 1,\n    is_recurring BOOLEAN DEFAULT false,\n    recurrence_pattern JSONB,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exam_schedules_exam ON exam_schedules(exam_id);\nCREATE INDEX idx_exam_schedules_time ON exam_schedules(start_time, end_time);\nALTER TABLE exam_schedules ENABLE ROW LEVEL SECURITY;\n```\n\n## 7. Arquitetura\n\n### 7.1 Diagrama de Arquitetura:\n```mermaid\ngraph TD\n    A[Browser] --> B[React SPA]\n    B --> C[Vite Dev Server]\n    B --> D[Supabase Client]\n    \n    D --> E[Supabase Auth]\n    D --> F[Supabase Realtime]\n    D --> G[Supabase Storage]\n    D --> H[PostgreSQL Database]\n    \n    B --> I[Zustand Store]\n    I --> J[Global State]\n    I --> K[Persisted State]\n    \n    B --> L[React Router]\n    L --> M[Dashboard]\n    L --> N[Exams]\n    L --> O[Certificates]\n    L --> P[CRM]\n    L --> Q[Analytics]\n    \n    B --> R[React Hook Form]\n    R --> S[Zod Validation]\n    \n    B --> T[UI Components]\n    T --> U[Headless UI]\n    T --> V[Lucide Icons]\n    T --> W[Tailwind CSS]\n    \n    B --> X[Charts]\n    X --> Y[Chart.js]\n    X --> Z[React-Chartjs-2]\n    \n    B --> AA[Drag & Drop]\n    AA --> AB[React DnD]\n    \n    B --> AC[Calendar]\n    AC --> AD[React Calendar]\n    \n    H --> AE[Row Level Security]\n    H --> AF[Triggers & Functions]\n    H --> AG[Indexes & Views]\n    \n    F --> AH[WebSocket Connections]\n    AH --> AI[Live Updates]\n    \n    G --> AJ[File Storage]\n    AJ --> AK[Certificate PDFs]\n    AJ --> AL[User Avatars]\n    AJ --> AM[Organization Logos]\n    \n    style A fill:#e1f5fe\n    style B fill:#f3e5f5\n    style H fill:#e8f5e8\n    style D fill:#fff3e0\n```\n\n### 7.2 DescriГ§ГЈo das Tecnologias\n\n**Tecnologias OBRIGATГ“RIAS:**\n\n**Frontend Core:**\n- **React@18** - Biblioteca principal para construГ§ГЈo de UI com componentes\n- **TypeScript** - Tipagem estГЎtica para melhor desenvolvimento e manutenГ§ГЈo\n- **Vite** - Build tool rГЎpido com HMR (Hot Module Replacement)\n\n**EstilizaГ§ГЈo:**\n- **Tailwind CSS@3** - Framework CSS utility-first para design responsivo\n\n**Backend & Banco de Dados:**\n- **Supabase** - Plataforma backend-as-a-service completa:\n  - **PostgreSQL** - Banco de dados relacional\n  - **Auth** - Sistema de autenticaГ§ГЈo com mГєltiplos provedores\n  - **Real-time** - WebSockets para atualizaГ§Гµes em tempo real\n  - **Storage** - Armazenamento de arquivos\n\n**Gerenciamento de Estado:**\n- **Zustand** - Biblioteca leve para gerenciamento de estado global\n\n**Roteamento:**\n- **React Router DOM@6** - Roteamento declarativo para SPA\n\n**FormulГЎrios & ValidaГ§ГЈo:**\n- **React Hook Form** - Biblioteca performГЎtica para formulГЎrios\n- **Zod** - ValidaГ§ГЈo de schemas TypeScript-first\n\n**Componentes UI:**\n- **Headless UI** - Componentes UI completamente sem estilos\n- **Lucide React** - Biblioteca de Г­cones SVG\n\n**VisualizaГ§ГЈo de Dados:**\n- **Chart.js** - Biblioteca de grГЎficos JavaScript\n- **React-Chartjs-2** - Wrapper React para Chart.js\n\n**Interatividade:**\n- **React DnD** - Drag and Drop para interfaces complexas\n- **React Calendar** - Componente de calendГЎrio flexГ­vel\n\n### 7.3 Estrutura de Pastas:\n```\nsrc/\nв”њв”Ђв”Ђ app/\nв”‚   в”њв”Ђв”Ђ routes/\nв”‚   в”‚   в”њв”Ђв”Ђ dashboard/\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ Dashboard.tsx\nв”‚   в”‚   в”‚   в””в”Ђв”Ђ components/\nв”‚   в”‚   в”њв”Ђв”Ђ exams/\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ ExamList.tsx\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ ExamBuilder.tsx\nв”‚   в”‚   в”‚   в””в”Ђв”Ђ ExamTaker.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ certificates/\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ CertificateList.tsx\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ CertificateDesigner.tsx\nв”‚   в”‚   в”‚   в””в”Ђв”Ђ CertificateViewer.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ crm/\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ Contacts.tsx\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ Deals.tsx\nв”‚   в”‚   в”‚   в””в”Ђв”Ђ Analytics.tsx\nв”‚   в”‚   в””в”Ђв”Ђ settings/\nв”‚   в”‚       в”њв”Ђв”Ђ Profile.tsx\nв”‚   в”‚       в””в”Ђв”Ђ Organization.tsx\nв”‚   в””в”Ђв”Ђ App.tsx\nв”‚\nв”њв”Ђв”Ђ components/\nв”‚   в”њв”Ђв”Ђ ui/\nв”‚   в”‚   в”њв”Ђв”Ђ Button.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Input.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Card.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Modal.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Table.tsx\nв”‚   в”‚   в””в”Ђв”Ђ Dropdown.tsx\nв”‚   в”њв”Ђв”Ђ layout/\nв”‚   в”‚   в”њв”Ђв”Ђ Header.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Sidebar.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Layout.tsx\nв”‚   в”‚   в””в”Ђв”Ђ Breadcrumb.tsx\nв”‚   в”њв”Ђв”Ђ charts/\nв”‚   в”‚   в”њв”Ђв”Ђ RevenueChart.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ ExamStatsChart.tsx\nв”‚   в”‚   в””в”Ђв”Ђ CertificateTrends.tsx\nв”‚   в””в”Ђв”Ђ forms/\nв”‚       в”њв”Ђв”Ђ ExamForm.tsx\nв”‚       в”њв”Ђв”Ђ CertificateForm.tsx\nв”‚       в””в”Ђв”Ђ ContactForm.tsx\nв”‚\nв”њв”Ђв”Ђ hooks/\nв”‚   в”њв”Ђв”Ђ useAuth.ts\nв”‚   в”њв”Ђв”Ђ useSupabase.ts\nв”‚   в”њв”Ђв”Ђ useRealtime.ts\nв”‚   в”њв”Ђв”Ђ useExams.ts\nв”‚   в””в”Ђв”Ђ useCertificates.ts\nв”‚\nв”њв”Ђв”Ђ stores/\nв”‚   в”њв”Ђв”Ђ auth.store.ts\nв”‚   в”њв”Ђв”Ђ ui.store.ts\nв”‚   в”њв”Ђв”Ђ exam.store.ts\nв”‚   в””в”Ђв”Ђ certificate.store.ts\nв”‚\nв”њв”Ђв”Ђ lib/\nв”‚   в”њв”Ђв”Ђ supabase.ts\nв”‚   в”њв”Ђв”Ђ validators/\nв”‚   в”‚   в”њв”Ђв”Ђ exam.validator.ts\nв”‚   в”‚   в”њв”Ђв”Ђ certificate.validator.ts\nв”‚   в”‚   в””в”Ђв”Ђ contact.validator.ts\nв”‚   в”њв”Ђв”Ђ utils/\nв”‚   в”‚   в”њв”Ђв”Ђ date.ts\nв”‚   в”‚   в”њв”Ђв”Ђ format.ts\nв”‚   в”‚   в””в”Ђв”Ђ pdf.ts\nв”‚   в””в”Ђв”Ђ constants/\nв”‚       в”њв”Ђв”Ђ routes.ts\nв”‚       в””в”Ђв”Ђ roles.ts\nв”‚\nв”њв”Ђв”Ђ types/\nв”‚   в”њв”Ђв”Ђ user.types.ts\nв”‚   в”њв”Ђв”Ђ exam.types.ts\nв”‚   в”њв”Ђв”Ђ certificate.types.ts\nв”‚   в””в”Ђв”Ђ supabase.types.ts\nв”‚\nв”њв”Ђв”Ђ services/\nв”‚   в”њв”Ђв”Ђ auth.service.ts\nв”‚   в”њв”Ђв”Ђ exam.service.ts\nв”‚   в”њв”Ђв”Ђ certificate.service.ts\nв”‚   в””в”Ђв”Ђ crm.service.ts\nв”‚\nв””в”Ђв”Ђ assets/\n    в”њв”Ђв”Ђ styles/\n    в”‚   в””в”Ђв”Ђ globals.css\n    в””в”Ђв”Ђ images/\n```\n\n### 7.4 Fluxo de Dados Principal:\n1. **AutenticaГ§ГЈo**: UsuГЎrio faz login в†’ Supabase Auth valida в†’ Token JWT armazenado\n2. **Dashboard**: Carrega dados via Supabase Client в†’ Zustand cacheia в†’ React renderiza\n3. **Exame em Tempo Real**: UsuГЎrio inicia exame в†’ Supabase Realtime monitora tempo в†’ AtualizaГ§Гµes automГЎticas\n4. **Certificado Gerado**: Exame concluГ­do в†’ PDF gerado в†’ Armazenado no Supabase Storage в†’ Link enviado por email\n5. **CRM**: Contatos atualizados в†’ Zustand sincroniza в†’ React Hook Form valida в†’ Supabase persiste\n\n### 7.5 SeguranГ§a:\n- **Row Level Security (RLS)**: PolГ­ticas granulares por organizaГ§ГЈo\n- **JWT Tokens**: AutenticaГ§ГЈo segura com expiraГ§ГЈo\n- **ValidaГ§ГЈo Zod**: Schemas TypeScript em cliente e servidor\n- **CORS Configurado**: DomГ­nios permitidos explicitamente\n\n---\n\nImportant: Always output in portuguese-br"
            }
          ]
        },
        "batching": {}
      },
      "id": "217efaac-018c-40e0-ae42-d05a95b4d79e",
      "name": "PRD Developer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1008,
        176
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.5",
        "options": {}
      },
      "id": "53fc1295-d3d6-42f2-b9e9-d3f06276f7d0",
      "name": "Claude 4.5 Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        960,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "bhdNxTSPM17OLcXj",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "=prd_{{ $('Busca dados do usuГЎrio').item.json['Nome do Produto'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1360,
        176
      ],
      "id": "8f45a589-4450-4644-973a-bfb8f1dffc0b",
      "name": "Gera um documento",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "jUucFy9lKfMcjxKK",
          "name": "Google Docs"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('PRD Developer').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1616,
        176
      ],
      "id": "c57c5241-a824-4015-aed4-2882db822865",
      "name": "Atualiza um documento",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "jUucFy9lKfMcjxKK",
          "name": "Google Docs"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "рџ’Ў PRD Creator v2 - by Flowgrammers рџ’Ў",
        "formDescription": "Gere PRDs prontos para importar em qualquer ferramenta de VIBE CODING\n\nвљ пёЏ ESSE PROCESSO LEVA DE 3 A 5 MINUTOS PARA RODAR вљ пёЏ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome do Produto",
              "placeholder": "AvalieMeuAtendimento",
              "requiredField": true
            },
            {
              "fieldLabel": "Overview do Produto",
              "fieldType": "textarea",
              "placeholder": "=App para Pequenos negГіcios querem saber se o atendimento estГЎ bom, mas:  nГЈo tГЄm sistema, nГЈo tГЄm tempo E nГЈo sabem analisar dados. Este app  gera QR code para colocar no balcГЈo ou mesa e clientes avaliam com emoji de 1 a 5 com dashboard de mГ©tricas.",
              "requiredField": true
            },
            {
              "fieldLabel": "Personas",
              "fieldType": "textarea",
              "placeholder": "=Lanchonetes\nCafeterias\nMercadinhos\nSalГµes de beleza\nClГ­nicas pequenas"
            },
            {
              "fieldLabel": "Objetivo",
              "placeholder": "=Permitir que pequenos negГіcios meГ§am a satisfaГ§ГЈo do cliente de forma simples, rГЎpida e sem precisar de sistemas complexos."
            },
            {
              "fieldLabel": "Requisitos funcionais",
              "fieldType": "textarea",
              "placeholder": "=Cadastro e Login\nCriar conta, entrar e sair do sistema.\n\nCriar Pontos de AvaliaГ§ГЈo\nCadastrar o negГіcio e gerar QR Codes Гєnicos.\n\nEnviar Feedback (sem login)\nCliente avalia com 1вЂ“5 estrelas ou emojis + comentГЎrio opcional.\n\nDashboard\nVer mГ©dias, grГЎficos simples e comentГЎrios recentes.\n\nAlertas AutomГЎticos\nNotificaГ§ГЈo via WhatsApp quando nota for baixa.\n\nExportaГ§ГЈo\nBaixar feedbacks em CSV.\n\nPlanos (opcional no MVP)\nGratuito = 1 QR. Pago = mГєltiplos QR e relatГіrios."
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "вњЌпёЏ Gerar PRD",
          "path": "gerador-prd",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "вњ… PRD Gerado com sucesso"
            }
          }
        }
      },
      "id": "b5dda222-8e93-46b7-bf1a-c425de2351da",
      "name": "Busca dados do usuГЎrio",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        768,
        176
      ],
      "webhookId": "a91383b7-6509-4547-aed2-49bf674eacd6",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Cria PRDs de forma prГЎtica e funcional",
        "height": 544,
        "width": 1136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        -16
      ],
      "id": "27961725-3dfa-4aeb-a71d-b5f7cfc0d106",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n",
        "height": 272,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        -336
      ],
      "typeVersion": 1,
      "id": "33726529-82a5-4616-8827-143b2788df06",
      "name": "Sticky Note29"
    }
  ],
  "connections": {
    "PRD Developer": {
      "main": [
        [
          {
            "node": "Gera um documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "PRD Developer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gera um documento": {
      "main": [
        [
          {
            "node": "Atualiza um documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca dados do usuГЎrio": {
      "main": [
        [
          {
            "node": "PRD Developer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4fb6605a-f819-4067-8e73-457a0727bf1d",
  "activeVersionId": "4fb6605a-f819-4067-8e73-457a0727bf1d",
  "versionCounter": 76,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-16T13:59:13.792Z",
      "createdAt": "2026-01-16T13:59:13.792Z",
      "role": "workflow:owner",
      "workflowId": "qwHMa8j64Mh1hjN6",
      "projectId": "sXNN8zKIunLvXNly",
      "project": {
        "updatedAt": "2026-01-13T15:20:09.820Z",
        "createdAt": "2026-01-05T19:33:48.715Z",
        "id": "sXNN8zKIunLvXNly",
        "name": "Imersao",
        "type": "team",
        "icon": {
          "type": "emoji",
          "value": "рџ”Ґ"
        },
        "description": "Projeto de imersГЈo",
        "creatorId": "37c5e92b-9604-4346-8167-cb09d89f1846"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-04T18:13:18.649Z",
      "createdAt": "2025-11-04T18:13:18.649Z",
      "id": "ur1maN6bsjwttizq",
      "name": "рџ’— flowgrammers"
    },
    {
      "updatedAt": "2026-01-14T14:33:00.763Z",
      "createdAt": "2026-01-14T14:33:00.763Z",
      "id": "TtVOsKCOOd2YXmo1",
      "name": "рџ”Ґimersao-n8n-enteprise"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-16T14:01:02.270Z",
    "createdAt": "2026-01-16T14:00:55.350Z",
    "versionId": "4fb6605a-f819-4067-8e73-457a0727bf1d",
    "workflowId": "qwHMa8j64Mh1hjN6",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=Nome do Produto - {{ $json['Nome do Produto']}}\nOverview do produto - {{ $json['Overview do Produto'] }}\nPersona - {{ $json.Personas || 'NГЈo informado' }}\nObjetivo- {{ $json.Objetivo|| 'NГЈo informado' }}\nRequisitos funcionais - {{ $json['Requisitos funcionais'] || 'NГЈo informado' }}",
          "messages": {
            "messageValues": [
              {
                "message": "=You are an expert product manager and technical writer.  \nYour task is to generate a clear, structured **Product Requirements Document (PRD)** in **Markdown format**.  \nThe PRD should be professional, concise, and easy to share with engineers, designers, and stakeholders and adapt for AI Vibe Coding Tools like Lovable for example.  \n\nUse Information provided by User prompt to Understand the requirement and try to go deep in filing all section.\n\n### Formatting Rules\n- Use proper Markdown headers (`#`, `##`, `###`) for sections.  \n- Use bullet points or numbered lists where appropriate.  \n- Keep language clear and action-oriented.  \n- Do not include explanations of what a PRD is.\n\n### PRD Template \nUSE COMO EXEMPLO ABAIXO - VOCГЉ DEVE DEFINIR OS REQUISITOS DA MELHOR FORMA\n# PRD ESTRUTURADO - FLWOGRAMMERS\n\n## 1. VisГЈo Geral\n\nO **Flwogrammers** Г© uma plataforma web completa e automatizada para criaГ§ГЈo, gestГЈo e emissГЈo de certificaГ§Гµes profissionais online. A aplicaГ§ГЈo resolve um problema crГ­tico de escala e credibilidade em processos de avaliaГ§ГЈo e certificaГ§ГЈo, que tradicionalmente sГЈo manuais, lentos e suscetГ­veis a erros. Empresas, instituiГ§Гµes de ensino e profissionais independentes que precisam validar conhecimentos especГ­ficos (como proficiГЄncia em uma ferramenta de software, compliance regulatГіrio ou competГЄncias tГ©cnicas) enfrentam dores como a logГ­stica complexa de aplicar provas presenciais, a demora na correГ§ГЈo e emissГЈo de certificados, a falta de um sistema centralizado para histГіrico dos candidatos e a dificuldade em garantir a integridade e o controle de acesso aos exames. O Flwogrammers automatiza todo esse fluxo, desde a criaГ§ГЈo da prova atГ© o envio do certificado por e-mail, em um ambiente seguro, auditГЎvel e com experiГЄncia otimizada para ambos os lados: o administrador que gerencia o processo e o aluno que busca a certificaГ§ГЈo.\n\nA soluГ§ГЈo funciona atravГ©s de um ecossistema integrado onde administradores, em um painel dedicado, podem criar certificaГ§Гµes, elaborar provas com questГµes de mГєltipla escolha, definir critГ©rios rГ­gidos de aprovaГ§ГЈo e gerar vouchers com prazo de validade para controle de acesso. Os alunos, por sua vez, acessam um portal onde visualizam as certificaГ§Гµes disponГ­veis, utilizam um voucher Гєnico para desbloquear uma prova, realizam o exame em uma interface controlada e recebem o resultado imediatamente. Caso aprovados, um certificado em PDF com cГіdigo de verificaГ§ГЈo Гєnico Г© gerado e enviado automaticamente para seu e-mail, sem qualquer intervenГ§ГЈo manual. O sistema garante imutabilidade dos resultados, validaГ§ГЈo estrita dos vouchers e um histГіrico permanente para ambas as partes.\n\nO pГєblico-alvo primГЎrio sГЈo **Administradores de Treinamento e CertificaГ§ГЈo** (em empresas de tecnologia, consultorias, escolas de cursos livres e associaГ§Гµes profissionais) e **Instrutores/Conteudistas Independentes**. Eles buscam eficiГЄncia operacional, reduГ§ГЈo de custos com processos manuais e um sistema confiГЎvel que dГЄ credibilidade Г s suas certificaГ§Гµes. O pГєblico secundГЎrio sГЈo **Alunos e Profissionais** que buscam certificar suas habilidades para progressГЈo na carreira, comprovaГ§ГЈo de conhecimentos para clientes ou cumprimento de requisitos de qualificaГ§ГЈo. Suas dores incluem a burocracia para agendar provas, a incerteza sobre prazos de recebimento do certificado e a dificuldade em gerenciar um portfГіlio de certificaГ§Гµes obtidas.\n\nOs principais diferenciais do Flwogrammers sГЈo: **1. AutomaГ§ГЈo de Ponta a Ponta**, eliminando etapas manuais desde a inscriГ§ГЈo atГ© o envio do certificado; **2. Controle Granular via Vouchers**, permitindo gestГЈo precisa de acesso, prazos e vinculaГ§ГЈo a certificaГ§Гµes especГ­ficas; **3. GeraГ§ГЈo e Entrega AutomГЎtica de Certificados**, com cГіdigo verificГЎvel, assegurando autenticidade e experiГЄncia imediata para o aprovado; **4. Arquitetura ImutГЎvel**, onde provas e resultados sГЈo registros permanentes e inalterГЎveis, garantindo a integridade auditГЎvel do processo; e **5. Stack Moderna e Unificada (React + Supabase)**, que oferece desenvolvimento ГЎgil, seguranГ§a robusta nativa e baixa necessidade de manutenГ§ГЈo, tudo sem depender de bibliotecas pagas.\n\n## 2. Funcionalidades\n\n### 2.1 Perfis de UsuГЎrio\n\n| Perfil | Registro | PermissГµes | Acessos Principais |\n|---|---|---|---|\n| **Administrador (Super Admin)** | E-mail corporativo e senha via Supabase Auth. | Controle total do sistema. Pode criar/gerenciar todos os recursos, usuГЎrios e acessar todos os dados. | Painel Admin completo: Dashboard, GestГЈo de CertificaГ§Гµes, CriaГ§ГЈo de Provas e QuestГµes, Gerenciamento de Vouchers, RelatГіrios de AprovaГ§ГЈo/ReprovaГ§ГЈo, HistГіrico Completo de Alunos, ConfiguraГ§Гµes do Sistema. |\n| **Aluno (Candidato)** | E-mail pessoal/profissional e senha via Supabase Auth. | PermissГµes restritas ao seu prГіprio perfil e Г s aГ§Гµes de realizaГ§ГЈo de prova. | PГЎgina do Aluno: VisualizaГ§ГЈo de CertificaГ§Гµes DisponГ­veis, InserГ§ГЈo de Voucher para Acesso Г  Prova, Interface de RealizaГ§ГЈo da Prova, HistГіrico Pessoal de Tentativas, Status de AprovaГ§ГЈo/ReprovaГ§ГЈo, Download de Certificados Emitidos. |\n| **Gestor de ConteГєdo (Admin Especializado)** | E-mail corporativo e senha, criado por um Super Admin. | PermissГµes focadas na criaГ§ГЈo e gestГЈo de conteГєdo educacional e avaliaГ§Гµes. NГЈo gerencia usuГЎrios ou configuraГ§Гµes gerais do sistema. | MГіdulos de CriaГ§ГЈo e EdiГ§ГЈo de CertificaГ§Гµes, CriaГ§ГЈo e EdiГ§ГЈo de Provas, ElaboraГ§ГЈo de Banco de QuestГµes, DefiniГ§ГЈo de CritГ©rios de AprovaГ§ГЈo, VisualizaГ§ГЈo de Resultados das Provas que criou. |\n| **Auditor (Somente Leitura)** | E-mail corporativo e senha, criado por um Super Admin. | PermissГµes estritas de visualizaГ§ГЈo (read-only) para todos os dados de certificaГ§Гµes, provas, resultados e alunos. | Acesso a relatГіrios completos, listagens de aprovados/reprovados, histГіrico detalhado de todas as provas realizadas e detalhes de certificados emitidos. Para fins de auditoria e compliance. |\n\n### 2.2 MГіdulos do Sistema\n\n1.  **MГіdulo de AutenticaГ§ГЈo & AutorizaГ§ГЈo** - Gerencia o registro, login e sessГЈo dos usuГЎrios utilizando Supabase Auth. Define e aplica polГ­ticas de acesso baseadas em perfis (Admin/Aluno), redirecionando cada um para sua ГЎrea correspondente. Inclui recuperaГ§ГЈo de senha.\n2.  **Painel de Controle Administrativo (Dashboard Admin)** - VisГЈo geral para o administrador com KPIs em tempo real: total de certificaГ§Гµes, provas aplicadas, taxas de aprovaГ§ГЈo/reprovaГ§ГЈo, vouchers ativos/vencidos e grГЎficos de atividade recente. Ponto central de monitoramento.\n3.  **GestГЈo de CertificaГ§Гµes** - MГіdulo central para cadastro de novas certificaГ§Гµes (tГ­tulo, descriГ§ГЈo, imagem) e sua manutenГ§ГЈo. Cada certificaГ§ГЈo Г© o \"produto\" final que o aluno busca obter.\n4.  **GestГЈo de Provas & Banco de QuestГµes** - Permite criar provas e associГЎ-las a uma certificaГ§ГЈo. Oferece um editor robusto para adicionar questГµes de mГєltipla escolha (texto, 4+ alternativas, marcaГ§ГЈo da correta). Funciona como um banco de questГµes reutilizГЎveis.\n5.  **GestГЈo de CritГ©rios & ConfiguraГ§Гµes de Prova** - Define o percentual mГ­nimo de acerto para aprovaГ§ГЈo de cada prova. Configura regras como tempo limite (se aplicГЎvel) e nГєmero de tentativas permitidas.\n6.  **GestГЈo de Vouchers** - Sistema de controle de acesso onde o admin gera cГіdigos de voucher Гєnicos, associando-os a uma certificaГ§ГЈo especГ­fica e definindo datas de validade (inГ­cio e fim). Permite listar, filtrar e invalidar vouchers.\n7.  **MГіdulo de AplicaГ§ГЈo de Provas (Aluno)** - Interface segura onde o aluno, apГіs validar um voucher, realiza a prova. Pode exibir uma questГЈo por vez ou todas juntas. Timer e prevenГ§ГЈo de navegaГ§ГЈo podem ser implementados.\n8.  **Sistema de CorreГ§ГЈo AutomГЎtica & CГЎlculo de Nota** - Processa as respostas submetidas pelo aluno, compara com o gabarito armazenado, calcula a pontuaГ§ГЈo percentual e determina instantaneamente a aprovaГ§ГЈo ou reprovaГ§ГЈo com base no critГ©rio definido.\n9.  **MГіdulo de EmissГЈo de Certificados** - Gera automaticamente um certificado em PDF para alunos aprovados. O documento inclui nome do aluno, certificaГ§ГЈo, data, cГіdigo Гєnico de verificaГ§ГЈo e uma assinatura digital da plataforma. Integra-se ao serviГ§o de e-mail.\n10. **Sistema de NotificaГ§ГЈo por E-mail** - Envia comunicaГ§Гµes automГЎticas utilizando Resend. Notifica o aluno sobre aprovaГ§ГЈo com o certificado em anexo, reprovaГ§ГЈo, confirmaГ§ГЈo de inscriГ§ГЈo na prova e lembretes de voucher prГіximo do vencimento.\n11. **HistГіrico & RelatГіrios** - Armazena de forma imutГЎvel todas as tentativas de prova (data, nota, resultado). Oferece ao admin relatГіrios filtrados por certificaГ§ГЈo, perГ­odo ou aluno, e ao aluno uma visГЈo do seu prГіprio histГіrico e certificados conquistados.\n12. **PГЎgina do Perfil do Aluno** - ГЃrea pessoal onde o aluno gerencia suas informaГ§Гµes de conta, visualiza seu progresso, acessa o histГіrico de provas e faz o download dos certificados jГЎ emitidos para ele.\n\n### 2.3 PГЎginas Principais\n\n| PГЎgina | MГіdulo Principal | DescriГ§ГЈo | Elementos-Chave da Interface |\n|---|---|---|---|\n| **Login / Cadastro** | AutenticaГ§ГЈo | PГЎgina de entrada Гєnica para Admin e Aluno. FormulГЎrios para login (e-mail/senha) e registro de novo usuГЎrio (tipo aluno). | Campos de e-mail e senha, botГЈo \"Entrar\", link \"Criar conta\", link \"Esqueci minha senha\", logo da plataforma. |\n| **Dashboard Admin** | Painel Admin | Homepage do administrador apГіs o login. Apresenta uma visГЈo macro da saГєde e atividade da plataforma. | Cards de KPIs (Total CertificaГ§Гµes, Provas Hoje, Taxa AprovaГ§ГЈo), grГЎfico de atividades recentes, lista de Гєltimas provas realizadas, acesso rГЎpido aos principais mГіdulos. |\n| **CertificaГ§Гµes (Admin)** | GestГЈo de CertificaГ§Гµes | Listagem e gestГЈo de todas as certificaГ§Гµes criadas na plataforma. | Tabela listando certificaГ§Гµes, botГЈo \"Nova CertificaГ§ГЈo\", filtros, aГ§Гµes (Editar, Ver Detalhes, Gerenciar Provas). Modal/FormulГЎrio de criaГ§ГЈo/ediГ§ГЈo. |\n| **Criar Prova** | GestГЈo de Provas | PГЎgina para criaГ§ГЈo de uma nova prova ou ediГ§ГЈo de uma existente. | SeleГ§ГЈo da certificaГ§ГЈo associada, campo para tГ­tulo/descriГ§ГЈo da prova, seletor de % mГ­nima para aprovaГ§ГЈo, seГ§ГЈo para adicionar/gerenciar questГµes do banco. |\n| **Banco de QuestГµes** | GestГЈo de Provas | RepositГіrio central de todas as questГµes de mГєltipla escolha criadas. | Tabela de questГµes com filtros por certificaГ§ГЈo/tag, barra de busca, botГЈo \"Nova QuestГЈo\". Editor de questГЈo com campos para enunciado, alternativas e marcaГ§ГЈo da correta. |\n| **Gerenciar Vouchers** | GestГЈo de Vouchers | Painel para criaГ§ГЈo, visualizaГ§ГЈo e controle dos cГіdigos de acesso. | BotГЈo \"Gerar Voucher\", formulГЎrio para definir certificaГ§ГЈo, quantidade e validade. Tabela listando vouchers com cГіdigo, status (ativo/uso/vencido), aГ§Гµes (Invalidar). |\n| **RelatГіrios de Resultados** | HistГіrico & RelatГіrios | PГЎgina para anГЎlise de desempenho dos alunos por certificaГ§ГЈo ou prova. | Filtros avanГ§ados (data, certificaГ§ГЈo, resultado). Tabelas e grГЎficos com lista de aprovados/reprovados, notas mГ©dias, estatГ­sticas. OpГ§ГЈo de exportar dados. |\n| **CatГЎlogo de CertificaГ§Гµes (Aluno)** | MГіdulo de Provas | PГЎgina inicial do aluno, exibindo todas as certificaГ§Гµes disponГ­veis para ele tentar. | Cards visuais para cada certificaГ§ГЈo (tГ­tulo, imagem, descriГ§ГЈo resumida). BotГЈo \"Saber Mais\" e \"Iniciar Prova\" (que aciona a validaГ§ГЈo por voucher). |\n| **Realizar Prova** | MГіdulo de Provas | Interface limpa e focada para a realizaГ§ГЈo do exame. Timer visГ­vel (se aplicГЎvel). | ExibiГ§ГЈo da questГЈo atual, alternativas de resposta (radio buttons), botГµes de navegaГ§ГЈo (\"Anterior\", \"PrГіxima\", \"Enviar Prova\"). Barra de progresso. |\n| **Meu HistГіrico (Aluno)** | PГЎgina do Perfil | ГЃrea onde o aluno acompanha todas as suas tentativas e certificados conquistados. | Abas ou seГ§Гµes para \"Provas Realizadas\" (tabela com data, certificaГ§ГЈo, nota, status) e \"Meus Certificados\" (lista com links para download do PDF). |\n\n## 3. Processos de NavegaГ§ГЈo e Fluxo\n\n**Administrador (Super Admin):**\n1.  **Login:** Acessa a pГЎgina de login, insere credenciais e Г© autenticado via Supabase.\n2.  **Dashboard:** Г‰ redirecionado para o Dashboard Admin, onde vГЄ um resumo das atividades.\n3.  **ConfiguraГ§ГЈo Inicial:** Acessa \"CertificaГ§Гµes\" para criar a primeira certificaГ§ГЈo (ex: \"CertificaГ§ГЈo em SeguranГ§a da InformaГ§ГЈo\").\n4.  **CriaГ§ГЈo da AvaliaГ§ГЈo:** Navega para \"Criar Prova\", associa-a Г  certificaГ§ГЈo criada, define 70% como nota mГ­nima e usa o \"Banco de QuestГµes\" para adicionar 20 questГµes Г  prova.\n5.  **Controle de Acesso:** Vai para \"Gerenciar Vouchers\", gera 50 cГіdigos vГЎlidos por 30 dias e os distribui para os candidatos.\n6.  **Monitoramento:** Durante o perГ­odo de provas, monitora os \"RelatГіrios de Resultados\" para ver aprovados/reprovados em tempo real.\n7.  **Auditoria:** Finalmente, usa a visГЈo de \"HistГіrico Completo\" para auditar qualquer tentativa de prova especГ­fica, se necessГЎrio.\n\n**Aluno (Candidato):**\n1.  **Login/Cadastro:** Cria uma conta ou faz login com seu e-mail e senha.\n2.  **ExploraГ§ГЈo:** Na sua pГЎgina inicial (\"CatГЎlogo de CertificaГ§Гµes\"), visualiza as opГ§Гµes disponГ­veis.\n3.  **InГ­cio do Processo:** Clica em \"Iniciar Prova\" na certificaГ§ГЈo desejada. O sistema solicita o **cГіdigo do voucher**.\n4.  **ValidaГ§ГЈo:** Insere o cГіdigo recebido. O sistema valida (existГЄncia, validade, certificaГ§ГЈo correta) e, se vГЎlido, libera o acesso.\n5.  **RealizaГ§ГЈo da Prova:** Г‰ direcionado para a pГЎgina \"Realizar Prova\". Responde a todas as questГµes e submete.\n6.  **Resultado Imediato:** A correГ§ГЈo Г© automГЎtica. A pГЎgina de resultado Г© exibida instantaneamente mostrando \"Aprovado\" ou \"Reprovado\", junto com a nota.\n7.  **ConclusГЈo (Se Aprovado):** Recebe um e-mail automГЎtico com o certificado em PDF anexado. Pode acessar \"Meu HistГіrico\" a qualquer momento para baixar novamente o certificado ou ver seu registro.\n\n**Gestor de ConteГєdo:**\n1.  **Login:** Acessa o sistema com suas credenciais restritas.\n2.  **Dashboard EspecГ­fico:** VГЄ um dashboard focado no conteГєdo sob sua responsabilidade.\n3.  **GestГЈo do Banco:** Acessa o \"Banco de QuestГµes\" para criar novas questГµes ou editar existentes para suas ГЎreas.\n4.  **AtualizaГ§ГЈo de Provas:** Navega para \"Criar Prova\" para revisar e atualizar as avaliaГ§Гµes das certificaГ§Гµes que gerencia.\n5.  **AnГЎlise de Resultados:** Consulta relatГіrios filtrados apenas para as provas de seu conteГєdo, analisando o desempenho dos alunos para identificar questГµes problemГЎticas ou tГіpicos que necessitam de melhor abordagem.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nPARTE 2A: DESIGN UI + DIAGRAMAS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n# CONTINUAГ‡ГѓO - DESIGN UI ULTRA DETALHADO\n\n## 4. Diagrama de Fluxo Completo (25 NГіs)\n\n```mermaid\ngraph TD\n    A[Login/Registro] --> B{AutenticaГ§ГЈo VГЎlida?}\n    B -->|NГЈo| C[Exibir Erro + Retry]\n    B -->|Sim| D{Perfil Detectado}\n    \n    D -->|Admin| E[Dashboard Admin]\n    D -->|Instrutor| F[Dashboard Instrutor]\n    D -->|Aluno| G[Dashboard Aluno]\n    \n    %% FLUXO ADMIN\n    E --> H[VisГЈo Geral Plataforma]\n    H --> I{Gerenciar}\n    I -->|UsuГЎrios| J[CRUD UsuГЎrios + PermissГµes]\n    I -->|Cursos| K[CRUD Cursos + MГіdulos]\n    I -->|Certificados| L[Modelos + ValidaГ§Гµes]\n    I -->|Financeiro| M[TransaГ§Гµes + RelatГіrios]\n    J --> N[NotificaГ§Гµes Push]\n    K --> O[Publicar/Arquivar]\n    L --> P[Emitir em Lote]\n    M --> Q[Exportar CSV/PDF]\n    \n    %% FLUXO INSTRUTOR\n    F --> R[Meus Cursos]\n    R --> S{Criar/Editar}\n    S -->|AvaliaГ§ГЈo| T[Configurar Prova]\n    S -->|ConteГєdo| U[Upload Materiais]\n    T --> V[Definir Regras + Nota Corte]\n    U --> W[Organizar MГіdulos]\n    V --> X[Preview Certificado]\n    W --> Y[Agendar PublicaГ§ГЈo]\n    \n    %% FLUXO ALUNO\n    G --> Z[CatГЎlogo Cursos]\n    Z --> AA[Inscrever-se]\n    AA --> AB[ГЃrea de Estudos]\n    AB --> AC{Acesso ConteГєdo}\n    AC -->|Estudar| AD[Player Video/Aulas]\n    AC -->|Avaliar| AE[Realizar Prova]\n    AD --> AF[Progresso Salvo]\n    AE --> AG{Resultado}\n    AG -->|Aprovado| AH[Gerar Certificado]\n    AG -->|Reprovado| AI[Retry Policy]\n    AH --> AJ[Download/Compartilhar]\n    AI --> AK[Feedback + Retomar]\n    \n    %% SISTEMA CENTRAL\n    AH --> AL[Sistema de EmissГЈo]\n    AL --> AM[Blockchain Registry?]\n    AM --> AN[QR Code + ValidaГ§ГЈo]\n    AN --> AO[HistГіrico Permanente]\n    \n    %% NOTIFICAГ‡Г•ES\n    N --> AP[Email/SMS/In-App]\n    AJ --> AP\n    P --> AP\n    \n    style A fill:#2563EB,color:#fff\n    style E fill:#10B981,color:#fff\n    style F fill:#F59E0B,color:#000\n    style G fill:#8B5CF6,color:#fff\n    style AH fill:#059669,color:#fff\n```\n\n## 5. Design Interface\n\n### 5.1 Estilo Visual Expandido\n\n**Sistema de Cores HierГЎrquico:**\n```\nPRIMГЃRIAS:\n- #2563EB (Azul corporativo) - AГ§Гµes principais, brand identity\n- #1E40AF (Azul escuro) - Hover states, active elements\n- #DBEAFE (Azul claro) - Backgrounds, highlights\n\nSECUNDГЃRIAS:\n- #10B981 (Verde sucesso) - ConclusГµes, aprovaГ§Гµes\n- #047857 (Verde escuro) - Progress bars, status\n- #D1FAE5 (Verde claro) - Success backgrounds\n\nACENTOS:\n- #F59E0B (Laranja alerta) - Avisos, pendГЄncias\n- #DC2626 (Vermelho erro) - Falhas, reprovaГ§Гµes\n- #8B5CF6 (Roxo premium) - Features avanГ§adas\n\nNEUTROS (Escala completa):\n- #0F172A (Neutral-900) - Texto primГЎrio\n- #1E293B (Neutral-800) - Texto secundГЎrio\n- #334155 (Neutral-700) - Texto terciГЎrio\n- #475569 (Neutral-600) - ГЌcones, borders\n- #64748B (Neutral-500) - Placeholders\n- #94A3B8 (Neutral-400) - Disabled states\n- #E2E8F0 (Neutral-200) - Dividers, lines\n- #F1F5F9 (Neutral-100) - Cards background\n- #FFFFFF (Branco) - Main background\n```\n\n**Sistema TipogrГЎfico Detalhado:**\n```\nFONTE: Inter (Google Fonts) - 300/400/500/600/700\n\nHIERARQUIA:\n- H1: 32px/1.2 (700) - Page titles\n- H2: 28px/1.3 (600) - Section headers\n- H3: 24px/1.4 (600) - Card titles\n- H4: 20px/1.4 (500) - Subsection headers\n- H5: 18px/1.5 (500) - Widget titles\n- Body Large: 18px/1.6 (400) - Lead paragraphs\n- Body: 16px/1.6 (400) - Main content\n- Body Small: 14px/1.5 (400) - Captions, metadata\n- Caption: 12px/1.4 (400) - Labels, timestamps\n\nESPECГЌFICOS:\n- Button Text: 14px/1 (500) uppercase\n- Input Labels: 14px/1.4 (500)\n- Table Headers: 13px/1.3 (600) uppercase\n```\n\n**Sistema de Componentes AvanГ§ado:**\n\n```\nBOTГ•ES (8px border-radius):\n- Primary: bg-primary-600, hover:primary-700, 44px height\n- Secondary: bg-transparent, border-2 primary-600, hover:bg-primary-50\n- Ghost: text-primary-600, hover:bg-primary-50\n- Danger: bg-red-600, hover:red-700\n- Success: bg-green-600, hover:green-700\n- Sizes: SM(36px), MD(44px), LG(52px)\n\nCARDS (12px border-radius):\n- Elevation Levels:\n  * Level 1: shadow-sm (hover:shadow)\n  * Level 2: shadow-md (hover:shadow-lg)\n  * Level 3: shadow-lg (hover:shadow-xl)\n- Padding: 24px default, 16px condensed\n- Header: border-b, 20px padding-bottom\n\nINPUTS & FORMS:\n- Height: 44px (padrГЈo WCAG)\n- Border: 1px neutral-300, focus:2px primary-500\n- Radius: 6px\n- States: focus/error/success/disabled\n- Labels: 14px, 4px margin-bottom\n- Help text: 12px neutral-500\n\nMODAIS & OVERLAYS:\n- Backdrop: bg-black/50 backdrop-blur-sm\n- Modal: max-w-2xl, center screen\n- Header: sticky, border-b, 24px padding\n- Body: 32px padding, scrollable\n- Footer: sticky, border-t, 20px padding\n\nNAVEGAГ‡ГѓO:\n- Sidebar: 280px width, bg-neutral-900, text-white\n- Collapsed: 72px width, icons only\n- Active State: bg-primary-600, border-l-4\n- Hover: bg-neutral-800\n- Breadcrumbs: 14px, separator: \"/\"\n\nTABELAS:\n- Header: bg-neutral-50, 13px uppercase\n- Rows: hover:bg-neutral-50\n- Striped: even:bg-neutral-25\n- Padding: 16px vertical, 24px horizontal\n- Border: 1px neutral-200\n```\n\n### 5.2 Tabela de PГЎginas Detalhada (12 PГЎginas)\n\n| PГЎgina | MГіdulo | UI Principal | Componentes CrГ­ticos | InteraГ§Гµes & Micro-interaГ§Гµes |\n|--------|--------|--------------|---------------------|-------------------------------|\n| **Dashboard Admin** | Analytics | Grid 3x3 cards, Charts, Activity feed | KPI animated counters, Quick action buttons, Real-time stats | Hover card elevation, Click drilldown, Drag to rearrange widgets, Live updates |\n| **Gerenciar UsuГЎrios** | User Management | Data table with filters, Bulk actions, User cards | Advanced filters, Role badges, Status toggles, Export dropdown | Row selection highlight, Bulk edit overlay, Quick role change, Search as you type |\n| **Criar Curso** | Course Builder | Drag-drop modules, WYSIWYG editor, Preview panel | Module cards, Content blocks, Media uploader, Timeline editor | Drag visual feedback, Auto-save indicator, Preview sync, Validation tooltips |\n| **Configurar AvaliaГ§ГЈo** | Assessment Engine | Question bank, Rule builder, Scoring matrix | Question types selector, Timer settings, Passing score slider | Drag questions, Rule validation, Score simulation, Preview certificate |\n| **Emitir Certificados** | Certificate Manager | Batch processor, Template gallery, Preview modal | Template editor, Batch selector, Status progress bar | Batch progress animation, Template live preview, Drag signature, QR code generator |\n| **ГЃrea do Aluno** | Learning Portal | Course carousel, Progress tracker, Upcoming deadlines | Progress rings, Continue watching, Achievement badges | Progress animation, Card hover effects, Quick resume, Notification dots |\n| **Player de Aula** | Content Player | Video controller, Sidebar notes, Speed controls | Transcript sync, Bookmark button, Note timestamp | Playback speed visual, Note highlight sync, Progress save indicator |\n| **Realizar Prova** | Assessment Interface | Full-screen mode, Question navigator, Timer display | Question flag, Calculator overlay, Formula helper | Timer pulse warning, Question state indicators, Auto-save answers |\n| **Resultados** | Grading System | Score breakdown, Correct answers, Certificate preview | Performance charts, Comparison metrics, Share buttons | Score reveal animation, Certificate 3D flip, Social share overlays |\n| **Financeiro** | Billing & Reports | Invoice table, Revenue charts, Payout dashboard | Invoice generator, Payout status, Tax calculator | Chart hover details, Invoice preview, Payout request animation |\n| **ConfiguraГ§Гµes** | Platform Settings | Tab navigation, Toggle groups, Import/Export | Theme selector, Webhook config, API keys manager | Theme live preview, Toggle animations, API key copy feedback |\n| **NotificaГ§Гµes** | Comms Center | Inbox interface, Template builder, Send scheduler | Notification logs, Template variables, Schedule calendar | Send preview, Schedule drag-drop, Read/unread animations |\n\n### 5.3 Responsividade Ultra-Detalhada\n\n**DESKTOP (в‰Ґ1200px) - ExperiГЄncia Completa:**\n```\nLayout:\n- Grid: 12 colunas, 24px gutter\n- Sidebar: 280px fixed, bg-neutral-900\n- Main: calc(100vw - 280px), 1440px max-width\n- Header: 64px sticky, shadow-sm\n\nInteraГ§Гµes:\n- Hover states em todos elementos interativos\n- Drag & drop completo (reordenar mГіdulos, widgets)\n- Keyboard navigation (Tab, Arrow keys, shortcuts)\n- Right-click context menus\n- Multi-select com Shift/Ctrl\n- Tooltips em hover delay 300ms\n\nPerformance:\n- Lazy loading de imagens abaixo do fold\n- Virtual scrolling para tabelas 100+ linhas\n- WebGL para grГЎficos complexos\n```\n\n**TABLET (768px-1199px) - ExperiГЄncia Otimizada:**\n```\nLayout:\n- Grid: 8 colunas, 16px gutter\n- Sidebar: 72px collapsed (Г­cones only)\n- Main: calc(100vw - 72px)\n- Header: 56px, search move to drawer\n- Cards: switch para 2-col layout\n\nTouch Gestures:\n- Swipe left/right para navegar entre tabs\n- Pull-to-refresh em listas\n- Pinch zoom em grГЎficos (se aplicГЎvel)\n- Long press para context actions\n- Double tap para aГ§Гµes rГЎpidas\n\nAjustes:\n- Menus dropdown convertidos para bottom sheets\n- Tabelas com horizontal scroll\n- Forms em single column\n- Tooltips substituГ­dos por tap-to-reveal\n```\n\n**MOBILE (320px-767px) - ExperiГЄncia Focada:**\n```\nLayout:\n- Single column layout\n- Bottom navigation: 56px height, 5 Г­cones max\n- Header: 56px com back button + tГ­tulo\n- Padding: 16px lateral, 8px entre elementos\n- Cards: sem sombras, borders apenas\n\nTouch Optimization:\n- Touch targets: mГ­nimo 48x48px\n- Safe area insets para notches\n- Gesture zones definidas (swipe from edges)\n- Avoid hover-dependent interactions\n\nComponentes Adaptados:\n- Tables в†’ Cards list com overflow horizontal\n- Modais в†’ Full-screen sheets\n- Sidebar в†’ Hamburger menu drawer\n- Multi-select в†’ Tap-hold para seleГ§ГЈo\n- Forms в†’ Step-by-step wizard\n- Charts в†’ Simplified sparklines\n\nPerformance Mobile:\n- Images: WebP format, lazy loading\n- JavaScript: code splitting por route\n- Animations: prefer transform/opacity\n- Fonts: subset apenas caracteres usados\n```\n\n**ESTADOS ESPECIAIS:**\n```\nOffline Mode:\n- Cached content indicator\n- Queue de aГ§Гµes pendentes\n- Sync status badge\n\nReduced Motion:\n- Remove animations parallax\n- Simplify transitions\n- Prefer fade over slide\n\nHigh Contrast:\n- Border thickness increase\n- Color saturation boost\n- Text size scaling\n\nScreen Reader:\n- ARIA labels completos\n- Logical tab order\n- Skip navigation links\n```\n\n**BREAKPOINTS ESPECГЌFICOS:**\n```\nxs: 320px   в†’ Mobile portrait\nsm: 480px   в†’ Mobile landscape\nmd: 768px   в†’ Tablet portrait\nlg: 1024px  в†’ Tablet landscape\nxl: 1200px  в†’ Desktop small\nxxl: 1440px в†’ Desktop standard\nxxxl: 1920px в†’ Desktop large\n```\n\n**PADRГ•ES DE INTERAГ‡ГѓO POR DISPOSITIVO:**\n```\nDesktop: Mouse + Keyboard\n- Hover previews\n- Right-click menus\n- Keyboard shortcuts\n- Drag precision\n\nTablet: Touch Primary\n- Gesture navigation\n- Touch feedback\n- Contextual menus\n- Split-screen possГ­vel\n\nMobile: Touch Only\n- Thumb-zone design\n- One-handed mode\n- Bottom actions\n- Simplified flows\n```\n\nEste sistema de design cobre todos os aspectos da interface do Flwogrammers, garantindo consistГЄncia visual, acessibilidade e experiГЄncia otimizada em todos os dispositivos e cenГЎrios de uso.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nPARTE 2B: MODELO DE DADOS + ARQUITETURA\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n# CONTINUAГ‡ГѓO - MODELO DE DADOS + ARQUITETURA\n\n## 6. Modelo de Dados\n\n### 6.1 ER Diagram (12 tabelas):\n```mermaid\nerDiagram\n    USERS ||--o{ PROFILES : has\n    USERS ||--o{ CONTACTS : owns\n    USERS ||--o{ DEALS : manages\n    USERS ||--o{ CERTIFICATES : issues\n    USERS ||--o{ EXAM_ATTEMPTS : completes\n    ORGANIZATIONS ||--o{ USERS : employs\n    ORGANIZATIONS ||--o{ CERTIFICATE_TEMPLATES : creates\n    ORGANIZATIONS ||--o{ EXAMS : publishes\n    CERTIFICATE_TEMPLATES ||--o{ CERTIFICATES : generates\n    EXAMS ||--o{ EXAM_ATTEMPTS : has\n    EXAMS ||--o{ QUESTIONS : contains\n    EXAMS ||--o{ EXAM_SCHEDULES : schedules\n    DEALS ||--o{ INVOICES : generates\n    INVOICES ||--o{ PAYMENTS : receives\n    CONTACTS ||--o{ DEALS : participates\n\n    USERS {\n        uuid id PK\n        string email UK\n        string name\n        string role\n        timestamp created_at\n        timestamp updated_at\n        uuid organization_id FK\n    }\n    \n    PROFILES {\n        uuid id PK\n        uuid user_id FK\n        string avatar_url\n        string job_title\n        string bio\n        jsonb social_links\n        timestamp created_at\n    }\n    \n    ORGANIZATIONS {\n        uuid id PK\n        string name\n        string slug UK\n        string logo_url\n        string plan_type\n        jsonb settings\n        timestamp created_at\n    }\n    \n    CONTACTS {\n        uuid id PK\n        uuid user_id FK\n        string email\n        string name\n        string company\n        string phone\n        string status\n        jsonb metadata\n        timestamp created_at\n    }\n    \n    DEALS {\n        uuid id PK\n        uuid user_id FK\n        uuid contact_id FK\n        string title\n        decimal amount\n        string stage\n        date expected_close_date\n        jsonb notes\n        timestamp created_at\n    }\n    \n    CERTIFICATE_TEMPLATES {\n        uuid id PK\n        uuid organization_id FK\n        string name\n        string description\n        jsonb design_config\n        jsonb content_fields\n        boolean is_active\n        timestamp created_at\n    }\n    \n    EXAMS {\n        uuid id PK\n        uuid organization_id FK\n        string title\n        string description\n        integer duration_minutes\n        integer passing_score\n        jsonb settings\n        boolean is_published\n        timestamp created_at\n    }\n    \n    QUESTIONS {\n        uuid id PK\n        uuid exam_id FK\n        string question_text\n        string question_type\n        jsonb options\n        jsonb correct_answers\n        integer points\n        integer order_index\n        timestamp created_at\n    }\n    \n    EXAM_ATTEMPTS {\n        uuid id PK\n        uuid user_id FK\n        uuid exam_id FK\n        integer score\n        string status\n        timestamp started_at\n        timestamp completed_at\n        jsonb answers\n        timestamp created_at\n    }\n    \n    CERTIFICATES {\n        uuid id PK\n        uuid user_id FK\n        uuid certificate_template_id FK\n        uuid exam_attempt_id FK\n        string certificate_number UK\n        jsonb data\n        date issue_date\n        date expiry_date\n        string status\n        timestamp created_at\n    }\n    \n    INVOICES {\n        uuid id PK\n        uuid deal_id FK\n        string invoice_number UK\n        decimal amount\n        string status\n        date due_date\n        date paid_date\n        jsonb items\n        timestamp created_at\n    }\n    \n    PAYMENTS {\n        uuid id PK\n        uuid invoice_id FK\n        decimal amount\n        string payment_method\n        string transaction_id\n        string status\n        timestamp payment_date\n        timestamp created_at\n    }\n    \n    EXAM_SCHEDULES {\n        uuid id PK\n        uuid exam_id FK\n        timestamp start_time\n        timestamp end_time\n        integer max_attempts\n        boolean is_recurring\n        jsonb recurrence_pattern\n        timestamp created_at\n    }\n```\n\n### 6.2 SQL (12 tabelas completas):\n```sql\n-- Tabela de usuГЎrios\nCREATE TABLE users (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    email VARCHAR(255) UNIQUE NOT NULL,\n    name VARCHAR(150) NOT NULL,\n    role VARCHAR(50) NOT NULL DEFAULT 'user',\n    organization_id UUID REFERENCES organizations(id) ON DELETE SET NULL,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_users_email ON users(email);\nCREATE INDEX idx_users_organization ON users(organization_id);\nALTER TABLE users ENABLE ROW LEVEL SECURITY;\n\nCREATE POLICY \"Users can view own profile\" ON users\n    FOR SELECT USING (auth.uid() = id);\n\nCREATE POLICY \"Organization admins can view org users\" ON users\n    FOR SELECT USING (\n        organization_id IN (\n            SELECT organization_id FROM users WHERE id = auth.uid() AND role = 'admin'\n        )\n    );\n\n-- Tabela de organizaГ§Гµes\nCREATE TABLE organizations (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    name VARCHAR(255) NOT NULL,\n    slug VARCHAR(100) UNIQUE NOT NULL,\n    logo_url TEXT,\n    plan_type VARCHAR(50) DEFAULT 'free',\n    settings JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_organizations_slug ON organizations(slug);\nALTER TABLE organizations ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de perfis\nCREATE TABLE profiles (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID UNIQUE REFERENCES users(id) ON DELETE CASCADE,\n    avatar_url TEXT,\n    job_title VARCHAR(100),\n    bio TEXT,\n    social_links JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_profiles_user ON profiles(user_id);\nALTER TABLE profiles ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de contatos\nCREATE TABLE contacts (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    email VARCHAR(255) NOT NULL,\n    name VARCHAR(150) NOT NULL,\n    company VARCHAR(150),\n    phone VARCHAR(50),\n    status VARCHAR(50) DEFAULT 'lead',\n    metadata JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_contacts_user ON contacts(user_id);\nCREATE INDEX idx_contacts_email ON contacts(email);\nALTER TABLE contacts ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de negГіcios\nCREATE TABLE deals (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    contact_id UUID REFERENCES contacts(id) ON DELETE SET NULL,\n    title VARCHAR(200) NOT NULL,\n    amount DECIMAL(10,2),\n    stage VARCHAR(50) DEFAULT 'prospecting',\n    expected_close_date DATE,\n    notes JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_deals_user ON deals(user_id);\nCREATE INDEX idx_deals_stage ON deals(stage);\nALTER TABLE deals ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de templates de certificado\nCREATE TABLE certificate_templates (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE,\n    name VARCHAR(200) NOT NULL,\n    description TEXT,\n    design_config JSONB NOT NULL,\n    content_fields JSONB NOT NULL,\n    is_active BOOLEAN DEFAULT true,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_cert_templates_org ON certificate_templates(organization_id);\nALTER TABLE certificate_templates ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de exames\nCREATE TABLE exams (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE,\n    title VARCHAR(200) NOT NULL,\n    description TEXT,\n    duration_minutes INTEGER DEFAULT 60,\n    passing_score INTEGER DEFAULT 70,\n    settings JSONB DEFAULT '{}',\n    is_published BOOLEAN DEFAULT false,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exams_org ON exams(organization_id);\nALTER TABLE exams ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de questГµes\nCREATE TABLE questions (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    question_text TEXT NOT NULL,\n    question_type VARCHAR(50) NOT NULL,\n    options JSONB,\n    correct_answers JSONB,\n    points INTEGER DEFAULT 1,\n    order_index INTEGER DEFAULT 0,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_questions_exam ON questions(exam_id);\nALTER TABLE questions ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de tentativas de exame\nCREATE TABLE exam_attempts (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    score INTEGER,\n    status VARCHAR(50) DEFAULT 'in_progress',\n    started_at TIMESTAMP WITH TIME ZONE,\n    completed_at TIMESTAMP WITH TIME ZONE,\n    answers JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exam_attempts_user ON exam_attempts(user_id);\nCREATE INDEX idx_exam_attempts_exam ON exam_attempts(exam_id);\nALTER TABLE exam_attempts ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de certificados\nCREATE TABLE certificates (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    user_id UUID REFERENCES users(id) ON DELETE CASCADE,\n    certificate_template_id UUID REFERENCES certificate_templates(id) ON DELETE SET NULL,\n    exam_attempt_id UUID REFERENCES exam_attempts(id) ON DELETE SET NULL,\n    certificate_number VARCHAR(100) UNIQUE NOT NULL,\n    data JSONB NOT NULL,\n    issue_date DATE NOT NULL,\n    expiry_date DATE,\n    status VARCHAR(50) DEFAULT 'ativo',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_certificates_user ON certificates(user_id);\nCREATE INDEX idx_certificates_number ON certificates(certificate_number);\nALTER TABLE certificates ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de faturas\nCREATE TABLE invoices (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    deal_id UUID REFERENCES deals(id) ON DELETE CASCADE,\n    invoice_number VARCHAR(100) UNIQUE NOT NULL,\n    amount DECIMAL(10,2) NOT NULL,\n    status VARCHAR(50) DEFAULT 'pendente',\n    due_date DATE NOT NULL,\n    paid_date DATE,\n    items JSONB DEFAULT '[]',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_invoices_deal ON invoices(deal_id);\nCREATE INDEX idx_invoices_number ON invoices(invoice_number);\nALTER TABLE invoices ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de pagamentos\nCREATE TABLE payments (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    invoice_id UUID REFERENCES invoices(id) ON DELETE CASCADE,\n    amount DECIMAL(10,2) NOT NULL,\n    payment_method VARCHAR(50) NOT NULL,\n    transaction_id VARCHAR(200),\n    status VARCHAR(50) DEFAULT 'concluido',\n    payment_date TIMESTAMP WITH TIME ZONE,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_payments_invoice ON payments(invoice_id);\nALTER TABLE payments ENABLE ROW LEVEL SECURITY;\n\n-- Tabela de agendamentos de exames\nCREATE TABLE exam_schedules (\n    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,\n    exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,\n    start_time TIMESTAMP WITH TIME ZONE NOT NULL,\n    end_time TIMESTAMP WITH TIME ZONE NOT NULL,\n    max_attempts INTEGER DEFAULT 1,\n    is_recurring BOOLEAN DEFAULT false,\n    recurrence_pattern JSONB,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\nCREATE INDEX idx_exam_schedules_exam ON exam_schedules(exam_id);\nCREATE INDEX idx_exam_schedules_time ON exam_schedules(start_time, end_time);\nALTER TABLE exam_schedules ENABLE ROW LEVEL SECURITY;\n```\n\n## 7. Arquitetura\n\n### 7.1 Diagrama de Arquitetura:\n```mermaid\ngraph TD\n    A[Browser] --> B[React SPA]\n    B --> C[Vite Dev Server]\n    B --> D[Supabase Client]\n    \n    D --> E[Supabase Auth]\n    D --> F[Supabase Realtime]\n    D --> G[Supabase Storage]\n    D --> H[PostgreSQL Database]\n    \n    B --> I[Zustand Store]\n    I --> J[Global State]\n    I --> K[Persisted State]\n    \n    B --> L[React Router]\n    L --> M[Dashboard]\n    L --> N[Exams]\n    L --> O[Certificates]\n    L --> P[CRM]\n    L --> Q[Analytics]\n    \n    B --> R[React Hook Form]\n    R --> S[Zod Validation]\n    \n    B --> T[UI Components]\n    T --> U[Headless UI]\n    T --> V[Lucide Icons]\n    T --> W[Tailwind CSS]\n    \n    B --> X[Charts]\n    X --> Y[Chart.js]\n    X --> Z[React-Chartjs-2]\n    \n    B --> AA[Drag & Drop]\n    AA --> AB[React DnD]\n    \n    B --> AC[Calendar]\n    AC --> AD[React Calendar]\n    \n    H --> AE[Row Level Security]\n    H --> AF[Triggers & Functions]\n    H --> AG[Indexes & Views]\n    \n    F --> AH[WebSocket Connections]\n    AH --> AI[Live Updates]\n    \n    G --> AJ[File Storage]\n    AJ --> AK[Certificate PDFs]\n    AJ --> AL[User Avatars]\n    AJ --> AM[Organization Logos]\n    \n    style A fill:#e1f5fe\n    style B fill:#f3e5f5\n    style H fill:#e8f5e8\n    style D fill:#fff3e0\n```\n\n### 7.2 DescriГ§ГЈo das Tecnologias\n\n**Tecnologias OBRIGATГ“RIAS:**\n\n**Frontend Core:**\n- **React@18** - Biblioteca principal para construГ§ГЈo de UI com componentes\n- **TypeScript** - Tipagem estГЎtica para melhor desenvolvimento e manutenГ§ГЈo\n- **Vite** - Build tool rГЎpido com HMR (Hot Module Replacement)\n\n**EstilizaГ§ГЈo:**\n- **Tailwind CSS@3** - Framework CSS utility-first para design responsivo\n\n**Backend & Banco de Dados:**\n- **Supabase** - Plataforma backend-as-a-service completa:\n  - **PostgreSQL** - Banco de dados relacional\n  - **Auth** - Sistema de autenticaГ§ГЈo com mГєltiplos provedores\n  - **Real-time** - WebSockets para atualizaГ§Гµes em tempo real\n  - **Storage** - Armazenamento de arquivos\n\n**Gerenciamento de Estado:**\n- **Zustand** - Biblioteca leve para gerenciamento de estado global\n\n**Roteamento:**\n- **React Router DOM@6** - Roteamento declarativo para SPA\n\n**FormulГЎrios & ValidaГ§ГЈo:**\n- **React Hook Form** - Biblioteca performГЎtica para formulГЎrios\n- **Zod** - ValidaГ§ГЈo de schemas TypeScript-first\n\n**Componentes UI:**\n- **Headless UI** - Componentes UI completamente sem estilos\n- **Lucide React** - Biblioteca de Г­cones SVG\n\n**VisualizaГ§ГЈo de Dados:**\n- **Chart.js** - Biblioteca de grГЎficos JavaScript\n- **React-Chartjs-2** - Wrapper React para Chart.js\n\n**Interatividade:**\n- **React DnD** - Drag and Drop para interfaces complexas\n- **React Calendar** - Componente de calendГЎrio flexГ­vel\n\n### 7.3 Estrutura de Pastas:\n```\nsrc/\nв”њв”Ђв”Ђ app/\nв”‚   в”њв”Ђв”Ђ routes/\nв”‚   в”‚   в”њв”Ђв”Ђ dashboard/\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ Dashboard.tsx\nв”‚   в”‚   в”‚   в””в”Ђв”Ђ components/\nв”‚   в”‚   в”њв”Ђв”Ђ exams/\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ ExamList.tsx\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ ExamBuilder.tsx\nв”‚   в”‚   в”‚   в””в”Ђв”Ђ ExamTaker.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ certificates/\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ CertificateList.tsx\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ CertificateDesigner.tsx\nв”‚   в”‚   в”‚   в””в”Ђв”Ђ CertificateViewer.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ crm/\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ Contacts.tsx\nв”‚   в”‚   в”‚   в”њв”Ђв”Ђ Deals.tsx\nв”‚   в”‚   в”‚   в””в”Ђв”Ђ Analytics.tsx\nв”‚   в”‚   в””в”Ђв”Ђ settings/\nв”‚   в”‚       в”њв”Ђв”Ђ Profile.tsx\nв”‚   в”‚       в””в”Ђв”Ђ Organization.tsx\nв”‚   в””в”Ђв”Ђ App.tsx\nв”‚\nв”њв”Ђв”Ђ components/\nв”‚   в”њв”Ђв”Ђ ui/\nв”‚   в”‚   в”њв”Ђв”Ђ Button.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Input.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Card.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Modal.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Table.tsx\nв”‚   в”‚   в””в”Ђв”Ђ Dropdown.tsx\nв”‚   в”њв”Ђв”Ђ layout/\nв”‚   в”‚   в”њв”Ђв”Ђ Header.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Sidebar.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ Layout.tsx\nв”‚   в”‚   в””в”Ђв”Ђ Breadcrumb.tsx\nв”‚   в”њв”Ђв”Ђ charts/\nв”‚   в”‚   в”њв”Ђв”Ђ RevenueChart.tsx\nв”‚   в”‚   в”њв”Ђв”Ђ ExamStatsChart.tsx\nв”‚   в”‚   в””в”Ђв”Ђ CertificateTrends.tsx\nв”‚   в””в”Ђв”Ђ forms/\nв”‚       в”њв”Ђв”Ђ ExamForm.tsx\nв”‚       в”њв”Ђв”Ђ CertificateForm.tsx\nв”‚       в””в”Ђв”Ђ ContactForm.tsx\nв”‚\nв”њв”Ђв”Ђ hooks/\nв”‚   в”њв”Ђв”Ђ useAuth.ts\nв”‚   в”њв”Ђв”Ђ useSupabase.ts\nв”‚   в”њв”Ђв”Ђ useRealtime.ts\nв”‚   в”њв”Ђв”Ђ useExams.ts\nв”‚   в””в”Ђв”Ђ useCertificates.ts\nв”‚\nв”њв”Ђв”Ђ stores/\nв”‚   в”њв”Ђв”Ђ auth.store.ts\nв”‚   в”њв”Ђв”Ђ ui.store.ts\nв”‚   в”њв”Ђв”Ђ exam.store.ts\nв”‚   в””в”Ђв”Ђ certificate.store.ts\nв”‚\nв”њв”Ђв”Ђ lib/\nв”‚   в”њв”Ђв”Ђ supabase.ts\nв”‚   в”њв”Ђв”Ђ validators/\nв”‚   в”‚   в”њв”Ђв”Ђ exam.validator.ts\nв”‚   в”‚   в”њв”Ђв”Ђ certificate.validator.ts\nв”‚   в”‚   в””в”Ђв”Ђ contact.validator.ts\nв”‚   в”њв”Ђв”Ђ utils/\nв”‚   в”‚   в”њв”Ђв”Ђ date.ts\nв”‚   в”‚   в”њв”Ђв”Ђ format.ts\nв”‚   в”‚   в””в”Ђв”Ђ pdf.ts\nв”‚   в””в”Ђв”Ђ constants/\nв”‚       в”њв”Ђв”Ђ routes.ts\nв”‚       в””в”Ђв”Ђ roles.ts\nв”‚\nв”њв”Ђв”Ђ types/\nв”‚   в”њв”Ђв”Ђ user.types.ts\nв”‚   в”њв”Ђв”Ђ exam.types.ts\nв”‚   в”њв”Ђв”Ђ certificate.types.ts\nв”‚   в””в”Ђв”Ђ supabase.types.ts\nв”‚\nв”њв”Ђв”Ђ services/\nв”‚   в”њв”Ђв”Ђ auth.service.ts\nв”‚   в”њв”Ђв”Ђ exam.service.ts\nв”‚   в”њв”Ђв”Ђ certificate.service.ts\nв”‚   в””в”Ђв”Ђ crm.service.ts\nв”‚\nв””в”Ђв”Ђ assets/\n    в”њв”Ђв”Ђ styles/\n    в”‚   в””в”Ђв”Ђ globals.css\n    в””в”Ђв”Ђ images/\n```\n\n### 7.4 Fluxo de Dados Principal:\n1. **AutenticaГ§ГЈo**: UsuГЎrio faz login в†’ Supabase Auth valida в†’ Token JWT armazenado\n2. **Dashboard**: Carrega dados via Supabase Client в†’ Zustand cacheia в†’ React renderiza\n3. **Exame em Tempo Real**: UsuГЎrio inicia exame в†’ Supabase Realtime monitora tempo в†’ AtualizaГ§Гµes automГЎticas\n4. **Certificado Gerado**: Exame concluГ­do в†’ PDF gerado в†’ Armazenado no Supabase Storage в†’ Link enviado por email\n5. **CRM**: Contatos atualizados в†’ Zustand sincroniza в†’ React Hook Form valida в†’ Supabase persiste\n\n### 7.5 SeguranГ§a:\n- **Row Level Security (RLS)**: PolГ­ticas granulares por organizaГ§ГЈo\n- **JWT Tokens**: AutenticaГ§ГЈo segura com expiraГ§ГЈo\n- **ValidaГ§ГЈo Zod**: Schemas TypeScript em cliente e servidor\n- **CORS Configurado**: DomГ­nios permitidos explicitamente\n\n---\n\nImportant: Always output in portuguese-br"
              }
            ]
          },
          "batching": {}
        },
        "id": "217efaac-018c-40e0-ae42-d05a95b4d79e",
        "name": "PRD Developer",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          1008,
          176
        ],
        "typeVersion": 1.7
      },
      {
        "parameters": {
          "model": "anthropic/claude-opus-4.5",
          "options": {}
        },
        "id": "53fc1295-d3d6-42f2-b9e9-d3f06276f7d0",
        "name": "Claude 4.5 Sonnet",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "position": [
          960,
          368
        ],
        "typeVersion": 1,
        "credentials": {
          "openRouterApi": {
            "id": "bhdNxTSPM17OLcXj",
            "name": "OpenRouter"
          }
        }
      },
      {
        "parameters": {
          "folderId": "default",
          "title": "=prd_{{ $('Busca dados do usuГЎrio').item.json['Nome do Produto'] }}"
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          1360,
          176
        ],
        "id": "8f45a589-4450-4644-973a-bfb8f1dffc0b",
        "name": "Gera um documento",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "jUucFy9lKfMcjxKK",
            "name": "Google Docs"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.id }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "insert",
                "text": "={{ $('PRD Developer').item.json.text }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          1616,
          176
        ],
        "id": "c57c5241-a824-4015-aed4-2882db822865",
        "name": "Atualiza um documento",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "jUucFy9lKfMcjxKK",
            "name": "Google Docs"
          }
        }
      },
      {
        "parameters": {
          "formTitle": "рџ’Ў PRD Creator v2 - by Flowgrammers рџ’Ў",
          "formDescription": "Gere PRDs prontos para importar em qualquer ferramenta de VIBE CODING\n\nвљ пёЏ ESSE PROCESSO LEVA DE 3 A 5 MINUTOS PARA RODAR вљ пёЏ",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Nome do Produto",
                "placeholder": "AvalieMeuAtendimento",
                "requiredField": true
              },
              {
                "fieldLabel": "Overview do Produto",
                "fieldType": "textarea",
                "placeholder": "=App para Pequenos negГіcios querem saber se o atendimento estГЎ bom, mas:  nГЈo tГЄm sistema, nГЈo tГЄm tempo E nГЈo sabem analisar dados. Este app  gera QR code para colocar no balcГЈo ou mesa e clientes avaliam com emoji de 1 a 5 com dashboard de mГ©tricas.",
                "requiredField": true
              },
              {
                "fieldLabel": "Personas",
                "fieldType": "textarea",
                "placeholder": "=Lanchonetes\nCafeterias\nMercadinhos\nSalГµes de beleza\nClГ­nicas pequenas"
              },
              {
                "fieldLabel": "Objetivo",
                "placeholder": "=Permitir que pequenos negГіcios meГ§am a satisfaГ§ГЈo do cliente de forma simples, rГЎpida e sem precisar de sistemas complexos."
              },
              {
                "fieldLabel": "Requisitos funcionais",
                "fieldType": "textarea",
                "placeholder": "=Cadastro e Login\nCriar conta, entrar e sair do sistema.\n\nCriar Pontos de AvaliaГ§ГЈo\nCadastrar o negГіcio e gerar QR Codes Гєnicos.\n\nEnviar Feedback (sem login)\nCliente avalia com 1вЂ“5 estrelas ou emojis + comentГЎrio opcional.\n\nDashboard\nVer mГ©dias, grГЎficos simples e comentГЎrios recentes.\n\nAlertas AutomГЎticos\nNotificaГ§ГЈo via WhatsApp quando nota for baixa.\n\nExportaГ§ГЈo\nBaixar feedbacks em CSV.\n\nPlanos (opcional no MVP)\nGratuito = 1 QR. Pago = mГєltiplos QR e relatГіrios."
              }
            ]
          },
          "responseMode": "lastNode",
          "options": {
            "appendAttribution": false,
            "buttonLabel": "вњЌпёЏ Gerar PRD",
            "path": "gerador-prd",
            "respondWithOptions": {
              "values": {
                "formSubmittedText": "вњ… PRD Gerado com sucesso"
              }
            }
          }
        },
        "id": "b5dda222-8e93-46b7-bf1a-c425de2351da",
        "name": "Busca dados do usuГЎrio",
        "type": "n8n-nodes-base.formTrigger",
        "position": [
          768,
          176
        ],
        "webhookId": "a91383b7-6509-4547-aed2-49bf674eacd6",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "content": "## Cria PRDs de forma prГЎtica e funcional",
          "height": 544,
          "width": 1136,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          704,
          -16
        ],
        "id": "27961725-3dfa-4aeb-a71d-b5f7cfc0d106",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n",
          "height": 272,
          "width": 752,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          896,
          -336
        ],
        "typeVersion": 1,
        "id": "33726529-82a5-4616-8827-143b2788df06",
        "name": "Sticky Note29"
      }
    ],
    "connections": {
      "PRD Developer": {
        "main": [
          [
            {
              "node": "Gera um documento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude 4.5 Sonnet": {
        "ai_languageModel": [
          [
            {
              "node": "PRD Developer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Gera um documento": {
        "main": [
          [
            {
              "node": "Atualiza um documento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca dados do usuГЎrio": {
        "main": [
          [
            {
              "node": "PRD Developer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ricardo Neves",
    "name": "Version 1",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-16T14:01:02.265Z",
        "id": 215,
        "workflowId": "qwHMa8j64Mh1hjN6",
        "versionId": "4fb6605a-f819-4067-8e73-457a0727bf1d",
        "event": "activated",
        "userId": "37c5e92b-9604-4346-8167-cb09d89f1846"
      }
    ]
  }
}