n8n/apis/whatsapp/apagarInstanciaWhatsappAPI.json
{"updatedAt":"2026-03-06T20:03:12.308Z","createdAt":"2026-03-04T20:51:18.291Z","id":"FtLRmMArrDpj8Gw4","name":"apagarInstanciaWhatsappAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-16,-944],"typeVersion":1,"id":"8bc788d5-c61c-494e-b1df-5254b55291b6","name":"Sticky Note29"},{"parameters":{"content":"## Apagar Instância","height":288,"width":1056,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-624],"id":"5d2f92a4-3636-4467-bc46-5febc63c52ed","name":"Sticky Note5"},{"parameters":{"httpMethod":"POST","path":"apagar-instancia","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[48,-544],"id":"f83d8f5e-97cf-4582-8290-33a9090a6b59","name":"webhookApagarInstancia","webhookId":"2b3134ee-c8d9-4efc-8292-a310be6be3b0"},{"parameters":{"method":"DELETE","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/instance","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $json.body.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,-544],"id":"4b543dae-17f6-4a4e-86af-1bbf6c1cc57d","name":"apagarInstancia"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[880,-544],"id":"6232cc54-7348-4f55-b2ce-eadaff333d60","name":"responderParaWebhook"},{"parameters":{"operation":"delete","tableId":"instancias_whatsapp","filters":{"conditions":[{"keyName":"token","condition":"eq","keyValue":"={{ $('webhookApagarInstancia').item.json.body.token }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[592,-544],"id":"c9441bfa-aa3c-44e8-a101-a755e43b428e","name":"excluirInstanciaDoBanco","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}}],"connections":{"webhookApagarInstancia":{"main":[[{"node":"apagarInstancia","type":"main","index":0}]]},"apagarInstancia":{"main":[[{"node":"excluirInstanciaDoBanco","type":"main","index":0}]]},"excluirInstanciaDoBanco":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"24ace705-04cd-4c49-846e-d488b1e7d567","activeVersionId":"24ace705-04cd-4c49-846e-d488b1e7d567","triggerCount":1,"shared":[{"updatedAt":"2026-03-04T20:51:18.291Z","createdAt":"2026-03-04T20:51:18.291Z","role":"workflow:owner","workflowId":"FtLRmMArrDpj8Gw4","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-06T20:04:40.941Z","createdAt":"2026-03-06T20:03:12.309Z","versionId":"24ace705-04cd-4c49-846e-d488b1e7d567","workflowId":"FtLRmMArrDpj8Gw4","nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-16,-944],"typeVersion":1,"id":"8bc788d5-c61c-494e-b1df-5254b55291b6","name":"Sticky Note29"},{"parameters":{"content":"## Apagar Instância","height":288,"width":1056,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-624],"id":"5d2f92a4-3636-4467-bc46-5febc63c52ed","name":"Sticky Note5"},{"parameters":{"httpMethod":"POST","path":"apagar-instancia","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[48,-544],"id":"f83d8f5e-97cf-4582-8290-33a9090a6b59","name":"webhookApagarInstancia","webhookId":"2b3134ee-c8d9-4efc-8292-a310be6be3b0"},{"parameters":{"method":"DELETE","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/instance","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $json.body.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,-544],"id":"4b543dae-17f6-4a4e-86af-1bbf6c1cc57d","name":"apagarInstancia"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[880,-544],"id":"6232cc54-7348-4f55-b2ce-eadaff333d60","name":"responderParaWebhook"},{"parameters":{"operation":"delete","tableId":"instancias_whatsapp","filters":{"conditions":[{"keyName":"token","condition":"eq","keyValue":"={{ $('webhookApagarInstancia').item.json.body.token }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[592,-544],"id":"c9441bfa-aa3c-44e8-a101-a755e43b428e","name":"excluirInstanciaDoBanco","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}}],"connections":{"webhookApagarInstancia":{"main":[[{"node":"apagarInstancia","type":"main","index":0}]]},"apagarInstancia":{"main":[[{"node":"excluirInstanciaDoBanco","type":"main","index":0}]]},"excluirInstanciaDoBanco":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 24ace705","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}