n8n/apis/whatsapp/ativarAgenteAPI.json
{"updatedAt":"2026-03-05T16:41:57.133Z","createdAt":"2026-03-05T13:19:25.861Z","id":"3CpyJ6hDuuBvrGl0","name":"ativarAgenteAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"remover-pausa-agente","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"1c26a0ae-ed68-4c5d-8221-89bbcc794054","name":"Webhook","webhookId":"e0d514ce-6c6b-4c84-840b-1fc02e958f7d"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"retorno\": \"ok\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[448,0],"id":"edf70323-15fd-44c4-845a-bf9f449c47c0","name":"responderParaWebhook"},{"parameters":{"operation":"delete","key":"={{ $json.body.remote_J_id }}_block"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,0],"id":"3a6a77d6-9cc9-4edb-8bc5-cd5fd3999c97","name":"excluirTempoPausaAtendimentoHumano","credentials":{"redis":{"id":"mG96KO4qIJc2Z5cp","name":"Redis"}}}],"connections":{"Webhook":{"main":[[{"node":"excluirTempoPausaAtendimentoHumano","type":"main","index":0}]]},"excluirTempoPausaAtendimentoHumano":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"versionId":"3854562f-3536-4417-bd91-c78b43e0e7a8","activeVersionId":"3854562f-3536-4417-bd91-c78b43e0e7a8","triggerCount":1,"shared":[{"updatedAt":"2026-03-05T13:19:25.861Z","createdAt":"2026-03-05T13:19:25.861Z","role":"workflow:owner","workflowId":"3CpyJ6hDuuBvrGl0","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-05T16:42:00.661Z","createdAt":"2026-03-05T16:41:57.134Z","versionId":"3854562f-3536-4417-bd91-c78b43e0e7a8","workflowId":"3CpyJ6hDuuBvrGl0","nodes":[{"parameters":{"httpMethod":"POST","path":"remover-pausa-agente","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"1c26a0ae-ed68-4c5d-8221-89bbcc794054","name":"Webhook","webhookId":"e0d514ce-6c6b-4c84-840b-1fc02e958f7d"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"retorno\": \"ok\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[448,0],"id":"edf70323-15fd-44c4-845a-bf9f449c47c0","name":"responderParaWebhook"},{"parameters":{"operation":"delete","key":"={{ $json.body.remote_J_id }}_block"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,0],"id":"3a6a77d6-9cc9-4edb-8bc5-cd5fd3999c97","name":"excluirTempoPausaAtendimentoHumano","credentials":{"redis":{"id":"mG96KO4qIJc2Z5cp","name":"Redis"}}}],"connections":{"Webhook":{"main":[[{"node":"excluirTempoPausaAtendimentoHumano","type":"main","index":0}]]},"excluirTempoPausaAtendimentoHumano":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 3854562f","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}