n8n/apis/whatsapp/gerarQRCodeWhatsappAPI.json
{"updatedAt":"2026-03-04T22:30:49.029Z","createdAt":"2026-03-04T20:45:00.901Z","id":"HcvegeknuLatILmH","name":"gerarQRCodeWhatsappAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,-944],"typeVersion":1,"id":"8c29fa2e-f456-4358-b4a1-adbf24ff191c","name":"Sticky Note29"},{"parameters":{"content":"## Gera QR Code e número para conexão","height":336,"width":1216,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-288,-640],"id":"2709daf9-854c-4e6c-9800-388da67ea874","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"gerar-qrcode","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,-512],"id":"3dff774d-b8cb-4caa-8cae-885c454693bf","name":"webhookGerarQRCode","webhookId":"ec93cb04-4cf1-446a-96ed-0a91ebf96ccf"},{"parameters":{"assignments":{"assignments":[{"id":"efa15f68-7743-47a6-8baa-c791833e999b","name":"phone","value":"={{ $json.body.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-512],"id":"0b1177b9-c594-4bda-9122-a8b8400c3ea9","name":"setarNumeroTelefone"},{"parameters":{"jsCode":"const phone = $input.first().json.phone || \"\";\n\n// remove tudo que não for número\nconst cleaned = phone.replace(/\\D/g, \"\");\n\n// adiciona 55 na frente\nconst formatted = `55${cleaned}`;\n\nreturn [\n  {\n    json: {\n      phone: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-512],"id":"25ddc04c-4b63-408c-a387-6cb97f7f8960","name":"removerCaracteresEspeciais"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/instance/connect","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('webhookGerarQRCode').item.json.body.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[368,-512],"id":"0419e76f-35a6-4c3a-8cc3-d82f87cfc9b0","name":"conectarNumeroNaInstancia"},{"parameters":{"assignments":{"assignments":[{"id":"1a87a690-95d6-43bb-b567-03ea3a8ababf","name":"paircode","value":"={{ $json.instance.paircode }}","type":"string"},{"id":"b86275c8-5eee-4251-8ae3-485b3e5163f1","name":"qrcode","value":"={{ $json.instance.qrcode }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,-512],"id":"e3be057b-93d9-4481-8e50-00dfcb2e2757","name":"setarDadosDeRetorno"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[784,-512],"id":"1f164547-647e-4dd0-9290-aea57f1cb61e","name":"responderParaWebhook"}],"connections":{"webhookGerarQRCode":{"main":[[{"node":"setarNumeroTelefone","type":"main","index":0}]]},"setarNumeroTelefone":{"main":[[{"node":"removerCaracteresEspeciais","type":"main","index":0}]]},"removerCaracteresEspeciais":{"main":[[{"node":"conectarNumeroNaInstancia","type":"main","index":0}]]},"conectarNumeroNaInstancia":{"main":[[{"node":"setarDadosDeRetorno","type":"main","index":0}]]},"setarDadosDeRetorno":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"720c3357-8cf1-48c7-9caa-e3e35181f4e7","activeVersionId":"9790a9bf-b378-42fe-b26f-e370d5789d30","triggerCount":1,"shared":[{"updatedAt":"2026-03-04T20:45:00.901Z","createdAt":"2026-03-04T20:45:00.901Z","role":"workflow:owner","workflowId":"HcvegeknuLatILmH","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T20:46:57.340Z","createdAt":"2026-03-04T20:46:48.391Z","versionId":"9790a9bf-b378-42fe-b26f-e370d5789d30","workflowId":"HcvegeknuLatILmH","nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,-944],"typeVersion":1,"id":"8c29fa2e-f456-4358-b4a1-adbf24ff191c","name":"Sticky Note29"},{"parameters":{"content":"## Gera QR Code e número para conexão","height":336,"width":1184,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,-640],"id":"2709daf9-854c-4e6c-9800-388da67ea874","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"gerar-qrcode","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,-512],"id":"3dff774d-b8cb-4caa-8cae-885c454693bf","name":"webhookGerarQRCode","webhookId":"ec93cb04-4cf1-446a-96ed-0a91ebf96ccf"},{"parameters":{"assignments":{"assignments":[{"id":"efa15f68-7743-47a6-8baa-c791833e999b","name":"phone","value":"={{ $json.body.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-512],"id":"0b1177b9-c594-4bda-9122-a8b8400c3ea9","name":"setarNumeroTelefone"},{"parameters":{"jsCode":"const phone = $input.first().json.phone || \"\";\n\n// remove tudo que não for número\nconst cleaned = phone.replace(/\\D/g, \"\");\n\n// adiciona 55 na frente\nconst formatted = `55${cleaned}`;\n\nreturn [\n  {\n    json: {\n      phone: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-512],"id":"25ddc04c-4b63-408c-a387-6cb97f7f8960","name":"removerCaracteresEspeciais"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/instance/connect","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('webhookGerarQRCode').item.json.body.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[368,-512],"id":"0419e76f-35a6-4c3a-8cc3-d82f87cfc9b0","name":"conectarNumeroNaInstancia"},{"parameters":{"assignments":{"assignments":[{"id":"1a87a690-95d6-43bb-b567-03ea3a8ababf","name":"paircode","value":"={{ $json.instance.paircode }}","type":"string"},{"id":"b86275c8-5eee-4251-8ae3-485b3e5163f1","name":"qrcode","value":"={{ $json.instance.qrcode }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,-512],"id":"e3be057b-93d9-4481-8e50-00dfcb2e2757","name":"setarDadosDeRetorno"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[784,-512],"id":"1f164547-647e-4dd0-9290-aea57f1cb61e","name":"responderParaWebhook"}],"connections":{"webhookGerarQRCode":{"main":[[{"node":"setarNumeroTelefone","type":"main","index":0}]]},"setarNumeroTelefone":{"main":[[{"node":"removerCaracteresEspeciais","type":"main","index":0}]]},"removerCaracteresEspeciais":{"main":[[{"node":"conectarNumeroNaInstancia","type":"main","index":0}]]},"conectarNumeroNaInstancia":{"main":[[{"node":"setarDadosDeRetorno","type":"main","index":0}]]},"setarDadosDeRetorno":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 9790a9bf","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}