n8n/apis/whatsapp/iniciarInstanciaWhatsappAPI.json
{"updatedAt":"2026-03-04T22:31:49.913Z","createdAt":"2026-03-04T20:01:31.184Z","id":"Yce0B1mHProxBEIU","name":"iniciarInstanciaWhatsappAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"f5db3c47-8ded-48dd-a95c-e9222882d384","name":"id","value":"={{ $json.instance.id }}","type":"string"},{"id":"a8dafea7-6e7b-4eff-ae03-ae43d7505307","name":"token","value":"={{ $json.instance.token }}","type":"string"},{"id":"3fe04ce9-9541-436c-8ff7-0f904f59925f","name":"name","value":"={{ $json.instance.name }}","type":"string"},{"id":"7f2de1f3-0690-48a3-9567-f1ad739ce16e","name":"adminField01","value":"={{ $json.instance.adminField01 }}","type":"string"},{"id":"93654282-c226-4dfa-889a-7b78485e5cbb","name":"created","value":"={{ $json.instance.created }}","type":"string"},{"id":"efa15f68-7743-47a6-8baa-c791833e999b","name":"phone","value":"={{ $('webhookCriarInstancia').item.json.body.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-544],"id":"33a38514-40bb-4e02-893e-1d6ea8272073","name":"Normaliza Dados"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/instance/init","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.body.companyName }}"},{"name":"systemName","value":"apilocal"},{"name":"adminField01","value":"={{ $json.body.organizationName }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,-544],"id":"f80b6097-215e-4452-acc8-b9e8cfd5f43a","name":"Inicia Instancia na UAZAPI","credentials":{"httpHeaderAuth":{"id":"2MR7jAggig6NCSB6","name":"Uazapi"}}},{"parameters":{"content":"## Inicia Instância na UAZAPI","height":336,"width":848,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-32,-656],"id":"926557cf-d2d1-4350-bcf5-3268c71d9ea8","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[640,-544],"id":"8f438937-e6ca-4582-ab0d-3b0e612164dd","name":"Responde para o Webhook"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,-944],"typeVersion":1,"id":"64e5ebe3-1ed3-4feb-842a-128e2f7d2581","name":"Sticky Note29"},{"parameters":{"httpMethod":"POST","path":"criar-instancia-cliente","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,-544],"id":"36a0c3b2-edec-485b-bbef-cce81d797808","name":"webhookCriarInstancia","webhookId":"8abbd40a-03de-4598-ba12-84401ecd9f83"}],"connections":{"Normaliza Dados":{"main":[[{"node":"Responde para o Webhook","type":"main","index":0}]]},"Inicia Instancia na UAZAPI":{"main":[[{"node":"Normaliza Dados","type":"main","index":0}]]},"webhookCriarInstancia":{"main":[[{"node":"Inicia Instancia na UAZAPI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"41e28434-e604-41a1-9842-b4fa08c414f9","activeVersionId":"41e28434-e604-41a1-9842-b4fa08c414f9","triggerCount":1,"shared":[{"updatedAt":"2026-03-04T20:01:31.184Z","createdAt":"2026-03-04T20:01:31.184Z","role":"workflow:owner","workflowId":"Yce0B1mHProxBEIU","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T20:42:38.816Z","createdAt":"2026-03-04T20:42:24.611Z","versionId":"41e28434-e604-41a1-9842-b4fa08c414f9","workflowId":"Yce0B1mHProxBEIU","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"f5db3c47-8ded-48dd-a95c-e9222882d384","name":"id","value":"={{ $json.instance.id }}","type":"string"},{"id":"a8dafea7-6e7b-4eff-ae03-ae43d7505307","name":"token","value":"={{ $json.instance.token }}","type":"string"},{"id":"3fe04ce9-9541-436c-8ff7-0f904f59925f","name":"name","value":"={{ $json.instance.name }}","type":"string"},{"id":"7f2de1f3-0690-48a3-9567-f1ad739ce16e","name":"adminField01","value":"={{ $json.instance.adminField01 }}","type":"string"},{"id":"93654282-c226-4dfa-889a-7b78485e5cbb","name":"created","value":"={{ $json.instance.created }}","type":"string"},{"id":"efa15f68-7743-47a6-8baa-c791833e999b","name":"phone","value":"={{ $('webhookCriarInstancia').item.json.body.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-544],"id":"33a38514-40bb-4e02-893e-1d6ea8272073","name":"Normaliza Dados"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/instance/init","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.body.companyName }}"},{"name":"systemName","value":"apilocal"},{"name":"adminField01","value":"={{ $json.body.organizationName }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,-544],"id":"f80b6097-215e-4452-acc8-b9e8cfd5f43a","name":"Inicia Instancia na UAZAPI","credentials":{"httpHeaderAuth":{"id":"2MR7jAggig6NCSB6","name":"Uazapi"}}},{"parameters":{"content":"## Inicia Instância na UAZAPI","height":336,"width":848,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-32,-656],"id":"926557cf-d2d1-4350-bcf5-3268c71d9ea8","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[640,-544],"id":"8f438937-e6ca-4582-ab0d-3b0e612164dd","name":"Responde para o Webhook"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,-944],"typeVersion":1,"id":"64e5ebe3-1ed3-4feb-842a-128e2f7d2581","name":"Sticky Note29"},{"parameters":{"httpMethod":"POST","path":"criar-instancia-cliente","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,-544],"id":"36a0c3b2-edec-485b-bbef-cce81d797808","name":"webhookCriarInstancia","webhookId":"8abbd40a-03de-4598-ba12-84401ecd9f83"}],"connections":{"Normaliza Dados":{"main":[[{"node":"Responde para o Webhook","type":"main","index":0}]]},"Inicia Instancia na UAZAPI":{"main":[[{"node":"Normaliza Dados","type":"main","index":0}]]},"webhookCriarInstancia":{"main":[[{"node":"Inicia Instancia na UAZAPI","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 2","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}