n8n/apis/whatsapp/listarInstanciasWhatsappAPI.json
{"updatedAt":"2026-03-04T22:30:53.738Z","createdAt":"2026-03-04T20:49:47.951Z","id":"XjqJ8xHeOP8804sT","name":"listarInstanciasWhatsappAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,-944],"typeVersion":1,"id":"7d45149b-6ffd-44cb-b8ed-181ac85a0be3","name":"Sticky Note29"},{"parameters":{"content":"## Validação de status de conexão","height":368,"width":1200,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-608],"id":"36a2edc0-edca-4bf3-bdc3-5fadbc86eba2","name":"Sticky Note4"},{"parameters":{"httpMethod":"POST","path":"listar-instancia","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-128,-464],"id":"47801a60-9fb3-4875-ac9b-c9baa55dfb0d","name":"webhookListarInstancias","webhookId":"2b3134ee-c8d9-4efc-8292-a310be6be3b0"},{"parameters":{"assignments":{"assignments":[{"id":"13a87877-7205-4e20-acb1-2af51c440cf9","name":"body.token","value":"={{ $json.body.token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-464],"id":"ac155ca3-2a2d-4794-a02b-c22caa943426","name":"setarToken"},{"parameters":{"url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/instance/all","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[272,-464],"id":"8648037a-4318-4e2c-a75b-0c3473fc1cec","name":"listarInstancias","credentials":{"httpHeaderAuth":{"id":"2MR7jAggig6NCSB6","name":"Uazapi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ace7d06-a489-4d24-8ece-4ea1f9f0cf19","leftValue":"={{ $json.token }}","rightValue":"={{ $('setarToken').item.json.body.token }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,-464],"id":"afb2bee0-85c1-431b-a6cf-bb007f50728b","name":"validarToken"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[704,-464],"id":"64d41c3e-9489-4ad3-b0fd-0d5bcb06eb74","name":"responderParaWebhook"}],"connections":{"webhookListarInstancias":{"main":[[{"node":"setarToken","type":"main","index":0}]]},"setarToken":{"main":[[{"node":"listarInstancias","type":"main","index":0}]]},"listarInstancias":{"main":[[{"node":"validarToken","type":"main","index":0}]]},"validarToken":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"b7616006-9382-46c0-b0a0-3f437695a728","activeVersionId":"68d1de86-65cc-40f0-ab59-71a42f8a2161","triggerCount":1,"shared":[{"updatedAt":"2026-03-04T20:49:47.951Z","createdAt":"2026-03-04T20:49:47.951Z","role":"workflow:owner","workflowId":"XjqJ8xHeOP8804sT","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T20:51:09.802Z","createdAt":"2026-03-04T20:51:02.604Z","versionId":"68d1de86-65cc-40f0-ab59-71a42f8a2161","workflowId":"XjqJ8xHeOP8804sT","nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,-944],"typeVersion":1,"id":"7d45149b-6ffd-44cb-b8ed-181ac85a0be3","name":"Sticky Note29"},{"parameters":{"content":"## Validação de status de conexão","height":368,"width":1264,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-608],"id":"36a2edc0-edca-4bf3-bdc3-5fadbc86eba2","name":"Sticky Note4"},{"parameters":{"httpMethod":"POST","path":"listar-instancia","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-128,-464],"id":"47801a60-9fb3-4875-ac9b-c9baa55dfb0d","name":"webhookListarInstancias","webhookId":"2b3134ee-c8d9-4efc-8292-a310be6be3b0"},{"parameters":{"assignments":{"assignments":[{"id":"13a87877-7205-4e20-acb1-2af51c440cf9","name":"body.token","value":"={{ $json.body.token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-464],"id":"ac155ca3-2a2d-4794-a02b-c22caa943426","name":"setarToken"},{"parameters":{"url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/instance/all","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[272,-464],"id":"8648037a-4318-4e2c-a75b-0c3473fc1cec","name":"listarInstancias","credentials":{"httpHeaderAuth":{"id":"2MR7jAggig6NCSB6","name":"Uazapi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ace7d06-a489-4d24-8ece-4ea1f9f0cf19","leftValue":"={{ $json.token }}","rightValue":"={{ $('setarToken').item.json.body.token }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,-464],"id":"afb2bee0-85c1-431b-a6cf-bb007f50728b","name":"validarToken"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[704,-464],"id":"64d41c3e-9489-4ad3-b0fd-0d5bcb06eb74","name":"responderParaWebhook"}],"connections":{"webhookListarInstancias":{"main":[[{"node":"setarToken","type":"main","index":0}]]},"setarToken":{"main":[[{"node":"listarInstancias","type":"main","index":0}]]},"listarInstancias":{"main":[[{"node":"validarToken","type":"main","index":0}]]},"validarToken":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 68d1de86","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}