n8n/apis/whatsapp/pausarAgenteAPI.json
{"updatedAt":"2026-03-05T16:32:45.237Z","createdAt":"2026-03-05T13:14:56.146Z","id":"GvOoDBXvN9XrwdSj","name":"pausarAgenteAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pausar-agente","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8f92f17e-fd48-4898-ae59-a1049b26ab3f","name":"Webhook","webhookId":"8d25d8fc-9ff6-4fda-87eb-078891ffbb61"},{"parameters":{"operation":"set","key":"={{ $json.body.remote_J_id }}_block","value":"true","keyType":"string","expire":true,"ttl":"={{ $json.body.pausa_segundos }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,0],"id":"566f2104-418f-4996-a569-fb89117b5284","name":"setarTempoPausaAtendimentoHumano","credentials":{"redis":{"id":"mG96KO4qIJc2Z5cp","name":"Redis"}}},{"parameters":{"respondWith":"json","responseBody":"{\n  \"retorno\": \"ok\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[448,0],"id":"34f3f3c3-926d-4230-b50b-cedce0db253e","name":"responderParaWebhook"}],"connections":{"Webhook":{"main":[[{"node":"setarTempoPausaAtendimentoHumano","type":"main","index":0}]]},"setarTempoPausaAtendimentoHumano":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"versionId":"a50ef4f8-04eb-45b5-b630-9dfbe920b827","activeVersionId":"a50ef4f8-04eb-45b5-b630-9dfbe920b827","triggerCount":1,"shared":[{"updatedAt":"2026-03-05T13:14:56.146Z","createdAt":"2026-03-05T13:14:56.146Z","role":"workflow:owner","workflowId":"GvOoDBXvN9XrwdSj","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-05T16:32:47.152Z","createdAt":"2026-03-05T16:32:45.238Z","versionId":"a50ef4f8-04eb-45b5-b630-9dfbe920b827","workflowId":"GvOoDBXvN9XrwdSj","nodes":[{"parameters":{"httpMethod":"POST","path":"pausar-agente","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8f92f17e-fd48-4898-ae59-a1049b26ab3f","name":"Webhook","webhookId":"8d25d8fc-9ff6-4fda-87eb-078891ffbb61"},{"parameters":{"operation":"set","key":"={{ $json.body.remote_J_id }}_block","value":"true","keyType":"string","expire":true,"ttl":"={{ $json.body.pausa_segundos }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,0],"id":"566f2104-418f-4996-a569-fb89117b5284","name":"setarTempoPausaAtendimentoHumano","credentials":{"redis":{"id":"mG96KO4qIJc2Z5cp","name":"Redis"}}},{"parameters":{"respondWith":"json","responseBody":"{\n  \"retorno\": \"ok\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[448,0],"id":"34f3f3c3-926d-4230-b50b-cedce0db253e","name":"responderParaWebhook"}],"connections":{"Webhook":{"main":[[{"node":"setarTempoPausaAtendimentoHumano","type":"main","index":0}]]},"setarTempoPausaAtendimentoHumano":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version a50ef4f8","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}