n8n/apis/whatsapp/setarWebhookInstanciaWhatsappAPI.json
{"updatedAt":"2026-03-04T22:30:47.501Z","createdAt":"2026-03-04T20:43:03.139Z","id":"rxYcxqPhQbHPGaWx","name":"setarWebhookInstanciaWhatsappAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,-944],"typeVersion":1,"id":"8fc663ae-563f-4fbf-9634-f7d61675312e","name":"Sticky Note29"},{"parameters":{"content":"## Seta Webhook do fluxo n8n na instância UAZAPI","height":336,"width":864,"color":"#C9004E"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,-640],"id":"2bdc7dac-e8e1-49ad-a681-cab99e9b1169","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"configurar-webhook","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-528],"id":"011d302e-5b21-407d-af2b-6bdbda3e7788","name":"webhookConfigurar","webhookId":"40cf2d46-b7f6-4da5-b061-13bd34914403"},{"parameters":{"assignments":{"assignments":[{"id":"2da4846f-05eb-44da-b12b-48aa8225b396","name":"url","value":"={{ $json.webhookUrl.split(\"configurar-webhook\")[0] }}{{ $json.body.instanceName }}","type":"string"},{"id":"28b26126-2484-4124-b26e-0afc1263d988","name":"token","value":"={{ $json.body.token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-528],"id":"3079fedf-fd8e-4782-b01f-bb6cceb03f04","name":"normalizarDados"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/webhook","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"enabled\": true,\n  \"url\": \"{{ $json.url }}\",\n  \"events\": [\n    \"messages\"\n  ],\n  \"excludeMessages\": [\n    \"wasSentByApi\",\n    \"isGroupYes\"\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,-528],"id":"8f61c96f-a6b8-44ee-8fe7-66591ee8b085","name":"setarWebhook"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[624,-528],"id":"7b13bc64-687f-4a13-b99e-4a3d9b75bf1e","name":"responderParaWebhook"}],"connections":{"webhookConfigurar":{"main":[[{"node":"normalizarDados","type":"main","index":0}]]},"normalizarDados":{"main":[[{"node":"setarWebhook","type":"main","index":0}]]},"setarWebhook":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"dc7c081b-687b-4c6c-92d7-613e8d53d7b1","activeVersionId":"dc7c081b-687b-4c6c-92d7-613e8d53d7b1","triggerCount":1,"shared":[{"updatedAt":"2026-03-04T20:43:03.139Z","createdAt":"2026-03-04T20:43:03.139Z","role":"workflow:owner","workflowId":"rxYcxqPhQbHPGaWx","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T20:44:52.338Z","createdAt":"2026-03-04T20:44:50.916Z","versionId":"dc7c081b-687b-4c6c-92d7-613e8d53d7b1","workflowId":"rxYcxqPhQbHPGaWx","nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,-944],"typeVersion":1,"id":"8fc663ae-563f-4fbf-9634-f7d61675312e","name":"Sticky Note29"},{"parameters":{"content":"## Seta Webhook do fluxo n8n na instância UAZAPI","height":336,"width":864,"color":"#C9004E"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,-640],"id":"2bdc7dac-e8e1-49ad-a681-cab99e9b1169","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"configurar-webhook","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-528],"id":"011d302e-5b21-407d-af2b-6bdbda3e7788","name":"webhookConfigurar","webhookId":"40cf2d46-b7f6-4da5-b061-13bd34914403"},{"parameters":{"assignments":{"assignments":[{"id":"2da4846f-05eb-44da-b12b-48aa8225b396","name":"url","value":"={{ $json.webhookUrl.split(\"configurar-webhook\")[0] }}{{ $json.body.instanceName }}","type":"string"},{"id":"28b26126-2484-4124-b26e-0afc1263d988","name":"token","value":"={{ $json.body.token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-528],"id":"3079fedf-fd8e-4782-b01f-bb6cceb03f04","name":"normalizarDados"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/webhook","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"enabled\": true,\n  \"url\": \"{{ $json.url }}\",\n  \"events\": [\n    \"messages\"\n  ],\n  \"excludeMessages\": [\n    \"wasSentByApi\",\n    \"isGroupYes\"\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,-528],"id":"8f61c96f-a6b8-44ee-8fe7-66591ee8b085","name":"setarWebhook"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[624,-528],"id":"7b13bc64-687f-4a13-b99e-4a3d9b75bf1e","name":"responderParaWebhook"}],"connections":{"webhookConfigurar":{"main":[[{"node":"normalizarDados","type":"main","index":0}]]},"normalizarDados":{"main":[[{"node":"setarWebhook","type":"main","index":0}]]},"setarWebhook":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version dc7c081b","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}