n8n/apis/whatsapp/validarStatusConexaoWhatsappAPI.json
{"updatedAt":"2026-03-04T22:30:50.989Z","createdAt":"2026-03-04T20:47:56.297Z","id":"8Des3qvBd6P2Fbhe","name":"validarStatusConexaoWhatsappAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,-944],"typeVersion":1,"id":"9867933f-1b96-43bd-8024-39f873f81319","name":"Sticky Note29"},{"parameters":{"content":"## Validação de status de conexão","height":560,"width":1184,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-624],"id":"842af62e-d452-4bc0-ab79-83ea0588e155","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"verificar-conexao","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-192,-400],"id":"e40857a1-8677-41fc-bfa0-84238808788c","name":"webhookVerificaConexao","webhookId":"2b3134ee-c8d9-4efc-8292-a310be6be3b0"},{"parameters":{"url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/instance/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $json.body.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,-400],"id":"957ca5b2-4f3f-4f83-bd5a-7496da6e4f9d","name":"buscarStatus"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.instance.status }}","rightValue":"connected","operator":{"type":"string","operation":"equals"},"id":"43e76a5a-fd3e-48cd-8440-5314b83ceee0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conectado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60aebd7c-28fe-42cc-9b74-ebf7734aaaf3","leftValue":"={{ $json.instance.status }}","rightValue":"connecting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conectando"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82dca5db-7c34-4d8f-8d00-8ff5cde5f319","leftValue":"={{ $json.instance.status }}","rightValue":"=disconnected","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desconectado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[192,-416],"id":"1fc8a16f-d2c0-48ce-ae51-dddf522b2230","name":"rotearStatus"},{"parameters":{"assignments":{"assignments":[{"id":"d833dda2-2450-44c4-bc2e-1916bdeb9921","name":"response","value":"sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-560],"id":"a6cda2ea-7b5b-480c-86b8-b2f048049963","name":"setarSucesso"},{"parameters":{"assignments":{"assignments":[{"id":"d833dda2-2450-44c4-bc2e-1916bdeb9921","name":"response","value":"conectando","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-400],"id":"d02c5bc9-8e41-46ff-b044-45d775a727ae","name":"setarConectando"},{"parameters":{"assignments":{"assignments":[{"id":"d833dda2-2450-44c4-bc2e-1916bdeb9921","name":"response","value":"desconectado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-240],"id":"684a354f-444a-4fe1-bb7a-55d558244c33","name":"setarDesconectado"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[688,-400],"id":"12829757-dea0-4991-a7b7-6b8345b61ee0","name":"responderParaWebhook"}],"connections":{"webhookVerificaConexao":{"main":[[{"node":"buscarStatus","type":"main","index":0}]]},"buscarStatus":{"main":[[{"node":"rotearStatus","type":"main","index":0}]]},"rotearStatus":{"main":[[{"node":"setarSucesso","type":"main","index":0}],[{"node":"setarConectando","type":"main","index":0}],[{"node":"setarDesconectado","type":"main","index":0}]]},"setarSucesso":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]},"setarConectando":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]},"setarDesconectado":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"67e8f36b-7885-483a-939b-944aa450304c","activeVersionId":"67e8f36b-7885-483a-939b-944aa450304c","triggerCount":1,"shared":[{"updatedAt":"2026-03-04T20:47:56.297Z","createdAt":"2026-03-04T20:47:56.297Z","role":"workflow:owner","workflowId":"8Des3qvBd6P2Fbhe","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T20:49:41.522Z","createdAt":"2026-03-04T20:49:19.222Z","versionId":"67e8f36b-7885-483a-939b-944aa450304c","workflowId":"8Des3qvBd6P2Fbhe","nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,-944],"typeVersion":1,"id":"9867933f-1b96-43bd-8024-39f873f81319","name":"Sticky Note29"},{"parameters":{"content":"## Validação de status de conexão","height":560,"width":1184,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-624],"id":"842af62e-d452-4bc0-ab79-83ea0588e155","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"verificar-conexao","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-192,-400],"id":"e40857a1-8677-41fc-bfa0-84238808788c","name":"webhookVerificaConexao","webhookId":"2b3134ee-c8d9-4efc-8292-a310be6be3b0"},{"parameters":{"url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/instance/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $json.body.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,-400],"id":"957ca5b2-4f3f-4f83-bd5a-7496da6e4f9d","name":"buscarStatus"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.instance.status }}","rightValue":"connected","operator":{"type":"string","operation":"equals"},"id":"43e76a5a-fd3e-48cd-8440-5314b83ceee0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conectado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60aebd7c-28fe-42cc-9b74-ebf7734aaaf3","leftValue":"={{ $json.instance.status }}","rightValue":"connecting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conectando"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82dca5db-7c34-4d8f-8d00-8ff5cde5f319","leftValue":"={{ $json.instance.status }}","rightValue":"=disconnected","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desconectado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[192,-416],"id":"1fc8a16f-d2c0-48ce-ae51-dddf522b2230","name":"rotearStatus"},{"parameters":{"assignments":{"assignments":[{"id":"d833dda2-2450-44c4-bc2e-1916bdeb9921","name":"response","value":"sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-560],"id":"a6cda2ea-7b5b-480c-86b8-b2f048049963","name":"setarSucesso"},{"parameters":{"assignments":{"assignments":[{"id":"d833dda2-2450-44c4-bc2e-1916bdeb9921","name":"response","value":"conectando","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-400],"id":"d02c5bc9-8e41-46ff-b044-45d775a727ae","name":"setarConectando"},{"parameters":{"assignments":{"assignments":[{"id":"d833dda2-2450-44c4-bc2e-1916bdeb9921","name":"response","value":"desconectado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-240],"id":"684a354f-444a-4fe1-bb7a-55d558244c33","name":"setarDesconectado"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[688,-400],"id":"12829757-dea0-4991-a7b7-6b8345b61ee0","name":"responderParaWebhook"}],"connections":{"webhookVerificaConexao":{"main":[[{"node":"buscarStatus","type":"main","index":0}]]},"buscarStatus":{"main":[[{"node":"rotearStatus","type":"main","index":0}]]},"rotearStatus":{"main":[[{"node":"setarSucesso","type":"main","index":0}],[{"node":"setarConectando","type":"main","index":0}],[{"node":"setarDesconectado","type":"main","index":0}]]},"setarSucesso":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]},"setarConectando":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]},"setarDesconectado":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 67e8f36b","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}