n8n/sub-workflows-atend/buscarDadosWorkflow.json
{"updatedAt":"2026-03-04T22:33:01.298Z","createdAt":"2026-03-04T02:29:23.481Z","id":"8tEbjIp7OAnIRpby","name":"buscarDadosWorkflow","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Busca informações do Banco de Dados\nCarrega informações que vão ser utilizadas no workflow","height":1088,"width":1776,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,-400],"id":"952763c0-0ddf-4c92-98a4-667cdb9bf236","name":"Sticky Note4"},{"parameters":{"workflowInputs":{"values":[{"name":"nome_instancia"},{"name":"chat_id"},{"name":"mensagem"},{"name":"remote_J_id"},{"name":"id_mensagem"},{"name":"media_url"},{"name":"tipo_mensagem"},{"name":"owner"},{"name":"from_me","type":"boolean"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,144],"id":"d27c8d6d-e2e4-41be-a0f8-5e3d33b95ab5","name":"executarFluxo"},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[464,272],"id":"f4737809-de56-4108-a4ff-ab7790c5805e","name":"buscarDadosDosClientes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7faaec8-4a7d-43db-89ae-197c29f31c23","leftValue":"={{ $json.telefone }}","rightValue":"={{ $('executarFluxo').item.json.chat_id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[704,272],"id":"f1dbb8ba-1ca0-439d-a7d6-b7dc8f0be4c3","name":"verificarTelefoneCliente","alwaysOutputData":true},{"parameters":{"operation":"get","tableId":"config_agente_ia","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $('filtrarDadosDasInstanciasDeWhatsapp').item.json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[464,-352],"id":"f4046eef-8eb1-4a66-b384-956d4361d623","name":"buscarDadosDeConfiguracaoDoAgente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"organizacoes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[464,-144],"id":"92757868-ef77-4491-b27b-7c134fc96d2c","name":"buscarDadosDaOrganizacao","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"assignments":{"assignments":[{"id":"c79bc7d2-3ef4-408a-b689-e407f3f3e962","name":"DadosWorkflow","value":"={{ $('organizarPayloadDadosWorkflow').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,144],"id":"39aa3cf9-969f-4461-a92c-a26790cef0fd","name":"normalizarDados"},{"parameters":{"operation":"getAll","tableId":"instancias_whatsapp","returnAll":true,"filters":{"conditions":[{"keyName":"nome_instancia","condition":"eq","keyValue":"={{ $json.nome_instancia }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,-48],"id":"5364337d-ce72-44fe-9195-2d8b265085ef","name":"filtrarDadosDasInstanciasDeWhatsapp","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":6,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1040,96],"id":"b6a33fe4-a2ba-4ff2-9c60-8dd99c146116","name":"organizarPayloadDadosWorkflow"},{"parameters":{"operation":"getAll","tableId":"configuracoes_globais","limit":1},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,496],"id":"b921e8f2-8a11-4833-93ca-4184becdab15","name":"buscaConfigsGlobais","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}}],"connections":{"executarFluxo":{"main":[[{"node":"filtrarDadosDasInstanciasDeWhatsapp","type":"main","index":0},{"node":"organizarPayloadDadosWorkflow","type":"main","index":2},{"node":"buscaConfigsGlobais","type":"main","index":0}]]},"buscarDadosDosClientes":{"main":[[{"node":"verificarTelefoneCliente","type":"main","index":0}]]},"verificarTelefoneCliente":{"main":[[{"node":"organizarPayloadDadosWorkflow","type":"main","index":4}]]},"buscarDadosDeConfiguracaoDoAgente":{"main":[[{"node":"organizarPayloadDadosWorkflow","type":"main","index":0}]]},"buscarDadosDaOrganizacao":{"main":[[{"node":"organizarPayloadDadosWorkflow","type":"main","index":1}]]},"filtrarDadosDasInstanciasDeWhatsapp":{"main":[[{"node":"buscarDadosDeConfiguracaoDoAgente","type":"main","index":0},{"node":"buscarDadosDaOrganizacao","type":"main","index":0},{"node":"buscarDadosDosClientes","type":"main","index":0},{"node":"organizarPayloadDadosWorkflow","type":"main","index":3}]]},"organizarPayloadDadosWorkflow":{"main":[[{"node":"normalizarDados","type":"main","index":0}]]},"buscaConfigsGlobais":{"main":[[{"node":"organizarPayloadDadosWorkflow","type":"main","index":5}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"versionId":"56b201c0-30e2-40c7-a0a0-342ed9276c16","activeVersionId":"56b201c0-30e2-40c7-a0a0-342ed9276c16","triggerCount":0,"shared":[{"updatedAt":"2026-03-04T02:29:23.481Z","createdAt":"2026-03-04T02:29:23.481Z","role":"workflow:owner","workflowId":"8tEbjIp7OAnIRpby","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T16:36:44.625Z","createdAt":"2026-03-04T16:36:41.050Z","versionId":"56b201c0-30e2-40c7-a0a0-342ed9276c16","workflowId":"8tEbjIp7OAnIRpby","nodes":[{"parameters":{"content":"## Busca informações do Banco de Dados\nCarrega informações que vão ser utilizadas no workflow","height":1088,"width":1776,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,-400],"id":"952763c0-0ddf-4c92-98a4-667cdb9bf236","name":"Sticky Note4"},{"parameters":{"workflowInputs":{"values":[{"name":"nome_instancia"},{"name":"chat_id"},{"name":"mensagem"},{"name":"remote_J_id"},{"name":"id_mensagem"},{"name":"media_url"},{"name":"tipo_mensagem"},{"name":"owner"},{"name":"from_me","type":"boolean"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,144],"id":"d27c8d6d-e2e4-41be-a0f8-5e3d33b95ab5","name":"executarFluxo"},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[464,272],"id":"f4737809-de56-4108-a4ff-ab7790c5805e","name":"buscarDadosDosClientes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7faaec8-4a7d-43db-89ae-197c29f31c23","leftValue":"={{ $json.telefone }}","rightValue":"={{ $('executarFluxo').item.json.chat_id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[704,272],"id":"f1dbb8ba-1ca0-439d-a7d6-b7dc8f0be4c3","name":"verificarTelefoneCliente","alwaysOutputData":true},{"parameters":{"operation":"get","tableId":"config_agente_ia","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $('filtrarDadosDasInstanciasDeWhatsapp').item.json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[464,-352],"id":"f4046eef-8eb1-4a66-b384-956d4361d623","name":"buscarDadosDeConfiguracaoDoAgente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"organizacoes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[464,-144],"id":"92757868-ef77-4491-b27b-7c134fc96d2c","name":"buscarDadosDaOrganizacao","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"assignments":{"assignments":[{"id":"c79bc7d2-3ef4-408a-b689-e407f3f3e962","name":"DadosWorkflow","value":"={{ $('organizarPayloadDadosWorkflow').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,144],"id":"39aa3cf9-969f-4461-a92c-a26790cef0fd","name":"normalizarDados"},{"parameters":{"operation":"getAll","tableId":"instancias_whatsapp","returnAll":true,"filters":{"conditions":[{"keyName":"nome_instancia","condition":"eq","keyValue":"={{ $json.nome_instancia }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,-48],"id":"5364337d-ce72-44fe-9195-2d8b265085ef","name":"filtrarDadosDasInstanciasDeWhatsapp","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":6,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1040,96],"id":"b6a33fe4-a2ba-4ff2-9c60-8dd99c146116","name":"organizarPayloadDadosWorkflow"},{"parameters":{"operation":"getAll","tableId":"configuracoes_globais","limit":1},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,496],"id":"b921e8f2-8a11-4833-93ca-4184becdab15","name":"buscaConfigsGlobais","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}}],"connections":{"executarFluxo":{"main":[[{"node":"filtrarDadosDasInstanciasDeWhatsapp","type":"main","index":0},{"node":"organizarPayloadDadosWorkflow","type":"main","index":2},{"node":"buscaConfigsGlobais","type":"main","index":0}]]},"buscarDadosDosClientes":{"main":[[{"node":"verificarTelefoneCliente","type":"main","index":0}]]},"verificarTelefoneCliente":{"main":[[{"node":"organizarPayloadDadosWorkflow","type":"main","index":4}]]},"buscarDadosDeConfiguracaoDoAgente":{"main":[[{"node":"organizarPayloadDadosWorkflow","type":"main","index":0}]]},"buscarDadosDaOrganizacao":{"main":[[{"node":"organizarPayloadDadosWorkflow","type":"main","index":1}]]},"filtrarDadosDasInstanciasDeWhatsapp":{"main":[[{"node":"buscarDadosDeConfiguracaoDoAgente","type":"main","index":0},{"node":"buscarDadosDaOrganizacao","type":"main","index":0},{"node":"buscarDadosDosClientes","type":"main","index":0},{"node":"organizarPayloadDadosWorkflow","type":"main","index":3}]]},"organizarPayloadDadosWorkflow":{"main":[[{"node":"normalizarDados","type":"main","index":0}]]},"buscaConfigsGlobais":{"main":[[{"node":"organizarPayloadDadosWorkflow","type":"main","index":5}]]}},"authors":"Ricardo Neves","name":"Version 4","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}