n8n/sub-workflows-atend/calcularERegistrarTokens.json
{"updatedAt":"2026-03-04T22:33:07.891Z","createdAt":"2026-01-08T01:34:00.473Z","id":"0eEfoRSnYdzVajZ5","name":"calcularERegistrarTokens","active":true,"isArchived":false,"nodes":[{"parameters":{"tableId":"uso_tokens","fieldsUi":{"fieldValues":[{"fieldId":"id_organizacao","fieldValue":"={{ $('executarFluxo').item.json.id_organizacao }}"},{"fieldId":"total_tokens","fieldValue":"={{ $json.total_tokens }}"},{"fieldId":"custo_reais","fieldValue":"={{ $json.custo_brl }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,352],"id":"86b32977-10c3-4fae-a6b0-5e822a54aa25","name":"Grava Custo de Tokens","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"content":"## Fluxo para gravar os custos de tokens por organizacao","height":512,"width":1152,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,64],"id":"d4a992da-06bb-424b-8544-a3121a824956","name":"Sticky Note"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","width":464,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-288,144],"typeVersion":1,"id":"9d15ab93-67ae-4751-a74b-886beb3a8907","name":"Sticky Note29"},{"parameters":{"workflowInputs":{"values":[{"name":"id_organizacao"},{"name":"input"},{"name":"output"},{"name":"llmModel"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"executarFluxo","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-144,352]},{"parameters":{"operation":"get","tableId":"model_costs","filters":{"conditions":[{"keyName":"llm_model","keyValue":"={{ $json.llmModel }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[64,352],"id":"f0587b1b-9121-458e-80bf-4a8d6a0f20e6","name":"buscarCustosDoModelo","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"// Pega input e output\nconst input = $('executarFluxo').first().json.input;\nconst output = $('executarFluxo').first().json.output;\nconst llmModel = $('executarFluxo').first().json.llmModel;\n\n\n// Estima tokens (1.5 tokens por palavra em português)\nconst estimateTokens = (text) => {\n  if (!text) return 0;\n  const words = text.split(/\\s+/).length;\n  return Math.ceil(words * 1.5);\n};\n\nconst inputTokens = estimateTokens(input);\nconst outputTokens = estimateTokens(output);\nconst totalTokens = inputTokens + outputTokens;\n\n// Preços GPT-4o (por 1M tokens)\nconst precoInput = $input.first().json.input_price;   // $2.50 por 1M input\nconst precoOutput = $input.first().json.output_price; // $10.00 por 1M output\n\n// Cotação dólar\nconst dolar = $input.first().json.dolar;\n\n// Calcula custo\nconst custoUSD = ((inputTokens / 1_000_000) * precoInput) + ((outputTokens / 1_000_000) * precoOutput);\nconst custoBRL = custoUSD * dolar;\n\nreturn {\n  output: output,\n  input_tokens: inputTokens,\n  output_tokens: outputTokens,\n  total_tokens: totalTokens,\n  model: llmModel,\n  custo_usd: Number(custoUSD.toFixed(8)),\n  custo_brl: Number(custoBRL.toFixed(6))\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,352],"id":"ade28628-065d-41fa-ad44-46cb8ab5face","name":"estimarTokens"}],"connections":{"executarFluxo":{"main":[[{"node":"buscarCustosDoModelo","type":"main","index":0}]]},"buscarCustosDoModelo":{"main":[[{"node":"estimarTokens","type":"main","index":0}]]},"estimarTokens":{"main":[[{"node":"Grava Custo de Tokens","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"a718e01c-6167-4fbf-88b8-4aecf1863a97","activeVersionId":"a718e01c-6167-4fbf-88b8-4aecf1863a97","triggerCount":0,"shared":[{"updatedAt":"2026-01-08T01:34:00.473Z","createdAt":"2026-01-08T01:34:00.473Z","role":"workflow:owner","workflowId":"0eEfoRSnYdzVajZ5","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T14:37:50.170Z","createdAt":"2026-03-04T14:37:44.744Z","versionId":"a718e01c-6167-4fbf-88b8-4aecf1863a97","workflowId":"0eEfoRSnYdzVajZ5","nodes":[{"parameters":{"tableId":"uso_tokens","fieldsUi":{"fieldValues":[{"fieldId":"id_organizacao","fieldValue":"={{ $('executarFluxo').item.json.id_organizacao }}"},{"fieldId":"total_tokens","fieldValue":"={{ $json.total_tokens }}"},{"fieldId":"custo_reais","fieldValue":"={{ $json.custo_brl }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,352],"id":"86b32977-10c3-4fae-a6b0-5e822a54aa25","name":"Grava Custo de Tokens","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"content":"## Fluxo para gravar os custos de tokens por organizacao","height":512,"width":1152,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,64],"id":"d4a992da-06bb-424b-8544-a3121a824956","name":"Sticky Note"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","width":464,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-288,144],"typeVersion":1,"id":"9d15ab93-67ae-4751-a74b-886beb3a8907","name":"Sticky Note29"},{"parameters":{"workflowInputs":{"values":[{"name":"id_organizacao"},{"name":"input"},{"name":"output"},{"name":"llmModel"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"executarFluxo","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-144,352]},{"parameters":{"operation":"get","tableId":"model_costs","filters":{"conditions":[{"keyName":"llm_model","keyValue":"={{ $json.llmModel }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[64,352],"id":"f0587b1b-9121-458e-80bf-4a8d6a0f20e6","name":"buscarCustosDoModelo","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"// Pega input e output\nconst input = $('executarFluxo').first().json.input;\nconst output = $('executarFluxo').first().json.output;\nconst llmModel = $('executarFluxo').first().json.llmModel;\n\n\n// Estima tokens (1.5 tokens por palavra em português)\nconst estimateTokens = (text) => {\n  if (!text) return 0;\n  const words = text.split(/\\s+/).length;\n  return Math.ceil(words * 1.5);\n};\n\nconst inputTokens = estimateTokens(input);\nconst outputTokens = estimateTokens(output);\nconst totalTokens = inputTokens + outputTokens;\n\n// Preços GPT-4o (por 1M tokens)\nconst precoInput = $input.first().json.input_price;   // $2.50 por 1M input\nconst precoOutput = $input.first().json.output_price; // $10.00 por 1M output\n\n// Cotação dólar\nconst dolar = $input.first().json.dolar;\n\n// Calcula custo\nconst custoUSD = ((inputTokens / 1_000_000) * precoInput) + ((outputTokens / 1_000_000) * precoOutput);\nconst custoBRL = custoUSD * dolar;\n\nreturn {\n  output: output,\n  input_tokens: inputTokens,\n  output_tokens: outputTokens,\n  total_tokens: totalTokens,\n  model: llmModel,\n  custo_usd: Number(custoUSD.toFixed(8)),\n  custo_brl: Number(custoBRL.toFixed(6))\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,352],"id":"ade28628-065d-41fa-ad44-46cb8ab5face","name":"estimarTokens"}],"connections":{"executarFluxo":{"main":[[{"node":"buscarCustosDoModelo","type":"main","index":0}]]},"buscarCustosDoModelo":{"main":[[{"node":"estimarTokens","type":"main","index":0}]]},"estimarTokens":{"main":[[{"node":"Grava Custo de Tokens","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 2","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}