n8n/sub-workflows-atend/classificarMensagem.json
{"updatedAt":"2026-03-10T00:47:02.050Z","createdAt":"2026-01-05T19:40:53.693Z","id":"8K_F60hSD9s_JYmvQRyPe","name":"classificarMensagem","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('executarWorfklow').item.json.funcao }}","rightValue":"ativado","operator":{"type":"string","operation":"equals"},"id":"9f0639a5-0b9c-4010-a878-311b8e95d9c8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Agente Ligado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a91b818d-484a-4417-9a89-6a404d105176","leftValue":"={{ $('executarWorfklow').item.json.funcao }}","rightValue":"desativado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agente Desligado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e74c7e4c-aa79-4fd1-a558-e18d3fc8b55c","leftValue":"={{ $('executarWorfklow').item.json.funcao }}","rightValue":"parar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensagem do Atendente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,272],"id":"9f0ffec6-f368-46c3-a25f-c11a76086fb0","name":"Classificar Função"},{"parameters":{"assignments":{"assignments":[{"id":"a8ca7cdb-fc72-440d-91f0-da805b76f53d","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"7cf9980b-76bd-46be-bd4e-042f1a6a5fd0","name":"url_arquivo","value":"={{ $json.url_arquivo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,288],"id":"8c34d979-3fc7-4f61-8e5d-a14e947093b9","name":"Mensagem"},{"parameters":{"content":"## Verifica se o cliente existe e grava na base ","height":496,"width":1648},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3248,160],"id":"e8efb680-883d-4e8e-91d8-d807bda4f8fa","name":"Sticky Note"},{"parameters":{"content":"## Trata os diferentes tipos de entrada - Texto, imagem, documento ou audio","height":784,"width":1488,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1584,-32],"id":"161f38e5-597f-4156-8cfb-2de3455c890e","name":"Sticky Note1"},{"parameters":{"content":"## Gera dados para gravar histórico do chat","height":896,"width":1216,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,-32],"id":"9ad047e1-267f-466a-8203-8d6eb63692f3","name":"Sticky Note2"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3232,-192],"typeVersion":1,"id":"5e0f9a57-3ebb-4b1c-af39-d522c05642d6","name":"Sticky Note29"},{"parameters":{"workflowInputs":{"values":[{"name":"from_me","type":"boolean"},{"name":"mensagem"},{"name":"tipo_mensagem"},{"name":"funcao"},{"name":"id_mensagem"},{"name":"remote_J_id"},{"name":"empresa"},{"name":"token"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3184,352],"id":"16f6ae32-50c0-4d04-9fc3-7a5e10355da5","name":"executarWorfklow"},{"parameters":{"operation":"getAll","tableId":"instancias_whatsapp","returnAll":true,"filters":{"conditions":[{"keyName":"nome_instancia","condition":"eq","keyValue":"={{ $json.empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2976,352],"id":"1f8adb42-8c4a-4678-9d47-240d65e50891","name":"buscarInstancia","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $json.id_organizacao }}"},{"keyName":"telefone","keyValue":"={{ $('executarWorfklow').item.json.remote_J_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2784,352],"id":"9479bf8c-6ec2-4460-b63f-b4fd7ef8d3a3","name":"buscarCliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da396d94-2dcc-4573-8bc3-00eced798dd2","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2592,352],"id":"4d36ac6b-6a6b-4870-9324-ccd51ddb3ef5","name":"verificarSeEncontrou"},{"parameters":{"action":"generate","dataPropertyName":"id"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-2320,416],"id":"27defe4c-a043-46cf-be2d-5d0665638acd","name":"gerarUUID"},{"parameters":{"tableId":"contatos","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ $json.id }}"},{"fieldId":"telefone","fieldValue":"={{ $('executarWorfklow').item.json.remote_J_id }}"},{"fieldId":"id_organizacao","fieldValue":"={{ $('buscarInstancia').item.json.id_organizacao }}"},{"fieldId":"situacao","fieldValue":"ativo"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2128,416],"id":"3ed1c9f9-5fd3-46e2-8d50-9e6e9f4df516","name":"inserirCliente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1776,352],"id":"b520a783-e6ac-4082-8045-0d9107c2be87","name":"juntarInfos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('executarWorfklow').item.json.tipo_mensagem }}","rightValue":"ImageMessage","operator":{"type":"string","operation":"equals"},"id":"bbbc99f3-e953-49cd-99d7-cbe9baea5e96"}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f4f590c-e6ae-45a0-ab63-1e5e1cdd8a9d","leftValue":"={{ $('executarWorfklow').item.json.tipo_mensagem }}","rightValue":"DocumentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Documento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6fa78419-2bc5-427b-b3b6-ac3905cd0ac4","leftValue":"={{ $('executarWorfklow').item.json.tipo_mensagem }}","rightValue":"AudioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05217947-2587-4af1-97bb-a017ecceeba3","leftValue":"={{ $('executarWorfklow').item.json.tipo_mensagem }}","rightValue":"=ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3796d31a-c6c7-457d-b847-29a908eab12d","leftValue":"={{ $('executarWorfklow').item.json.tipo_mensagem }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1552,304],"id":"b06fccde-81c5-4a3f-ae80-43cf6737aab7","name":"rotearTipoMensagem"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarWorfklow').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('executarWorfklow').item.json.id_mensagem }}"},{"name":"return_base64","value":"false"},{"name":"return_link","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1296,32],"id":"88d634af-2d0c-479f-8b4b-3cd2d0ee2016","name":"obterLinkDaImagem"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarWorfklow').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('executarWorfklow').item.json.id_mensagem }}"},{"name":"return_base64","value":"false"},{"name":"return_link","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1296,208],"id":"13adb333-1f91-4ea3-9fe8-7be55a33982d","name":"obterLinkDocumento"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarWorfklow').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('executarWorfklow').item.json.id_mensagem }}"},{"name":"return_base64","value":"true"},{"name":"return_link","value":"true"},{"name":"generate_mp3","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1296,384],"id":"cde13ffa-0765-4768-8017-bed3fc881a55","name":"obterBASE64Audio"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1296,560],"id":"d11e1413-6478-4c7a-aaee-a83742b12701","name":"byPass"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"={{$json.prompt_imagem}}","imageUrls":"={{ $json.url_arquivo }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-880,32],"id":"95da7507-9f35-412d-9758-6dc9353debbb","name":"analisarImagem","credentials":{"openAiApi":{"id":"TNvVwiRTTnV3NVM1","name":"OpenAi"}}},{"parameters":{"assignments":{"assignments":[{"id":"4a91631a-7ebb-4385-93a4-0cdef5e9e292","name":"prompt_imagem","value":"=O que tem nessa imagem? Seja conciso na resposta trazendo apenas as informações relevantes.\nSe a imagem possuir textos escreva extamente o questá na imagem.","type":"string"},{"id":"22c8dafd-24ef-4b7b-872e-05616ea81355","name":"url_arquivo","value":"={{ $json.fileURL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,32],"id":"74497f0d-c8b5-4e3b-9afe-18e4929509df","name":"setarPromptImagem"},{"parameters":{"assignments":{"assignments":[{"id":"4a91631a-7ebb-4385-93a4-0cdef5e9e292","name":"prompt_documento","value":"=O que tem nesse documento? Seja conciso na resposta trazendo apenas as informações relevantes.","type":"string"},{"id":"811fc277-f1cd-42a9-9f03-3f75a321b1e0","name":"url_documento","value":"={{ $json.fileURL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,208],"id":"a509b723-692a-4f3a-b9a3-8b74a8f7ae2c","name":"setarPromptDocumento"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"text":"={{$json.prompt_documento}}","documentUrls":"={{ $json.url_documento }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-880,208],"id":"0c353986-bf98-43ac-8295-7cfeff219a7f","name":"analisarConteudoDocumento","credentials":{"googlePalmApi":{"id":"bTQOnTrVMBnnGFwR","name":"Google Gemini"}}},{"parameters":{"assignments":{"assignments":[{"id":"cb17da64-d70b-469f-b06c-40108ebff9b5","name":"base64","value":"={{ $json.base64Data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,384],"id":"ba339893-3b58-4b52-8591-093808b505e6","name":"setarBASE64"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-880,384],"id":"1765025e-77a8-4947-83fe-6c964badf516","name":"converterParaBinario"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3"},{"name":"prompt","value":"Converta o áudio em texto de forma clara e precisa."},{"name":"language","value":"pt"},{"name":"response_format","value":"verbose_json"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,384],"id":"876e8383-3aea-41e2-adee-a4517bd3d01e","name":"transcreverAudio","credentials":{"groqApi":{"id":"VdxcF8OM6REZMRxW","name":"Groq"}}},{"parameters":{"assignments":{"assignments":[{"id":"22c8dafd-24ef-4b7b-872e-05616ea81355","name":"llm_model","value":"=gpt-4o-mini","type":"string"},{"id":"8cf7813a-8b8c-495a-94ad-aa6a30ef23f1","name":"input","value":"","type":"string"},{"id":"49a28a15-b0d7-484a-b713-e1f1303534fc","name":"output","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,32],"id":"85ef55c1-af89-4b1e-84ac-93784e2b53ed","name":"setarModeloGPT"},{"parameters":{"assignments":{"assignments":[{"id":"22c8dafd-24ef-4b7b-872e-05616ea81355","name":"llm_model","value":"=gemini-2.5-pro","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,208],"id":"569eed40-cca7-4af9-b959-0b162353fff9","name":"setarModeloGemini"},{"parameters":{"assignments":{"assignments":[{"id":"a8ca7cdb-fc72-440d-91f0-da805b76f53d","name":"text","value":"=Imagem Recebida: {{ $json.content }}","type":"string"},{"id":"1935b6b8-3824-4aee-84f9-aa6bbb099174","name":"url_arquivo","value":"={{$('setarPromptImagem').item.json.url_imagem}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,32],"id":"cd9ddc70-8d0b-480a-8a62-f9059901e2d2","name":"setarMensagemImagem"},{"parameters":{"assignments":{"assignments":[{"id":"a8ca7cdb-fc72-440d-91f0-da805b76f53d","name":"text","value":"=Documento Recebido: {{ $json.content.parts[0].text }}","type":"string"},{"id":"dba4dc98-8bda-49e1-889a-ae13218725ee","name":"url_arquivo","value":"={{ $('setarPromptDocumento').item.json.url_arquivo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,208],"id":"2876832f-72be-41f7-9354-5ffba3a2cb59","name":"setarMensagemDocumento"},{"parameters":{"assignments":{"assignments":[{"id":"a8ca7cdb-fc72-440d-91f0-da805b76f53d","name":"text","value":"=Audio Recebido: {{ $json.text }}","type":"string"},{"id":"f8cd4a2d-5cd1-4b8b-b64b-196048b12e7a","name":"fileURL","value":"={{ $('obterBASE64Audio').item.json.fileURL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,384],"id":"04510551-84e6-4426-98d8-2cc4845ee86d","name":"setarMensagemAudio"},{"parameters":{"assignments":{"assignments":[{"id":"a8ca7cdb-fc72-440d-91f0-da805b76f53d","name":"text","value":"={{ $('executarWorfklow').item.json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,560],"id":"0b5d9614-c3da-468e-ba18-8211fec412c4","name":"setarMensagemTexto"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS public.{{ $('executarWorfklow').item.json.empresa.replace(/-/g, '_').toLowerCase() }}_conversas (\n  id SERIAL NOT NULL,\n  session_id VARCHAR(255) NOT NULL,\n  message JSONB NOT NULL,\n  data TIMESTAMP WITHOUT TIME ZONE DEFAULT now(),\n  CONSTRAINT {{ $('executarWorfklow').item.json.empresa.replace(/-/g, '_').toLowerCase() }}_conversas_pkey PRIMARY KEY (id)\n) TABLESPACE pg_default;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,80],"id":"a9acbf7a-ccfe-40df-88fa-3fad885fa5ea","name":"criarTabelaConversasPorEmpresa","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}},{"parameters":{"assignments":{"assignments":[{"id":"2bffaf43-8c76-450b-aa1c-f3d82f5a372d","name":"text","value":"={{ $('Classificar Função').last().json.text }}","type":"string"},{"id":"9e09db91-a5d3-4c7f-8561-89b730dcd4a3","name":"id_sessao","value":"={{ $('juntarInfos').last().json.id }}","type":"string"},{"id":"5df94ed5-2db7-486f-82e3-1cc6c0389bdd","name":"retorno","value":"agente","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,80],"id":"225fe9a3-2147-48ea-9b6e-0535d796f3d1","name":"retornaRecebimentoMensagem"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[496,704],"id":"df474dd1-0adf-4c8c-9fa5-a757636e9213","name":"Não faz nada"},{"parameters":{"jsCode":"// Recebe o payload, exemplo: [{ \"text\": \"oi\" }]\nconst items = $input.all();\n\n// Mapeia cada item mantendo a estrutura original\nreturn items.map(item => {\n  const textValue = item.json.text || \"\";\n\n  return {\n    json: {\n      type: \"human\",\n      content: textValue,\n      additional_kwargs: {},\n      response_metadata: {}\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,272],"id":"0414d0b3-cc44-4b16-8efd-97fad3ebda47","name":"criarMensagemDoHumano"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a6375ad-097a-432a-9da9-74ac6ea3ecac","leftValue":"={{ $('executarWorfklow').item.json.messageType }}","rightValue":"ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"661d1a2e-4b40-47bf-b21e-bc6b3a8885c5","leftValue":"={{ $('executarWorfklow').item.json.messageType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,288],"id":"e8803ed1-bdb0-4c91-9075-aec4757dc67f","name":"verificaSeEConversa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a6375ad-097a-432a-9da9-74ac6ea3ecac","leftValue":"={{ $('executarWorfklow').item.json.messageType }}","rightValue":"ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"000f5078-7917-4f7f-986e-7f90d28627af","leftValue":"={{ $('executarWorfklow').item.json.messageType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,512],"id":"37b40b00-a079-4341-ad53-cd9eedad369a","name":"VerificaSeTemMensagem"},{"parameters":{"jsCode":"// Recebe o payload, exemplo: [{ \"text\": \"oi\" }]\nconst items = $input.all();\n\n// Mapeia cada item mantendo a estrutura original\nreturn items.map(item => {\n  const textValue = item.json.text || \"\";\n\n  return {\n    json: {\n      type: \"ai\",\n      content: textValue,\n      tool_calls: [],\n      additional_kwargs: {},\n      response_metadata: {},\n      invalid_tool_calls: []\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,496],"id":"05504663-4b78-4800-8ef8-19c2f95019e0","name":"criarMensagemDaIA"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"={{ $('executarWorfklow').item.json.empresa.replace(/-/g, '_').toLowerCase() }}_conversas","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('juntarInfos').item.json.id }}","message":"={{ $json}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,496],"id":"6c98feea-33f8-4440-aba6-94f20323a63c","name":"salvarMensagemIA","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}},{"parameters":{"assignments":{"assignments":[{"id":"44f1e966-eaad-432f-b359-e629298eae99","name":"retorno","value":"humano","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,272],"id":"b83a28e9-f2a0-45af-9955-5efa0ac8cadf","name":"retornarStatusHumano"},{"parameters":{"assignments":{"assignments":[{"id":"484eb978-79c2-4df0-8fae-7bf182dfe264","name":"retorno","value":"IA","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,496],"id":"b76811f8-3e50-4797-8955-9c07a12beb99","name":"retornarStatusIA"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"={{ $('executarWorfklow').item.json.empresa.replace(/-/g, '_').toLowerCase() }}_conversas","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('juntarInfos').item.json.id }}","message":"={{ $json}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,272],"id":"bb5a31b9-65c3-4640-a490-819f417dc7ac","name":"salvarMensagemHumano","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}}],"connections":{"Classificar Função":{"main":[[{"node":"criarTabelaConversasPorEmpresa","type":"main","index":0}],[{"node":"verificaSeEConversa","type":"main","index":0}],[{"node":"VerificaSeTemMensagem","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Classificar Função","type":"main","index":0}]]},"executarWorfklow":{"main":[[{"node":"buscarInstancia","type":"main","index":0}]]},"buscarInstancia":{"main":[[{"node":"buscarCliente","type":"main","index":0}]]},"buscarCliente":{"main":[[{"node":"verificarSeEncontrou","type":"main","index":0}]]},"verificarSeEncontrou":{"main":[[{"node":"juntarInfos","type":"main","index":0}],[{"node":"gerarUUID","type":"main","index":0}]]},"gerarUUID":{"main":[[{"node":"inserirCliente","type":"main","index":0}]]},"inserirCliente":{"main":[[{"node":"juntarInfos","type":"main","index":1}]]},"juntarInfos":{"main":[[{"node":"rotearTipoMensagem","type":"main","index":0}]]},"rotearTipoMensagem":{"main":[[{"node":"obterLinkDaImagem","type":"main","index":0}],[{"node":"obterLinkDocumento","type":"main","index":0}],[{"node":"obterBASE64Audio","type":"main","index":0}],[{"node":"byPass","type":"main","index":0}],[{"node":"byPass","type":"main","index":0}]]},"obterLinkDaImagem":{"main":[[{"node":"setarPromptImagem","type":"main","index":0}]]},"obterLinkDocumento":{"main":[[{"node":"setarPromptDocumento","type":"main","index":0}]]},"obterBASE64Audio":{"main":[[{"node":"setarBASE64","type":"main","index":0}]]},"byPass":{"main":[[{"node":"setarMensagemTexto","type":"main","index":0}]]},"analisarImagem":{"main":[[{"node":"setarModeloGPT","type":"main","index":0}]]},"setarPromptImagem":{"main":[[{"node":"analisarImagem","type":"main","index":0}]]},"setarPromptDocumento":{"main":[[{"node":"analisarConteudoDocumento","type":"main","index":0}]]},"analisarConteudoDocumento":{"main":[[{"node":"setarModeloGemini","type":"main","index":0}]]},"setarBASE64":{"main":[[{"node":"converterParaBinario","type":"main","index":0}]]},"converterParaBinario":{"main":[[{"node":"transcreverAudio","type":"main","index":0}]]},"transcreverAudio":{"main":[[{"node":"setarMensagemAudio","type":"main","index":0}]]},"setarModeloGPT":{"main":[[{"node":"setarMensagemImagem","type":"main","index":0}]]},"setarModeloGemini":{"main":[[{"node":"setarMensagemDocumento","type":"main","index":0}]]},"setarMensagemImagem":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"setarMensagemDocumento":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"setarMensagemAudio":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"setarMensagemTexto":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"criarTabelaConversasPorEmpresa":{"main":[[{"node":"retornaRecebimentoMensagem","type":"main","index":0}]]},"criarMensagemDoHumano":{"main":[[{"node":"salvarMensagemHumano","type":"main","index":0}]]},"verificaSeEConversa":{"main":[[{"node":"criarMensagemDoHumano","type":"main","index":0}],[{"node":"Não faz nada","type":"main","index":0}]]},"VerificaSeTemMensagem":{"main":[[{"node":"criarMensagemDaIA","type":"main","index":0}],[{"node":"Não faz nada","type":"main","index":0}]]},"criarMensagemDaIA":{"main":[[{"node":"salvarMensagemIA","type":"main","index":0}]]},"salvarMensagemIA":{"main":[[{"node":"retornarStatusIA","type":"main","index":0}]]},"salvarMensagemHumano":{"main":[[{"node":"retornarStatusHumano","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"caf13a0e-9a43-40b8-a9d4-b23d23d9c839","activeVersionId":"caf13a0e-9a43-40b8-a9d4-b23d23d9c839","triggerCount":0,"shared":[{"updatedAt":"2026-01-05T19:40:53.693Z","createdAt":"2026-01-05T19:40:53.693Z","role":"workflow:owner","workflowId":"8K_F60hSD9s_JYmvQRyPe","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-10T00:47:04.642Z","createdAt":"2026-03-10T00:47:02.051Z","versionId":"caf13a0e-9a43-40b8-a9d4-b23d23d9c839","workflowId":"8K_F60hSD9s_JYmvQRyPe","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('executarWorfklow').item.json.funcao }}","rightValue":"ativado","operator":{"type":"string","operation":"equals"},"id":"9f0639a5-0b9c-4010-a878-311b8e95d9c8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Agente Ligado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a91b818d-484a-4417-9a89-6a404d105176","leftValue":"={{ $('executarWorfklow').item.json.funcao }}","rightValue":"desativado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agente Desligado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e74c7e4c-aa79-4fd1-a558-e18d3fc8b55c","leftValue":"={{ $('executarWorfklow').item.json.funcao }}","rightValue":"parar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensagem do Atendente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,272],"id":"9f0ffec6-f368-46c3-a25f-c11a76086fb0","name":"Classificar Função"},{"parameters":{"assignments":{"assignments":[{"id":"a8ca7cdb-fc72-440d-91f0-da805b76f53d","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"7cf9980b-76bd-46be-bd4e-042f1a6a5fd0","name":"url_arquivo","value":"={{ $json.url_arquivo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,288],"id":"8c34d979-3fc7-4f61-8e5d-a14e947093b9","name":"Mensagem"},{"parameters":{"content":"## Verifica se o cliente existe e grava na base ","height":496,"width":1648},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3248,160],"id":"e8efb680-883d-4e8e-91d8-d807bda4f8fa","name":"Sticky Note"},{"parameters":{"content":"## Trata os diferentes tipos de entrada - Texto, imagem, documento ou audio","height":784,"width":1488,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1584,-32],"id":"161f38e5-597f-4156-8cfb-2de3455c890e","name":"Sticky Note1"},{"parameters":{"content":"## Gera dados para gravar histórico do chat","height":896,"width":1216,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,-32],"id":"9ad047e1-267f-466a-8203-8d6eb63692f3","name":"Sticky Note2"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3232,-192],"typeVersion":1,"id":"5e0f9a57-3ebb-4b1c-af39-d522c05642d6","name":"Sticky Note29"},{"parameters":{"workflowInputs":{"values":[{"name":"from_me","type":"boolean"},{"name":"mensagem"},{"name":"tipo_mensagem"},{"name":"funcao"},{"name":"id_mensagem"},{"name":"remote_J_id"},{"name":"empresa"},{"name":"token"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3184,352],"id":"16f6ae32-50c0-4d04-9fc3-7a5e10355da5","name":"executarWorfklow"},{"parameters":{"operation":"getAll","tableId":"instancias_whatsapp","returnAll":true,"filters":{"conditions":[{"keyName":"nome_instancia","condition":"eq","keyValue":"={{ $json.empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2976,352],"id":"1f8adb42-8c4a-4678-9d47-240d65e50891","name":"buscarInstancia","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"id_organizacao","keyValue":"={{ $json.id_organizacao }}"},{"keyName":"telefone","keyValue":"={{ $('executarWorfklow').item.json.remote_J_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2784,352],"id":"9479bf8c-6ec2-4460-b63f-b4fd7ef8d3a3","name":"buscarCliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da396d94-2dcc-4573-8bc3-00eced798dd2","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2592,352],"id":"4d36ac6b-6a6b-4870-9324-ccd51ddb3ef5","name":"verificarSeEncontrou"},{"parameters":{"action":"generate","dataPropertyName":"id"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-2320,416],"id":"27defe4c-a043-46cf-be2d-5d0665638acd","name":"gerarUUID"},{"parameters":{"tableId":"contatos","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ $json.id }}"},{"fieldId":"telefone","fieldValue":"={{ $('executarWorfklow').item.json.remote_J_id }}"},{"fieldId":"id_organizacao","fieldValue":"={{ $('buscarInstancia').item.json.id_organizacao }}"},{"fieldId":"situacao","fieldValue":"ativo"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2128,416],"id":"3ed1c9f9-5fd3-46e2-8d50-9e6e9f4df516","name":"inserirCliente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1776,352],"id":"b520a783-e6ac-4082-8045-0d9107c2be87","name":"juntarInfos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('executarWorfklow').item.json.tipo_mensagem }}","rightValue":"ImageMessage","operator":{"type":"string","operation":"equals"},"id":"bbbc99f3-e953-49cd-99d7-cbe9baea5e96"}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f4f590c-e6ae-45a0-ab63-1e5e1cdd8a9d","leftValue":"={{ $('executarWorfklow').item.json.tipo_mensagem }}","rightValue":"DocumentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Documento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6fa78419-2bc5-427b-b3b6-ac3905cd0ac4","leftValue":"={{ $('executarWorfklow').item.json.tipo_mensagem }}","rightValue":"AudioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05217947-2587-4af1-97bb-a017ecceeba3","leftValue":"={{ $('executarWorfklow').item.json.tipo_mensagem }}","rightValue":"=ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3796d31a-c6c7-457d-b847-29a908eab12d","leftValue":"={{ $('executarWorfklow').item.json.tipo_mensagem }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1552,304],"id":"b06fccde-81c5-4a3f-ae80-43cf6737aab7","name":"rotearTipoMensagem"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarWorfklow').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('executarWorfklow').item.json.id_mensagem }}"},{"name":"return_base64","value":"false"},{"name":"return_link","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1296,32],"id":"88d634af-2d0c-479f-8b4b-3cd2d0ee2016","name":"obterLinkDaImagem"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarWorfklow').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('executarWorfklow').item.json.id_mensagem }}"},{"name":"return_base64","value":"false"},{"name":"return_link","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1296,208],"id":"13adb333-1f91-4ea3-9fe8-7be55a33982d","name":"obterLinkDocumento"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarWorfklow').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('executarWorfklow').item.json.id_mensagem }}"},{"name":"return_base64","value":"true"},{"name":"return_link","value":"true"},{"name":"generate_mp3","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1296,384],"id":"cde13ffa-0765-4768-8017-bed3fc881a55","name":"obterBASE64Audio"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1296,560],"id":"d11e1413-6478-4c7a-aaee-a83742b12701","name":"byPass"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"={{$json.prompt_imagem}}","imageUrls":"={{ $json.url_arquivo }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-880,32],"id":"95da7507-9f35-412d-9758-6dc9353debbb","name":"analisarImagem","credentials":{"openAiApi":{"id":"TNvVwiRTTnV3NVM1","name":"OpenAi"}}},{"parameters":{"assignments":{"assignments":[{"id":"4a91631a-7ebb-4385-93a4-0cdef5e9e292","name":"prompt_imagem","value":"=O que tem nessa imagem? Seja conciso na resposta trazendo apenas as informações relevantes.\nSe a imagem possuir textos escreva extamente o questá na imagem.","type":"string"},{"id":"22c8dafd-24ef-4b7b-872e-05616ea81355","name":"url_arquivo","value":"={{ $json.fileURL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,32],"id":"74497f0d-c8b5-4e3b-9afe-18e4929509df","name":"setarPromptImagem"},{"parameters":{"assignments":{"assignments":[{"id":"4a91631a-7ebb-4385-93a4-0cdef5e9e292","name":"prompt_documento","value":"=O que tem nesse documento? Seja conciso na resposta trazendo apenas as informações relevantes.","type":"string"},{"id":"811fc277-f1cd-42a9-9f03-3f75a321b1e0","name":"url_documento","value":"={{ $json.fileURL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,208],"id":"a509b723-692a-4f3a-b9a3-8b74a8f7ae2c","name":"setarPromptDocumento"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"text":"={{$json.prompt_documento}}","documentUrls":"={{ $json.url_documento }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-880,208],"id":"0c353986-bf98-43ac-8295-7cfeff219a7f","name":"analisarConteudoDocumento","credentials":{"googlePalmApi":{"id":"bTQOnTrVMBnnGFwR","name":"Google Gemini"}}},{"parameters":{"assignments":{"assignments":[{"id":"cb17da64-d70b-469f-b06c-40108ebff9b5","name":"base64","value":"={{ $json.base64Data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,384],"id":"ba339893-3b58-4b52-8591-093808b505e6","name":"setarBASE64"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-880,384],"id":"1765025e-77a8-4947-83fe-6c964badf516","name":"converterParaBinario"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3"},{"name":"prompt","value":"Converta o áudio em texto de forma clara e precisa."},{"name":"language","value":"pt"},{"name":"response_format","value":"verbose_json"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,384],"id":"876e8383-3aea-41e2-adee-a4517bd3d01e","name":"transcreverAudio","credentials":{"groqApi":{"id":"VdxcF8OM6REZMRxW","name":"Groq"}}},{"parameters":{"assignments":{"assignments":[{"id":"22c8dafd-24ef-4b7b-872e-05616ea81355","name":"llm_model","value":"=gpt-4o-mini","type":"string"},{"id":"8cf7813a-8b8c-495a-94ad-aa6a30ef23f1","name":"input","value":"","type":"string"},{"id":"49a28a15-b0d7-484a-b713-e1f1303534fc","name":"output","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,32],"id":"85ef55c1-af89-4b1e-84ac-93784e2b53ed","name":"setarModeloGPT"},{"parameters":{"assignments":{"assignments":[{"id":"22c8dafd-24ef-4b7b-872e-05616ea81355","name":"llm_model","value":"=gemini-2.5-pro","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,208],"id":"569eed40-cca7-4af9-b959-0b162353fff9","name":"setarModeloGemini"},{"parameters":{"assignments":{"assignments":[{"id":"a8ca7cdb-fc72-440d-91f0-da805b76f53d","name":"text","value":"=Imagem Recebida: {{ $json.content }}","type":"string"},{"id":"1935b6b8-3824-4aee-84f9-aa6bbb099174","name":"url_arquivo","value":"={{$('setarPromptImagem').item.json.url_imagem}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,32],"id":"cd9ddc70-8d0b-480a-8a62-f9059901e2d2","name":"setarMensagemImagem"},{"parameters":{"assignments":{"assignments":[{"id":"a8ca7cdb-fc72-440d-91f0-da805b76f53d","name":"text","value":"=Documento Recebido: {{ $json.content.parts[0].text }}","type":"string"},{"id":"dba4dc98-8bda-49e1-889a-ae13218725ee","name":"url_arquivo","value":"={{ $('setarPromptDocumento').item.json.url_arquivo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,208],"id":"2876832f-72be-41f7-9354-5ffba3a2cb59","name":"setarMensagemDocumento"},{"parameters":{"assignments":{"assignments":[{"id":"a8ca7cdb-fc72-440d-91f0-da805b76f53d","name":"text","value":"=Audio Recebido: {{ $json.text }}","type":"string"},{"id":"f8cd4a2d-5cd1-4b8b-b64b-196048b12e7a","name":"fileURL","value":"={{ $('obterBASE64Audio').item.json.fileURL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,384],"id":"04510551-84e6-4426-98d8-2cc4845ee86d","name":"setarMensagemAudio"},{"parameters":{"assignments":{"assignments":[{"id":"a8ca7cdb-fc72-440d-91f0-da805b76f53d","name":"text","value":"={{ $('executarWorfklow').item.json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,560],"id":"0b5d9614-c3da-468e-ba18-8211fec412c4","name":"setarMensagemTexto"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS public.{{ $('executarWorfklow').item.json.empresa.replace(/-/g, '_').toLowerCase() }}_conversas (\n  id SERIAL NOT NULL,\n  session_id VARCHAR(255) NOT NULL,\n  message JSONB NOT NULL,\n  data TIMESTAMP WITHOUT TIME ZONE DEFAULT now(),\n  CONSTRAINT {{ $('executarWorfklow').item.json.empresa.replace(/-/g, '_').toLowerCase() }}_conversas_pkey PRIMARY KEY (id)\n) TABLESPACE pg_default;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,80],"id":"a9acbf7a-ccfe-40df-88fa-3fad885fa5ea","name":"criarTabelaConversasPorEmpresa","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}},{"parameters":{"assignments":{"assignments":[{"id":"2bffaf43-8c76-450b-aa1c-f3d82f5a372d","name":"text","value":"={{ $('Classificar Função').last().json.text }}","type":"string"},{"id":"9e09db91-a5d3-4c7f-8561-89b730dcd4a3","name":"id_sessao","value":"={{ $('juntarInfos').last().json.id }}","type":"string"},{"id":"5df94ed5-2db7-486f-82e3-1cc6c0389bdd","name":"retorno","value":"agente","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,80],"id":"225fe9a3-2147-48ea-9b6e-0535d796f3d1","name":"retornaRecebimentoMensagem"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[496,704],"id":"df474dd1-0adf-4c8c-9fa5-a757636e9213","name":"Não faz nada"},{"parameters":{"jsCode":"// Recebe o payload, exemplo: [{ \"text\": \"oi\" }]\nconst items = $input.all();\n\n// Mapeia cada item mantendo a estrutura original\nreturn items.map(item => {\n  const textValue = item.json.text || \"\";\n\n  return {\n    json: {\n      type: \"human\",\n      content: textValue,\n      additional_kwargs: {},\n      response_metadata: {}\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,272],"id":"0414d0b3-cc44-4b16-8efd-97fad3ebda47","name":"criarMensagemDoHumano"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a6375ad-097a-432a-9da9-74ac6ea3ecac","leftValue":"={{ $('executarWorfklow').item.json.messageType }}","rightValue":"ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"661d1a2e-4b40-47bf-b21e-bc6b3a8885c5","leftValue":"={{ $('executarWorfklow').item.json.messageType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,288],"id":"e8803ed1-bdb0-4c91-9075-aec4757dc67f","name":"verificaSeEConversa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a6375ad-097a-432a-9da9-74ac6ea3ecac","leftValue":"={{ $('executarWorfklow').item.json.messageType }}","rightValue":"ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"000f5078-7917-4f7f-986e-7f90d28627af","leftValue":"={{ $('executarWorfklow').item.json.messageType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,512],"id":"37b40b00-a079-4341-ad53-cd9eedad369a","name":"VerificaSeTemMensagem"},{"parameters":{"jsCode":"// Recebe o payload, exemplo: [{ \"text\": \"oi\" }]\nconst items = $input.all();\n\n// Mapeia cada item mantendo a estrutura original\nreturn items.map(item => {\n  const textValue = item.json.text || \"\";\n\n  return {\n    json: {\n      type: \"ai\",\n      content: textValue,\n      tool_calls: [],\n      additional_kwargs: {},\n      response_metadata: {},\n      invalid_tool_calls: []\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,496],"id":"05504663-4b78-4800-8ef8-19c2f95019e0","name":"criarMensagemDaIA"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"={{ $('executarWorfklow').item.json.empresa.replace(/-/g, '_').toLowerCase() }}_conversas","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('juntarInfos').item.json.id }}","message":"={{ $json}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,496],"id":"6c98feea-33f8-4440-aba6-94f20323a63c","name":"salvarMensagemIA","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}},{"parameters":{"assignments":{"assignments":[{"id":"44f1e966-eaad-432f-b359-e629298eae99","name":"retorno","value":"humano","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,272],"id":"b83a28e9-f2a0-45af-9955-5efa0ac8cadf","name":"retornarStatusHumano"},{"parameters":{"assignments":{"assignments":[{"id":"484eb978-79c2-4df0-8fae-7bf182dfe264","name":"retorno","value":"IA","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,496],"id":"b76811f8-3e50-4797-8955-9c07a12beb99","name":"retornarStatusIA"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"={{ $('executarWorfklow').item.json.empresa.replace(/-/g, '_').toLowerCase() }}_conversas","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('juntarInfos').item.json.id }}","message":"={{ $json}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,272],"id":"bb5a31b9-65c3-4640-a490-819f417dc7ac","name":"salvarMensagemHumano","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}}],"connections":{"Classificar Função":{"main":[[{"node":"criarTabelaConversasPorEmpresa","type":"main","index":0}],[{"node":"verificaSeEConversa","type":"main","index":0}],[{"node":"VerificaSeTemMensagem","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Classificar Função","type":"main","index":0}]]},"executarWorfklow":{"main":[[{"node":"buscarInstancia","type":"main","index":0}]]},"buscarInstancia":{"main":[[{"node":"buscarCliente","type":"main","index":0}]]},"buscarCliente":{"main":[[{"node":"verificarSeEncontrou","type":"main","index":0}]]},"verificarSeEncontrou":{"main":[[{"node":"juntarInfos","type":"main","index":0}],[{"node":"gerarUUID","type":"main","index":0}]]},"gerarUUID":{"main":[[{"node":"inserirCliente","type":"main","index":0}]]},"inserirCliente":{"main":[[{"node":"juntarInfos","type":"main","index":1}]]},"juntarInfos":{"main":[[{"node":"rotearTipoMensagem","type":"main","index":0}]]},"rotearTipoMensagem":{"main":[[{"node":"obterLinkDaImagem","type":"main","index":0}],[{"node":"obterLinkDocumento","type":"main","index":0}],[{"node":"obterBASE64Audio","type":"main","index":0}],[{"node":"byPass","type":"main","index":0}],[{"node":"byPass","type":"main","index":0}]]},"obterLinkDaImagem":{"main":[[{"node":"setarPromptImagem","type":"main","index":0}]]},"obterLinkDocumento":{"main":[[{"node":"setarPromptDocumento","type":"main","index":0}]]},"obterBASE64Audio":{"main":[[{"node":"setarBASE64","type":"main","index":0}]]},"byPass":{"main":[[{"node":"setarMensagemTexto","type":"main","index":0}]]},"analisarImagem":{"main":[[{"node":"setarModeloGPT","type":"main","index":0}]]},"setarPromptImagem":{"main":[[{"node":"analisarImagem","type":"main","index":0}]]},"setarPromptDocumento":{"main":[[{"node":"analisarConteudoDocumento","type":"main","index":0}]]},"analisarConteudoDocumento":{"main":[[{"node":"setarModeloGemini","type":"main","index":0}]]},"setarBASE64":{"main":[[{"node":"converterParaBinario","type":"main","index":0}]]},"converterParaBinario":{"main":[[{"node":"transcreverAudio","type":"main","index":0}]]},"transcreverAudio":{"main":[[{"node":"setarMensagemAudio","type":"main","index":0}]]},"setarModeloGPT":{"main":[[{"node":"setarMensagemImagem","type":"main","index":0}]]},"setarModeloGemini":{"main":[[{"node":"setarMensagemDocumento","type":"main","index":0}]]},"setarMensagemImagem":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"setarMensagemDocumento":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"setarMensagemAudio":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"setarMensagemTexto":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"criarTabelaConversasPorEmpresa":{"main":[[{"node":"retornaRecebimentoMensagem","type":"main","index":0}]]},"criarMensagemDoHumano":{"main":[[{"node":"salvarMensagemHumano","type":"main","index":0}]]},"verificaSeEConversa":{"main":[[{"node":"criarMensagemDoHumano","type":"main","index":0}],[{"node":"Não faz nada","type":"main","index":0}]]},"VerificaSeTemMensagem":{"main":[[{"node":"criarMensagemDaIA","type":"main","index":0}],[{"node":"Não faz nada","type":"main","index":0}]]},"criarMensagemDaIA":{"main":[[{"node":"salvarMensagemIA","type":"main","index":0}]]},"salvarMensagemIA":{"main":[[{"node":"retornarStatusIA","type":"main","index":0}]]},"salvarMensagemHumano":{"main":[[{"node":"retornarStatusHumano","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version caf13a0e","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}