n8n/sub-workflows-atend/enviarMensagemComoHumano.json
{"updatedAt":"2026-03-07T02:36:54.653Z","createdAt":"2026-03-07T02:32:32.401Z","id":"lFI0J511kE1eEaNY","name":"enviarMensagemComoHumano","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"enviar-mensagem-como-humano","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"df2b33e1-6417-4936-8e52-47fb233a8b17","name":"webhookEnviarMensagemComoHumano","webhookId":"b09fa293-2803-47df-b438-c164f46afaf8"},{"parameters":{"workflowId":{"__rl":true,"value":"QdlAfmGCefJgqS5J","mode":"list","cachedResultUrl":"/workflow/QdlAfmGCefJgqS5J","cachedResultName":"Imersão Enterprise — responderTextoQuebrado"},"workflowInputs":{"mappingMode":"defineBelow","value":{"retorno_agente":"={{$json.body.mensagem}}","token":"={{$json.body.token}}","remote_J_id":"={{$json.body.telefone}}"},"matchingColumns":[],"schema":[{"id":"retorno_agente","displayName":"retorno_agente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"remote_J_id","displayName":"remote_J_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[272,0],"id":"2947ef9d-c428-4829-a1a2-85f477014482","name":"responderTextoQuebrado"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[560,0],"id":"4b95ef30-307d-4410-a947-22e56de006fe","name":"responderParaWebhook"}],"connections":{"webhookEnviarMensagemComoHumano":{"main":[[{"node":"responderTextoQuebrado","type":"main","index":0}]]},"responderTextoQuebrado":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"versionId":"2e8ccdf3-bdc1-4e38-84f7-8e70d0938e2b","activeVersionId":"bb375744-db38-4607-8e34-a13f630fe95f","triggerCount":1,"shared":[{"updatedAt":"2026-03-07T02:32:32.401Z","createdAt":"2026-03-07T02:32:32.401Z","role":"workflow:owner","workflowId":"lFI0J511kE1eEaNY","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-07T02:35:16.827Z","createdAt":"2026-03-07T02:35:14.026Z","versionId":"bb375744-db38-4607-8e34-a13f630fe95f","workflowId":"lFI0J511kE1eEaNY","nodes":[{"parameters":{"httpMethod":"POST","path":"enviar-mensagem-como-humano","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"df2b33e1-6417-4936-8e52-47fb233a8b17","name":"webhookEnviarMensagemComoHumano","webhookId":"b09fa293-2803-47df-b438-c164f46afaf8"},{"parameters":{"workflowId":{"__rl":true,"value":"QdlAfmGCefJgqS5J","mode":"list","cachedResultUrl":"/workflow/QdlAfmGCefJgqS5J","cachedResultName":"Imersão Enterprise — responderTextoQuebrado"},"workflowInputs":{"mappingMode":"defineBelow","value":{"retorno_agente":"={{$json.body.mensagem}}","token":"={{$json.body.token}}","remote_J_id":"={{$json.body.telefone}}"},"matchingColumns":[],"schema":[{"id":"retorno_agente","displayName":"retorno_agente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"remote_J_id","displayName":"remote_J_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,0],"id":"2947ef9d-c428-4829-a1a2-85f477014482","name":"responderTextoQuebrado"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[464,0],"id":"4b95ef30-307d-4410-a947-22e56de006fe","name":"responderParaWebhook"}],"connections":{"webhookEnviarMensagemComoHumano":{"main":[[{"node":"responderTextoQuebrado","type":"main","index":0}]]},"responderTextoQuebrado":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version bb375744","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}