n8n/sub-workflows-atend/escalarAtendimentoHumanoEResumirConversa.json
{"updatedAt":"2026-03-10T01:34:52.993Z","createdAt":"2026-03-04T14:48:29.011Z","id":"4nSgiUj66yMrqtiy","name":"escalarAtendimentoHumanoEResumirConversa","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"=Faça um resumo sobre a conversa que deverá ser enviada para o atendente humano, seja conciso e não utilize emojis "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[368,400],"id":"4748a9aa-5706-493b-9601-b9f47b1a18b3","name":"Chain de Resumo"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[896,832],"id":"cc499080-b549-4ded-8972-19dbd4a1f5d0","name":"GPT-4o-mini","credentials":{"openAiApi":{"id":"TNvVwiRTTnV3NVM1","name":"OpenAi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e2af6ca-c66b-4ffa-8e93-1bbc34834dbc","leftValue":"={{ $('executarFluxo').item.json.retorno_agente }}","rightValue":"={{ $('executarFluxo').item.json.mensagem_encerramento }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,400],"id":"55e7d119-17ed-43e6-bef0-bdc173c2768f","name":"Verifica se a conversa foi finalizada realmente"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.owner }}"},{"name":"text","value":"=🚨 Atendimento Finalizado, segue um resumo do atendimento:\n\n{{ $json.text }}\n\nCliente: wa.me/{{ $('executarFluxo').item.json.remote_J_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,128],"id":"923fc3bd-9d3f-4f0e-bae0-2b6a1f6b170b","name":"Enviar mensagem para o Admin"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.remote_J_id }}"},{"name":"text","value":"={{ $('executarFluxo').item.json.retorno_agente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,128],"id":"2e5ec74a-53dc-46ad-a7dd-3b071ec88d8b","name":"Envia mensagem para o cliente de finalizacao"},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('executarFluxo').item.json.id_sessao }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resumo","fieldValue":"={{ $('Chain de Resumo').last().json.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,128],"id":"4063e43d-a8e5-4e24-bb00-e0119603c512","name":"Atualiza Resumo da Conversa","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"delete","tableId":"clientes_followup","filters":{"conditions":[{"keyName":"numero","condition":"eq","keyValue":"={{ $('executarFluxo').item.json.remote_J_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1712,128],"id":"f7c946fa-3999-4b0b-9f4b-09d6753afea5","name":"Limpa do FollowUp","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"set","key":"={{ $('executarFluxo').item.json.remote_J_id }}_block","value":"true","keyType":"string","expire":true,"ttl":"={{ $('executarFluxo').item.json.pausa_cliente_segundos }}"},"id":"cea9c51d-e8ab-4aa8-9543-e4db669aa26f","name":"Parar Agente","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1888,400],"alwaysOutputData":true,"credentials":{"redis":{"id":"mG96KO4qIJc2Z5cp","name":"Redis"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e2af6ca-c66b-4ffa-8e93-1bbc34834dbc","leftValue":"={{ $('executarFluxo').item.json.retorno_agente }}","rightValue":"={{ $('executarFluxo').item.json.mensagem_encerramento }}","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,512],"id":"6014500b-7c0d-46fe-928c-5aaeb22519a7","name":"Se não contém mensagem de fechamento não faz nada","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1424,704],"id":"1cae92b0-2250-4ab2-a93f-2c571fc5d923","name":"Finaliza o processo"},{"parameters":{"operation":"delete","tableId":"clientes_followup","filters":{"conditions":[{"keyName":"numero","condition":"eq","keyValue":"={{ $('executarFluxo').item.json.remote_J_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,400],"id":"442b2f53-a1ae-4326-9b5a-17d9d491049d","name":"Limpa Followup","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.remote_J_id }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,400],"id":"83f14ed3-ee64-4db4-8119-4e7e1ca59c3a","name":"Envia mensagem para o lead"},{"parameters":{"content":"## Escala para atendimento humano ou resumo para finalização da conversa","height":976,"width":2720,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,0],"id":"2e5ea087-17bc-4dc9-b0c0-3ae2ec5b15ba","name":"Sticky Note20"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.owner }}"},{"name":"text","value":"=🚨 Atendimento Humano Solicitado:\n\n{{ $json.text }}\n\nCliente: wa.me/{{ $('executarFluxo').item.json.remote_J_id }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,512],"id":"44271f88-f46e-4428-983a-b59d005cfb47","name":"Solicita atendimento humano"},{"parameters":{"promptType":"define","text":"={{ $('executarFluxo').item.json.mensagem }}","options":{"systemMessage":"=Você foi acionada pois o cliente solicitou um atendimento humano, por favor, fale que vai direcionar o atendimento. não tente ajudar nem nada, apenas diga que vai encaminhar o atendimento de forma concisa e direta"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1360,400],"id":"549699da-5780-4750-824a-e57a931f685f","name":"Agente para atendimento humano"},{"parameters":{"content":"## Gestão de Tokens","height":256,"width":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1744,672],"id":"8a89b069-c686-447c-9401-226d0ab3be0c","name":"Sticky Note22"},{"parameters":{"content":"## Gestão de Tokens","height":256,"width":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[608,80],"id":"63935641-e193-4b0d-8642-8cc9aac46dc6","name":"Sticky Note23"},{"parameters":{"workflowInputs":{"values":[{"name":"nome_instancia"},{"name":"id_sessao"},{"name":"id_organizacao"},{"name":"retorno_agente"},{"name":"mensagem_encerramento"},{"name":"token"},{"name":"owner"},{"name":"remote_J_id"},{"name":"telefone"},{"name":"mensagem"},{"name":"pausa_cliente_segundos","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,400],"id":"b9be4987-bf52-41f1-987d-a79b43ed69a6","name":"executarFluxo"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  session_id,\n  message->>'type' AS papel,\n  message->>'content' AS texto\nFROM {{ $json.nome_instancia.replace(/-/g, '_').toLowerCase() }}_conversas\nWHERE \n  session_id = '{{ $json.id_sessao }}'\n  AND data::date = CURRENT_DATE\nORDER BY id ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[16,400],"id":"3542447a-bf9a-406c-91db-9d9d799cee91","name":"buscarDadosConversa","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[208,400],"id":"a2982276-7979-4a26-aeb3-e57f73a323eb","name":"agregarEmUmaLista"},{"parameters":{"workflowId":{"__rl":true,"value":"0eEfoRSnYdzVajZ5","mode":"list","cachedResultUrl":"/workflow/0eEfoRSnYdzVajZ5","cachedResultName":"Imersão Enterprise — calcularERegistrarTokens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"input":"={{ $('agregarEmUmaLista').item.json.data.toJsonString() }}","id_organizacao":"={{ $('executarFluxo').item.json.id_organizacao }}","output":"={{$json.text}}","llmModel":"gpt-4o-mini"},"matchingColumns":[],"schema":[{"id":"id_organizacao","displayName":"id_organizacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"input","displayName":"input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"llmModel","displayName":"llmModel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[704,160],"id":"8e501387-c4cc-4631-8865-4009551953c8","name":"calcularERegistrarTokensResumo"},{"parameters":{"workflowId":{"__rl":true,"value":"0eEfoRSnYdzVajZ5","mode":"list","cachedResultUrl":"/workflow/0eEfoRSnYdzVajZ5","cachedResultName":"Imersão Enterprise — calcularERegistrarTokens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"input":"={{ $('executarFluxo').item.json.mensagem }}","id_organizacao":"={{ $('executarFluxo').item.json.id_organizacao }}","output":"={{$json.output}}","llmModel":"gpt-4o-mini"},"matchingColumns":[],"schema":[{"id":"id_organizacao","displayName":"id_organizacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"input","displayName":"input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"llmModel","displayName":"llmModel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1840,752],"id":"c1f3054d-7bac-4aa1-a0fb-a52085e163d5","name":"calcularERegistrarTokensAtendimentoHumano"}],"connections":{"Chain de Resumo":{"main":[[{"node":"Verifica se a conversa foi finalizada realmente","type":"main","index":0},{"node":"calcularERegistrarTokensResumo","type":"main","index":0}]]},"GPT-4o-mini":{"ai_languageModel":[[{"node":"Chain de Resumo","type":"ai_languageModel","index":0},{"node":"Agente para atendimento humano","type":"ai_languageModel","index":0}]]},"Verifica se a conversa foi finalizada realmente":{"main":[[{"node":"Enviar mensagem para o Admin","type":"main","index":0}],[{"node":"Solicita atendimento humano","type":"main","index":0}]]},"Enviar mensagem para o Admin":{"main":[[{"node":"Envia mensagem para o cliente de finalizacao","type":"main","index":0}]]},"Envia mensagem para o cliente de finalizacao":{"main":[[{"node":"Atualiza Resumo da Conversa","type":"main","index":0}]]},"Atualiza Resumo da Conversa":{"main":[[{"node":"Limpa do FollowUp","type":"main","index":0}]]},"Parar Agente":{"main":[[{"node":"Limpa Followup","type":"main","index":0}]]},"Se não contém mensagem de fechamento não faz nada":{"main":[[{"node":"Agente para atendimento humano","type":"main","index":0}],[{"node":"Finaliza o processo","type":"main","index":0}]]},"Envia mensagem para o lead":{"main":[[{"node":"Parar Agente","type":"main","index":0}]]},"Solicita atendimento humano":{"main":[[{"node":"Se não contém mensagem de fechamento não faz nada","type":"main","index":0}]]},"Agente para atendimento humano":{"main":[[{"node":"Envia mensagem para o lead","type":"main","index":0},{"node":"calcularERegistrarTokensAtendimentoHumano","type":"main","index":0}]]},"executarFluxo":{"main":[[{"node":"buscarDadosConversa","type":"main","index":0}]]},"buscarDadosConversa":{"main":[[{"node":"agregarEmUmaLista","type":"main","index":0}]]},"agregarEmUmaLista":{"main":[[{"node":"Chain de Resumo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"versionId":"a813a7c1-b154-4772-a7e5-7c67e3ae24f4","activeVersionId":"a813a7c1-b154-4772-a7e5-7c67e3ae24f4","triggerCount":0,"shared":[{"updatedAt":"2026-03-04T14:48:29.011Z","createdAt":"2026-03-04T14:48:29.011Z","role":"workflow:owner","workflowId":"4nSgiUj66yMrqtiy","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-10T01:36:51.177Z","createdAt":"2026-03-10T01:34:52.995Z","versionId":"a813a7c1-b154-4772-a7e5-7c67e3ae24f4","workflowId":"4nSgiUj66yMrqtiy","nodes":[{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"=Faça um resumo sobre a conversa que deverá ser enviada para o atendente humano, seja conciso e não utilize emojis "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[368,400],"id":"4748a9aa-5706-493b-9601-b9f47b1a18b3","name":"Chain de Resumo"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[896,832],"id":"cc499080-b549-4ded-8972-19dbd4a1f5d0","name":"GPT-4o-mini","credentials":{"openAiApi":{"id":"TNvVwiRTTnV3NVM1","name":"OpenAi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e2af6ca-c66b-4ffa-8e93-1bbc34834dbc","leftValue":"={{ $('executarFluxo').item.json.retorno_agente }}","rightValue":"={{ $('executarFluxo').item.json.mensagem_encerramento }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,400],"id":"55e7d119-17ed-43e6-bef0-bdc173c2768f","name":"Verifica se a conversa foi finalizada realmente"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.owner }}"},{"name":"text","value":"=🚨 Atendimento Finalizado, segue um resumo do atendimento:\n\n{{ $json.text }}\n\nCliente: wa.me/{{ $('executarFluxo').item.json.remote_J_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,128],"id":"923fc3bd-9d3f-4f0e-bae0-2b6a1f6b170b","name":"Enviar mensagem para o Admin"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.remote_J_id }}"},{"name":"text","value":"={{ $('executarFluxo').item.json.retorno_agente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,128],"id":"2e5ec74a-53dc-46ad-a7dd-3b071ec88d8b","name":"Envia mensagem para o cliente de finalizacao"},{"parameters":{"operation":"update","tableId":"contatos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('executarFluxo').item.json.id_sessao }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resumo","fieldValue":"={{ $('Chain de Resumo').last().json.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,128],"id":"4063e43d-a8e5-4e24-bb00-e0119603c512","name":"Atualiza Resumo da Conversa","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"delete","tableId":"clientes_followup","filters":{"conditions":[{"keyName":"numero","condition":"eq","keyValue":"={{ $('executarFluxo').item.json.remote_J_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1712,128],"id":"f7c946fa-3999-4b0b-9f4b-09d6753afea5","name":"Limpa do FollowUp","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"set","key":"={{ $('executarFluxo').item.json.remote_J_id }}_block","value":"true","keyType":"string","expire":true,"ttl":"={{ $('executarFluxo').item.json.pausa_cliente_segundos }}"},"id":"cea9c51d-e8ab-4aa8-9543-e4db669aa26f","name":"Parar Agente","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1888,400],"alwaysOutputData":true,"credentials":{"redis":{"id":"mG96KO4qIJc2Z5cp","name":"Redis"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e2af6ca-c66b-4ffa-8e93-1bbc34834dbc","leftValue":"={{ $('executarFluxo').item.json.retorno_agente }}","rightValue":"={{ $('executarFluxo').item.json.mensagem_encerramento }}","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,512],"id":"6014500b-7c0d-46fe-928c-5aaeb22519a7","name":"Se não contém mensagem de fechamento não faz nada","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1424,704],"id":"1cae92b0-2250-4ab2-a93f-2c571fc5d923","name":"Finaliza o processo"},{"parameters":{"operation":"delete","tableId":"clientes_followup","filters":{"conditions":[{"keyName":"numero","condition":"eq","keyValue":"={{ $('executarFluxo').item.json.remote_J_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,400],"id":"442b2f53-a1ae-4326-9b5a-17d9d491049d","name":"Limpa Followup","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.remote_J_id }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,400],"id":"83f14ed3-ee64-4db4-8119-4e7e1ca59c3a","name":"Envia mensagem para o lead"},{"parameters":{"content":"## Escala para atendimento humano ou resumo para finalização da conversa","height":976,"width":2720,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,0],"id":"2e5ea087-17bc-4dc9-b0c0-3ae2ec5b15ba","name":"Sticky Note20"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.owner }}"},{"name":"text","value":"=🚨 Atendimento Humano Solicitado:\n\n{{ $json.text }}\n\nCliente: wa.me/{{ $('executarFluxo').item.json.remote_J_id }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,512],"id":"44271f88-f46e-4428-983a-b59d005cfb47","name":"Solicita atendimento humano"},{"parameters":{"promptType":"define","text":"={{ $('executarFluxo').item.json.mensagem }}","options":{"systemMessage":"=Você foi acionada pois o cliente solicitou um atendimento humano, por favor, fale que vai direcionar o atendimento. não tente ajudar nem nada, apenas diga que vai encaminhar o atendimento de forma concisa e direta"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1360,400],"id":"549699da-5780-4750-824a-e57a931f685f","name":"Agente para atendimento humano"},{"parameters":{"content":"## Gestão de Tokens","height":256,"width":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1744,672],"id":"8a89b069-c686-447c-9401-226d0ab3be0c","name":"Sticky Note22"},{"parameters":{"content":"## Gestão de Tokens","height":256,"width":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[608,80],"id":"63935641-e193-4b0d-8642-8cc9aac46dc6","name":"Sticky Note23"},{"parameters":{"workflowInputs":{"values":[{"name":"nome_instancia"},{"name":"id_sessao"},{"name":"id_organizacao"},{"name":"retorno_agente"},{"name":"mensagem_encerramento"},{"name":"token"},{"name":"owner"},{"name":"remote_J_id"},{"name":"telefone"},{"name":"mensagem"},{"name":"pausa_cliente_segundos","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,400],"id":"b9be4987-bf52-41f1-987d-a79b43ed69a6","name":"executarFluxo"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  session_id,\n  message->>'type' AS papel,\n  message->>'content' AS texto\nFROM {{ $json.nome_instancia.replace(/-/g, '_').toLowerCase() }}_conversas\nWHERE \n  session_id = '{{ $json.id_sessao }}'\n  AND data::date = CURRENT_DATE\nORDER BY id ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[16,400],"id":"3542447a-bf9a-406c-91db-9d9d799cee91","name":"buscarDadosConversa","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[208,400],"id":"a2982276-7979-4a26-aeb3-e57f73a323eb","name":"agregarEmUmaLista"},{"parameters":{"workflowId":{"__rl":true,"value":"0eEfoRSnYdzVajZ5","mode":"list","cachedResultUrl":"/workflow/0eEfoRSnYdzVajZ5","cachedResultName":"Imersão Enterprise — calcularERegistrarTokens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"input":"={{ $('agregarEmUmaLista').item.json.data.toJsonString() }}","id_organizacao":"={{ $('executarFluxo').item.json.id_organizacao }}","output":"={{$json.text}}","llmModel":"gpt-4o-mini"},"matchingColumns":[],"schema":[{"id":"id_organizacao","displayName":"id_organizacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"input","displayName":"input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"llmModel","displayName":"llmModel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[704,160],"id":"8e501387-c4cc-4631-8865-4009551953c8","name":"calcularERegistrarTokensResumo"},{"parameters":{"workflowId":{"__rl":true,"value":"0eEfoRSnYdzVajZ5","mode":"list","cachedResultUrl":"/workflow/0eEfoRSnYdzVajZ5","cachedResultName":"Imersão Enterprise — calcularERegistrarTokens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"input":"={{ $('executarFluxo').item.json.mensagem }}","id_organizacao":"={{ $('executarFluxo').item.json.id_organizacao }}","output":"={{$json.output}}","llmModel":"gpt-4o-mini"},"matchingColumns":[],"schema":[{"id":"id_organizacao","displayName":"id_organizacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"input","displayName":"input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"llmModel","displayName":"llmModel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1840,752],"id":"c1f3054d-7bac-4aa1-a0fb-a52085e163d5","name":"calcularERegistrarTokensAtendimentoHumano"}],"connections":{"Chain de Resumo":{"main":[[{"node":"Verifica se a conversa foi finalizada realmente","type":"main","index":0},{"node":"calcularERegistrarTokensResumo","type":"main","index":0}]]},"GPT-4o-mini":{"ai_languageModel":[[{"node":"Chain de Resumo","type":"ai_languageModel","index":0},{"node":"Agente para atendimento humano","type":"ai_languageModel","index":0}]]},"Verifica se a conversa foi finalizada realmente":{"main":[[{"node":"Enviar mensagem para o Admin","type":"main","index":0}],[{"node":"Solicita atendimento humano","type":"main","index":0}]]},"Enviar mensagem para o Admin":{"main":[[{"node":"Envia mensagem para o cliente de finalizacao","type":"main","index":0}]]},"Envia mensagem para o cliente de finalizacao":{"main":[[{"node":"Atualiza Resumo da Conversa","type":"main","index":0}]]},"Atualiza Resumo da Conversa":{"main":[[{"node":"Limpa do FollowUp","type":"main","index":0}]]},"Parar Agente":{"main":[[{"node":"Limpa Followup","type":"main","index":0}]]},"Se não contém mensagem de fechamento não faz nada":{"main":[[{"node":"Agente para atendimento humano","type":"main","index":0}],[{"node":"Finaliza o processo","type":"main","index":0}]]},"Envia mensagem para o lead":{"main":[[{"node":"Parar Agente","type":"main","index":0}]]},"Solicita atendimento humano":{"main":[[{"node":"Se não contém mensagem de fechamento não faz nada","type":"main","index":0}]]},"Agente para atendimento humano":{"main":[[{"node":"Envia mensagem para o lead","type":"main","index":0},{"node":"calcularERegistrarTokensAtendimentoHumano","type":"main","index":0}]]},"executarFluxo":{"main":[[{"node":"buscarDadosConversa","type":"main","index":0}]]},"buscarDadosConversa":{"main":[[{"node":"agregarEmUmaLista","type":"main","index":0}]]},"agregarEmUmaLista":{"main":[[{"node":"Chain de Resumo","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version a813a7c1","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}