n8n/sub-workflows-atend/insereFollowUPCliente.json
{"updatedAt":"2026-03-04T22:32:52.787Z","createdAt":"2026-01-08T17:35:55.578Z","id":"eajfugs5Fk5NXBC57QOlr","name":"insereFollowUPCliente","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f2e62cba-db3e-4d8f-8f64-5c4a6ca6feb1","leftValue":"={{ $json.numero }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-464,16],"id":"9ced84a8-a2ee-4975-8420-101077b42d86","name":"Se encontrou linha na tabela"},{"parameters":{"operation":"update","tableId":"clientes_followup","filters":{"conditions":[{"keyName":"numero","condition":"eq","keyValue":"={{ $json.numero }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"followup","fieldValue":"={{ (() => {     const followUp = $json['follow-up'];     return followUp === \"encerrado\" ? \"encerrado\" : 0; })() }}"},{"fieldId":"ultima_atividade","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"organization_id","fieldValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,-96],"id":"e37dd6de-1fc3-4300-b7e3-cef5d5e7425f","name":"Atualiza Follow Up","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"tableId":"clientes_followup","fieldsUi":{"fieldValues":[{"fieldId":"numero","fieldValue":"={{ $('Executa Fluxo').item.json.telefone }}"},{"fieldId":"ultima_atividade","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"id_sessao","fieldValue":"={{ $('Executa Fluxo').item.json.id_sessao }}"},{"fieldId":"followup","fieldValue":"0"},{"fieldId":"id_organizacao","fieldValue":"={{ $('Executa Fluxo').item.json.id_organizacao }}"},{"fieldId":"nome","fieldValue":"={{ $('buscarCliente').last().json.nome }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,96],"id":"6f3bf2c5-a9a8-4f28-9306-88a44c89af3c","name":"Cria Followup","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"workflowInputs":{"values":[{"name":"remote_J_id"},{"name":"id_sessao"},{"name":"id_organizacao"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1040,16],"id":"20212b7b-613a-4119-97dd-52c633bcb9c2","name":"Executa Fluxo"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":208,"width":480,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1056,-240],"typeVersion":1,"id":"82302680-c061-439e-bcfa-67447f48854b","name":"Sticky Note29"},{"parameters":{"content":"## Insere dados na tabela de follow up para controle das conversas","height":672,"width":1152,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1168,-352],"id":"6ac4243d-7d6f-4ee2-a0d2-eff52cfc0853","name":"Sticky Note"},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.remote_J_id }}"},{"keyName":"id_organizacao","keyValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-848,16],"id":"c7ec6b57-e2a4-445f-a694-2ce6e0584f31","name":"buscarCliente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"clientes_followup","filters":{"conditions":[{"keyName":"numero","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-656,16],"id":"d75624bc-ebaf-4a4d-bdd1-7ac9327cd2a4","name":"buscarFollowUpCliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}}],"connections":{"Se encontrou linha na tabela":{"main":[[{"node":"Atualiza Follow Up","type":"main","index":0}],[{"node":"Cria Followup","type":"main","index":0}]]},"Cria Followup":{"main":[[{"node":"Se encontrou linha na tabela","type":"main","index":0}]]},"Executa Fluxo":{"main":[[{"node":"buscarCliente","type":"main","index":0}]]},"buscarCliente":{"main":[[{"node":"buscarFollowUpCliente","type":"main","index":0}]]},"buscarFollowUpCliente":{"main":[[{"node":"Se encontrou linha na tabela","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"versionId":"f7c8d637-ef06-44d3-b778-52a3c52a5b27","activeVersionId":"f7c8d637-ef06-44d3-b778-52a3c52a5b27","triggerCount":0,"shared":[{"updatedAt":"2026-01-08T17:35:55.578Z","createdAt":"2026-01-08T17:35:55.578Z","role":"workflow:owner","workflowId":"eajfugs5Fk5NXBC57QOlr","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T18:00:57.106Z","createdAt":"2026-03-04T18:00:52.498Z","versionId":"f7c8d637-ef06-44d3-b778-52a3c52a5b27","workflowId":"eajfugs5Fk5NXBC57QOlr","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f2e62cba-db3e-4d8f-8f64-5c4a6ca6feb1","leftValue":"={{ $json.numero }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-464,16],"id":"9ced84a8-a2ee-4975-8420-101077b42d86","name":"Se encontrou linha na tabela"},{"parameters":{"operation":"update","tableId":"clientes_followup","filters":{"conditions":[{"keyName":"numero","condition":"eq","keyValue":"={{ $json.numero }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"followup","fieldValue":"={{ (() => {     const followUp = $json['follow-up'];     return followUp === \"encerrado\" ? \"encerrado\" : 0; })() }}"},{"fieldId":"ultima_atividade","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"organization_id","fieldValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,-96],"id":"e37dd6de-1fc3-4300-b7e3-cef5d5e7425f","name":"Atualiza Follow Up","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"tableId":"clientes_followup","fieldsUi":{"fieldValues":[{"fieldId":"numero","fieldValue":"={{ $('Executa Fluxo').item.json.telefone }}"},{"fieldId":"ultima_atividade","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"id_sessao","fieldValue":"={{ $('Executa Fluxo').item.json.id_sessao }}"},{"fieldId":"followup","fieldValue":"0"},{"fieldId":"id_organizacao","fieldValue":"={{ $('Executa Fluxo').item.json.id_organizacao }}"},{"fieldId":"nome","fieldValue":"={{ $('buscarCliente').last().json.nome }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,96],"id":"6f3bf2c5-a9a8-4f28-9306-88a44c89af3c","name":"Cria Followup","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"workflowInputs":{"values":[{"name":"remote_J_id"},{"name":"id_sessao"},{"name":"id_organizacao"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1040,16],"id":"20212b7b-613a-4119-97dd-52c633bcb9c2","name":"Executa Fluxo"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":208,"width":480,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1056,-240],"typeVersion":1,"id":"82302680-c061-439e-bcfa-67447f48854b","name":"Sticky Note29"},{"parameters":{"content":"## Insere dados na tabela de follow up para controle das conversas","height":672,"width":1152,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1168,-352],"id":"6ac4243d-7d6f-4ee2-a0d2-eff52cfc0853","name":"Sticky Note"},{"parameters":{"operation":"get","tableId":"contatos","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.remote_J_id }}"},{"keyName":"id_organizacao","keyValue":"={{ $json.id_organizacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-848,16],"id":"c7ec6b57-e2a4-445f-a694-2ce6e0584f31","name":"buscarCliente","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"clientes_followup","filters":{"conditions":[{"keyName":"numero","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-656,16],"id":"d75624bc-ebaf-4a4d-bdd1-7ac9327cd2a4","name":"buscarFollowUpCliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}}],"connections":{"Se encontrou linha na tabela":{"main":[[{"node":"Atualiza Follow Up","type":"main","index":0}],[{"node":"Cria Followup","type":"main","index":0}]]},"Cria Followup":{"main":[[{"node":"Se encontrou linha na tabela","type":"main","index":0}]]},"Executa Fluxo":{"main":[[{"node":"buscarCliente","type":"main","index":0}]]},"buscarCliente":{"main":[[{"node":"buscarFollowUpCliente","type":"main","index":0}]]},"buscarFollowUpCliente":{"main":[[{"node":"Se encontrou linha na tabela","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 3","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}