n8n/sub-workflows-atend/responderTextoQuebrado.json
{"updatedAt":"2026-03-07T02:00:28.015Z","createdAt":"2026-03-04T16:54:45.920Z","id":"QdlAfmGCefJgqS5J","name":"responderTextoQuebrado","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Mensagem do WhatsApp para ser quebrada e formatada: {{ $json.retorno_agente }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Regras Essenciais:\n**Jamais separe uma mensagem vazia.**  \n**Divida o texto respeitando frases completas e o fluxo natural da conversa.**  \n\n### **Formatação do WhatsApp:**\nSempre respeite o Markdown do WhatsApp e siga as seguintes regras:\n- *negrito* (substitua '**' por '*')\n- ~tachado~ (caso seja algo que foi excluído ou alterado)\n- _itálico_ (extremamente raro)\n- `link` (usar sempre em todos os links)"}]}},"id":"37984d02-c3e5-49f6-98c4-2aa264a6984f","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[336,96],"onError":"continueRegularOutput"},{"parameters":{"content":"## Responde com texto quebrado","height":480,"width":1504,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"ed6de227-1481-413c-90b3-77f80d0df5e3","name":"Sticky Note19"},{"parameters":{"options":{}},"id":"6eb34781-b022-4fba-8539-16f36132916b","name":"iterarSobreItens","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,96]},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"73234917-ddda-4acc-8b5d-770ae9d4fad6","name":"dividirMensagens","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,96]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"24e82080-efe1-4aad-852c-fdccc6e43e0d","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[288,336],"credentials":{"openAiApi":{"id":"TNvVwiRTTnV3NVM1","name":"OpenAi"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"c46f9157-efcc-4464-8b7c-57ab8f986ae8","name":"formatoRetorno","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[528,336]},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.remote_J_id }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,112],"id":"43d0a87b-2b9e-4b45-98c8-031dfca39169","name":"enviarMensagemPicotada"},{"parameters":{"amount":1},"id":"ecfac58b-c9f6-4723-9dfa-9762cb348042","name":"gerarDelay1Segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1312,112],"webhookId":"62d096ea-b827-4f2c-b2d2-4fa2a4a63ec0"},{"parameters":{"workflowInputs":{"values":[{"name":"retorno_agente"},{"name":"token"},{"name":"remote_J_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[96,96],"id":"4bc9209b-dcb8-4cb2-a8f6-7a67fc91b30d","name":"executarFluxo"}],"connections":{"Parser  Chain":{"main":[[{"node":"dividirMensagens","type":"main","index":0}]]},"iterarSobreItens":{"main":[[],[{"node":"enviarMensagemPicotada","type":"main","index":0}]]},"dividirMensagens":{"main":[[{"node":"iterarSobreItens","type":"main","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"formatoRetorno":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"enviarMensagemPicotada":{"main":[[{"node":"gerarDelay1Segundo","type":"main","index":0}]]},"gerarDelay1Segundo":{"main":[[{"node":"iterarSobreItens","type":"main","index":0}]]},"executarFluxo":{"main":[[{"node":"Parser  Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"versionId":"4874ee42-242a-42d1-878e-24dc81e54f37","activeVersionId":"4874ee42-242a-42d1-878e-24dc81e54f37","triggerCount":0,"shared":[{"updatedAt":"2026-03-04T16:54:45.920Z","createdAt":"2026-03-04T16:54:45.920Z","role":"workflow:owner","workflowId":"QdlAfmGCefJgqS5J","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-07T02:00:33.722Z","createdAt":"2026-03-07T02:00:28.017Z","versionId":"4874ee42-242a-42d1-878e-24dc81e54f37","workflowId":"QdlAfmGCefJgqS5J","nodes":[{"parameters":{"promptType":"define","text":"=Mensagem do WhatsApp para ser quebrada e formatada: {{ $json.retorno_agente }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Regras Essenciais:\n**Jamais separe uma mensagem vazia.**  \n**Divida o texto respeitando frases completas e o fluxo natural da conversa.**  \n\n### **Formatação do WhatsApp:**\nSempre respeite o Markdown do WhatsApp e siga as seguintes regras:\n- *negrito* (substitua '**' por '*')\n- ~tachado~ (caso seja algo que foi excluído ou alterado)\n- _itálico_ (extremamente raro)\n- `link` (usar sempre em todos os links)"}]}},"id":"37984d02-c3e5-49f6-98c4-2aa264a6984f","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[336,96],"onError":"continueRegularOutput"},{"parameters":{"content":"## Responde com texto quebrado","height":480,"width":1504,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"ed6de227-1481-413c-90b3-77f80d0df5e3","name":"Sticky Note19"},{"parameters":{"options":{}},"id":"6eb34781-b022-4fba-8539-16f36132916b","name":"iterarSobreItens","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,96]},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"73234917-ddda-4acc-8b5d-770ae9d4fad6","name":"dividirMensagens","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,96]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"24e82080-efe1-4aad-852c-fdccc6e43e0d","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[288,336],"credentials":{"openAiApi":{"id":"TNvVwiRTTnV3NVM1","name":"OpenAi"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"c46f9157-efcc-4464-8b7c-57ab8f986ae8","name":"formatoRetorno","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[528,336]},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.remote_J_id }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,112],"id":"43d0a87b-2b9e-4b45-98c8-031dfca39169","name":"enviarMensagemPicotada"},{"parameters":{"amount":1},"id":"ecfac58b-c9f6-4723-9dfa-9762cb348042","name":"gerarDelay1Segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1312,112],"webhookId":"62d096ea-b827-4f2c-b2d2-4fa2a4a63ec0"},{"parameters":{"workflowInputs":{"values":[{"name":"retorno_agente"},{"name":"token"},{"name":"remote_J_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[96,96],"id":"4bc9209b-dcb8-4cb2-a8f6-7a67fc91b30d","name":"executarFluxo"}],"connections":{"Parser  Chain":{"main":[[{"node":"dividirMensagens","type":"main","index":0}]]},"iterarSobreItens":{"main":[[],[{"node":"enviarMensagemPicotada","type":"main","index":0}]]},"dividirMensagens":{"main":[[{"node":"iterarSobreItens","type":"main","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"formatoRetorno":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"enviarMensagemPicotada":{"main":[[{"node":"gerarDelay1Segundo","type":"main","index":0}]]},"gerarDelay1Segundo":{"main":[[{"node":"iterarSobreItens","type":"main","index":0}]]},"executarFluxo":{"main":[[{"node":"Parser  Chain","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 4874ee42","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}