n8n/sub-workflows-atend/responderComAudio.json
{"updatedAt":"2026-03-10T00:53:40.635Z","createdAt":"2026-03-04T16:41:39.390Z","id":"MtytDIzN33ZQrt6H","name":"responderComAudio","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Responde com audio","height":320,"width":992,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,48],"id":"c24f28bf-4e3b-4523-8362-e338577d9be4","name":"Sticky Note17"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-16,160],"id":"a5219df4-bbea-415e-9a63-13c760540fb2","name":"converteFileEmBASE64"},{"parameters":{"workflowInputs":{"values":[{"name":"id_voz_elevenlabs"},{"name":"chave_elevenlabs"},{"name":"token"},{"name":"remote_J_id"},{"name":"texto"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-464,160],"id":"c67842b7-d533-40a6-b468-0c8553e16a0d","name":"executarFluxo"},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.id_voz_elevenlabs }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"={{ $json.chave_elevenlabs }}"},{"name":"Accept","value":"audio/mpeg"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.texto }}"},{"name":"model_id","value":"eleven_multilingual_v2"},{"name":"language_code","value":"pt"},{"name":"voice_settings","value":"={{ ({stability: 0.5, similarity_boost: 0.8, style: 0.0, use_speaker_boost: true}) }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,160],"id":"d545e1f9-9e98-404c-8de9-aca374e00770","name":"converteTextoParaFala"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.remote_J_id }}"},{"name":"type","value":"ptt"},{"name":"file","value":"={{ $json.data }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,160],"id":"57b3bfc9-73c9-4ab4-be37-a1c647016b8d","name":"enviarAudio"}],"connections":{"converteFileEmBASE64":{"main":[[{"node":"enviarAudio","type":"main","index":0}]]},"executarFluxo":{"main":[[{"node":"converteTextoParaFala","type":"main","index":0}]]},"converteTextoParaFala":{"main":[[{"node":"converteFileEmBASE64","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"versionId":"85812864-e6fa-4faa-9bce-35b7667c41d9","activeVersionId":"85812864-e6fa-4faa-9bce-35b7667c41d9","triggerCount":0,"shared":[{"updatedAt":"2026-03-04T16:41:39.390Z","createdAt":"2026-03-04T16:41:39.390Z","role":"workflow:owner","workflowId":"MtytDIzN33ZQrt6H","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-10T00:53:46.889Z","createdAt":"2026-03-10T00:53:40.636Z","versionId":"85812864-e6fa-4faa-9bce-35b7667c41d9","workflowId":"MtytDIzN33ZQrt6H","nodes":[{"parameters":{"content":"## Responde com audio","height":320,"width":992,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,48],"id":"c24f28bf-4e3b-4523-8362-e338577d9be4","name":"Sticky Note17"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-16,160],"id":"a5219df4-bbea-415e-9a63-13c760540fb2","name":"converteFileEmBASE64"},{"parameters":{"workflowInputs":{"values":[{"name":"id_voz_elevenlabs"},{"name":"chave_elevenlabs"},{"name":"token"},{"name":"remote_J_id"},{"name":"texto"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-464,160],"id":"c67842b7-d533-40a6-b468-0c8553e16a0d","name":"executarFluxo"},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.id_voz_elevenlabs }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"={{ $json.chave_elevenlabs }}"},{"name":"Accept","value":"audio/mpeg"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.texto }}"},{"name":"model_id","value":"eleven_multilingual_v2"},{"name":"language_code","value":"pt"},{"name":"voice_settings","value":"={{ ({stability: 0.5, similarity_boost: 0.8, style: 0.0, use_speaker_boost: true}) }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,160],"id":"d545e1f9-9e98-404c-8de9-aca374e00770","name":"converteTextoParaFala"},{"parameters":{"method":"POST","url":"=https://{{$vars.servidorUAZAPI}}.uazapi.com/send/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('executarFluxo').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('executarFluxo').item.json.remote_J_id }}"},{"name":"type","value":"ptt"},{"name":"file","value":"={{ $json.data }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,160],"id":"57b3bfc9-73c9-4ab4-be37-a1c647016b8d","name":"enviarAudio"}],"connections":{"converteFileEmBASE64":{"main":[[{"node":"enviarAudio","type":"main","index":0}]]},"executarFluxo":{"main":[[{"node":"converteTextoParaFala","type":"main","index":0}]]},"converteTextoParaFala":{"main":[[{"node":"converteFileEmBASE64","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 85812864","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}