n8n/sub-workflows-atend/tratarRetornoAgente.json
{"updatedAt":"2026-03-04T22:33:03.363Z","createdAt":"2026-03-04T14:16:29.647Z","id":"0NVdzSVUpPy3GXV1","name":"tratarRetornoAgente","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"retorno_agente"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-848,-192],"id":"8efca3ef-2379-47a0-a21d-29a9aa17c016","name":"executarFlxuo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0565c0c3-9681-477e-a296-db8c7e4dbde3","leftValue":"={{ $json.retornoAgente }}","rightValue":"Used tools","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-576,-192],"id":"2cc54ad0-1590-4514-a0e2-88a48ad12ba5","name":"validacaoUSEDTools"},{"parameters":{"jsCode":"const rawOutput = $input.item.json.retornoAgente || \"\";\n\n// Função para limpar o texto em etapas\nfunction cleanAgentOutput(text) {\n  if (!text) return \"\";\n\n  let cleaned = text;\n\n  // 1. Remove blocos de código Markdown (```json ... ```)\n  cleaned = cleaned.replace(/```[\\s\\S]*?```/g, \"\");\n\n  // 2. Remove metadados entre colchetes [ ... ]\n  // Ex: [Pensando...], [Tool_Use: ...]\n  cleaned = cleaned.replace(/\\[[\\s\\S]*?\\]/g, \"\");\n\n  // 3. Remove linhas de comando de ferramenta (que começam com /)\n  // Ex: /atualizar_kanban {\"a\": 1}\n  // O 'm' no final faz o ^ funcionar para cada linha\n  cleaned = cleaned.replace(/^\\s*\\/[\\w_-]+.*$/gm, \"\");\n\n  // 4. Remove objetos JSON soltos { ... }\n  // Isso pega qualquer coisa que pareça um objeto JSON técnico\n  cleaned = cleaned.replace(/\\{[\\s\\S]*?\\}/g, \"\");\n\n  // 5. Limpeza final de pontuação \"suja\"\n  // Remove sobras de colchetes ou aspas que podem ter ficado\n  cleaned = cleaned.replace(/^[\\])}]+/, \"\"); // Remove ] ou ) ou } no começo\n\n  // 6. Remove excesso de linhas em branco e espaços\n  cleaned = cleaned.replace(/\\n\\s*\\n/g, \"\\n\").trim();\n\n  return cleaned;\n}\n\nconst textoFinal = cleanAgentOutput(rawOutput);\n\nreturn [\n  {\n    json: {\n      texto_original: rawOutput,\n      texto_limpo: textoFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,-336],"id":"627155b8-c779-4cc3-9fbd-d7faa501393c","name":"removerTextoSujo"},{"parameters":{"assignments":{"assignments":[{"id":"8bc79343-159c-4fa5-9fc1-b86ce54362a7","name":"retorno_agente","value":"={{ $json.texto_limpo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-336],"id":"8f0c8182-43f2-474a-90f4-1e00eea76778","name":"setarTextoLimpo"},{"parameters":{"assignments":{"assignments":[{"id":"66fcae7d-4a45-41d4-a7ae-6ed2c0fbefa2","name":"retorno_agente","value":"={{ $json.retorno_agente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-80],"id":"53ded3dd-4b75-452a-8151-d3da0f44297d","name":"setarRetorno"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":176,"width":448,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-960,-544],"typeVersion":1,"id":"56044dd2-b244-43d8-ae40-e6a0e2f72e61","name":"Sticky Note"},{"parameters":{"content":"## Checa se o Agente usou terminologias de ferramentas","height":320,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,-320],"id":"3b1af732-500f-4a67-be7b-25cc4b1e4272","name":"Sticky Note1"},{"parameters":{"content":"## Regra para remoção de Texto","height":528,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-432],"id":"beeb2df9-4b6e-4a53-8dce-aab37fc7bad7","name":"Sticky Note2"}],"connections":{"executarFlxuo":{"main":[[{"node":"validacaoUSEDTools","type":"main","index":0}]]},"validacaoUSEDTools":{"main":[[{"node":"removerTextoSujo","type":"main","index":0}],[{"node":"setarRetorno","type":"main","index":0}]]},"removerTextoSujo":{"main":[[{"node":"setarTextoLimpo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"versionId":"e849e846-6218-4acd-b422-d1fb454156db","activeVersionId":"e849e846-6218-4acd-b422-d1fb454156db","triggerCount":0,"shared":[{"updatedAt":"2026-03-04T14:16:29.647Z","createdAt":"2026-03-04T14:16:29.647Z","role":"workflow:owner","workflowId":"0NVdzSVUpPy3GXV1","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T15:07:04.542Z","createdAt":"2026-03-04T15:06:55.569Z","versionId":"e849e846-6218-4acd-b422-d1fb454156db","workflowId":"0NVdzSVUpPy3GXV1","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"retorno_agente"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-848,-192],"id":"8efca3ef-2379-47a0-a21d-29a9aa17c016","name":"executarFlxuo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0565c0c3-9681-477e-a296-db8c7e4dbde3","leftValue":"={{ $json.retornoAgente }}","rightValue":"Used tools","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-576,-192],"id":"2cc54ad0-1590-4514-a0e2-88a48ad12ba5","name":"validacaoUSEDTools"},{"parameters":{"jsCode":"const rawOutput = $input.item.json.retornoAgente || \"\";\n\n// Função para limpar o texto em etapas\nfunction cleanAgentOutput(text) {\n  if (!text) return \"\";\n\n  let cleaned = text;\n\n  // 1. Remove blocos de código Markdown (```json ... ```)\n  cleaned = cleaned.replace(/```[\\s\\S]*?```/g, \"\");\n\n  // 2. Remove metadados entre colchetes [ ... ]\n  // Ex: [Pensando...], [Tool_Use: ...]\n  cleaned = cleaned.replace(/\\[[\\s\\S]*?\\]/g, \"\");\n\n  // 3. Remove linhas de comando de ferramenta (que começam com /)\n  // Ex: /atualizar_kanban {\"a\": 1}\n  // O 'm' no final faz o ^ funcionar para cada linha\n  cleaned = cleaned.replace(/^\\s*\\/[\\w_-]+.*$/gm, \"\");\n\n  // 4. Remove objetos JSON soltos { ... }\n  // Isso pega qualquer coisa que pareça um objeto JSON técnico\n  cleaned = cleaned.replace(/\\{[\\s\\S]*?\\}/g, \"\");\n\n  // 5. Limpeza final de pontuação \"suja\"\n  // Remove sobras de colchetes ou aspas que podem ter ficado\n  cleaned = cleaned.replace(/^[\\])}]+/, \"\"); // Remove ] ou ) ou } no começo\n\n  // 6. Remove excesso de linhas em branco e espaços\n  cleaned = cleaned.replace(/\\n\\s*\\n/g, \"\\n\").trim();\n\n  return cleaned;\n}\n\nconst textoFinal = cleanAgentOutput(rawOutput);\n\nreturn [\n  {\n    json: {\n      texto_original: rawOutput,\n      texto_limpo: textoFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,-336],"id":"627155b8-c779-4cc3-9fbd-d7faa501393c","name":"removerTextoSujo"},{"parameters":{"assignments":{"assignments":[{"id":"8bc79343-159c-4fa5-9fc1-b86ce54362a7","name":"retorno_agente","value":"={{ $json.texto_limpo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-336],"id":"8f0c8182-43f2-474a-90f4-1e00eea76778","name":"setarTextoLimpo"},{"parameters":{"assignments":{"assignments":[{"id":"66fcae7d-4a45-41d4-a7ae-6ed2c0fbefa2","name":"retorno_agente","value":"={{ $json.retorno_agente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-80],"id":"53ded3dd-4b75-452a-8151-d3da0f44297d","name":"setarRetorno"},{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":176,"width":448,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-960,-544],"typeVersion":1,"id":"56044dd2-b244-43d8-ae40-e6a0e2f72e61","name":"Sticky Note"},{"parameters":{"content":"## Checa se o Agente usou terminologias de ferramentas","height":320,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,-320],"id":"3b1af732-500f-4a67-be7b-25cc4b1e4272","name":"Sticky Note1"},{"parameters":{"content":"## Regra para remoção de Texto","height":528,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-432],"id":"beeb2df9-4b6e-4a53-8dce-aab37fc7bad7","name":"Sticky Note2"}],"connections":{"executarFlxuo":{"main":[[{"node":"validacaoUSEDTools","type":"main","index":0}]]},"validacaoUSEDTools":{"main":[[{"node":"removerTextoSujo","type":"main","index":0}],[{"node":"setarRetorno","type":"main","index":0}]]},"removerTextoSujo":{"main":[[{"node":"setarTextoLimpo","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 3","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}