n8n/sub-workflows-atend/verificarETratarPausaAgente.json
{"updatedAt":"2026-03-05T13:14:06.090Z","createdAt":"2026-03-04T02:57:42.835Z","id":"YOUySNTosgn32Agw","name":"verificarETratarPausaAgente","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.from_me }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"2923f4e8-47bc-4195-b12e-f5279362c841"}],"combinator":"and"},"renameOutput":true,"outputKey":"Atendente Humano"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b375a1b-b00d-4678-90a9-870dc3fd9a6f","leftValue":"={{ $json.from_me }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"cliente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,288],"id":"dddcf848-954b-4a18-bf9a-5fb6927edffe","name":"Verificador FromMe"},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.remote_J_id }}_block","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[288,432],"id":"1262ed16-558c-496a-9652-6d4519bfd3ef","name":"Verificando a pausa para o atendente humano","credentials":{"redis":{"id":"mG96KO4qIJc2Z5cp","name":"Redis"}}},{"parameters":{"operation":"set","key":"={{ $json.remote_J_id }}_block","value":"true","keyType":"string","expire":true,"ttl":"={{ $('executarFluxo').item.json.pausa_segundos }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[288,112],"id":"d33f43fd-2969-4ca4-aaba-3e96884b4815","name":"Setar o tempo e pausar para o atendente Humano","credentials":{"redis":{"id":"mG96KO4qIJc2Z5cp","name":"Redis"}}},{"parameters":{"content":"## Mecanismo de Pausa do Agente \nTratamento para pausa do agente","height":736,"width":1344,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,0],"id":"95176830-afe4-4c60-9ab8-9d2bd19d8afd","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"null","operator":{"type":"string","operation":"empty","singleValue":true},"id":"49f8c1b6-986a-4093-abf3-6bd34bc6994b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ligado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae0ef791-4137-4f44-9c16-871f5e8757c7","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desligado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[512,432],"id":"773b8c91-2059-4396-8316-cc52f356951b","name":"Valida Agente ligado ou desligado"},{"parameters":{"assignments":{"assignments":[{"id":"a6533b86-31a7-47e2-adf7-8a21e6ff5bdc","name":"funcao","value":"ativado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,304],"id":"eb5c0317-8347-4369-b8d9-06a9d2b2202a","name":"Setar a Ação - Ativado"},{"parameters":{"assignments":{"assignments":[{"id":"ee324391-b986-46eb-a971-1afa22c33e5c","name":"funcao","value":"parar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,112],"id":"8b2a50cb-67e3-4b31-ade6-6df4fcebbe8b","name":"Setar a Ação - Parar"},{"parameters":{"assignments":{"assignments":[{"id":"36e0d594-7e07-4847-9823-9eeadd574dd9","name":"funcao","value":"desativado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,528],"id":"54b4bd84-cb6d-4b2d-ba96-a215e1091235","name":"Setar a Ação - Desativado"},{"parameters":{"workflowInputs":{"values":[{"name":"from_me","type":"boolean"},{"name":"remote_J_id"},{"name":"pausa_segundos","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-192,288],"id":"9c259228-31ae-4f19-8462-48da5ea573c3","name":"executarFluxo"}],"connections":{"Verificador FromMe":{"main":[[{"node":"Setar o tempo e pausar para o atendente Humano","type":"main","index":0}],[{"node":"Verificando a pausa para o atendente humano","type":"main","index":0}]]},"Verificando a pausa para o atendente humano":{"main":[[{"node":"Valida Agente ligado ou desligado","type":"main","index":0}]]},"Setar o tempo e pausar para o atendente Humano":{"main":[[{"node":"Setar a Ação - Parar","type":"main","index":0}]]},"Valida Agente ligado ou desligado":{"main":[[{"node":"Setar a Ação - Ativado","type":"main","index":0}],[{"node":"Setar a Ação - Desativado","type":"main","index":0}]]},"executarFluxo":{"main":[[{"node":"Verificador FromMe","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"versionId":"0b10f27f-f16f-4bdf-9f82-f04e8a130425","activeVersionId":"28f51ace-a0ff-4e1d-8ada-990f12ef3c42","triggerCount":0,"shared":[{"updatedAt":"2026-03-04T02:57:42.835Z","createdAt":"2026-03-04T02:57:42.835Z","role":"workflow:owner","workflowId":"YOUySNTosgn32Agw","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T03:01:03.144Z","createdAt":"2026-03-04T03:00:27.762Z","versionId":"28f51ace-a0ff-4e1d-8ada-990f12ef3c42","workflowId":"YOUySNTosgn32Agw","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.from_me }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"2923f4e8-47bc-4195-b12e-f5279362c841"}],"combinator":"and"},"renameOutput":true,"outputKey":"Atendente Humano"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b375a1b-b00d-4678-90a9-870dc3fd9a6f","leftValue":"={{ $json.from_me }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"cliente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,288],"id":"dddcf848-954b-4a18-bf9a-5fb6927edffe","name":"Verificador FromMe"},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.remote_J_id }}_block","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[288,432],"id":"1262ed16-558c-496a-9652-6d4519bfd3ef","name":"Verificando a pausa para o atendente humano","credentials":{"redis":{"id":"mG96KO4qIJc2Z5cp","name":"Redis"}}},{"parameters":{"operation":"set","key":"={{ $json.remote_J_id }}_block","value":"true","keyType":"string","expire":true,"ttl":"={{ $('Busca os dados de configuração do Agente').item.json.pausa_segundos }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[288,112],"id":"d33f43fd-2969-4ca4-aaba-3e96884b4815","name":"Setar o tempo e pausar para o atendente Humano","credentials":{"redis":{"id":"mG96KO4qIJc2Z5cp","name":"Redis"}}},{"parameters":{"content":"## Mecanismo de Pausa do Agente \nTratamento para pausa do agente","height":736,"width":1344,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,0],"id":"95176830-afe4-4c60-9ab8-9d2bd19d8afd","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"null","operator":{"type":"string","operation":"empty","singleValue":true},"id":"49f8c1b6-986a-4093-abf3-6bd34bc6994b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ligado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae0ef791-4137-4f44-9c16-871f5e8757c7","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desligado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[512,432],"id":"773b8c91-2059-4396-8316-cc52f356951b","name":"Valida Agente ligado ou desligado"},{"parameters":{"assignments":{"assignments":[{"id":"a6533b86-31a7-47e2-adf7-8a21e6ff5bdc","name":"funcao","value":"ativado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,304],"id":"eb5c0317-8347-4369-b8d9-06a9d2b2202a","name":"Setar a Ação - Ativado"},{"parameters":{"assignments":{"assignments":[{"id":"ee324391-b986-46eb-a971-1afa22c33e5c","name":"funcao","value":"parar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,112],"id":"8b2a50cb-67e3-4b31-ade6-6df4fcebbe8b","name":"Setar a Ação - Parar"},{"parameters":{"assignments":{"assignments":[{"id":"36e0d594-7e07-4847-9823-9eeadd574dd9","name":"funcao","value":"desativado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,528],"id":"54b4bd84-cb6d-4b2d-ba96-a215e1091235","name":"Setar a Ação - Desativado"},{"parameters":{"workflowInputs":{"values":[{"name":"from_me","type":"boolean"},{"name":"remote_J_id"},{"name":"pausa_segundos","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-192,288],"id":"9c259228-31ae-4f19-8462-48da5ea573c3","name":"executarFluxo"}],"connections":{"Verificador FromMe":{"main":[[{"node":"Setar o tempo e pausar para o atendente Humano","type":"main","index":0}],[{"node":"Verificando a pausa para o atendente humano","type":"main","index":0}]]},"Verificando a pausa para o atendente humano":{"main":[[{"node":"Valida Agente ligado ou desligado","type":"main","index":0}]]},"Setar o tempo e pausar para o atendente Humano":{"main":[[{"node":"Setar a Ação - Parar","type":"main","index":0}]]},"Valida Agente ligado ou desligado":{"main":[[{"node":"Setar a Ação - Ativado","type":"main","index":0}],[{"node":"Setar a Ação - Desativado","type":"main","index":0}]]},"executarFluxo":{"main":[[{"node":"Verificador FromMe","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 1","description":"Criacao","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}