n8n/apis/rag/excluirArquivoRAGAPI.json
{"updatedAt":"2026-03-05T22:55:08.426Z","createdAt":"2026-03-04T22:15:06.782Z","id":"p575BjrEMh2AjbAo","name":"excluirArquivoRAGAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-416,-960],"typeVersion":1,"id":"629476a2-9c3e-4923-aa0a-14a44513f29e","name":"Sticky Note29"},{"parameters":{"content":"## Excluir Arquivo RAG","height":272,"width":688,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-640],"id":"22de8a26-fd25-404d-9330-3ac243153daa","name":"Sticky Note7"},{"parameters":{"httpMethod":"POST","path":"rag-deletar-unico","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,-528],"id":"ab89620e-a6e8-4957-9b65-4ee52a35d009","name":"webhookExcluirArquivoRAG","webhookId":"a3c9ef5c-3701-4a00-ad6d-b336e75a1e70"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[96,-528],"id":"b21089f8-25ae-4497-a7a6-2a976448b662","name":"responderParaWebhook"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"deleteCommand":"delete","where":{"values":[{"column":"titulo","value":"={{ $json.body.titulo }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-112,-528],"id":"09f4fede-6128-4da3-96e9-14e13f39ac49","name":"excluirArquivo","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}}],"connections":{"webhookExcluirArquivoRAG":{"main":[[{"node":"excluirArquivo","type":"main","index":0}]]},"excluirArquivo":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"8879ecc1-77c7-4cf6-8342-570806308528","activeVersionId":"8879ecc1-77c7-4cf6-8342-570806308528","triggerCount":1,"shared":[{"updatedAt":"2026-03-04T22:15:06.782Z","createdAt":"2026-03-04T22:15:06.782Z","role":"workflow:owner","workflowId":"p575BjrEMh2AjbAo","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-05T22:55:10.191Z","createdAt":"2026-03-05T22:55:08.428Z","versionId":"8879ecc1-77c7-4cf6-8342-570806308528","workflowId":"p575BjrEMh2AjbAo","nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-416,-960],"typeVersion":1,"id":"629476a2-9c3e-4923-aa0a-14a44513f29e","name":"Sticky Note29"},{"parameters":{"content":"## Excluir Arquivo RAG","height":272,"width":688,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-640],"id":"22de8a26-fd25-404d-9330-3ac243153daa","name":"Sticky Note7"},{"parameters":{"httpMethod":"POST","path":"rag-deletar-unico","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,-528],"id":"ab89620e-a6e8-4957-9b65-4ee52a35d009","name":"webhookExcluirArquivoRAG","webhookId":"a3c9ef5c-3701-4a00-ad6d-b336e75a1e70"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[96,-528],"id":"b21089f8-25ae-4497-a7a6-2a976448b662","name":"responderParaWebhook"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"deleteCommand":"delete","where":{"values":[{"column":"titulo","value":"={{ $json.body.titulo }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-112,-528],"id":"09f4fede-6128-4da3-96e9-14e13f39ac49","name":"excluirArquivo","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}}],"connections":{"webhookExcluirArquivoRAG":{"main":[[{"node":"excluirArquivo","type":"main","index":0}]]},"excluirArquivo":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 8879ecc1","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}