n8n/apis/rag/excluirArquivoPorOrganizacaoAPI.json
{"updatedAt":"2026-03-04T22:31:30.532Z","createdAt":"2026-01-05T19:37:18.402Z","id":"3fGzUyn2_qv9OJH38w8d4","name":"excluirArquivoPorOrganizacaoAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1376,-976],"typeVersion":1,"id":"e3a5efc9-e121-4110-8a8b-6b5540f7411f","name":"Sticky Note29"},{"parameters":{"content":"## Excluir Arquivo RAG por organizacao","height":272,"width":688,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,-688],"id":"9c018323-266b-464e-85e7-1c558670dab1","name":"Sticky Note7"},{"parameters":{"httpMethod":"POST","path":"rag-deletar-tudo","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1488,-592],"id":"87879534-7274-4db6-bfd7-73b3bed2a5dd","name":"webhookExcluiArquivosPorOrganizacao","webhookId":"a3c9ef5c-3701-4a00-ad6d-b336e75a1e70"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM {{ $json.body.tableName }}\nWHERE metadata->>'organizacao' = '{{ $json.body.organizacao }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,-592],"id":"47782737-e5b5-46cc-8ca2-cb389548af12","name":"excluirArquivosPorOrganizacao","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1920,-592],"id":"6cf75a0b-80ca-4c5e-9aff-55bc2f84395a","name":"responderParaWebhook"}],"connections":{"webhookExcluiArquivosPorOrganizacao":{"main":[[{"node":"excluirArquivosPorOrganizacao","type":"main","index":0}]]},"excluirArquivosPorOrganizacao":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"d7fdd8e1-9e50-4b2e-8578-ccc1f6424353","activeVersionId":"b2d154d2-e321-4b1e-b16f-f2bbb0a3c14d","triggerCount":1,"shared":[{"updatedAt":"2026-01-05T19:37:18.402Z","createdAt":"2026-01-05T19:37:18.402Z","role":"workflow:owner","workflowId":"3fGzUyn2_qv9OJH38w8d4","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T22:28:24.284Z","createdAt":"2026-03-04T22:28:22.018Z","versionId":"b2d154d2-e321-4b1e-b16f-f2bbb0a3c14d","workflowId":"3fGzUyn2_qv9OJH38w8d4","nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1376,-976],"typeVersion":1,"id":"e3a5efc9-e121-4110-8a8b-6b5540f7411f","name":"Sticky Note29"},{"parameters":{"content":"## Excluir Arquivo RAG","height":272,"width":688,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1392,-688],"id":"9c018323-266b-464e-85e7-1c558670dab1","name":"Sticky Note7"},{"parameters":{"httpMethod":"POST","path":"rag-deletar-tudo","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1472,-592],"id":"87879534-7274-4db6-bfd7-73b3bed2a5dd","name":"webhookExcluiArquivosPorOrganizacao","webhookId":"a3c9ef5c-3701-4a00-ad6d-b336e75a1e70"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM {{ $json.body.tableName }}\nWHERE metadata->>'organizacao' = '{{ $json.body.organizacao }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,-592],"id":"47782737-e5b5-46cc-8ca2-cb389548af12","name":"excluirArquivosPorOrganizacao","credentials":{"postgres":{"id":"sdVOFX9ZZ85bA3Cm","name":"Postgres FlowAtend"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1904,-592],"id":"6cf75a0b-80ca-4c5e-9aff-55bc2f84395a","name":"responderParaWebhook"}],"connections":{"webhookExcluiArquivosPorOrganizacao":{"main":[[{"node":"excluirArquivosPorOrganizacao","type":"main","index":0}]]},"excluirArquivosPorOrganizacao":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version b2d154d2","description":"","autosaved":true},"tags":[{"updatedAt":"2026-01-14T14:33:00.763Z","createdAt":"2026-01-14T14:33:00.763Z","id":"TtVOsKCOOd2YXmo1","name":"🔥imersao-n8n-enteprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}