n8n/apis/rag/inserirArquivosRAGAPI.json
{"updatedAt":"2026-03-05T22:42:26.335Z","createdAt":"2026-03-04T22:01:59.547Z","id":"xoUKRxrfb1cWch6C","name":"inserirArquivosRAGAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-16,-944],"typeVersion":1,"id":"f3e54dde-9333-41c7-a1f4-8aa1df5554e5","name":"Sticky Note29"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=organizacao","value":"={{ $('webhookRAG').last().json.body.organization.identificador }}"}]}}},"id":"69e122e8-87fc-4f66-b8c1-a8c438bab329","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[512,-304]},{"parameters":{},"id":"f7d76cbe-2636-4a0a-a2c8-5bd30fa4f045","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[624,-160]},{"parameters":{"content":"## Inserir no RAG","height":656,"width":2000,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-640],"id":"f913564e-32b3-4228-b2e9-4c6d3d0924e6","name":"Sticky Note7"},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"80bd2f4e-7e34-40a0-8ce2-6be9f72bb879","name":"Embedding-3-small","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[320,-304],"credentials":{"openAiApi":{"id":"TNvVwiRTTnV3NVM1","name":"OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"rag-cliente","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,-512],"id":"40dd0046-bd9f-48fb-b50c-8b99fbb255bd","name":"webhookRAG","webhookId":"a3c9ef5c-3701-4a00-ad6d-b336e75a1e70"},{"parameters":{"assignments":{"assignments":[{"id":"5dbddc4b-5a49-47d5-9371-693e87682a6e","name":"body.file","value":"={{ $('webhookRAG').item.json.body.file }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-512],"id":"e9bd1558-be58-4c1a-9f25-40b787441733","name":"setarArquivo"},{"parameters":{"operation":"toBinary","sourceProperty":"body.file","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[48,-512],"id":"d5d0b740-b82e-43f4-9311-c0732b5f9eb8","name":"converterParaFile"},{"parameters":{"operation":"pdf","options":{"joinPages":true}},"id":"95007e3e-58de-4d02-8a24-3d97885f36ce","name":"extrairDadosPDF","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[272,-512]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"options":{"queryName":"match_documents"}},"id":"eeb244ac-067f-4577-8df5-c9715bc2cf43","name":"inserirNoSupabase","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[464,-512],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// concatena todos os pageContent\nlet content = items\n  .map(i => i.json.pageContent || \"\")\n  .join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      content\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-512],"id":"f81aa723-91fd-47d9-b8f8-ff5ccec23a11","name":"juntarTodosPageContents"},{"parameters":{"operation":"update","tableId":"documentos","filters":{"conditions":[{"keyName":"titulo","condition":"eq","keyValue":"flow"}]},"fieldsUi":{"fieldValues":[{"fieldId":"titulo","fieldValue":"={{ $('webhookRAG').last().json.body.fileName }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[976,-512],"id":"359d0238-3d11-4a87-bfc1-b14415383f32","name":"atualizarTitulo","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"assignments":{"assignments":[{"id":"91bb2f53-c8c0-44b8-be67-bf4a78aab3dc","name":"pageContent","value":"={{ $('juntarTodosPageContents').item.json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,-512],"id":"bc6990c9-2bad-4026-b9e9-889b2ff6c843","name":"setarPageContent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1344,-512],"id":"62cff786-b449-47a3-a2e9-9ea9b841bf81","name":"responderParaWebhook"}],"connections":{"Default Data Loader":{"ai_document":[[{"node":"inserirNoSupabase","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embedding-3-small":{"ai_embedding":[[{"node":"inserirNoSupabase","type":"ai_embedding","index":0}]]},"webhookRAG":{"main":[[{"node":"setarArquivo","type":"main","index":0}]]},"setarArquivo":{"main":[[{"node":"converterParaFile","type":"main","index":0}]]},"converterParaFile":{"main":[[{"node":"extrairDadosPDF","type":"main","index":0}]]},"extrairDadosPDF":{"main":[[{"node":"inserirNoSupabase","type":"main","index":0}]]},"inserirNoSupabase":{"main":[[{"node":"juntarTodosPageContents","type":"main","index":0}]]},"juntarTodosPageContents":{"main":[[{"node":"atualizarTitulo","type":"main","index":0}]]},"atualizarTitulo":{"main":[[{"node":"setarPageContent","type":"main","index":0}]]},"setarPageContent":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"6dee417d-2a7d-4bbd-874c-fb71e068693d","activeVersionId":"6dee417d-2a7d-4bbd-874c-fb71e068693d","triggerCount":1,"shared":[{"updatedAt":"2026-03-04T22:01:59.547Z","createdAt":"2026-03-04T22:01:59.547Z","role":"workflow:owner","workflowId":"xoUKRxrfb1cWch6C","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-05T22:43:03.889Z","createdAt":"2026-03-05T22:42:26.336Z","versionId":"6dee417d-2a7d-4bbd-874c-fb71e068693d","workflowId":"xoUKRxrfb1cWch6C","nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-16,-944],"typeVersion":1,"id":"f3e54dde-9333-41c7-a1f4-8aa1df5554e5","name":"Sticky Note29"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=organizacao","value":"={{ $('webhookRAG').last().json.body.organization.identificador }}"}]}}},"id":"69e122e8-87fc-4f66-b8c1-a8c438bab329","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[512,-304]},{"parameters":{},"id":"f7d76cbe-2636-4a0a-a2c8-5bd30fa4f045","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[624,-160]},{"parameters":{"content":"## Inserir no RAG","height":656,"width":2000,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-640],"id":"f913564e-32b3-4228-b2e9-4c6d3d0924e6","name":"Sticky Note7"},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"80bd2f4e-7e34-40a0-8ce2-6be9f72bb879","name":"Embedding-3-small","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[320,-304],"credentials":{"openAiApi":{"id":"TNvVwiRTTnV3NVM1","name":"OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"rag-cliente","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,-512],"id":"40dd0046-bd9f-48fb-b50c-8b99fbb255bd","name":"webhookRAG","webhookId":"a3c9ef5c-3701-4a00-ad6d-b336e75a1e70"},{"parameters":{"assignments":{"assignments":[{"id":"5dbddc4b-5a49-47d5-9371-693e87682a6e","name":"body.file","value":"={{ $('webhookRAG').item.json.body.file }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-512],"id":"e9bd1558-be58-4c1a-9f25-40b787441733","name":"setarArquivo"},{"parameters":{"operation":"toBinary","sourceProperty":"body.file","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[48,-512],"id":"d5d0b740-b82e-43f4-9311-c0732b5f9eb8","name":"converterParaFile"},{"parameters":{"operation":"pdf","options":{"joinPages":true}},"id":"95007e3e-58de-4d02-8a24-3d97885f36ce","name":"extrairDadosPDF","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[272,-512]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documentos","mode":"list","cachedResultName":"documentos"},"options":{"queryName":"match_documents"}},"id":"eeb244ac-067f-4577-8df5-c9715bc2cf43","name":"inserirNoSupabase","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[464,-512],"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// concatena todos os pageContent\nlet content = items\n  .map(i => i.json.pageContent || \"\")\n  .join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      content\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-512],"id":"f81aa723-91fd-47d9-b8f8-ff5ccec23a11","name":"juntarTodosPageContents"},{"parameters":{"operation":"update","tableId":"documentos","filters":{"conditions":[{"keyName":"titulo","condition":"eq","keyValue":"flow"}]},"fieldsUi":{"fieldValues":[{"fieldId":"titulo","fieldValue":"={{ $('webhookRAG').last().json.body.fileName }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[976,-512],"id":"359d0238-3d11-4a87-bfc1-b14415383f32","name":"atualizarTitulo","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"assignments":{"assignments":[{"id":"91bb2f53-c8c0-44b8-be67-bf4a78aab3dc","name":"pageContent","value":"={{ $('juntarTodosPageContents').item.json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,-512],"id":"bc6990c9-2bad-4026-b9e9-889b2ff6c843","name":"setarPageContent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1344,-512],"id":"62cff786-b449-47a3-a2e9-9ea9b841bf81","name":"responderParaWebhook"}],"connections":{"Default Data Loader":{"ai_document":[[{"node":"inserirNoSupabase","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embedding-3-small":{"ai_embedding":[[{"node":"inserirNoSupabase","type":"ai_embedding","index":0}]]},"webhookRAG":{"main":[[{"node":"setarArquivo","type":"main","index":0}]]},"setarArquivo":{"main":[[{"node":"converterParaFile","type":"main","index":0}]]},"converterParaFile":{"main":[[{"node":"extrairDadosPDF","type":"main","index":0}]]},"extrairDadosPDF":{"main":[[{"node":"inserirNoSupabase","type":"main","index":0}]]},"inserirNoSupabase":{"main":[[{"node":"juntarTodosPageContents","type":"main","index":0}]]},"juntarTodosPageContents":{"main":[[{"node":"atualizarTitulo","type":"main","index":0}]]},"atualizarTitulo":{"main":[[{"node":"setarPageContent","type":"main","index":0}]]},"setarPageContent":{"main":[[{"node":"responderParaWebhook","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 6dee417d","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}