n8n/apis/workflows/instalarWorkflowDoClienteAPI.json
{"updatedAt":"2026-03-10T13:14:05.360Z","createdAt":"2026-03-04T21:52:27.754Z","id":"P65HQYZgVdh4d70H","name":"instalarWorkflowDoClienteAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-16,-944],"typeVersion":1,"id":"dbf966d0-e820-4c27-853c-d86732954bdd","name":"Sticky Note29"},{"parameters":{"content":"## Instala Workflow","height":688,"width":1936,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-608,-624],"id":"3348c93c-0e2e-4eb5-bd8f-cb11d9f5a5b8","name":"Sticky Note6"},{"parameters":{"httpMethod":"POST","path":"criacao-fluxo","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-528,-368],"id":"2fff1ed1-1e08-466b-bf9c-281a68b0bca1","name":"webhookCriarWorkflow","webhookId":"87d0786f-8499-4c1a-9675-f47441e907ba"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.plan_number }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"7b2249a4-e3d2-47ff-9c8c-fa710c07c4d6"}],"combinator":"and"},"renameOutput":true,"outputKey":"Atendimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"741ea5d0-8d7b-4797-948b-ed49679c4ea7","leftValue":"={{ $json.body.plan_number }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atendimento + Conhecimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"296b6a08-8e72-4b6b-9403-1b036853e0b1","leftValue":"={{ $json.body.plan_number }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Completo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-304,-384],"id":"cbd8780b-26f8-4404-a487-9f4e79a4cfcb","name":"roteiaTipoPlano"},{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json) }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[688,-368],"id":"1eaab934-67e2-46c0-b5be-67e3a622000e","name":"criarWorkflow","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"operation":"activate","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[912,-368],"id":"1ba8b07d-5602-448e-87f7-0dc510075daa","name":"ativarWorkflow","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"method":"PUT","url":"=https://n8n.agentes-n8n.com.br/api/v1/workflows/{{$json.id}}/transfer","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"destinationProjectId","value":"=sXNN8zKIunLvXNly"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1136,-368],"id":"8ca75825-3f58-4d25-be17-4033b5f77b4a","name":"moverParaProjetoCorreto","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id_n8n }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,-576],"id":"00bfde4e-5c11-494d-b0e0-c6a19d51e8d3","name":"buscarWorkflowBasic","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id_n8n }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,-368],"id":"99980e23-6f01-4b1b-825b-3242c426f594","name":"buscaWorkflowIntermediate","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id_n8n }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,-160],"id":"b8e03b08-6cc6-4635-bc6a-5f63569ce682","name":"buscaWorkflowAdvanced","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"operation":"get","tableId":"planos_assinatura","filters":{"conditions":[{"keyName":"id_plano","keyValue":"plano_c"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,-160],"id":"1b2191a2-1805-4240-bced-c3d6aa052980","name":"buscaPlanoAdvanced","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"// --- CONFIGURAÇÃO ---\nconst NOME_NO_WEBHOOK = \"webhookCriarWorkflow\";\n\n// --- 1. RECUPERAÇÃO DOS DADOS ---\nlet dadosDashboard;\ntry {\n\tconst webhookItem = $(NOME_NO_WEBHOOK).first();\n\tdadosDashboard = webhookItem.json.body || webhookItem.json;\n} catch (e) {\n\tthrow new Error(`❌ Erro: Não encontrei o nó '${NOME_NO_WEBHOOK}'.`);\n}\n\nif (items.length === 0 || !items[0].json) {\n\tthrow new Error(\"❌ O template do fluxo não chegou.\");\n}\n\nconst templateData = items[0].json;\n\n// --- 2. TRATAMENTO DO WEBHOOK PATH ---\nconst fullUrl = dadosDashboard.whatsapp_instance.url_webhook;\nconst cleanUrl = fullUrl.replace(/\\/$/, \"\");\nconst novoPathWebhook = cleanUrl.substring(cleanUrl.lastIndexOf(\"/\") + 1);\n\n// --- 3. FILTRA SETTINGS VÁLIDOS ---\nconst settingsPermitidos = [\n\t'executionOrder',\n\t'saveManualExecutions',\n\t'saveExecutionProgress',\n\t'saveDataErrorExecution',\n\t'saveDataSuccessExecution',\n\t'errorWorkflow',\n\t'timezone',\n\t'executionTimeout',\n\t'callerPolicy',\n];\n\nconst settingsFiltrados = {};\nfor (const key of settingsPermitidos) {\n\tif (templateData.settings && templateData.settings[key] !== undefined) {\n\t\tsettingsFiltrados[key] = templateData.settings[key];\n\t}\n}\n\n// --- 4. PREPARAÇÃO DO NOVO FLUXO ---\nconst novoWorkflow = {\n\tnodes: templateData.nodes || [],\n\tconnections: templateData.connections || {},\n\tsettings: settingsFiltrados,\n\ttags: []\n};\n\nlet workflowString = JSON.stringify(novoWorkflow);\n\n// --- 5. SUBSTITUIÇÕES ---\nworkflowString = workflowString.replace(\n\t/\"path\":\\s*\"advanced\"/g,\n\t`\"path\": \"${novoPathWebhook}\"`\n);\n\nconst tokenTemplateHttp = \"51327654-9c82-4456-a7fb-d5a73177b01b\";\nconst tokenTemplateBody = \"283e8ad3-231b-42aa-ba1e-b8af2b57ecc4\";\n\nworkflowString = workflowString.split(tokenTemplateHttp).join(dadosDashboard.whatsapp_instance.token);\nworkflowString = workflowString.split(tokenTemplateBody).join(dadosDashboard.whatsapp_instance.token);\n\nworkflowString = workflowString.replace(\n\t/\"instanceName\":\\s*\"advanced\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n).replace(\n\t/\"instanceName\":\\s*\"nova\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n);\n\n// --- 6. FINALIZAÇÃO ---\nconst finalWorkflow = JSON.parse(workflowString);\n\nfinalWorkflow.name = dadosDashboard.organization.identificador;\n\ndelete finalWorkflow.id;\ndelete finalWorkflow.meta;\nfinalWorkflow.active = true;\n\nreturn [\n\t{\n\t\tjson: finalWorkflow\n\t}\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-160],"id":"a382facb-429f-499a-836c-29713ddf69dd","name":"configuraInstalacaoWorkflowAdvanced"},{"parameters":{"jsCode":"// --- CONFIGURAÇÃO ---\nconst NOME_NO_WEBHOOK = \"webhookCriarWorkflow\";\n\n// --- 1. RECUPERAÇÃO DOS DADOS ---\nlet dadosDashboard;\ntry {\n\tconst webhookItem = $(NOME_NO_WEBHOOK).first();\n\tdadosDashboard = webhookItem.json.body || webhookItem.json;\n} catch (e) {\n\tthrow new Error(`❌ Erro: Não encontrei o nó '${NOME_NO_WEBHOOK}'.`);\n}\n\nif (items.length === 0 || !items[0].json) {\n\tthrow new Error(\"❌ O template do fluxo não chegou.\");\n}\n\nconst templateData = items[0].json;\n\n// --- 2. TRATAMENTO DO WEBHOOK PATH ---\nconst fullUrl = dadosDashboard.whatsapp_instance.url_webhook;\nconst cleanUrl = fullUrl.replace(/\\/$/, \"\");\nconst novoPathWebhook = cleanUrl.substring(cleanUrl.lastIndexOf(\"/\") + 1);\n\n// --- 3. FILTRA SETTINGS VÁLIDOS ---\nconst settingsPermitidos = [\n\t'executionOrder',\n\t'saveManualExecutions',\n\t'saveExecutionProgress',\n\t'saveDataErrorExecution',\n\t'saveDataSuccessExecution',\n\t'errorWorkflow',\n\t'timezone',\n\t'executionTimeout',\n\t'callerPolicy',\n];\n\nconst settingsFiltrados = {};\nfor (const key of settingsPermitidos) {\n\tif (templateData.settings && templateData.settings[key] !== undefined) {\n\t\tsettingsFiltrados[key] = templateData.settings[key];\n\t}\n}\n\n// --- 4. PREPARAÇÃO DO NOVO FLUXO ---\nconst novoWorkflow = {\n\tnodes: templateData.nodes || [],\n\tconnections: templateData.connections || {},\n\tsettings: settingsFiltrados,\n\ttags: []\n};\n\nlet workflowString = JSON.stringify(novoWorkflow);\n\n// --- 5. SUBSTITUIÇÕES ---\nworkflowString = workflowString.replace(\n\t/\"path\":\\s*\"intermediate\"/g,\n\t`\"path\": \"${novoPathWebhook}\"`\n);\n\nconst tokenTemplateHttp = \"51327654-9c82-4456-a7fb-d5a73177b01b\";\nconst tokenTemplateBody = \"283e8ad3-231b-42aa-ba1e-b8af2b57ecc4\";\n\nworkflowString = workflowString.split(tokenTemplateHttp).join(dadosDashboard.whatsapp_instance.token);\nworkflowString = workflowString.split(tokenTemplateBody).join(dadosDashboard.whatsapp_instance.token);\n\nworkflowString = workflowString.replace(\n\t/\"instanceName\":\\s*\"intermediate\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n).replace(\n\t/\"instanceName\":\\s*\"nova\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n);\n\n// --- 6. FINALIZAÇÃO ---\nconst finalWorkflow = JSON.parse(workflowString);\n\nfinalWorkflow.name = dadosDashboard.organization.identificador;\n\ndelete finalWorkflow.id;\ndelete finalWorkflow.meta;\nfinalWorkflow.active = true;\n\nreturn [\n\t{\n\t\tjson: finalWorkflow\n\t}\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-368],"id":"324662f7-b746-4818-a0bb-1ebf150307de","name":"configuraInstalacaoWorkflowIntermediate"},{"parameters":{"jsCode":"// --- CONFIGURAÇÃO ---\nconst NOME_NO_WEBHOOK = \"webhookCriarWorkflow\";\n\n// --- 1. RECUPERAÇÃO DOS DADOS ---\nlet dadosDashboard;\ntry {\n\tconst webhookItem = $(NOME_NO_WEBHOOK).first();\n\tdadosDashboard = webhookItem.json.body || webhookItem.json;\n} catch (e) {\n\tthrow new Error(`❌ Erro: Não encontrei o nó '${NOME_NO_WEBHOOK}'.`);\n}\n\nif (items.length === 0 || !items[0].json) {\n\tthrow new Error(\"❌ O template do fluxo não chegou.\");\n}\n\nconst templateData = items[0].json;\n\n// --- 2. TRATAMENTO DO WEBHOOK PATH ---\nconst fullUrl = dadosDashboard.whatsapp_instance.url_webhook;\nconst cleanUrl = fullUrl.replace(/\\/$/, \"\");\nconst novoPathWebhook = cleanUrl.substring(cleanUrl.lastIndexOf(\"/\") + 1);\n\n// --- 3. FILTRA SETTINGS VÁLIDOS ---\nconst settingsPermitidos = [\n\t'executionOrder',\n\t'saveManualExecutions',\n\t'saveExecutionProgress',\n\t'saveDataErrorExecution',\n\t'saveDataSuccessExecution',\n\t'errorWorkflow',\n\t'timezone',\n\t'executionTimeout',\n\t'callerPolicy',\n];\n\nconst settingsFiltrados = {};\nfor (const key of settingsPermitidos) {\n\tif (templateData.settings && templateData.settings[key] !== undefined) {\n\t\tsettingsFiltrados[key] = templateData.settings[key];\n\t}\n}\n\n// --- 4. PREPARAÇÃO DO NOVO FLUXO ---\nconst novoWorkflow = {\n\tnodes: templateData.nodes || [],\n\tconnections: templateData.connections || {},\n\tsettings: settingsFiltrados,\n\ttags: []\n};\n\nlet workflowString = JSON.stringify(novoWorkflow);\n\n// --- 5. SUBSTITUIÇÕES ---\nworkflowString = workflowString.replace(\n\t/\"path\":\\s*\"basic\"/g,\n\t`\"path\": \"${novoPathWebhook}\"`\n);\n\nconst tokenTemplateHttp = \"51327654-9c82-4456-a7fb-d5a73177b01b\";\nconst tokenTemplateBody = \"283e8ad3-231b-42aa-ba1e-b8af2b57ecc4\";\n\nworkflowString = workflowString.split(tokenTemplateHttp).join(dadosDashboard.whatsapp_instance.token);\nworkflowString = workflowString.split(tokenTemplateBody).join(dadosDashboard.whatsapp_instance.token);\n\nworkflowString = workflowString.replace(\n\t/\"instanceName\":\\s*\"basic\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n).replace(\n\t/\"instanceName\":\\s*\"nova\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n);\n\n// --- 6. FINALIZAÇÃO ---\nconst finalWorkflow = JSON.parse(workflowString);\n\nfinalWorkflow.name = dadosDashboard.organization.identificador;\n\ndelete finalWorkflow.id;\ndelete finalWorkflow.meta;\nfinalWorkflow.active = true;\n\nreturn [\n\t{\n\t\tjson: finalWorkflow\n\t}\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-576],"id":"93bf8786-9973-42f7-94d2-6332b8d5583e","name":"configuraInstalacaoWorkflowBasic"},{"parameters":{"operation":"get","tableId":"planos_assinatura","filters":{"conditions":[{"keyName":"id_plano","keyValue":"plano_b"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,-368],"id":"fda08f1f-a9d9-4b93-ae31-adf22ff50610","name":"buscaPlanoIntermediate","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"planos_assinatura","filters":{"conditions":[{"keyName":"id_plano","keyValue":"plano_a"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,-576],"id":"29bfec31-286c-4a42-a0b1-7f9ea7c61a7c","name":"buscaPlanoBasic","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}}],"connections":{"webhookCriarWorkflow":{"main":[[{"node":"roteiaTipoPlano","type":"main","index":0}]]},"roteiaTipoPlano":{"main":[[{"node":"buscaPlanoBasic","type":"main","index":0}],[{"node":"buscaPlanoIntermediate","type":"main","index":0}],[{"node":"buscaPlanoAdvanced","type":"main","index":0}]]},"criarWorkflow":{"main":[[{"node":"ativarWorkflow","type":"main","index":0}]]},"ativarWorkflow":{"main":[[{"node":"moverParaProjetoCorreto","type":"main","index":0}]]},"buscarWorkflowBasic":{"main":[[{"node":"configuraInstalacaoWorkflowBasic","type":"main","index":0}]]},"buscaWorkflowIntermediate":{"main":[[{"node":"configuraInstalacaoWorkflowIntermediate","type":"main","index":0}]]},"buscaWorkflowAdvanced":{"main":[[{"node":"configuraInstalacaoWorkflowAdvanced","type":"main","index":0}]]},"buscaPlanoAdvanced":{"main":[[{"node":"buscaWorkflowAdvanced","type":"main","index":0}]]},"configuraInstalacaoWorkflowAdvanced":{"main":[[{"node":"criarWorkflow","type":"main","index":0}]]},"configuraInstalacaoWorkflowIntermediate":{"main":[[{"node":"criarWorkflow","type":"main","index":0}]]},"configuraInstalacaoWorkflowBasic":{"main":[[{"node":"criarWorkflow","type":"main","index":0}]]},"buscaPlanoIntermediate":{"main":[[{"node":"buscaWorkflowIntermediate","type":"main","index":0}]]},"buscaPlanoBasic":{"main":[[{"node":"buscarWorkflowBasic","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"6016a92e-2086-43d1-8f6a-c745bc58b409","activeVersionId":"6016a92e-2086-43d1-8f6a-c745bc58b409","triggerCount":1,"shared":[{"updatedAt":"2026-03-04T21:52:27.754Z","createdAt":"2026-03-04T21:52:27.754Z","role":"workflow:owner","workflowId":"P65HQYZgVdh4d70H","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-10T13:14:14.552Z","createdAt":"2026-03-10T13:14:05.361Z","versionId":"6016a92e-2086-43d1-8f6a-c745bc58b409","workflowId":"P65HQYZgVdh4d70H","nodes":[{"parameters":{"content":"![Source example](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n","height":272,"width":752,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-16,-944],"typeVersion":1,"id":"dbf966d0-e820-4c27-853c-d86732954bdd","name":"Sticky Note29"},{"parameters":{"content":"## Instala Workflow","height":688,"width":1936,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-608,-624],"id":"3348c93c-0e2e-4eb5-bd8f-cb11d9f5a5b8","name":"Sticky Note6"},{"parameters":{"httpMethod":"POST","path":"criacao-fluxo","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-528,-368],"id":"2fff1ed1-1e08-466b-bf9c-281a68b0bca1","name":"webhookCriarWorkflow","webhookId":"87d0786f-8499-4c1a-9675-f47441e907ba"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.plan_number }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"7b2249a4-e3d2-47ff-9c8c-fa710c07c4d6"}],"combinator":"and"},"renameOutput":true,"outputKey":"Atendimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"741ea5d0-8d7b-4797-948b-ed49679c4ea7","leftValue":"={{ $json.body.plan_number }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atendimento + Conhecimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"296b6a08-8e72-4b6b-9403-1b036853e0b1","leftValue":"={{ $json.body.plan_number }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Completo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-304,-384],"id":"cbd8780b-26f8-4404-a487-9f4e79a4cfcb","name":"roteiaTipoPlano"},{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json) }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[688,-368],"id":"1eaab934-67e2-46c0-b5be-67e3a622000e","name":"criarWorkflow","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"operation":"activate","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[912,-368],"id":"1ba8b07d-5602-448e-87f7-0dc510075daa","name":"ativarWorkflow","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"method":"PUT","url":"=https://n8n.agentes-n8n.com.br/api/v1/workflows/{{$json.id}}/transfer","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"destinationProjectId","value":"=sXNN8zKIunLvXNly"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1136,-368],"id":"8ca75825-3f58-4d25-be17-4033b5f77b4a","name":"moverParaProjetoCorreto","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id_n8n }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,-576],"id":"00bfde4e-5c11-494d-b0e0-c6a19d51e8d3","name":"buscarWorkflowBasic","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id_n8n }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,-368],"id":"99980e23-6f01-4b1b-825b-3242c426f594","name":"buscaWorkflowIntermediate","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id_n8n }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,-160],"id":"b8e03b08-6cc6-4635-bc6a-5f63569ce682","name":"buscaWorkflowAdvanced","credentials":{"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}}},{"parameters":{"operation":"get","tableId":"planos_assinatura","filters":{"conditions":[{"keyName":"id_plano","keyValue":"plano_c"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,-160],"id":"1b2191a2-1805-4240-bced-c3d6aa052980","name":"buscaPlanoAdvanced","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"jsCode":"// --- CONFIGURAÇÃO ---\nconst NOME_NO_WEBHOOK = \"webhookCriarWorkflow\";\n\n// --- 1. RECUPERAÇÃO DOS DADOS ---\nlet dadosDashboard;\ntry {\n\tconst webhookItem = $(NOME_NO_WEBHOOK).first();\n\tdadosDashboard = webhookItem.json.body || webhookItem.json;\n} catch (e) {\n\tthrow new Error(`❌ Erro: Não encontrei o nó '${NOME_NO_WEBHOOK}'.`);\n}\n\nif (items.length === 0 || !items[0].json) {\n\tthrow new Error(\"❌ O template do fluxo não chegou.\");\n}\n\nconst templateData = items[0].json;\n\n// --- 2. TRATAMENTO DO WEBHOOK PATH ---\nconst fullUrl = dadosDashboard.whatsapp_instance.url_webhook;\nconst cleanUrl = fullUrl.replace(/\\/$/, \"\");\nconst novoPathWebhook = cleanUrl.substring(cleanUrl.lastIndexOf(\"/\") + 1);\n\n// --- 3. FILTRA SETTINGS VÁLIDOS ---\nconst settingsPermitidos = [\n\t'executionOrder',\n\t'saveManualExecutions',\n\t'saveExecutionProgress',\n\t'saveDataErrorExecution',\n\t'saveDataSuccessExecution',\n\t'errorWorkflow',\n\t'timezone',\n\t'executionTimeout',\n\t'callerPolicy',\n];\n\nconst settingsFiltrados = {};\nfor (const key of settingsPermitidos) {\n\tif (templateData.settings && templateData.settings[key] !== undefined) {\n\t\tsettingsFiltrados[key] = templateData.settings[key];\n\t}\n}\n\n// --- 4. PREPARAÇÃO DO NOVO FLUXO ---\nconst novoWorkflow = {\n\tnodes: templateData.nodes || [],\n\tconnections: templateData.connections || {},\n\tsettings: settingsFiltrados,\n\ttags: []\n};\n\nlet workflowString = JSON.stringify(novoWorkflow);\n\n// --- 5. SUBSTITUIÇÕES ---\nworkflowString = workflowString.replace(\n\t/\"path\":\\s*\"advanced\"/g,\n\t`\"path\": \"${novoPathWebhook}\"`\n);\n\nconst tokenTemplateHttp = \"51327654-9c82-4456-a7fb-d5a73177b01b\";\nconst tokenTemplateBody = \"283e8ad3-231b-42aa-ba1e-b8af2b57ecc4\";\n\nworkflowString = workflowString.split(tokenTemplateHttp).join(dadosDashboard.whatsapp_instance.token);\nworkflowString = workflowString.split(tokenTemplateBody).join(dadosDashboard.whatsapp_instance.token);\n\nworkflowString = workflowString.replace(\n\t/\"instanceName\":\\s*\"advanced\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n).replace(\n\t/\"instanceName\":\\s*\"nova\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n);\n\n// --- 6. FINALIZAÇÃO ---\nconst finalWorkflow = JSON.parse(workflowString);\n\nfinalWorkflow.name = dadosDashboard.organization.identificador;\n\ndelete finalWorkflow.id;\ndelete finalWorkflow.meta;\nfinalWorkflow.active = true;\n\nreturn [\n\t{\n\t\tjson: finalWorkflow\n\t}\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-160],"id":"a382facb-429f-499a-836c-29713ddf69dd","name":"configuraInstalacaoWorkflowAdvanced"},{"parameters":{"jsCode":"// --- CONFIGURAÇÃO ---\nconst NOME_NO_WEBHOOK = \"webhookCriarWorkflow\";\n\n// --- 1. RECUPERAÇÃO DOS DADOS ---\nlet dadosDashboard;\ntry {\n\tconst webhookItem = $(NOME_NO_WEBHOOK).first();\n\tdadosDashboard = webhookItem.json.body || webhookItem.json;\n} catch (e) {\n\tthrow new Error(`❌ Erro: Não encontrei o nó '${NOME_NO_WEBHOOK}'.`);\n}\n\nif (items.length === 0 || !items[0].json) {\n\tthrow new Error(\"❌ O template do fluxo não chegou.\");\n}\n\nconst templateData = items[0].json;\n\n// --- 2. TRATAMENTO DO WEBHOOK PATH ---\nconst fullUrl = dadosDashboard.whatsapp_instance.url_webhook;\nconst cleanUrl = fullUrl.replace(/\\/$/, \"\");\nconst novoPathWebhook = cleanUrl.substring(cleanUrl.lastIndexOf(\"/\") + 1);\n\n// --- 3. FILTRA SETTINGS VÁLIDOS ---\nconst settingsPermitidos = [\n\t'executionOrder',\n\t'saveManualExecutions',\n\t'saveExecutionProgress',\n\t'saveDataErrorExecution',\n\t'saveDataSuccessExecution',\n\t'errorWorkflow',\n\t'timezone',\n\t'executionTimeout',\n\t'callerPolicy',\n];\n\nconst settingsFiltrados = {};\nfor (const key of settingsPermitidos) {\n\tif (templateData.settings && templateData.settings[key] !== undefined) {\n\t\tsettingsFiltrados[key] = templateData.settings[key];\n\t}\n}\n\n// --- 4. PREPARAÇÃO DO NOVO FLUXO ---\nconst novoWorkflow = {\n\tnodes: templateData.nodes || [],\n\tconnections: templateData.connections || {},\n\tsettings: settingsFiltrados,\n\ttags: []\n};\n\nlet workflowString = JSON.stringify(novoWorkflow);\n\n// --- 5. SUBSTITUIÇÕES ---\nworkflowString = workflowString.replace(\n\t/\"path\":\\s*\"intermediate\"/g,\n\t`\"path\": \"${novoPathWebhook}\"`\n);\n\nconst tokenTemplateHttp = \"51327654-9c82-4456-a7fb-d5a73177b01b\";\nconst tokenTemplateBody = \"283e8ad3-231b-42aa-ba1e-b8af2b57ecc4\";\n\nworkflowString = workflowString.split(tokenTemplateHttp).join(dadosDashboard.whatsapp_instance.token);\nworkflowString = workflowString.split(tokenTemplateBody).join(dadosDashboard.whatsapp_instance.token);\n\nworkflowString = workflowString.replace(\n\t/\"instanceName\":\\s*\"intermediate\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n).replace(\n\t/\"instanceName\":\\s*\"nova\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n);\n\n// --- 6. FINALIZAÇÃO ---\nconst finalWorkflow = JSON.parse(workflowString);\n\nfinalWorkflow.name = dadosDashboard.organization.identificador;\n\ndelete finalWorkflow.id;\ndelete finalWorkflow.meta;\nfinalWorkflow.active = true;\n\nreturn [\n\t{\n\t\tjson: finalWorkflow\n\t}\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-368],"id":"324662f7-b746-4818-a0bb-1ebf150307de","name":"configuraInstalacaoWorkflowIntermediate"},{"parameters":{"jsCode":"// --- CONFIGURAÇÃO ---\nconst NOME_NO_WEBHOOK = \"webhookCriarWorkflow\";\n\n// --- 1. RECUPERAÇÃO DOS DADOS ---\nlet dadosDashboard;\ntry {\n\tconst webhookItem = $(NOME_NO_WEBHOOK).first();\n\tdadosDashboard = webhookItem.json.body || webhookItem.json;\n} catch (e) {\n\tthrow new Error(`❌ Erro: Não encontrei o nó '${NOME_NO_WEBHOOK}'.`);\n}\n\nif (items.length === 0 || !items[0].json) {\n\tthrow new Error(\"❌ O template do fluxo não chegou.\");\n}\n\nconst templateData = items[0].json;\n\n// --- 2. TRATAMENTO DO WEBHOOK PATH ---\nconst fullUrl = dadosDashboard.whatsapp_instance.url_webhook;\nconst cleanUrl = fullUrl.replace(/\\/$/, \"\");\nconst novoPathWebhook = cleanUrl.substring(cleanUrl.lastIndexOf(\"/\") + 1);\n\n// --- 3. FILTRA SETTINGS VÁLIDOS ---\nconst settingsPermitidos = [\n\t'executionOrder',\n\t'saveManualExecutions',\n\t'saveExecutionProgress',\n\t'saveDataErrorExecution',\n\t'saveDataSuccessExecution',\n\t'errorWorkflow',\n\t'timezone',\n\t'executionTimeout',\n\t'callerPolicy',\n];\n\nconst settingsFiltrados = {};\nfor (const key of settingsPermitidos) {\n\tif (templateData.settings && templateData.settings[key] !== undefined) {\n\t\tsettingsFiltrados[key] = templateData.settings[key];\n\t}\n}\n\n// --- 4. PREPARAÇÃO DO NOVO FLUXO ---\nconst novoWorkflow = {\n\tnodes: templateData.nodes || [],\n\tconnections: templateData.connections || {},\n\tsettings: settingsFiltrados,\n\ttags: []\n};\n\nlet workflowString = JSON.stringify(novoWorkflow);\n\n// --- 5. SUBSTITUIÇÕES ---\nworkflowString = workflowString.replace(\n\t/\"path\":\\s*\"basic\"/g,\n\t`\"path\": \"${novoPathWebhook}\"`\n);\n\nconst tokenTemplateHttp = \"51327654-9c82-4456-a7fb-d5a73177b01b\";\nconst tokenTemplateBody = \"283e8ad3-231b-42aa-ba1e-b8af2b57ecc4\";\n\nworkflowString = workflowString.split(tokenTemplateHttp).join(dadosDashboard.whatsapp_instance.token);\nworkflowString = workflowString.split(tokenTemplateBody).join(dadosDashboard.whatsapp_instance.token);\n\nworkflowString = workflowString.replace(\n\t/\"instanceName\":\\s*\"basic\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n).replace(\n\t/\"instanceName\":\\s*\"nova\"/g,\n\t`\"instanceName\": \"${dadosDashboard.whatsapp_instance.nome_instancia}\"`\n);\n\n// --- 6. FINALIZAÇÃO ---\nconst finalWorkflow = JSON.parse(workflowString);\n\nfinalWorkflow.name = dadosDashboard.organization.identificador;\n\ndelete finalWorkflow.id;\ndelete finalWorkflow.meta;\nfinalWorkflow.active = true;\n\nreturn [\n\t{\n\t\tjson: finalWorkflow\n\t}\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-576],"id":"93bf8786-9973-42f7-94d2-6332b8d5583e","name":"configuraInstalacaoWorkflowBasic"},{"parameters":{"operation":"get","tableId":"planos_assinatura","filters":{"conditions":[{"keyName":"id_plano","keyValue":"plano_b"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,-368],"id":"fda08f1f-a9d9-4b93-ae31-adf22ff50610","name":"buscaPlanoIntermediate","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}},{"parameters":{"operation":"get","tableId":"planos_assinatura","filters":{"conditions":[{"keyName":"id_plano","keyValue":"plano_a"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,-576],"id":"29bfec31-286c-4a42-a0b1-7f9ea7c61a7c","name":"buscaPlanoBasic","credentials":{"supabaseApi":{"id":"GW9MBPeXxgW9VKzF","name":"Supabase Flow Atend"}}}],"connections":{"webhookCriarWorkflow":{"main":[[{"node":"roteiaTipoPlano","type":"main","index":0}]]},"roteiaTipoPlano":{"main":[[{"node":"buscaPlanoBasic","type":"main","index":0}],[{"node":"buscaPlanoIntermediate","type":"main","index":0}],[{"node":"buscaPlanoAdvanced","type":"main","index":0}]]},"criarWorkflow":{"main":[[{"node":"ativarWorkflow","type":"main","index":0}]]},"ativarWorkflow":{"main":[[{"node":"moverParaProjetoCorreto","type":"main","index":0}]]},"buscarWorkflowBasic":{"main":[[{"node":"configuraInstalacaoWorkflowBasic","type":"main","index":0}]]},"buscaWorkflowIntermediate":{"main":[[{"node":"configuraInstalacaoWorkflowIntermediate","type":"main","index":0}]]},"buscaWorkflowAdvanced":{"main":[[{"node":"configuraInstalacaoWorkflowAdvanced","type":"main","index":0}]]},"buscaPlanoAdvanced":{"main":[[{"node":"buscaWorkflowAdvanced","type":"main","index":0}]]},"configuraInstalacaoWorkflowAdvanced":{"main":[[{"node":"criarWorkflow","type":"main","index":0}]]},"configuraInstalacaoWorkflowIntermediate":{"main":[[{"node":"criarWorkflow","type":"main","index":0}]]},"configuraInstalacaoWorkflowBasic":{"main":[[{"node":"criarWorkflow","type":"main","index":0}]]},"buscaPlanoIntermediate":{"main":[[{"node":"buscaWorkflowIntermediate","type":"main","index":0}]]},"buscaPlanoBasic":{"main":[[{"node":"buscarWorkflowBasic","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 6016a92e","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-04T14:31:03.764Z","createdAt":"2026-03-04T14:31:03.764Z","id":"YgEN0njwKdGXy3EG","name":"🏢 enterprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}