n8n/apis/servidor/insightsAPI.json
{"updatedAt":"2026-03-05T01:01:22.210Z","createdAt":"2026-02-18T03:56:35.463Z","id":"qTUrZl0Zf0zV8aml","name":"insightsAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## API de Insights dos Workflows","height":544,"width":1328,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-432],"id":"87798cfc-1b9c-43f8-8015-0cf5fd30d3fd","name":"Sticky Note"},{"parameters":{"path":"insights","responseMode":"responseNode","options":{}},"id":"bda7fff2-7579-454b-9e8b-d8c2df85c862","name":"webhookGETInsights","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-272,-224],"webhookId":"insights-api"},{"parameters":{"url":"={{$vars.urlN8N}}api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"projectId","value":"={{ $vars.projectId }}"},{"name":"limit","value":"250"}]},"options":{"timeout":15000}},"id":"fdfeac25-31e1-4209-9f5b-47036aaefa80","name":"listarWorkflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-336],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"2MR7jAggig6NCSB6","name":"Uazapi"},"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}},"continueOnFail":true,"notes":"Credential: Header Auth com Name='X-N8N-API-KEY' e Value=sua API key"},{"parameters":{"url":"={{$vars.urlN8N}}api/v1/executions","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"250"},{"name":"projectId","value":"={{ $vars.projectId }}"}]},"options":{"timeout":30000}},"id":"db09d7a2-fa69-4532-b524-1a22156a1c78","name":"ListarExecucoes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-80],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"2MR7jAggig6NCSB6","name":"Uazapi"},"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}},"continueOnFail":true,"notes":"Traz as últimas 250 execuções. Aumente o limit se precisar."},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[320,-192],"id":"0723af92-f871-45e1-8dd7-2143da174c73","name":"juntarInfos"},{"parameters":{"jsCode":"const wfItem = $('listarWorkflows').first();\nconst exItem = $('ListarExecucoes').first();\n\nconst workflows = (wfItem.json?.data || []).map(w => ({\n  id: w.id,\n  name: w.name,\n  active: w.active,\n  createdAt: w.createdAt,\n  updatedAt: w.updatedAt,\n  tags: (w.tags || []).map(t => t.name || t),\n}));\n\nconst executions = (exItem.json?.data || []).map(e => ({\n  id: e.id,\n  workflowId: e.workflowId || e.workflowData?.id,\n  workflowName: e.workflowData?.name || '',\n  status: e.status,\n  startedAt: e.startedAt,\n  stoppedAt: e.stoppedAt,\n  finished: e.finished,\n}));\n\n// Compute per-workflow stats\nconst wfMap = {};\nworkflows.forEach(w => {\n  wfMap[w.id] = { ...w, totalExec: 0, failedExec: 0, successExec: 0, runningExec: 0, waitingExec: 0, totalRuntimeMs: 0, execCount: 0 };\n});\n\nexecutions.forEach(e => {\n  const wId = String(e.workflowId);\n  if (!wfMap[wId]) {\n    wfMap[wId] = { id: wId, name: e.workflowName || `Workflow ${wId}`, active: false, tags: [], totalExec: 0, failedExec: 0, successExec: 0, runningExec: 0, waitingExec: 0, totalRuntimeMs: 0, execCount: 0 };\n  }\n  const wf = wfMap[wId];\n  wf.totalExec++;\n  if (e.status === 'error' || e.status === 'failed' || e.status === 'crashed') wf.failedExec++;\n  else if (e.status === 'success') wf.successExec++;\n  else if (e.status === 'running') wf.runningExec++;\n  else if (e.status === 'waiting') wf.waitingExec++;\n  if (e.startedAt && e.stoppedAt) {\n    const ms = new Date(e.stoppedAt).getTime() - new Date(e.startedAt).getTime();\n    if (ms > 0) { wf.totalRuntimeMs += ms; wf.execCount++; }\n  }\n});\n\nconst workflowStats = Object.values(wfMap).map(w => ({\n  id: w.id,\n  name: w.name,\n  active: w.active,\n  tags: w.tags,\n  totalExec: w.totalExec,\n  successExec: w.successExec,\n  failedExec: w.failedExec,\n  runningExec: w.runningExec,\n  waitingExec: w.waitingExec,\n  failureRate: w.totalExec > 0 ? Math.round((w.failedExec / w.totalExec) * 10000) / 100 : 0,\n  avgRuntimeMs: w.execCount > 0 ? Math.round(w.totalRuntimeMs / w.execCount) : 0,\n  avgRuntimeSec: w.execCount > 0 ? Math.round((w.totalRuntimeMs / w.execCount) / 10) / 100 : 0,\n})).sort((a, b) => b.totalExec - a.totalExec);\n\nconst totalExec = executions.length;\nconst successExec = executions.filter(e => e.status === 'success').length;\nconst failedExec = executions.filter(e => e.status === 'error' || e.status === 'failed' || e.status === 'crashed').length;\nconst runningExec = executions.filter(e => e.status === 'running').length;\n\nlet totalRt = 0, rtCount = 0;\nexecutions.forEach(e => {\n  if (e.startedAt && e.stoppedAt) {\n    const ms = new Date(e.stoppedAt).getTime() - new Date(e.startedAt).getTime();\n    if (ms > 0) { totalRt += ms; rtCount++; }\n  }\n});\nconst avgRuntimeSec = rtCount > 0 ? Math.round((totalRt / rtCount) / 10) / 100 : 0;\n\nreturn [{ json: {\n  summary: { totalExec, successExec, failedExec, runningExec, avgRuntimeSec, totalWorkflows: workflows.length },\n  workflows: workflowStats,\n  executions: executions,\n} }];"},"id":"99c04d99-630a-40d6-93ca-ada6176b504c","name":"gerarInsights","type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-192]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"356d9aa0-b33d-4902-8e63-c2d872bf0feb","name":"responderComJSON","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[752,-192]}],"connections":{"webhookGETInsights":{"main":[[{"node":"listarWorkflows","type":"main","index":0},{"node":"ListarExecucoes","type":"main","index":0}]]},"listarWorkflows":{"main":[[{"node":"juntarInfos","type":"main","index":0}]]},"ListarExecucoes":{"main":[[{"node":"juntarInfos","type":"main","index":1}]]},"juntarInfos":{"main":[[{"node":"gerarInsights","type":"main","index":0}]]},"gerarInsights":{"main":[[{"node":"responderComJSON","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"versionId":"f9cdeb91-6ef6-44de-beb8-37acacef53df","activeVersionId":"f9cdeb91-6ef6-44de-beb8-37acacef53df","triggerCount":1,"shared":[{"updatedAt":"2026-02-18T03:56:35.463Z","createdAt":"2026-02-18T03:56:35.463Z","role":"workflow:owner","workflowId":"qTUrZl0Zf0zV8aml","projectId":"sXNN8zKIunLvXNly"}],"activeVersion":{"updatedAt":"2026-03-04T20:41:34.703Z","createdAt":"2026-03-04T20:41:25.213Z","versionId":"f9cdeb91-6ef6-44de-beb8-37acacef53df","workflowId":"qTUrZl0Zf0zV8aml","nodes":[{"parameters":{"content":"## API de Insights dos Workflows","height":544,"width":1328,"color":"#C90057"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-432],"id":"87798cfc-1b9c-43f8-8015-0cf5fd30d3fd","name":"Sticky Note"},{"parameters":{"path":"insights","responseMode":"responseNode","options":{}},"id":"bda7fff2-7579-454b-9e8b-d8c2df85c862","name":"webhookGETInsights","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-272,-224],"webhookId":"insights-api"},{"parameters":{"url":"={{$vars.urlN8N}}api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"projectId","value":"={{ $vars.projectId }}"},{"name":"limit","value":"250"}]},"options":{"timeout":15000}},"id":"fdfeac25-31e1-4209-9f5b-47036aaefa80","name":"listarWorkflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-336],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"2MR7jAggig6NCSB6","name":"Uazapi"},"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}},"continueOnFail":true,"notes":"Credential: Header Auth com Name='X-N8N-API-KEY' e Value=sua API key"},{"parameters":{"url":"={{$vars.urlN8N}}api/v1/executions","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"250"},{"name":"projectId","value":"={{ $vars.projectId }}"}]},"options":{"timeout":30000}},"id":"db09d7a2-fa69-4532-b524-1a22156a1c78","name":"ListarExecucoes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-80],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"2MR7jAggig6NCSB6","name":"Uazapi"},"n8nApi":{"id":"EwAdtN2nOSMsPM5y","name":"n8n"}},"continueOnFail":true,"notes":"Traz as últimas 250 execuções. Aumente o limit se precisar."},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[320,-192],"id":"0723af92-f871-45e1-8dd7-2143da174c73","name":"juntarInfos"},{"parameters":{"jsCode":"const wfItem = $('listarWorkflows').first();\nconst exItem = $('ListarExecucoes').first();\n\nconst workflows = (wfItem.json?.data || []).map(w => ({\n  id: w.id,\n  name: w.name,\n  active: w.active,\n  createdAt: w.createdAt,\n  updatedAt: w.updatedAt,\n  tags: (w.tags || []).map(t => t.name || t),\n}));\n\nconst executions = (exItem.json?.data || []).map(e => ({\n  id: e.id,\n  workflowId: e.workflowId || e.workflowData?.id,\n  workflowName: e.workflowData?.name || '',\n  status: e.status,\n  startedAt: e.startedAt,\n  stoppedAt: e.stoppedAt,\n  finished: e.finished,\n}));\n\n// Compute per-workflow stats\nconst wfMap = {};\nworkflows.forEach(w => {\n  wfMap[w.id] = { ...w, totalExec: 0, failedExec: 0, successExec: 0, runningExec: 0, waitingExec: 0, totalRuntimeMs: 0, execCount: 0 };\n});\n\nexecutions.forEach(e => {\n  const wId = String(e.workflowId);\n  if (!wfMap[wId]) {\n    wfMap[wId] = { id: wId, name: e.workflowName || `Workflow ${wId}`, active: false, tags: [], totalExec: 0, failedExec: 0, successExec: 0, runningExec: 0, waitingExec: 0, totalRuntimeMs: 0, execCount: 0 };\n  }\n  const wf = wfMap[wId];\n  wf.totalExec++;\n  if (e.status === 'error' || e.status === 'failed' || e.status === 'crashed') wf.failedExec++;\n  else if (e.status === 'success') wf.successExec++;\n  else if (e.status === 'running') wf.runningExec++;\n  else if (e.status === 'waiting') wf.waitingExec++;\n  if (e.startedAt && e.stoppedAt) {\n    const ms = new Date(e.stoppedAt).getTime() - new Date(e.startedAt).getTime();\n    if (ms > 0) { wf.totalRuntimeMs += ms; wf.execCount++; }\n  }\n});\n\nconst workflowStats = Object.values(wfMap).map(w => ({\n  id: w.id,\n  name: w.name,\n  active: w.active,\n  tags: w.tags,\n  totalExec: w.totalExec,\n  successExec: w.successExec,\n  failedExec: w.failedExec,\n  runningExec: w.runningExec,\n  waitingExec: w.waitingExec,\n  failureRate: w.totalExec > 0 ? Math.round((w.failedExec / w.totalExec) * 10000) / 100 : 0,\n  avgRuntimeMs: w.execCount > 0 ? Math.round(w.totalRuntimeMs / w.execCount) : 0,\n  avgRuntimeSec: w.execCount > 0 ? Math.round((w.totalRuntimeMs / w.execCount) / 10) / 100 : 0,\n})).sort((a, b) => b.totalExec - a.totalExec);\n\nconst totalExec = executions.length;\nconst successExec = executions.filter(e => e.status === 'success').length;\nconst failedExec = executions.filter(e => e.status === 'error' || e.status === 'failed' || e.status === 'crashed').length;\nconst runningExec = executions.filter(e => e.status === 'running').length;\n\nlet totalRt = 0, rtCount = 0;\nexecutions.forEach(e => {\n  if (e.startedAt && e.stoppedAt) {\n    const ms = new Date(e.stoppedAt).getTime() - new Date(e.startedAt).getTime();\n    if (ms > 0) { totalRt += ms; rtCount++; }\n  }\n});\nconst avgRuntimeSec = rtCount > 0 ? Math.round((totalRt / rtCount) / 10) / 100 : 0;\n\nreturn [{ json: {\n  summary: { totalExec, successExec, failedExec, runningExec, avgRuntimeSec, totalWorkflows: workflows.length },\n  workflows: workflowStats,\n  executions: executions,\n} }];"},"id":"99c04d99-630a-40d6-93ca-ada6176b504c","name":"gerarInsights","type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-192]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"356d9aa0-b33d-4902-8e63-c2d872bf0feb","name":"responderComJSON","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[752,-192]}],"connections":{"webhookGETInsights":{"main":[[{"node":"listarWorkflows","type":"main","index":0},{"node":"ListarExecucoes","type":"main","index":0}]]},"listarWorkflows":{"main":[[{"node":"juntarInfos","type":"main","index":0}]]},"ListarExecucoes":{"main":[[{"node":"juntarInfos","type":"main","index":1}]]},"juntarInfos":{"main":[[{"node":"gerarInsights","type":"main","index":0}]]},"gerarInsights":{"main":[[{"node":"responderComJSON","type":"main","index":0}]]}},"authors":"Ricardo Neves","name":"Version 2","description":"","autosaved":true},"tags":[{"updatedAt":"2026-01-14T14:33:00.763Z","createdAt":"2026-01-14T14:33:00.763Z","id":"TtVOsKCOOd2YXmo1","name":"🔥imersao-n8n-enteprise"},{"updatedAt":"2025-11-04T18:13:18.649Z","createdAt":"2025-11-04T18:13:18.649Z","id":"ur1maN6bsjwttizq","name":"💗 flowgrammers"}]}